{# Complete Carousel Slides Component - All 16 Slides #}

<div class="carousel-inner" role="listbox">

    {# Slide 1: PMBOK Dashboard #}
    <div class="carousel-item active" align="center">
        <div class="container-flex" style="max-width:70%;">
            <h5><b>Your "Body of Knowledge" Gateway</b></h5>

            <map id="ImgMap0" name="ImgMap0">
                <area coords="58, 53, 339, 351" href="/home/demoitto" shape="rect" title="Click here for a quick demo">
            </map>

            <img alt="Dashboard Header" class="img-fluid" style="z-index:1"
                 src="{{ asset('storage/images/dashheadflat.png') }}"
                 onmouseover="this.src='{{ asset('storage/images/dashheadraised.png') }}'"
                 onmouseout="this.src='{{ asset('storage/images/dashheadflat.png') }}'">
            <br>

            <map id="ImgMap4" name="ImgMap4">
                <area alt="" coords="130, 110, 250, 209" href="/home/fourone" shape="rect">
                <area alt="" coords="250, 110, 367, 208" href="/home/fourtwo" shape="rect">
                <area alt="" coords="366, 108, 486, 206" href="/home/fourthree" shape="rect">
                <area alt="" coords="484, 108, 601, 159" href="/home/fourfour" shape="rect">
                <area alt="" coords="484, 159, 600, 208" href="/home/fourfive" shape="rect">
                <area alt="" coords="597, 107, 719, 206" href="/home/foursix" shape="rect">
                <area coords="133, 33, 250, 108" href="/home/initiation" shape="rect">
                <area alt="" coords="249, 32, 365, 109" href="/home/planning" shape="rect">
                <area alt="" coords="367, 31, 482, 109" href="/home/execution" shape="rect">
                <area alt="" coords="483, 30, 598, 107" href="/home/monitorandcontrol" shape="rect">
                <area alt="" coords="597, 30, 717, 107" href="/home/close" shape="rect">
                <area alt="" coords="248, 208, 367, 241" href="/home/fiveone" shape="rect">
                <area alt="" coords="248, 240, 366, 270" href="/home/fivetwo" shape="rect">
                <area alt="" coords="248, 267, 367, 285" href="/home/fivethree" shape="rect">
                <area alt="" coords="248, 283, 366, 302" href="/home/fivefour" shape="rect">
                <area alt="" coords="483, 207, 600, 228" href="/home/fivefive" shape="rect">
                <area alt="" coords="483, 226, 601, 245" href="/home/fivesix" shape="rect">
                <area alt="" coords="247, 302, 366, 339" href="/home/sixone" shape="rect">
                <area alt="" coords="249, 338, 367, 366" href="/home/sixtwo" shape="rect">
                <area alt="" coords="246, 362, 367, 395" href="/home/sixthree" shape="rect">
                <area alt="" coords="246, 391, 368, 421" href="/home/sixfour" shape="rect">
                <area alt="" coords="246, 420, 369, 451" href="/home/sixfive" shape="rect">
                <area alt="" coords="249, 449, 368, 482" href="/home/sixsix" shape="rect">
                <area alt="" coords="482, 304, 603, 351" href="/home/sixseven" shape="rect">
                <area alt="" coords="248, 483, 369, 519" href="/home/sevenone" shape="rect">
                <area alt="" coords="248, 515, 370, 535" href="/home/seventwo" shape="rect">
                <area alt="" coords="248, 531, 367, 565" href="/home/seventhree" shape="rect">
                <area alt="" coords="482, 483, 602, 515" href="/home/sevenfour" shape="rect">
                <area alt="" coords="249, 566, 367, 622" href="/home/eightone" shape="rect">
                <area alt="" coords="364, 564, 483, 621" href="/home/eighttwo" shape="rect">
                <area alt="" coords="483, 564, 599, 622" href="/home/eightthree" shape="rect">
                <area alt="" coords="246, 619, 366, 722" href="/home/nineone" shape="rect">
                <area alt="" coords="365, 622, 485, 657" href="/home/ninetwo" shape="rect">
                <area alt="" coords="366, 655, 484, 685" href="/home/ninethree" shape="rect">
                <area alt="" coords="364, 681, 487, 719" href="/home/ninefour" shape="rect">
                <area alt="" coords="249, 717, 366, 780" href="/home/tenone" shape="rect">
                <area alt="" coords="366, 719, 484, 778" href="/home/tentwo" shape="rect">
                <area alt="" coords="482, 718, 600, 778" href="/home/tenthree" shape="rect">
                <area alt="" coords="248, 779, 368, 814" href="/home/elevenone" shape="rect">
                <area alt="" coords="248, 810, 369, 829" href="/home/eleventwo" shape="rect">
                <area alt="" coords="249, 825, 365, 869" href="/home/eleventhree" shape="rect">
                <area alt="" coords="248, 870, 366, 910" href="/home/elevenfour" shape="rect">
                <area alt="" coords="248, 910, 368, 942" href="/home/elevenfive" shape="rect">
                <area alt="" coords="483, 777, 600, 818" href="/home/elevensix" shape="rect">
                <area alt="" coords="248, 941, 366, 1001" href="/home/twelveone" shape="rect">
                <area alt="" coords="365, 942, 482, 1000" href="/home/twelvetwo" shape="rect">
                <area alt="" coords="483, 941, 599, 1001" href="/home/twelvethree" shape="rect">
                <area alt="" coords="599, 941, 718, 1000" href="/home/twelvefour" shape="rect">
                <area alt="" coords="132, 999, 247, 1058" href="/home/thirteenone" shape="rect">
                <area alt="" coords="246, 1000, 367, 1058" href="/home/thirteentwo" shape="rect">
                <area alt="" coords="364, 997, 483, 1058" href="/home/thirteenthree" shape="rect">
                <area alt="" coords="481, 998, 599, 1057" href="/home/thirteenfour" shape="rect">
                <area coords="0, 1001, 130, 1058" href="/home/pstakem" shape="rect">
                <area coords="1, 107, 131, 208" href="/home/pim" shape="rect">
                <area alt="" coords="0, 206, 130, 303" href="/home/psm" shape="rect">
                <area alt="" coords="2, 301, 130, 482" href="/home/ptm" shape="rect">
                <area alt="" coords="0, 480, 132, 565" href="/home/pcm" shape="rect">
                <area alt="" coords="0, 563, 133, 622" href="/home/pqm" shape="rect">
                <area alt="" coords="0, 619, 131, 719" href="/home/phrm" shape="rect">
                <area alt="" coords="0, 718, 132, 780" href="/home/pcomm" shape="rect">
                <area alt="" coords="1, 780, 130, 942" href="/home/prm" shape="rect">
                <area alt="" coords="0, 940, 131, 1000" href="/home/ppm" shape="rect">
            </map>

            <a href="/home/demoitto">
                <img alt="PMBOK Dashboard" class="img-fluid" style="z-index:0"
                     src="{{ asset('storage/images/mainprocessdashraisednormalflat.png') }}"
                     onmouseover="this.src='{{ asset('storage/images/mainprocessdashraisednormalbezelledone.png') }}'"
                     onmouseout="this.src='{{ asset('storage/images/mainprocessdashraisednormalflat.png') }}'"
                     title="Click the hand (process 4.1) to see a demo of the itto dashboard for PMBOK Process 4.1">
            </a>

            <br><br>

            <button class="btn btn-primary align-center clearfix" type="button"
                    data-toggle="collapse" data-target="#collapseinfo"
                    aria-expanded="false" aria-controls="collapseinfo">
                The PMBOK 6 Dashboard
            </button>

            <div class="collapse" id="collapseinfo">
                <div class="container">
                    <div class="card text-center">
                        <h5 class="card-header" align="center"></h5>
                        <div class="card-body text-center">
                            <p>The new Project Management Body of Knowledge Guide (released September 2017)
                                <br>is the 'how to do it' checklist for Project Management Professionals.
                                <br>Click the image directly below for the PMBOK game, in a nutshell.
                            </p>

                            <a href="/home/thegame"
                               title="Click the tile for a larger (more detailed) image of how to play the game">
                                <img alt="The game" class="img-fluid" id="game"
                                     src="{{ asset('storage/images/TheGame.png') }}">
                            </a>

                            <br><i><b>If you understand the PMBOK you know this game is the same
                            <br>for both Traditional and Agile Project Management!</b></i>

                            <br><br>
                            <p>The dashboard assists understanding of the PMBOK processes (+ "ittos")
                                <br>to help you to pass the PMI exams and run projects better at
                                <a href="/cmmi"><strong>Capability Maturity Level 2+</strong></a>.
                                <br>The PMBOK processes (underpinned by the latest thinking found in the
                                <br><i>PMI Agile Certified Practitioner (PMI-ACP) qualification</i> and others)
                                <br>incorporates <a href="/home/agile"><strong>Lean and Agile</strong></a> thinking.
                            </p>

                            <p>Oh, also... do not forget that the PMBOK operates as a Standard!
                                <br>Check out where it is situated in the greater scheme of things
                                <br>as you <b>"<a href="/pmway/?slide=2" ><u>connect the dots</u></a>"</b> below.
                            </p>

                            <p>A quick note to those
                                <a href="/pin"
                                   title="Take the pin test now to see where your game is at">"Traditional" is not "Agile"</a> out there.
                                <br>Find process 4.7 on the PMBOK dashboard (Close Project or Phase).
                                <br>Did you know that "tailoring" these processes means you can run a project phase
                                <br>as... wait for it...
                                <br><b>"<a href="/home/agile?slide=10" ><u>a two week sprint!</u></a>"</b>
                                <br><br>
                                Operating thus, as a Professional who understands Project Management Process,
                                <br>(supported by your Executive [Executive Action Team (to EAT
                                "<a href="/home/removetheredbeads" >the red beads</a>")])
                                <br>using <a href="/home/agile?slide=13" >best selected project methodology</a>,
                                <br>there is less chance of dropping the ball.
                            </p>

                            <img alt="drop the ball" class="img-fluid"
                                 src="{{ asset('storage/images/droptheball.png') }}">

                            <br><br>
                            <h6><b>Bottom Line</b></h6>
                            <p><b>While (when) BEST PRACTICE is understood,
                                <br>BEST PRACTICAL (from an agile and lean perspective) can be better!</b>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <br><br>
            <a href="/login"
               title="Find out about the concepts of Freedoms, Barriers and Goals">
                Freedoms, Barriers, Goals
            </a> and
            <a href="/images/anyroad.jpg"
               title="If you do not know what your destination is, any road will take you there">
                Destinations
            </a>

            <br><br>
        </div>
    </div>

    {# Slide 2: Standards/Frameworks Landscape #}
    <div class="carousel-item" align="center">
        <div class="container" style="max-width:70%">
            <h5><strong>Standards, Frameworks and Methodologies etc., by focus area</strong>
                <br><em>Note that the PMBOK is a
                    <a href="https://www.pmi.org/pmbok-guide-standards/foundational" >
                        <b><u>Standard</u></b>
                    </a>!
                </em>
            </h5>

            <p><img class="img-fluid" src="{{ asset('storage/images/standardsframels.png') }}"></p>
            <p><img class="img-fluid" src="{{ asset('storage/images/pptone.png') }}"></p>

            <p><i>Answer the questions about People, Process and Technology from the image above.
                <br><a href="/home/index?slide=6">Slide #6</a> has more depth on the P-P-T triangle (triad).
                <br>Now answer the questions about Governance and Execution then click the buttons below.
            </i></p>

            <button class="btn btn-primary align-center clearfix" type="button"
                    data-toggle="collapse" data-target="#collapsetimecostquality"
                    aria-expanded="false" aria-controls="collapsetimecostquality">
                Time, Cost and Quality<br>The Essence of Project Management!
            </button>

            <div class="collapse" id="collapsetimecostquality">
                <div class="container">
                    <div class="card text-center">
                        <h5 class="card-header" align="center">
                            Can you find Time (Schedule), Cost, Scope Knowledge Areas
                            <br><a href="/pmway/?slide=1"><u>on the PMBOK 6 Dashboard</u></a>?
                            <br>Do you know that Quality is tied closely to (is a result of) these three dimensions.
                            <br>What about Resources and Risk? Where do they fit into the picture?
                        </h5>
                        <div class="card-body text-center">
                            <img alt="Time Cost Scope and Quality" class="img-fluid"
                                 src="{{ asset('storage/images/timecostquality.png') }}">
                            <br><br>
                            <img alt="6 constraints" class="img-fluid"
                                 src="{{ asset('storage/images/6%20constraints.jpg') }}">
                            <br>
                            <p>Here is the game!<br>Can you see it?</p>
                            <br>
                            <img alt="Core and Facilitating functions" class="img-fluid"
                                 src="{{ asset('storage/images/corefacilitate1.png') }}">
                        </div>
                        <div class="card-footer">
                            For <a href="/home/agile?slide=12"><u>Agile</u></a>
                            (<a href="/home/agile?slide=10"><u>Scrum</u></a> or
                            <a href="/home/agile"><u>other agile methods</u></a>)
                            the game is to release value sprint by sprint!
                        </div>
                    </div>
                </div>
            </div>

            <br><br>

            <button class="btn btn-primary align-center clearfix" type="button"
                    data-toggle="collapse" data-target="#collapsegovernance"
                    aria-expanded="false" aria-controls="collapsegovernance">
                Under Control?
            </button>

            <div class="collapse" id="collapsegovernance">
                <div class="container">
                    <div class="card text-center">
                        <h3 class="card-header" align="center">Governance and Execution</h3>
                        <div class="card-body text-center">
                            <p><b>Governance</b> (derived from the Latin gubernāre and gubernator | gubernum)
                                which means "to steer" and also "a or the helmsman."
                                <br>Essentially to steer could be that of a boat, a horse drawn carriage, a horse or project etc.
                                <br>Other words derived from the above: governor, navigator, pilot, administrator rudder,
                                helm (and figuratively) a leader, leadership.
                                <br><br>
                                <b>Execution</b> (derived from the Latin executio which means "accomplishment" or "fulfillment")
                                is all about professional ability and tight management to produce results!
                            </p>

                            <img alt="horse race" class="img-fluid"
                                 src="{{ asset('storage/images/horsewellridden.png') }}">

                            <h5>Are your projects under control?
                                <br>Control at its very essence is the ability to Start, Change, Stop.
                                <br>I.e. when you stop changing have you produced planned value?
                            </h5>

                            <p>Unlike Business As Usual (BAU) a project is a temporary undertaking!
                                <br>In essence, via the project, you are
                                <a href="/vmodel" ><u>jumping a gap</u></a>
                                from one baseline to a new (improved) baseline (destination, goal etc.).
                            </p>

                            <p><b>Planning</b> and <b>Monitoring and Control</b> on either side of <b>Execution</b>
                                ensures delivery and ultimately accountability to Stakeholders.
                                <br>Can you find the <b>Planning</b>, <b>Execution</b> and <b>Monitoring and Control</b>
                                Process Groups
                                <br>on the <a href="/pmway/?slide=1" ><u>PMBOK dashboard?</u></a>
                                <br>If interested <a href="/pmway/?slide=16"><u>Slide #16</u></a> has more information
                                about how PDCA fits into this picture.
                            </p>
                        </div>
                        <div class="card-footer">
                            (<a href="/home/agile?slide=12" ><u>The Agile debate notwithstanding...</u></a>)
                            <br>projects being managed for value are either reined and under control (delivering results)
                            <br>or they are not.
                            <br>
                            <img alt="out of control" class="img-fluid"
                                 src="{{ asset('storage/images/horse.png') }}"
                                 onmouseover="this.src='{{ asset('storage/images/horseoutofcontrol.jpg') }}'"
                                 onmouseout="this.src='{{ asset('storage/images/horse.png') }}'"
                                 title="How under control is your project really?">
                            <br><br>

                            <button class="btn btn-primary align-center clearfix" type="button"
                                    data-toggle="collapse" data-target="#collapsescrumgovernance"
                                    aria-expanded="false" aria-controls="collapsescrumgovernance">
                                Governance for Agile's Scrum?
                            </button>

                            <div class="collapse" id="collapsescrumgovernance">
                                <div class="container">
                                    <div class="card text-center">
                                        <h5 class="card-header" align="center"></h5>
                                        <div class="card-body text-center">
                                            <img alt="scrum governance" title="scrum governance" class="img-fluid"
                                                 src="{{ asset('storage/images/scrumgovernance.png') }}">
                                            <p><a href="/home/scrumvaluemodel#demoapproved" >
                                                Click here for more on this</a> if interested.
                                            </p>
                                        </div>
                                        <div class="card-footer">
                                            Above page from Scrum for Dummies 2018
                                        </div>
                                    </div>
                                </div>
                                                        </div>
                        </div>
                    </div>
                </div>
                            </p>
                            <hr>

                            <h4 align="left">&nbsp;<b>CM Level ZERO: NOWHERE!</b></h4>
                            <h5>No Ethics. Corruption.<br>"Killing the Goose for its Golden Eggs."</h5>

                            <button class="btn btn-primary align-center clearfix" type="button"
                                    data-toggle="collapse" data-target="#collapsetoons"
                                    aria-expanded="false" aria-controls="collapsetoons">
                                NOWHERE!
                            </button>

                            <div class="collapse" id="collapsetoons">
                                <div class="container">
                                    <div class="card text-center">
                                        <h5 class="card-header" align="center"></h5>
                                        <div class="card-body text-center">
                                            <em>Move your mouse over the image directly below.</em>
                                            <p style="text-align:center">
                                                <img class="img-fluid"
                                                     src="{{ asset('storage/images/divertedresources.png') }}"
                                                     onmouseover="this.src='{{ asset('storage/images/corruption.png') }}'"
                                                     onmouseout="this.src='{{ asset('storage/images/divertedresources.png') }}'">
                                            </p>
                                        </div>
                                        <div class="card-footer">
                                            Aesop's wisdom is<br>2500 years old...<br>
                                            <img alt="" class="img-fluid" src="{{ asset('storage/images/goose1.jpg') }}">
                                            <img alt="" class="img-fluid" src="{{ asset('storage/images/goose2.png') }}">
                                            <br><br>
                                            <hr>
                                            "Annual income twenty pounds, annual expenditure nineteen six, result happiness.
                                            Annual income twenty pounds, annual expenditure twenty pound ought and six, result misery."
                                            <br>― Charles Dickens, David Copperfield
                                            <br><br>
                                            <img alt="" class="img-fluid"
                                                 src="{{ asset('storage/images/sceletalcowproject.jpg') }}">
                                            <br><br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br><br>
        </div>
    </div>

    {# Slide 5: CMMi Dashboard for Development #}
    <div class="carousel-item" align="center">
        <div class="container" style="max-width:70%">
            <h5><strong>CMMi Dashboard for Development</strong></h5>
            <p align="center">
                <i>Note: Look for <b>ML</b> on the table below.<br>This is the Capability Maturity Level.</i>
            </p>

            <img alt="CMMi-Dev1.3 dashboard" class="img-fluid"
                 src="{{ asset('storage/images/cmmi-dev1.png') }}">
            <br><br>

            <img alt="cmmi all" class="img-fluid"
                 src="{{ asset('storage/images/cmmimodelsall.jpg') }}">
            <br><br>

            <p><a href="{{ asset('storage/assets/cmmioverview.pdf') }}" >CMMi 3.1 Overview</a></p>
            <p><a href="{{ asset('storage/assets/bestcmmi.pdf') }}" >CMMi 3.1 More Detailed Overview</a></p>
            <p><a href="{{ asset('storage/assets/cmmidevtools.pdf') }}" >CMMi 3.1 DevTools</a></p>
            <br><br>

            <button class="btn btn-primary align-center clearfix" type="button"
                    data-toggle="collapse" data-target="#collapsejourney"
                    aria-expanded="false" aria-controls="collapsejourney">
                CMMi<br>Your first step
            </button>

            <div class="collapse" id="collapsejourney">
                <div class="container">
                    <div class="card text-center">
                        <h5 class="card-header" align="center"></h5>
                        <div class="card-body text-center">
                            <p>The first step on your CMMi journey:
                                <br>Find PP and PMC above.
                                <br>Then find these core processes
                                <a href="/pmway/?slide=1" >on the PMBOK 6 dashboard</a>!
                                <br>And just for fun also find them
                                <a href="{% if user %}/scrum{% else %}/login{% endif %}" >
                                    on the Scrum dashboard
                                </a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>

            <button class="btn btn-primary align-center clearfix" type="button"
                    data-toggle="collapse" data-target="#collapsepdca"
                    aria-expanded="false" aria-controls="collapsepdca">
                PDCA
            </button>

            <div class="collapse" id="collapsepdca">
                <div class="container">
                    <div class="card text-center">
                        <h5 class="card-header" align="center">
                            PDCA is the <img class="img-fluid" alt="" height="82"
                            src="{{ asset('storage/images/beatingheart.gif') }}" width="60"> of CMMi
                            <br>and the CM Model.
                        </h5>
                        <div class="card-body text-center">
                            <p>Deming's Plan, Do, Check, Act (PDCA) cycle is the secret of Continual Service
                                Improvement to achieve quality improvements.
                                <br>This is tied to the concept of
                                <a href="{% if user %}{{ asset('storage/assets/kaizen.pptx') }}{% else %}/login{% endif %}">
                                    (kaizen)
                                </a>.
                            </p>
                            <img alt="" class="img-fluid" src="{{ asset('storage/images/pdca_process.png') }}">
                            <br><br>
                            <p>Can you see how the image below ties back
                                <a href="/pmway/?slide=1">to the PMBOK 6 dashboard</a>?
                            </p>
                            <img alt="" class="img-fluid" src="{{ asset('storage/images/qualitymodels.png') }}">
                        </div>
                        <div class="card-footer">
                            Go to <a href="/home/index?slide=8">slide #8 (ITIL)</a>. Can you see PDCA in operation?
                            <br>Can you see that the CSI register is also the
                            <a href="/home/agile?slide=10">Scrum Backlog in Slide #10</a>?
                            <br>Find more detail about PDCA <a href="/home/index?slide=16">in Slide #16</a>.
                        </div>
                    </div>
                </div>
            </div>

            <br><br>
        </div>
    </div>

    {# Slide 6: People Process Technology Triad #}
    <div class="carousel-item" align="center">
        <div class="container" style="max-width:70%">
            <h5>
                <strong>The People - Process - Technology Triad
                    <br>Do you (can you?)
                    "<a href="/home/removetheredbeads" >Remove the Red Beads</a>"?
                </strong>
            </h5>
            <p><i>Click the image to get the importance of this!</i></p>

            <p align="center">
                <img class="img-fluid"
                     src="{{ asset('storage/images/peopleprocesstechbeads.jpg') }}"
                     onmouseover="this.src='{{ asset('storage/images/peopleprocessbottomline.png') }}'"
                     onmouseout="this.src='{{ asset('storage/images/peopleprocesstechbeads.jpg') }}'">
            </p>

            <p><i>Bottom line: pull the P-P-T points of the triangle outward
                <br>in relation to each other; improving while maintaining balance.
            </i></p>

            <br><br>
        </div>
    </div>

    {# Slide 7: V Model - Mind the Gap #}
    <div class="carousel-item" align="center">
        <div class="container" style="max-width:70%">
            <h5><strong>Do you "Mind the Gap"?<br>The V Model shows you how.</strong></h5>

            <p align="center">
                <img class="img-fluid"
                     src="{{ asset('storage/images/vmodelbevel.png') }}"
                     onmouseover="this.src='{{ asset('storage/images/itilvaluecreation.jpg') }}'"
                     onmouseout="this.src='{{ asset('storage/images/vmodelbevel.png') }}'">
            </p>

            <p><i>On the image above<br>find Configuration (Configuration Management (CM)),
                Verification (VER), Validation (VAL) and Bidirectional traceability of requirements
                (part of REQM process).
                <br><a href="/pmway/?slide=5">Now click here</a>. Can you find CM, VER, VAL and REQM
                on the CMMi Dev table? What are their CM Levels?
            </i></p>

            <p><i>Hover over the image below to get the importance of safety while navigating the tar pit.
                <br>The tar pit is where badly run software engineering projects can get bogged down and die!
            </i></p>

            <a href="{{ asset('storage/assets/tarpitchapter.pdf') }}"
               title="Click the image to download the milestone Chapter by Frederick Brooks">
                <img alt="" class="img-fluid"
                     src="{{ asset('storage/images/gap55wider.jpg') }}"
                     onmouseover="this.src='{{ asset('storage/images/tarpitstwo.jpg') }}'"
                     onmouseout="this.src='{{ asset('storage/images/gap55wider.jpg') }}'">
            </a>
            <br><br>

            <button class="btn btn-primary align-center clearfix" type="button"
                    data-toggle="collapse" data-target="#collapsemindthegap"
                    aria-expanded="false" aria-controls="collapsemindthegap">
                Mind the Gap
            </button>

            <div class="collapse" id="collapsemindthegap">
                <div class="container">
                    <div class="card text-center">
                        <h5 class="card-header" align="center"></h5>
                        <div class="card-body text-center">
                            <p align="left">
                                Bidirectional Traceability of Requirements is at the heart of
                                (Requirements Management [REQM] & Configuration Management [CM]).
                                <br><br>
                                <a href="/pmway/?slide=5">Can you find REQM & CM on the CMMi Dev Dashboard?
                                <br>What is the Capability Maturity Level of REQM & CM?</a>
                                <br><br>
                                What about Verification (Ver) and Validation (Val)? Can you find these CM L3 processes?
                                <br>Can you see that these are all about "Minding the Gap," "Step by Step"
                                and "Start, Change, Stop?"
                                <br>(<a href="/agileisdead" >Latest agile thinking here agrees
                                with this approach</a>)
                                <br><br>
                                Finally, can you see that this side of the Gap is where you
                                (software developers /
                                <a href="/pmway/?slide=8" >ITIL Service Designers</a>) are now.
                                <br>In a next project phase (iteration, sprint etc.) you will move forward with
                                the project goal to safely release a new version of valuable software.
                                <br>After UAT sign off
                                <a href="/pmway/?slide=8"
                                   title="Click here for information on SO in PMWay's ITIL page">Service Operations</a>
                                must take over, maintaining the working system
                                <br>while Service Strategy and Service Design look at next versions of
                                <a href="{% if user %}/workingsoftware{% else %}/login{% endif %}" >
                                    Working Software
                                </a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <br><br>
        </div>
    </div>

    {# Slide 8: ITIL 3 #}
    <div class="carousel-item" align="center">
        <div class="container" style="max-width:70%">
            <h5>
                <strong>ITIL 3</strong>
                <br>(<a href="{{ asset('storage/assets/itilfouroverview.pdf') }}"
                       title="Click here for a presentation about ITIL 4">
                    Transitioning to ITIL 4: 1000 foot overview
                </a>)
            </h5>

            <p><img alt="ITIL" class="img-fluid" src="{{ asset('storage/images/itil_v321.png') }}"></p>
            <p><img alt="ITIL Books" class="img-fluid"
                    src="{{ asset('storage/images/itilstageswithbooks.png') }}"></p>

            <button class="btn btn-primary align-center clearfix" type="button"
                    data-toggle="collapse" data-target="#collapseitiloverview"
                    aria-expanded="false" aria-controls="collapseitiloverview">
                ITIL - Processes Overview
            </button>

            <div class="collapse" id="collapseitiloverview">
                <div class="container">
                    <div class="card text-center">
                        <h5 class="card-header" align="center">High Level Overview of the ITIL Processes</h5>
                        <div class="card-body text-center">
                            <p>
                                <a href="{% if user %}/home/itiloverview{% else %}/login{% endif %}"

                                   title="Click here for the ITIL V3 processes">
                                    <img class="img-fluid" alt="Click here for the v3 processes"
                                         src="{{ asset('storage/images/itil3a.png') }}">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>

            <p>
                <a href="{% if user %}/home/itiloverview{% else %}/login{% endif %}"

                   title="Click here for the ITIL V3 processes">
                    <img class="img-fluid" alt="Click here for the v3 processes"
                         src="{{ asset('storage/images/itiloverview20191217smaller.jpg') }}">
                </a>
            </p>

            <button class="btn btn-primary align-center clearfix" type="button"
                    data-toggle="collapse" data-target="#collapsecsibl"
                    aria-expanded="false" aria-controls="collapsecsibl">
                ITIL, the CSI Register and the Scrum Backlog
            </button>

            <div class="collapse" id="collapsecsibl">
                <div class="container">
                    <div class="card text-center">
                        <h5 class="card-header" align="center">
                            The image below explains how the CSI Register feeds the Scrum Backlog
                        </h5>
                        <div class="card-body text-center">
                            <p align="center">
                                <img class="img-fluid" src="{{ asset('storage/images/itilpainpoints.jpg') }}">
                            </p>
                            <br><br>
                            <h1>I.e.</h1>
                            <p align="center">
                                <img class="img-fluid"
                                     src="{{ asset('storage/images/itilvaluestreams.png') }}"
                                     title="Do you know what your value streams are? Can you place them on a BCG Growth Share Matrix?">
                            </p>
                            <br><br>
                            <p align="center">
                                <img class="img-fluid"
                                     src="{{ asset('storage/images/bcg.jpg') }}"
                                     title="Do you know what your value streams are? Can you place them on a BCG Growth Share Matrix?">
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <br><br>
        </div>
    </div>

    {# Slide 9: DevOps #}
    <div class="carousel-item" align="center">
        <div class="container" style="max-width:70%">
            <h5><strong>DevOps</strong></h5>

            <p align="center">
                <a href="/accelerate"
                   title="Click here for the 24 capabilities and way to install Devops (eat the elephant)!">
                    <img alt="" class="img-fluid"
                         src="{{ asset('storage/images/devopsimage.png') }}"
                         onmouseover="this.src='{{ asset('storage/images/devopscogs.png') }}'"
                         onmouseout="this.src='{{ asset('storage/images/devopsimage.png') }}'">
                </a>
            </p>

            <p align="center">
                <a href="{% if user %}/accelerate{% else %}/login{% endif %}"
                   title="Click here for the 24 capabilities and way to install Devops (eat the elephant)!">
                    <img alt="Its DevOps" class="img-fluid"
                         src="{{ asset('storage/images/itsdevops.png') }}">
                </a>
            </p>

            <p><i>Click the Elephant for DevOps essence!</i></p>

            <button class="btn btn-primary align-center clearfix" type="button"
                    data-toggle="collapse" data-target="#collapsedandd"
                    aria-expanded="false" aria-controls="collapsedandd">
                Done or Un-Done?
            </button>

            <div class="collapse" id="collapsedandd">
                <div class="container">
                    <div class="card text-center">
                        <h5 class="card-header" align="center">Can Scrum bridge the gap?</h5>
                        <div class="card-body text-center">
                            <p align="center">
                                <img alt="" class="img-fluid"
                                     src="{{ asset('storage/images/devopsuncertain.png') }}"
                                     onmouseover="this.src='{{ asset('storage/images/devandops.png') }}'"
                                     onmouseout="this.src='{{ asset('storage/images/devopsuncertain.png') }}'"
                                     title="Click the image now to reduce Devops uncertainty">
                            </p>

                            <img alt="PO are the new RM's" class="img-fluid"
                                 src="{{ asset('storage/images/poarenewrm.png') }}">
                            <br><br>

                            <button class="btn btn-primary align-center clearfix" type="button"
                                    data-toggle="collapse" data-target="#collapsepmboksixone"
                                    aria-expanded="false" aria-controls="collapsepmboksixone">
                                PO as new RM!
                            </button>

                            <div class="collapse" id="collapsepmboksixone">
                                <div class="container">
                                    <div class="card text-center">
                                        <h5 class="card-header" align="center">
                                            From Reinventing ITIL in the age of DevOps
                                            <br>Abhinav Krishn Akaiser 2019
                                        </h5>
                                        <div class="card-body text-left" align="left">
                                            <h5 align="left">Product Owners are the New Release Managers</h5>
                                            <p align="left">
                                                The release management team has been made partially redundant by machines.
                                                It is not absolute because of two reasons.
                                            </p>
                                            <ul>
                                                <li>You need an owner for the entire release management process that cuts
                                                    across both development and operations.</li>
                                                <li>Cognitive abilities are very much in demand to ensure that the release
                                                    management process succeeds and aligns with the objectives set forth.</li>
                                            </ul>

                                            <p align="left">
                                                The person who manages the entire release from end to end is the release manager
                                                and is still necessary. However, the release management role went from being a
                                                full-time position to a part-time one (statistically speaking), mainly because of
                                                the diminished work (thanks to automation). Capable release managers are:
                                            </p>

                                            <ol>
                                                <li>Well aware of the customer landscape, the requirements, and to an extent
                                                    the business priorities</li>
                                                <li>Fully involved in the development and deployment processes</li>
                                                <li>Understands operations and their acceptance criteria</li>
                                            </ol>

                                            <p align="left">
                                                The person who could do all this in the past was the product owner (PO),
                                                and thus that person is a favorite choice for a part-time release manager.
                                                POs are an adequate choice mainly because of their closeness to the business
                                                and to the development and operations teams. The person was like a bridge between
                                                the two entities and was expected to keep the boat going in the most turbulent conditions.
                                            </p>
                                            <br>
                                            <p align="left">
                                                Thanks Abhinav (page 294)
                                                <br>PS <a href="/pmway/?slide=10" >I am reminded by the above
                                                of the importance of the Board Executive to produce products in PRINCE2 Agile</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br><br>

                            <button class="btn btn-primary align-center clearfix" type="button"
                                    data-toggle="collapse" data-target="#collapsevaluemodel"
                                    aria-expanded="false" aria-controls="collapsevaluemodel">
                                The Product Owner<br>and<br>Scrum Value Model
                            </button>

                            <div class="collapse" id="collapsevaluemodel">
                                <div class="container">
                                    <div class="card text-center">
                                        <p class="card-header" align="center">
                                            Note below how value is produced in agile's Scrum method.
                                        </p>
                                        <div class="card-body text-center">
                                            <a href="{{ asset('storage/assets/scrumvalued.pdf') }}" >
                                                <img alt="Scrum Value Model essence" class="img-fluid"
                                                     src="{{ asset('storage/images/scrumvaluedessence.jpg') }}"
                                                     title="Click the image to download a pdf"
                                                     onmouseover="this.src='{{ asset('storage/images/scrumvalued.jpg') }}'"
                                                     onmouseout="this.src='{{ asset('storage/images/scrumvaluedessence.jpg') }}'">
                                            </a>
                                            <br>
                                        </div>
                                        <div class="card-footer">
                                            <p align="center">Note above that the first 3 stages occur before sprints start.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <br><br>

                            <h5>I.e.</h5>
                            <p>DevOps is <a href="/pmway/?slide=8">ITIL</a>, just empowered for speed!
                                <br>Scrum team sprints (as an example) must be able to
                                <a href="/release" >release</a>
                                <a href="{% if user %}/workingsoftware{% else %}/login{% endif %}" >
                                    working software
                                </a> faster.
                            </p>

                            <p>
                                <a href="/pmway/?slide=8">
                                    <img alt="dev ops is itil but faster!" class="img-fluid"
                                         src="{{ asset('storage/images/itilppsdevopsmodel.jpg') }}"
                                         onmouseover="this.src='{{ asset('storage/images/itil.jpg') }}'"
                                         onmouseout="this.src='{{ asset('storage/images/itilppsdevopsmodelsinglesource.jpg') }}'"
                                         title="DevOps is ITIL, just empowered to be faster!">
                                </a>
                            </p>

                            <p>DevOps/ITIL/Agile/Scrum etc., Goal: Release Working Software faster!</p>

                            <p>
                                <a href="{% if user %}/scrumrca#indexc{% else %}/login{% endif %}"
                                   title="Click here and find the Un-Done Scrum image"
                                   >
                                    <img alt="Release Working Software Faster" class="img-fluid"
                                         src="{{ asset('storage/images/itildevopsmall.png') }}">
                                </a>
                            </p>

                            <p>Notice that for the pilots telemetry is either nominal or not!</p>
                            <p align="center">
                                <img class="img-fluid" src="{{ asset('storage/images/devopsrelease.jpg') }}">
                            </p>

                            <p>
                                <a href="{% if user %}/scrumrca#indexc{% else %}/login{% endif %}"

                                   title="Click here for the 7 Scrum Dysfunctions">
                                    If you can't do the above in Scrum you may become Un-Done!
                                </a>
                            </p>

                            <br><br>
                        </div>
                    </div>
                </div>
            </div>

            <br><br>
        </div>
    </div>

    {# Slide 10: PRINCE2 Agile #}
    <div class="carousel-item" align="center">
        <div class="container" style="max-width:70%">
            <h5><strong>PRINCE2 (Agile)</strong></h5>

            <img class="img-fluid"
                 src="{{ asset('storage/images/prince2processmodelwithbriefcase.jpg') }}"
                 onmouseover="this.src='{{ asset('storage/images/prince2modelprocwhereagilehappens.png') }}'"
                 onmouseout="this.src='{{ asset('storage/images/prince2processmodelwithbriefcase.jpg') }}'">

            <p><i>Click the image above to see where Agility (with Governance) happens.
                <br>The image below shows how agility can introduce risk. Can you see it?
            </i></p>

            <a href="/home/agile?slide=11"
               title="Click here for more on the agile Methods">
                <img alt="" class="img-fluid" src="{{ asset('storage/images/tradagilep2a.png') }}">
            </a>

            <p><i>Click the image above for an overview of the different agile methods</i></p>

            <br><br>
        </div>
    </div>

    {# Slide 11: DSDM #}
    <div class="carousel-item" align="center">
        <div class="container" style="max-width:70%">
            <h5><strong>DSDM</strong></h5>

            <img alt="DSDM Model" class="img-fluid"
                 src="{{ asset('storage/images/dsdmorig20160712.png') }}">
            <br><br>

            <p><i>The image below shows how agility can introduce risk. Can you see it?</i></p>

            <a href="/home/agile?slide=4"
               title="Click here for more on the agile Methods">
                <img alt="" class="img-fluid" src="{{ asset('storage/images/tradagiledsdm.png') }}">
            </a>

            <p><i>Click the image above for an overview of the different agile methods</i></p>

            <br><br>
        </div>
    </div>

    {# Slide 12: Scrum #}
    <div class="carousel-item" align="center">
        <div class="container" style="max-width:70%">
            <h5><strong>Scrum</strong></h5>

            <br>
            <a href="/home/scrumsixmins" >
                <img class="img-fluid"
                     src="{{ asset('storage/images/scruminsixmins.png') }}"
                     title="Scrum in Just Six Minutes">
            </a>
            <br>

            <a href="{% if user %}/scrum{% else %}/login{% endif %}"
               title="Click the image to go to an overview of Scrum method and its process">
                <img alt="sprint with PP and PMC" class="img-fluid"
                     src="{{ asset('storage/images/Scrumprocessswirl.jpg') }}">
                <br>
                <img class="img-fluid"
                     src="{{ asset('storage/images/scrumdashnochapters.png') }}"
                     title="From the Scrum Body of Knowledge 3rd edition">
            </a>
            <br><br>

            <button class="btn btn-primary align-center clearfix" type="button"
                    data-toggle="collapse" data-target="#collapsevaluemodelessence"
                    aria-expanded="false" aria-controls="collapsevaluemodelessence">
                The Scrum Essence<br>(for Capability Maturity Level 2+)
            </button>

            <div class="collapse" id="collapsevaluemodelessence">
                <div class="container">
                    <div class="card text-center">
                        <p class="card-header" align="center">
                            The Essence of Scrum @ Capability Maturity Level 2+
                        </p>
                        <div class="card-body text-center">
                            <a href="{{ asset('storage/assets/scrumvaluemodelessence.pdf') }}" >
                                <img alt="Scrum Value Model essence" class="img-fluid"
                                     src="{{ asset('storage/images/scrumvaluemodelessence.jpg') }}"
                                     title="Click the image to download a pdf">
                            </a>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>

            <p><i>The image below shows how agility can introduce risk. Can you see it?</i></p>

            <a href="/home/agile?slide=10"
               title="Click here for more on the agile methods">
                <img alt="" class="img-fluid" src="{{ asset('storage/images/tradagilescrum.png') }}">
            </a>

            <p><i>Click the image above for an overview of the different agile methods</i></p>

            <br><br>
        </div>
    </div>

    {# Slide 13: SAFe #}
    <div class="carousel-item" align="center">
        <div class="container" style="max-width:70%">
            <h5><strong>Scaled Agile Framework (SAFe)</strong></h5>

            <p>
                <a href="/home/safe"  title="Click the image for a short video about Safe">
                    <img class="img-fluid"
                         src="{{ asset('storage/images/safe.png') }}"
                         onmouseover="this.src='{{ asset('storage/images/safeart.png') }}'"
                         onmouseout="this.src='{{ asset('storage/images/safe.png') }}'">
                </a>
                <br>Click the image above for a short video on SAFe.
            </p>

            {% if user %}
                <p><a href="{{ asset('storage/assets/scrumsafelyfordownload.pdf') }}" >
                    Click here for Scrum SAFely pdf
                </a></p>
            {% endif %}
            <br>

            <h3>Bottom line:</h3>
            <p><b><i>If your scrums are not
                <a href="/scrumvalued" >releasing valuable working software regularly</a>;
                <br>then SAFe
                <br>(as with the problems [<a href="{{ asset('storage/assets/chaos-report.pdf') }}" >
                and chaos</a>] associated with traditional project management)
                <br><a href="/pin" >if badly run at CM level 1</a>
                <br>can be just as
                <a href="{% if user %}/home/safeisunsafe{% else %}/login{% endif %}" >
                    <u>unsafe!</u>
                </a>
            </i></b></p>

            {% if not user %}
                <br><br>
                <p>Therefore fix <a href="/scrum" >scrum first!</a></p>
            {% endif %}

            <br><br>
        </div>
    </div>

    {# Slide 14: People CMM #}
    <div class="carousel-item" align="center">
        <div class="container" style="max-width:70%">
            <h5><strong>People CMM</strong></h5>

            <img alt="" class="img-fluid"
                 src="{{ asset('storage/images/pcmmoverviewbevelled.png') }}">
            <br><br>

            {% if user %}
                <button class="btn btn-primary align-center clearfix" type="button"
                        data-toggle="collapse" data-target="#collapsecats"
                        aria-expanded="false" aria-controls="collapsecats">
                    Level 1: Herding Cats
                </button>

                <div class="collapse" id="collapsecats">
                    <div class="container">
                        <div class="card text-center">
                            <h5 class="card-header" align="center">
                                <a href="/home/af" ><u>Consider American Football in the NFL</u></a>
                            </h5>
                            <p>(Click the link directly above to understand why PMWay sees American Football as CM Level 2+ in action)
                                <br><b>These "highly professional and frikken cooler than cool cats"
                                <br>all understand EXACTLY the rules of how to win with their game!</b>
                                <br>PMWay suggests Just Doing It with the attitude below will not win the Super bowl!
                            </p>

                            <div class="card-body text-center">
                                <p>Now click the Shepherd below to see this from a Scrum Master's perspective.
                                    <br><a href="/pin">Click here</a> to pin down the problem and obvious solution.
                                </p>
                                <img alt="" class="img-fluid"
                                     title="Click this image for an idea of what a Scrum Master must put up with at CM L1"
                                     src="{{ asset('storage/images/catastrophe.jpg') }}"
                                     onmouseover="this.src='{{ asset('storage/images/catastrophescrum.jpg') }}'"
                                     onmouseout="this.src='{{ asset('storage/images/catastrophe.jpg') }}'">
                                <br>
                                <img alt="" class="img-fluid"
                                     src="{{ asset('storage/images/artofherdingcats.jpg') }}">
                            </div>
                        </div>
                    </div>
                </div>
                <br><br>

                <button class="btn btn-primary align-center clearfix" type="button"
                        data-toggle="collapse" data-target="#collapsepeople"
                        aria-expanded="false" aria-controls="collapsepeople">
                    People
                </button>

                <div class="collapse" id="collapsepeople">
                    <div class="container">
                        <div class="card text-center">
                            <h5 class="card-header" align="center"></h5>
                            <div class="card-body text-center">
                                <p align="left">
                                    In order to run projects (especially Agile) correctly your people need capabilities and maturity.
                                </p>
                                <p align="left">
                                    Agile postulates the "cohesive empowered professional team,"
                                    <br>with all the necessary skills required for the project existing within the team!
                                    <br>These "adequately empowered workgroups" are normally only found at CM Level 4.
                                    <br>Can you see the truth of this?
                                    <br><br>
                                    Executive support [Executive Action Team (to EAT
                                    "<a href="/home/removetheredbeads" >the red beads</a>")] is the key to success!
                                    <br>As a test of this (and where the Executive need to
                                    <a href="/home/removetheredbeads" >remove the red beads</a>)
                                    [of which a lack of training in the team on what, when, why and how with regard to
                                    project processes to be followed will definitely create red beads],
                                    <br>if you have a scrum team (as example),
                                    <br>find out how many on the team actually have the entry level foundation certificate
                                    of competency for the scrum method?
                                </p>
                                <p align="left">
                                    Bottom Line: If you want to do Scrum (or any project method correctly) that starting point
                                    is to ensure your people are adequately trained / certified!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            <br><br>
        </div>
    </div>

    {# Slide 15: Cobit 5 #}
    <div class="carousel-item" align="center">
        <div class="container" style="max-width:70%">
            <h5><strong>Cobit 5</strong></h5>

            <img alt="" class="img-fluid"
                 src="{{ asset('storage/images/11scobitprocessreferencemodel.png') }}">
            <br><br>

            <button class="btn btn-primary align-center clearfix" type="button"
                    data-toggle="collapse" data-target="#collapsecobits"
                    aria-expanded="false" aria-controls="collapsecobits">
                COBIT
            </button>

            <div class="collapse" id="collapsecobits">
                <div class="container">
                    <div class="card text-center">
                        <h5 class="card-header" align="center"></h5>
                        <div class="card-body text-center">
                            <h5>Control Objectives In Business and IT</h5>
                            <p align="left">
                                It is quite a challenge to install COBIT.
                                <br>Guess what. It's easier to install than you realize.
                            </p>
                            <p align="left">Can you find BAI01 Manage Programs and Projects?</p>
                            <p align="left">
                                Thinking back to the <a href="/home/index?slide=3">Strategy Wall Slide #3</a> can you find APO02?
                                <br>What about the <a href="/home/index?slide=8">ITIL Slide #8</a> (APO03, BAI04, BAI06 etc.)?
                            </p>
                            <p align="left">
                                As with tailoring the PMBOK processes (and other method processes), Cobit needs to be
                                implemented systematically so that it leverages off installed, operational and stable CM Model processes.
                            </p>
                            <br>I.e.
                            <img alt="eat the elephant" class="img-fluid"
                                 src="{{ asset('storage/images/elephant_one_bite.png') }}">
                            <br><br>
                            <p align="center">
                                Systematically installing the essence of the previous slides
                                <br>(in bite sized and digestible chunks)
                                <br>means Cobit is now also installed!
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <br><br>
        </div>
    </div>

    {# Slide 16: PDCA #}
    <div class="carousel-item" align="center">
        <div class="container" style="max-width:70%">
            <h5><strong>PLAN DO CHECK ACT</strong><br>(PDCA)</h5>

            <p align="center">
                The image below explains why<br>"Just Do It" at CM L1 is really a bad idea!
            </p>

            <p class="ctr">
                <img alt="" class="img-fluid" src="{{ asset('storage/images/nopdcacycle.jpg') }}">
            </p>

            <br><br>
        </div>
    </div>

</div>
            </div>

            <br><br>
        </div>
    </div>

    {# Slide 3: Strategy Wall #}
    <div class="carousel-item" align="center">
        <div class="container" style="max-width:70%">
            <h5><strong>The Strategy Wall</strong></h5>

            <img class="img-fluid"
                 src="{{ asset('storage/images/strategywall850.png') }}"
                 onmouseover="this.src='{{ asset('storage/images/legobrickbox.png') }}'"
                 onmouseout="this.src='{{ asset('storage/images/strategywall850.png') }}'">
            <br><br>

            <p align="center">
                <i>Click the image above (to open the PMP CMMi lego brick)
                <br>and reveal the secret to successful strategy (and project) Implementation.</i>
            </p>

            <button class="btn btn-primary align-center clearfix" type="button"
                    data-toggle="collapse" data-target="#collapsestrategy"
                    aria-expanded="false" aria-controls="collapsestrategy">
                Strategy
            </button>

            <div class="collapse" id="collapsestrategy">
                <div class="container">
                    <div class="card text-center">
                        <h5 class="card-header" align="center"></h5>
                        <div class="card-body text-center">
                            <p align="left">
                                Do you know that many formulated strategies (and projects) fail in Implementation?
                                Have you found using Balanced Scorecard (in itself) has not been that successful?
                                <br><br>
                                Did you see the PMP and CMMi lego brick (at the top right of the image above)?
                                It is to the right of the Balanced Scorecard, enabling it for success.
                            </p>

                            <p align="left">
                                Make careful note of how to empower these bricks (all the bricks in the strategy)
                                at CM Level 2+ per the image below!
                                <br>I.e. If Strategy Plan Formulation and Implementation is attempted under
                                Capability Maturity Level 2 it will surely be a failure.
                            </p>

                            <h5>Bottom Line:</h5>
                            <a href="{% if user %}https://www.pmway.hopto.org/cv/paper.pdf#page=299{% else %}/login{% endif %}"
                               >
                                <img alt="The PMIS" class="img-fluid"
                                     src="{{ asset('storage/images/engineanimated.gif') }}"
                                     title="Click the image for a paper motivating the Project Management Information Server">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <br><br>
        </div>
    </div>

    {# Slide 4: Capability Maturity Levels #}
    <div class="carousel-item" align="center">
        <div class="container" style="max-width:70%">
            <h5><strong>Capability Maturity Levels:</strong></h5>

            <a href="/cmmi" >
                <img class="img-fluid"
                     src="{{ asset('storage/images/cmmproject2plus.png') }}"
                     onmouseover="this.src='{{ asset('storage/images/cmmproject2plusshadedbezelled.png') }}'"
                     onmouseout="this.src='{{ asset('storage/images/cmmproject2plus.png') }}'"
                     title="Click the image for more information about Capability Maturity improvements">
            </a>

            <p>Note that level 2 is all about pinning down the essential project management processes.
                <br>If you run traditional or agile projects these essential processes will still apply!
            </p>

            <a href="/pin"
               title="Click to Pin down your Capability Maturity level now! Or drag the pin through the gateway and hit the Productivity and Quality improvement target!">
                <img alt="pin" class="img-fluid" id="pintwo"
                     src="{{ asset('storage/images/pinlarge.png') }}">
            </a>
            <br>

            <button class="btn btn-primary align-center clearfix" type="button"
                    data-toggle="collapse" data-target="#collapserabbithole"
                    aria-expanded="false" aria-controls="collapserabbithole">
                Capability Maturity Levels
            </button>

            <div class="collapse" id="collapserabbithole">
                <div class="container">
                    <div class="card text-center">
                        <h5 class="card-header" align="center"></h5>
                        <div class="card-body text-center">
                            <img class="img-fluid" src="{{ asset('storage/images/cmmiuplevels.png') }}">
                            <br>

                            <hr>
                            <h4 align="left">&nbsp;<b>CM Level 4 and 5+:</b></h4>
                            <h5>"Based on Production Stats and Focus on Continual Improvement."</h5>
                            <hr>

                            <h4 align="left">&nbsp;<b>CM Level 3+:</b></h4>
                            <h5>"Process, Project, Software Engineering and Support
                                <br>&nbsp;(and especially Risk Management against non achievement of the plan)
                                <br>&nbsp;fully installed."
                            </h5>
                            <hr>

                            <h4 align="left">&nbsp;<b>CM Level 2+:</b></h4>
                            <h5>"Mainly Project (but also some other) Processes are Understood, Tailored, Applied and Managed.
                                <br>&nbsp;"Now We Are Ready To Do It."
                            </h5>
                            <img alt="" class="img-fluid" src="{{ asset('storage/images/cogsworking.gif') }}">
                            <hr>

                            <br>
                            <h4 align="left">&nbsp;<b>CM Level 1: Heroic</b></h4>
                            <h5>&nbsp;"No Plan"<br>"Just Do It!"</h5>

                            <p align="center">
                                <button class="btn btn-primary align-center clearfix" type="button"
                                        data-toggle="collapse" data-target="#collapseoops"
                                        aria-expanded="false" aria-controls="collapseoops">
                                    OOPS!
                                </button>

                                <div class="collapse" id="collapseoops">
                                    <div class="container">
                                        <div class="card text-center">
                                            <h5 class="card-header" align="center">
                                                No Plan, Be Heroic and Just Do It is CM Level 1
                                            </h5>
                                            <div class="card-body text-center">
                                                <a href="/pin" >
                                                    <img class="img-fluid"
                                                         src="{{ asset('storage/images/cmmi%20@%20level%201.png') }}"
                                                         onmouseover="this.src='{{ asset('storage/images/danger.jpg') }}'"
                                                         onmouseout="this.src='{{ asset('storage/images/cmmi%20@%20level%201.png') }}'">
                                                </a>
                                                <br><br>

                                                <a href="{% if user %}/home/fail{% else %}/login{% endif %}"

                                                   title="Click OOPS! now for more information on why projects fail">
                                                    <img alt="oops" class="img-fluid"
                                                         src="{{ asset('storage/images/oopsmall.png') }}">
                                                </a>
                                                <br>

                                                <img alt="" class="img-fluid"
                                                     src="{{ asset('storage/images/car%20drives%20off%20road%20norm.png') }}">

                                                <p align="left">
                                                    Just for fun <a href="/realstory" >click here</a>
                                                    for the games @ CM Level 1.
                                                    <br>If interested click OOPS! above for the 15 reasons why projects fail at CM Level 1.
                                                    <br>And <a href="/pin" title="Click here for the real reason there is chaos out there!"
                                                    >Traditional Project Management process often is blamed for the chaos</a>!?
                                                    <br>Agile methods touted as the solution but operated at CM Level 1 will simply add to,
                                                    and bring about increased
                                                    <a href="{{ asset('storage/assets/chaos-report.pdf') }}" >chaos</a>!
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
