{# Wagile, Fragile, AINO Section (for non-logged-in users) #}
<div class="collapse" id="collapsevixen">
    <div class="container">
        <div class="card text-center">
            <h5 class="card-header" align="center">
                The classic "monkey trap" helps to illustrate the problem of TPM and APM (Wagile, Fragile and Aino) etc.,
                run as a flawed project management system; without sufficient understanding of the processes needed for
                successful application for quality at Capability Maturity Level 2+
            </h5>
            <div class="card-body text-center">
                <img alt="Monkey Trap" class="img-fluid" src="{{ asset('storage/images/Monkey-trap.png') }}">

                <p>
                    I.e. No <a href="/images/smart.jpg" class="img-fluid" ><u>SMART requirements</u></a>
                    identified and no accurate planning and monitoring and control, rather extolling and pushing
                    (driving heroic "just do it" behavior) to get more out of (trying to pull results) from the system
                    than is possible (for resources / time allocated / clarity about requirements in respect of complicated
                    solutions required). This lack of clear and agreed <b>REQUIREMENTS (REQM)</b> and insufficient / inaccurate
                    <b>PROJECT PLANNING (PP)</b> and <b>PROJECT MONITORING AND CONTROL (PMC)</b> means the team are operating
                    at Capability Maturity Level 1.
                </p>

                <br>

                {# Safety Culture Section #}
                <button class="btn btn-primary align-center" type="button"
                        data-toggle="collapse" data-target="#collapsepmboksafety"
                        aria-expanded="false" aria-controls="collapsepmboksafety">
                    Safety Culture
                </button>

                <div class="collapse" id="collapsepmboksafety">
                    <div class="container">
                        <div class="card text-center">
                            <h5 class="card-header" align="center">Westrum's Typology of Organization Culture</h5>
                            <div class="card-body text-center">
                                <p>
                                    The book Accelerate refers to the Westrum Typology of Organizational Culture.
                                    <br>Accelerate (and ITIL etc.) state that Generative behavior on the right of the model
                                    is required for success in Agile and DevOps.
                                    <br>ITIL 4 calls this a "safety culture." The "safety culture" is needed for teams to align
                                    for agility and find solutions which approach may not be understood or tolerated in the
                                    Bureaucratic and Pathological Organizational Cultures of the model.
                                </p>
                                <br>
                                <img alt="Westrum Typology" class="img-fluid"
                                     src="{{ asset('storage/images/westrum.png') }}">
                                <p>
                                    I.e. With Westrum in mind, where would you pin your Organizational Culture to be at?
                                    Pathological, Bureaucratic or Open Minded and Generative.
                                </p>
                                <p align="left">
                                    <a href="/pin"
                                       title="Click the pin to pin down your Organizational Culture. I.e. what Organizational Culture do you have where you work!">
                                        <img id="pinthree" class="img-fluid" style="z-index:100"
                                             src="{{ asset('storage/images/pinlarge.png') }}" alt="pin">
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <br><br>

                <h3>The Monkey Trap above. Do you really want to get free?</h3>
                <p align="center">
                    Along with <a href="/images/smart.jpg" class="img-fluid" ><u>SMART REQM's</u></a>:
                    Find the CML2 processes <a href="/cmmidevdash" ><u>Project Planning (PP) and Project Monitoring and Control (PMC)</u></a>
                    <br>Then
                    <br><b><large>to set Scrum (Agile) free</large></b>
                    <br>it's simply
                    <br><a href="/images/scrumsafelymin.pdf" ><u><b>ONE</b></u></a>&nbsp;&nbsp;
                    <a href="cv/images/projects/project-21.jpg" ><u><b>TWO</b></u></a>&nbsp;&nbsp;
                    <a href="/images/horserace.jpg" ><u><b>THREE</b></u></a>
                </p>

                <br>

                {# Scrum Dysfunctions Section #}
                <button class="btn btn-primary align-center clearfix" type="button"
                        data-toggle="collapse" data-target="#collapsepmbokdis"
                        aria-expanded="false" aria-controls="collapsepmbokdis">
                    The 7 Scrum Dysfunctions<br>and how to fix these
                </button>

                <div class="collapse" id="collapsepmbokdis">
                    <div class="container">
                        <div class="card text-center">
                            <h5 class="card-header" align="center">The Seven Scrum Dysfunctions and Root Cause Analysis</h5>
                            <div class="card-body text-center">
                                <p>
                                    <a href="/scrumrca" ><u>Click here</u></a>
                                    for the 7 Scrum dysfunctions (and using Root Cause Analysis (picking out the red beads explained below) etc.)
                                    give an idea of how to improve quality in the scrum (agile) project management system
                                    <br><i>- from Mastering Professional Scrum (2019) by Stephanie Ockerman and Simon Reindl.
                                    <br>Note: Some links in this download are dependent on pmway.hopto.org being up. I.e. see i on menu above.</i>
                                </p>
                                <p>
                                    Run optimally a scrum team should be able to release working software in a 2 week sprint.
                                    Then (demo's approved by the Product Owner) <b>they (the willing workers) have succeeded</b>
                                    and the goals for the team are reset during next sprint planning ceremony.
                                    Scrum Master's role is to ensure a safety culture, productive team, process improvement from CM L2
                                    (and CML2+ where possible) and good governance!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <br><br>

                {# TPM vs APM Section #}
                <button class="btn btn-primary align-center clearfix" type="button"
                        data-toggle="collapse" data-target="#collapsetpmapm"
                        aria-expanded="false" aria-controls="collapsetpmapm">
                    TPM vs APM<br>in 2 minutes
                </button>

                <div class="collapse" id="collapsetpmapm">
                    <div class="container">
                        <div class="card text-center">
                            <h5 class="card-header" align="center">TPM vs APM essence in 2 minutes</h5>
                            <div class="card-body text-center">
                                <p>
                                    Note that <a href="/images/pmbok5gate.png" ><u><b>Traditional Project Management</b></u></a>
                                    (TPM)'s <a href="/images/pmbokepm.jpg" ><u><b>24 planning processes</b></u></a>
                                    (just under half of the total processes for the PMBOK are planning processes!) are replaced in
                                    Agile Project Management (APM) / Scrum by User Stories! These must be approved as delivered each sprint
                                    by the Product Owner or the team are operating at Capability Maturity Level 1. And the minute a sprint
                                    is approved the team have finished that race successfully (they are operating at CM Level 2+)!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <br><br>

                <p>
                    Deming's Red Bead Experiment goes a long way to clearly illustrate the causes and solutions for the "monkey trap" problem above.
                    <br>Find this experiment on YouTube (<i>or watch a PMWay selected video from YouTube below</i>).
                    Deming is the father of the Capability Maturity Model (CMMi) we are using
                    <a href="/cmmidevdash" ><u>here</u></a> which is the output of the
                    <a href="https://www.sei.cmu.edu/" ><u>Software Engineering Institute at Carnegie Mellon University</u></a>.
                </p>

                <h3>Here is some more of Deming's wisdom:</h3>
                <p align="center">
                    <img class="img-fluid" src="{{ asset('storage/images/demingoneessence.jpg') }}" alt="Deming Quotes">
                    <br>
                    <img class="img-fluid" src="{{ asset('storage/images/demingtwoessence.jpg') }}" alt="Deming essence">
                    <br>
                    <img class="img-fluid" src="{{ asset('storage/images/demingthreeessence.jpg') }}" alt="Deming essence">
                </p>
            </div>

            {# Red Bead Video Section #}
            <div class="container" align="center">
                <h5>The Red Bead Experiment</h5>
                <video controls poster="/images/redbeadremoved.png" width="400" height="400">
                    <source src="/ablelvids/redbeadexperiment/redbeadexperiment.mp4" type="video/mp4">
                </video>

                <br>

                <h5>
                    Solution:<br>If your Scrum Sprints are not producing approved value then Executives
                    <br><b>YOU NEED TO PICK OUT / REMOVE / EAT THE RED BEADS!</b>
                </h5>
                <p align="center">
                    <img class="img-fluid" src="{{ asset('storage/images/eat.png') }}" alt="Executive Action Team: EAT the Red Beads">
                </p>
                <p>
                    I.e. install scrum (or other TPM or APM) processes (DevOps etc., processes) that allow the method to operate correctly /
                    <br>remove noise and obstacles (exhortations etc.) that is getting in the way.
                    <br>and EAT (Executive Action Team) the Red Beads!
                </p>

                <br>

                {# CM Level 1 Fun Section #}
                <button class="btn btn-primary align-center clearfix" type="button"
                        data-toggle="collapse" data-target="#collapsepmbokcm"
                        aria-expanded="false" aria-controls="collapsepmbokcm">
                    FOR FUN: CAPABILITY MATURITY LEVEL ONE
                </button>

                <div class="collapse" id="collapsepmbokcm">
                    <div class="container">
                        <div class="card text-center">
                            <h5 class="card-header" align="center">
                                The image below explains the problems typically found at Capability Maturity Level 1.
                            </h5>
                            <div class="card-body text-center">
                                <p align="center">
                                    <img class="img-fluid" src="{{ asset('storage/images/cml1.png') }}"
                                         alt="For fun Capability Maturity Level 1">
                                </p>

                                <br>

                                <p>Time to up your game stats?</p>
                                <p align="center">
                                    <img class="img-fluid" src="{{ asset('storage/images/cm.png') }}"
                                         alt="How do you want to be remembered">
                                    <br>
                                    The Capability Maturity model above is a simplified version
                                    <a href="/cmmidevdash" ><u>of the one found here</u></a>
                                </p>

                                <br><br>

                                <p align="left">
                                    <a href="/pin"
                                       title="Click the pin to pin down to your Capability Maturity level. Is it CM L1, L2, L3 etc. I.e. what processes do you have control over. Bottom line: Focus on the process and not the outcome of the process! If you cannot describe what you are doing as a process you do not know what you are doing!">
                                        <img id="pintwo" class="img-fluid" style="z-index:100"
                                             src="{{ asset('storage/images/pinlarge.png') }}" alt="pin">
                                    </a>
                                </p>

                                <p align="left">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <i>Finally (just for fun) click the red pin now if you want to do the Capability Maturity self assessment.</i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <br><br>
            </div>
        </div>
    </div>
</div>
