{% extends 'base.twig' %}
{% block title %}{% if not user %}PMWay{% else %}American Football{% endif %}{% endblock %}
{% block body %}
    {% if user %}
        <div class="container" align="left">
            <h3 align="center">American Football</h3>
            <p align="center">See below why PMWay believes this incredible game is<br>
                <a href="/cmmi" >CM Level 2+ in action!</a><br>
                Also see why being "Agile" at CM L1 is actually nowhere.</p>
            <hr>

            <p align="center"><a href="/home/superbowl" >Click the NFL Logo below to watch the 2019 Super Bowl 53 (LIII) game!<br><br><br><br>
                    <img alt="NFL Logo" class="img-fluid" src="{{ asset('storage/images/nfl-logo.png') }}"></a></p>
            <br><br>
            <p align="center">TEAM: Together (following the right processes) We Achieve More!</p>
            <hr>

            <a name="AF"></a>
            <h5>As an illustrative example, see below why PMWay believes American Football is CM in Action!</h5>
            <p><i>Note: Capability Maturity (CM) is based on the latest model from Carnegie Mellon University called <a href="/home/carousel?slide=5" >Capability Maturity Model Integrated</a>.</i></p>

            <p>American Football is an amazing sport and excellent vehicle or 'metaphor' to show us the correct way to work together (as a group of professionals who share the same goals) towards CMMi Level 2 and upwards.<br>
                <a href="/home/gamestats" ><u>Showing us the correct way to work together towards improved performance "STATS".</u></a><br>
                American Football is CMMi Level 2+ in action!</p>

            <h5>Why? Because American Football is played on a ruler!</h5>

            <p align="center"><img alt="Ruler" class="img-fluid" src="{{ asset('storage/images/ruler1.png') }}"><br><br>
                <img alt="Grass Field" class="img-fluid" src="{{ asset('storage/images/grassfield.jpg') }}"></p>

            <p align="center"><img alt="Football Field Diagram" class="img-fluid" src="{{ asset('storage/images/football-diagram1.gif') }}"></p>

            <p align="center"><img alt="Redskins Field" class="img-fluid" src="{{ asset('storage/images/redskinsfield.jpg') }}"></p>

            <p align="center">Remember.</p>

            <p align="center"><img alt="If you can't measure it, you can't improve it" class="img-fluid" src="{{ asset('storage/images/gg_measure1.png') }}"></p>

            <p>You may say this sport is like any other, however I believe American Football has taken an amazing contact game (with its tactics, inherent challenges and conflict) and refined it to a much higher level of maturity than most other sports. Think again of the maxim from Lord Kelvin: "If you can't measure it, you can't improve it!"<br>
                In American Football, performance is measured at the level of feet, and often the difference between success and failure is measured in inches, as a team pushes forward, challenged every inch of the way, towards their opponent's end zone!</p>

            <p>Try comparing the description of American Football below with the goals of CMMi.<br>
                American Football is constructive conflict and team effort towards achieving a particular type of goal—in this case it's called a "touchdown!" or annually the "Super Bowl!"<br>
                And ultimately "to become an honorary member of the National Football League's (NFL) Hall of Fame!"</p>

            <p align="center"><img alt="Huddle" class="img-fluid" src="{{ asset('storage/images/huddle.jpg') }}"></p>

            <p align="center"><img alt="American Football" class="img-fluid" src="{{ asset('storage/images/afootball.jpg') }}"></p>

            <p align="center"><img alt="Touchdown" class="img-fluid" src="{{ asset('storage/images/touchdownwow.png') }}"></p>

            <p>Use the image below to see if you can grasp the metaphor, seeing the vision and connection between Project Management Process, TEAMS, American Football, CMMi, and the ruler now!</p>

            <a name="endzone"></a>
            <p align="center"><img alt="ProjectBall" class="img-fluid" src="{{ asset('storage/images/projectball.png') }}"><br>
                THE PROJECT MANAGER (QUARTERBACK) AND TEAM MUST DRIVE (DOWN BY DOWN) TO THE END ZONE TO FINISH THE PROJECT!</p>
            <hr>

            <h5 align="center"><a name="nb"></a>HERE IS THE IMPORTANT BIT!<br>
                (You may have already arrived at this understanding by yourself)</h5>
            <h5 align="center">If not, then grasp it now:<br><br>
                Take a look below.</h5>
            <h5 align="center">Can you see the project schedule?</h5>
            <br>

            <p align="center"><img alt="Gantt Chart - This is where project teams play" class="img-fluid" src="{{ asset('storage/images/gantt.jpg') }}"><br><br>
                <strong>This is where project teams play!</strong></p>

            <p align="center"><strong>This is where we focus our game and "up our stats!"</strong></p>

            <h5 align="center">WHY?</h5>
            <h5 align="center">BECAUSE THE PROJECT SCHEDULE,<br>
                OUR PLAYING FIELD,<br>
                ALSO<br>
                LOOKS LIKE A RULER!</h5>

            <p align="center"><img alt="Redskins Field" class="img-fluid" src="{{ asset('storage/images/redskinsfield1.jpg') }}"></p>

            <p align="center"><strong>Now, taking all of the above,<br>
                    let's move to the logical conclusion.</strong></p>

            <p align="center">I love American Football. WHY? Because this game is played on a field that looks exactly like a ruler!</p>

            <p align="center">Try playing American Football without a field!<br>
                <em>I suggest (without the framework derived from the agreed playing field) it cannot be done!</em></p>

            <p align="center"><img alt="American Football Rules" class="img-fluid" src="{{ asset('storage/images/afrules.png') }}"></p>

            <p align="center">Try running a project plan (per the IRON TRIANGLE) without a schedule MANAGED AT TASK LEVEL<br>
                and without a baselined project schedule or slip line indicators!</p>

            <p align="center"><a href="/fail.php#offroad" ><img alt="Slip off the road" class="img-fluid" src="{{ asset('storage/images/car%20drives%20off%20road%20norm.png') }}"></a></p>

            <p align="center">A PMBOK project plan (transposed into a project schedule) tells you where you need to be (i.e., who must do what by when). Without a baselined schedule, how do you know if you're not drifting off target?</p>

            <p align="center">PMWay suggests project management (as a core requirement for CMMi Level 2 compliancy) can only be done properly with the efficiencies and effectiveness gained from using the Project Management Information System (PMIS)<br><br>
                <a href="{{ asset('storage/assets/paper.pdf') }}#page=299" >If interested, read this paper which deals with the Project Management Information System as Enabler for Achieving Capability Maturity Level 2 and Above (on page 295 of the Springer Journal)</a></p>
            <br><br>
            <hr>

            <h5>More information on this amazing game</h5>
            <p>The game consists of two opposing teams (I see them as two opposing armies with their Generals—the Quarterbacks—involved in herculean struggles for possession of ground, similar to the effort needed for arm wrestling) towards a "Touchdown" in the opposition team's end zone (ENEMY INVASION).</p>

            <a name="touchdown"></a>
            <p align="center"><img alt="Touchdown" class="img-fluid" src="{{ asset('storage/images/daunte-touchdown.jpg') }}"></p>

            <p>This, while the opposing team does everything in their power to stop the other side getting into their end zone and trying to get their own touchdown in the other's end zone.<br><br>
                To be able to "sack" an opposing quarterback is getting into their defensive pocket (their stronghold during a forward drive) and bringing the quarterback to the floor. Pressurizing the quarterback means the quarterback cannot make successful plays and is obstructed from driving to the end zone of the opposing side.</p>

            <p>You may say this sport is like any other, however I believe American Football has taken an amazing contact game (with its tactics, inherent challenges and conflict) and refined it to a much higher level of maturity than most other sports. Think of the maxim from Lord Kelvin: "If you can't measure it, you can't improve it!" This is essentially why American Football is played on a ruler!</p>

            <p>Because the playing field is set up like a ruler, a wealth of statistics is continuously collected and stored by game, team, and player performance:</p>

            <ul>
                <li>Longest throw this game or in the last 20 years</li>
                <li>Most touchdown throws</li>
                <li>Longest drive this game / on this field since 2001</li>
                <li>Player X has most sacks in the National Football League (NFL) since 2005</li>
                <li>Number of sacks experienced by a specific quarterback (Peyton Manning for example)</li>
                <li>Most catches for a team (The Dallas Cowboys for example) wide receiver ever</li>
                <li>98 yards punt return which is the 3rd longest punt return in the history of the League</li>
            </ul>

            <p>The list is endless.<br><br>
                Because players can measure their performance on an ongoing basis, this helps to focus and motivate quality and improvement. Winning (scoring touchdowns) has matured for this National Game into a focus (within the tight regimen and rules of the game) which has formed itself into "The American Football (Way)!"</p>

            <p>Another dimension from the game that we can learn from, which is highly relevant to South Africa where service delivery problems plague us with the lack of Transparency and Governance, is that because American Football is played on a playing field like a ruler, the many referees that oversee each game are able to act immediately, the second "unsportsmanlike" behavior or "dangerous or unethical play" is seen that degrades the sport. As soon as a problem is seen, a number of referees (monitoring performance against the rules of the game / ruler-like checkmarks on the field) will immediately be able to throw yellow penalty flags onto the field "flagging" the transgression.<br>
                This is possible because the referees can see the performance against the framework (Rules and Ruler lines) of the playing field!</p>

            <p><img alt="Flag" class="img-fluid" src="{{ asset('storage/images/flag.png') }}"><br><br>
                The result of "bad play" (in American Football) is immediate lost ground (i.e., 15-yard penalty to the offending team/player) which has to be given up and ground for which the team has dearly fought.<br><br>
                This quickly "puts ethics into the game" and the result is that teams now focus all their efforts on the real issues of American Football: Playing the game and playing it well.</p>

            <p>Because players can measure their performance, this helps to focus and motivate quality and improvement. Winning (scoring touchdowns) has matured into a focus within the tight regimen and rules of the game (think of the framework and rules of PMP and project governance)! In this case it is "The American Football (Way)!"</p>

            <p>Here is a bird's eye view of the game and some of the Offensive Formations:</p>

            <p><img alt="American Football from Top" class="img-fluid" src="{{ asset('storage/images/af%20from%20top.png') }}"></p>

            <p><img alt="American Football Formations" class="img-fluid" src="{{ asset('storage/images/af%20formations.png') }}"></p>

            <p><a name="link"></a>And here is a <a href="/home/afplays" >link to some Offense Strategies</a>.</p>

            <p>Check the game out. See if you agree. See if you can see what I can see—where the sport of American Football is a perfect example of CMMi Level 2+ in action, clearly illustrating/showing by example how to create a galvanization of movement towards higher levels of perfection and quality. This applies exactly to Projectization and as is shown in PMWay.</p>
            <hr>

            <h5>Notes:</h5>
            <p>The American Football Season runs from September to February each year. Essentially starting in America's Autumn, through their Winter (with a Christmas break), and ending with the Super Bowl in February.<br><br>
                As games are normally played on Sunday Night, these will be available on Monday and Tuesday depending on where the games are played in the States, i.e., East Coast or West Coast. If you sign up with NFL.com, you can stream all the games via their website! You can watch them either as they are being played or months/years later.<br>
                Cost: Approximately R2000 per year.</p>

            <p>Here in the example below is how to work out the number of the Super Bowl.<br>
                As stated above, for this example, in 2013 the Super Bowl game number was XLVII and the game was set to be played after the quarterfinals in January and February:<br>
                i.e., L = 50, X = 10. If X is in front of L, this must be subtracted from 50 = 40. V = 5 and if it is on the right of the L, then this is added to the amount you have already worked out. i.e., 40 + 5 = 45. Then I = 1. Therefore XLVII = 47.</p>
        </div>
        <br><br><br>
    {% endif %}

    {% if not user %}
        <div class="container" align="left">
            <h3 align="left">Please log in to access the content on this page</h3>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
    {% endif %}

{% endblock %}
