{% extends 'base.twig' %}
{% block title %}{% if not user %}PMWay{% else %}Agile Methods{% endif %}{% endblock %}
{% block body %}
    {% if user %}

        <style>
            .carousel-indicators {
                position: absolute;
                bottom: -35px;
            }

            .carousel-indicators li {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background: #f00 none repeat scroll 0 0;
                border: 0 none;
                margin: 3px;
                opacity: 0.5;
            }

            .carousel-indicators .active {
                background: #fff none repeat scroll 0 0;
                border: 4px solid #040404;
            }

            .navbar {
                position: relative;
                width: 100%;
                z-index: 10;
                max-width: 100%;
            }
        </style>

        <div class="container-fluid" align="center">
            <h5>Agile Methods - High Level Overview</h5>
            <p>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-target="#i" data-slide-to="0" title="Slide 1: Lean and Kanban">Lean and Kanban</a> |
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-target="#i" data-slide-to="1" title="Slide 2: XP">XP</a> |
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-target="#i" data-slide-to="2" title="Slide 3: Crystal">Crystal</a> |
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-target="#i" data-slide-to="3" title="Slide 4: DSDM">DSDM</a> |
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-target="#i" data-slide-to="4" title="Slide 5: FDD">FDD</a> |
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-target="#i" data-slide-to="5" title="Slide 6: TDD">TDD</a> |
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-target="#i" data-slide-to="6" title="Slide 7: ASD">ASD</a> |
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-target="#i" data-slide-to="7" title="Slide 8: AUP">AUP</a> |
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-target="#i" data-slide-to="8" title="Slide 9: DDD">DDD</a><br>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-target="#i" data-slide-to="9" title="Slide 10: SCRUM">SCRUM</a> |
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-target="#i" data-slide-to="10" title="Slide 11: PRINCE2Agile">PRINCE2Agile</a> |
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-target="#i" data-slide-to="11" title="Slide 12: The Agile Manifesto">Agile Manifesto</a> |
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-target="#i" data-slide-to="12" title="Slide 13: The Project Method Selection Matrix">Project Methodology Selection Matrix</a>
            </p>
        </div>

        <div id="i" class="carousel slide" data-ride="carousel" data-interval="false">
            <ol class="carousel-indicators">
                <li data-target="#i" data-slide-to="0" title="Slide 1: Lean and Kanban" class="active"></li>
                <li data-target="#i" data-slide-to="1" title="Slide 2: XP"></li>
                <li data-target="#i" data-slide-to="2" title="Slide 3: Crystal"></li>
                <li data-target="#i" data-slide-to="3" title="Slide 4: DSDM"></li>
                <li data-target="#i" data-slide-to="4" title="Slide 5: FDD"></li>
                <li data-target="#i" data-slide-to="5" title="Slide 6: TDD"></li>
                <li data-target="#i" data-slide-to="6" title="Slide 7: ASD"></li>
                <li data-target="#i" data-slide-to="7" title="Slide 8: AUP"></li>
                <li data-target="#i" data-slide-to="8" title="Slide 9: DDD"></li>
                <li data-target="#i" data-slide-to="9" title="Slide 10: SCRUM"></li>
                <li data-target="#i" data-slide-to="10" title="Slide 11: Prince2Agile"></li>
                <li data-target="#i" data-slide-to="11" title="Slide 12: The Agile Manifesto"></li>
                <li data-target="#i" data-slide-to="12" title="Slide 13: The Project Method Selection Matrix"></li>
            </ol>

            <div class="carousel-inner" role="listbox">
                <!-- Slide 1: Lean and Kanban -->
                <div class="carousel-item active" align="center">
                    <div class="container" style="max-width:70%">
                        <h5>Lean and Kanban</h5>
                        <p style="text-align:justify">The Lean concept optimizes an organization's system to produce valuable results based on its resources, needs, and alternatives while reducing waste.</p>
                        <p style="text-align:left">Waste could be from building the wrong thing, failure to learn, or practices that impede the process. Because these factors are dynamic, a lean organization evaluates its entire system and continuously fine-tunes its processes.</p>
                        <p style="text-align:left">The foundation of Lean is that reducing the length of each cycle (i.e., an iteration) leads to increased productivity by reducing delays, aids in error detection at an early stage, and consequently reduces the total effort required to finish a task. Lean software principles have been successfully applied to software development.</p>
                        <p style="text-align:left">Kanban literally means a 'signboard' or 'billboard' and promotes the use of visual aids to assist and track production.</p>
                        <p style="text-align:left">The concept was introduced by Taiichi Ohno, considered to be the father of the Toyota Production Systems (TPS). The use of visual aids is effective and has become common practice.</p>
                        <p style="text-align:left">A Kanban board (a pull system) looks similar to a task board, but they're not the same thing. You've seen task boards in discussions of Scrum and XP, so it's easy to look at a Kanban board and assume it's basically the same thing.<br><b>It's not!</b><br>The purpose of a task board is to make the state of current tasks clear to everybody on a team. Task boards help a team stay on top of the current status of their project. Kanban boards are different. They are created to help a team understand how work flows through their process. Because work items are kept at a feature level on a Kanban board, they aren't the best way to know exactly which task each team member is working on—but they're great for helping you see how much work is in progress in each state of your process.</p>
                        <p style="text-align:left">These methods gained attention due to their practice at Toyota, a leader in process management. Lean Kanban integrates the use of visualization methods as prescribed by Kanban along with the principles of Lean, creating a visual incremental evolutionary process management system.</p>

                        <img alt="Lean to XP" class="img-fluid" src="{{ asset('storage/images/lean2.png') }}"><br><br>
                        <p align="center">
                            <img alt="Agile" class="img-fluid" src="{{ asset('storage/images/lean1.png') }}"><br><br>
                            <img alt="Lean diagram" class="img-fluid" src="{{ asset('storage/images/lean4.png') }}"><br><br>
                            <img alt="Lean diagram" class="img-fluid" src="{{ asset('storage/images/lean5.png') }}">
                        </p>
                    </div>
                </div>

                <!-- Slide 2: XP -->
                <div class="carousel-item" align="center">
                    <div class="container" style="max-width:70%">
                        <h5>Extreme Programming</h5>
                        <p style="text-align:justify">Extreme Programming (XP), which originated at Chrysler Corporation, gained traction in the 1990s.</p>
                        <p style="text-align:left">XP makes it possible to keep the cost of changing software from rising radically with time. The key attributes of XP include incremental development, flexible scheduling, automated test codes, verbal communication, ever-evolving design, close collaboration, and tying in the long- and short-term drives of all those involved.</p>
                        <p style="text-align:left">XP values communication, feedback, simplicity, and courage. The different roles in the XP approach include customer, developer, tracker, and coach. It prescribes various coding, developer, and business practices as well as events and artifacts to achieve effective and efficient development. XP has been extensively adopted due to its well-defined engineering practices.</p>
                        <p align="left">While somewhat dated, <a href="http://www.extremeprogramming.org" >extremeprogramming.org</a> is still an excellent resource on this method. Note: Look at the bottom right of each page for the XP [Next Page] buttons.</p>
                    </div>
                </div>

                <!-- Slide 3: Crystal -->
                <div class="carousel-item" align="center">
                    <div class="container" style="max-width:70%">
                        <h5>Crystal Methods</h5>
                        <p style="text-align:justify">Crystal methodologies of software development were introduced by Alistair Cockburn in the early 1990s.</p>
                        <p style="text-align:justify">Crystal methods are intended to be people-centric, lightweight, and easy to adapt. Because people are primary, the developmental processes and tools are not fixed but are rather adjusted to the specific requirements and characteristics of the project.</p>
                        <p style="text-align:justify">The color spectrum is used to decide on the variant for a project. Factors such as comfort, discretionary money, essential money, and life play a vital role in determining the 'weight' of the methodology, which is represented in various colors of the spectrum. The Crystal family is divided into Crystal Clear, Crystal Yellow, Crystal Orange, Crystal Orange Web, Crystal Red, Crystal Maroon, Crystal Diamond, and Crystal Sapphire.</p>
                        <p style="text-align:justify">All Crystal methods have four roles: executive sponsor, lead designer, developers, and experienced users. Crystal Methods recommend various strategies and techniques to achieve agility. A Crystal project cycle consists of chartering, delivery cycle, and wrap-up.</p>
                    </div>
                </div>

                <!-- Slide 4: DSDM -->
                <div class="carousel-item" align="center">
                    <div class="container" style="max-width:70%">
                        <h5><a name="dsdm"></a>DSDM (AgilePM)</h5>
                        <p style="text-align:justify">The Dynamic Systems Development Method (DSDM) framework was initially published in 1995 and is administered by the DSDM Consortium.</p>
                        <p style="text-align:justify">DSDM sets quality and effort in terms of cost and time at the outset and adjusts the project deliverables to meet set criteria by prioritizing the deliverables into "Must have", "Should have", "Could have", and "Won't have" categories (using the MoSCoW prioritization technique).</p>
                        <p style="text-align:justify">DSDM is a system-oriented method with six distinct phases: Pre-project; Feasibility; Foundations; Exploration and Engineering; Deployment; and Benefit Assessment.</p>
                        <p style="text-align:justify">A later version of DSDM known as DSDM Atern was introduced in 2007 and focuses on both prioritization of deliverables and consistent user or customer collaboration. The newest version is inspired by an Arctic Tern, making it a developer-centric software development framework for on-time and in-budget delivery of user-valued and quality-controlled project features.</p>
                    </div>
                </div>

                <!-- Slide 5: FDD -->
                <div class="carousel-item" align="center">
                    <div class="container" style="max-width:70%">
                        <h5>Feature Driven Development</h5>
                        <p style="text-align:justify">Feature Driven Development (FDD) was introduced by Jeff De Luca in 1997 and operates on the principle of completing a project by breaking it down into small, client-valued functions that can be delivered in less than two weeks. FDD has two core principles: software development is a human activity and software development is a client-valued functionality.</p>
                        <p style="text-align:justify">FDD defines six major roles: Project Manager, Chief Architect, Development Manager, Chief Programmers, Class Owners, and Domain Experts with a number of supporting roles.</p>
                        <p style="text-align:justify">The FDD process is iterative and consists of developing an overall model, building a feature list, and then planning, designing, and building by feature.</p>
                    </div>
                </div>

                <!-- Slide 6: TDD -->
                <div class="carousel-item" align="center">
                    <div class="container" style="max-width:70%">
                        <h5>Test Driven Development</h5>
                        <p style="text-align:justify">Sometimes known as Test-First Development, Test Driven Development was introduced by Kent Beck, one of the creators of Extreme Programming (XP).</p>
                        <p style="text-align:justify">Test Driven Development is a software development method that involves writing automated test code first and developing the least amount of code necessary to pass that test later.</p>
                        <p style="text-align:justify">The entire project is broken down into small, client-valued features that need to be developed in the shortest possible development cycle. Based on clients' requirements and specifications, tests are written. The tests designed in the above stage are used to design and write the production code.</p>
                        <p style="text-align:justify">TDD can be categorized into two levels: Acceptance TDD (ATDD) requiring a distinct acceptance test and Developer TDD (DTDD) involving writing a single developer test. TDD has become popular because of the numerous advantages it offers like rapid and reliable results, constant feedback, and reduced debugging time.</p>
                    </div>
                </div>

                <!-- Slide 7: ASD -->
                <div class="carousel-item" align="center">
                    <div class="container" style="max-width:70%">
                        <h5>Adaptive Software Development</h5>
                        <p style="text-align:justify">Adaptive Software Development (ASD) grew out of the rapid application development work by Jim Highsmith and Sam Bayer.</p>
                        <p style="text-align:justify">The highlights of ASD are constant adaptation of processes to the work at hand, provision of solutions to problems surfacing in large projects, and iterative, incremental development with continuous prototyping.</p>
                        <p style="text-align:justify">Being a risk-driven and change-tolerant development approach, ASD believes a plan cannot admit uncertainties and risks as this indicates a flawed and failed plan. ASD is feature-based and target-driven.</p>
                        <p style="text-align:justify">The first phase of development in ASD is Speculate (as opposed to Planning) followed by the Collaborate and Learn phases.</p>
                    </div>
                </div>

                <!-- Slide 8: AUP -->
                <div class="carousel-item" align="center">
                    <div class="container" style="max-width:70%">
                        <h5>Agile Unified Process</h5>
                        <p style="text-align:justify">Agile Unified Process (AUP) evolved from IBM's Rational Unified Process.</p>
                        <p style="text-align:justify">Developed by Scott Ambler, AUP combines industry-tried-and-tested Agile techniques such as Test Driven Development (TDD), Agile Modeling, agile change management, and database refactoring, to deliver a working product of the best quality.</p>
                        <p style="text-align:justify">AUP models its processes and techniques on the values of Simplicity, Agility, Customizability, Self-organization, Independence of tools, and focus on high-value activities. The AUP principles and values are put into action in the phases of Inception, Elaboration, Construction, and Transition.</p>
                    </div>
                </div>

                <!-- Slide 9: DDD -->
                <div class="carousel-item" align="center">
                    <div class="container" style="max-width:70%">
                        <h5>Domain Driven Development</h5>
                        <p style="text-align:justify">Domain-driven design is an Agile development approach meant for handling complex designs with implementation linked to an evolving model.</p>
                        <p style="text-align:justify">It was conceptualized by Eric Evans in 2004 and revolves around the design of a core domain. "Domain" is defined as an area of activity to which the user applies a program or functionality. Many such areas are batched and a model is designed.</p>
                        <p style="text-align:justify">The model consists of a system of abstractions that can be used to design the overall project and solve the problems related to the batched domains.</p>
                        <p style="text-align:justify">The core values of DDD include domain-oriented, model-driven design, ubiquitous language, and a bounded context.</p>
                        <p style="text-align:justify">In DDD, ubiquitous language is established and the domain is modeled. Then design, development, and testing follow. Refining and refactoring of the domain model is done until it is satisfactory.</p>
                    </div>
                </div>

                <!-- Slide 10: SCRUM -->
                <div class="carousel-item" align="center">
                    <div class="container" style="max-width:70%">
                        <h5><a name="scrum"></a>SCRUM</h5>
                        <a href="/home/scrumsixmins" ><img class="img-fluid" src="{{ asset('storage/images/scruminsixmins.png') }}" title="Scrum in Just Six Minutes" alt="Scrum in Six Minutes"></a><br>
                        <p style="text-align:justify">Scrum is an agile process most commonly used for product development, especially software development.</p>
                        <p style="text-align:justify">Scrum is a project management framework that is applicable to any project with aggressive deadlines, complex requirements, and a degree of uniqueness.</p>
                        <p style="text-align:justify">In Scrum, projects move forward via a series of iterations called sprints. Each sprint is typically two to four weeks long.<br>The idea behind "Agile" and Scrum in particular is that each sprint must produce value, typically in the form of working software.<br>i.e., as it is typically difficult to do long-range planning as envisaged in Traditional Project Management, Scrum's goal is to produce valuable products incrementally (<a href="/productincrement" >in slices</a>); sprint by sprint which pass muster in the "<a href="{{ asset('storage/images/pppmcperscrumedited.png') }}" >Sprint Review (Demonstrate and Validate process #16)</a>."</p>
                        <br><br>
                    </div>
                </div>

                <!-- Slide 11: PRINCE2 Agile -->
                <div class="carousel-item" align="center">
                    <div class="container" style="max-width:70%">
                        <h5>PRINCE2 Agile</h5>
                        <p style="text-align:center">PMWay is of the opinion that PRINCE2 Agile is a "best and safest way" to run agile.<br><a href="/pmway/?slide=5" >Capability Maturity Level 3</a> and above is required to run this well!<br>The image below, PMWay believes, says what needs to be said about the use of PRINCE2 Agile.</p>
                        <img alt="PRINCE2 Agile" class="img-fluid" src="{{ asset('storage/images/p2afighter.png') }}">
                        <div style="text-align:center">
                            <button class="btn btn-primary align-center clearfix" type="button" data-toggle="collapse" data-target="#collapseagilehappens" aria-expanded="false" aria-controls="collapseagilehappens">Where Agile happens<br>in PRINCE2 Agile</button>
                            <div class="collapse" id="collapseagilehappens">
                                <div class="container">
                                    <div class="card text-center">
                                        <h5 class="card-header" align="center">Under BOARD control (with Sponsor accountable): now agile away...</h5>
                                        <div class="card-body text-center">
                                            <img alt="Where agile happens" class="img-fluid" src="{{ asset('storage/images/prince2modelprocwhereagilehappens.png') }}">
                                        </div>
                                        <div class="card-footer"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>

                <!-- Slide 12: Agile Manifesto -->
                <div class="carousel-item" align="center">
                    <div class="container" style="max-width:70%">
                        <p class="small text-center"><em>Hover your mouse over the image below.</em></p>
                        <img alt="Agile Manifesto" class="img-fluid" src="{{ asset('storage/images/agile-manifesto.jpg') }}" onmouseover="this.src='{{ asset('storage/images/agilemanifestoadded.jpg') }}'" onmouseout="this.src='{{ asset('storage/images/agile-manifesto.jpg') }}'">
                        <br><br>
                        <p align="center"><a href="/home/snowbird" ><u>Snowbird</u></a></p>
                        <br>
                        <p align="center"><a href="/home/snowbird#heart" ><u>Heart of Agile</u></a></p>
                        <br>
                        <p align="center"><img alt="Heart of agile" class="img-fluid" src="{{ asset('storage/images/heartofagile.png') }}" onmouseover="this.src='{{ asset('storage/images/heartofagileexpanded.jpg') }}'" onmouseout="this.src='{{ asset('storage/images/heartofagile.png') }}'"></p>
                        <br><br>
                    </div>
                </div>

                <!-- Slide 13: Project Method Selection Matrix -->
                <div class="carousel-item" align="center">
                    <div class="container" style="max-width:70%">
                        <h5>One Project Methodology does not fit all Project Types.</h5>
                        <p style="text-align:justify">The project selection matrix from Dr. Robert K. Wysocki (below) shows how to quickly decide what project method best suits the type of project based on the criteria of clarity or lack of clarity of the project goal or solution being considered.<br>Note: While all projects are risky business, agile projects are very risky business!<br>This 'type of project methodology' decision can also be based on how risk-averse your organization is.<br><br>PMWay's recommended approach is using PRINCE2 Agile as the recipe you follow; and PMBOK version 6 for the ingredients. The mandatory use of the PRINCE2 Agile Board (who have the relevant training, experience, ability, agility, and power within the organization - to ("<a href="/home/removetheredbeads" >remove the red beads</a>") is the strategic driver for success for the PRINCE2 Agile method, PMWay (from considerable experience of the method's use in the Public and Private Sector) understands. Success in this regard is the dynamic "tension to produce results" from the empowered board who in turn remove the red beads and empower the project manager and team.<br><br>While PRINCE2 Agile is not shown in the diagram below, being a blend of the two, it would straddle across TPM and APM.</p>
                        <img alt="Project selection matrix" class="img-fluid" src="{{ asset('storage/images/projselectmatrix.png') }}">
                        <br><br>
                    </div>
                </div>
            </div>
            <br><br>

            <a class="carousel-control-prev" href="#i" role="button" data-slide="prev">
                <i class="fas fa-lg fa-chevron-left" style="color:black"></i>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#i" role="button" data-slide="next">
                <i class="fas fa-lg fa-chevron-right" style="color:black"></i>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <script src="/bootstrapfourfivetwo/js/jquery.js"></script>
        <script src="/bootstrapfourfivetwo/js/jquery-ui.js"></script>
        <link rel="stylesheet" href="/bootstrapfourfivetwo/css/jquery-ui.css">
        <script>
            $(document).ready(function () {
                function qs(key) {
                    key = key.replace(/[*+?^$.\[\]{}()|\\\/]/g, "\\$&");
                    var match = location.search.match(new RegExp("[?&]" + key + "=([^&]+)(&|$)"));
                    var slide = match && decodeURIComponent(match[1].replace(/\+/g, " "));
                    if (Math.floor(slide) == slide && $.isNumeric(slide))
                        return parseInt(slide);
                    else
                        return 0;
                }
                $('#i').carousel((qs('slide')) - 1);
            });
        </script>
        <br><br><br><br>

    {% endif %}

    {% if not user %}
        <div class="container" align="left">
            <h3 align="left">Please log in to access the content on this page</h3>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
    {% endif %}

{% endblock %}
