{% extends 'base.twig' %}
{% block title %} {% if not user %}UpGuitarHill{% endif %} {% if user %}The Banting Diet{% endif %}  {% endblock %}
{% block body %}
{% if user %}
 <!--BODY-->
<div class="container" align="left">


	<p align="center"><u><b>
	Lets cut through the nonsense with regard to food and drink
	and losing weight.</b></u></p>
	<p align="left">Use the Banting Diet.&nbsp; It really works.<br>Why?&nbsp; It stabilizes
		your blood sugar and stops cravings caused by hypoglycemia (hypoglycemia is ups and down caused by sugar [UP] and insulen your body produces to compensate [CRASH].<br><br>I
		went onto this diet after many decades of being over weight / suffering
		from sugar ups and downs (actually it was hell) and have not looked back.<br>It
		sorted me out immediately!<br><br>Remember that sugar and starch (turned
		to sugar by your body) are neat little addictions that help 'them' sell
		food.<br>I.e. like cigarettes, once you are addicted 'they' have a secure
		income stream as you are forced by your addiction to buy more and more
		and more.<br>Look around you and see how much 'stuff' contains sugar and
		starch (especially in the checkout lanes in most supermarkets!!!???).&nbsp; Almost everything!<br><br>Remember that alcohol also contains sugar!  This stuff is
		therefore doubly ADDICTIVE!&nbsp; <br>Just like they designed it and
		advertised it to be...to hook you!</p>

		<button class="btn btn-primary align-center clearfix" type="button" data-toggle=
"collapse" data-target="#collapseone" aria-expanded="false" aria-controls=
        "collapsepmboksixone">Some Ideas About Addiction
</button>

<div class="collapse" id="collapseone">
    <div class="container">
        <div class="card text-center">
<h5 class="card-header" align="center">Do not be fooled.  <br>Sugar is addictive and is the very simple reason why (no matter how many diets you try) you cannot lose weight!</h5>
            <div class="card-body text-center">

	<p align="left">A key statement at Narcotics Anonymous is to beware alcohol.&nbsp; I.e.
		As with the secret that the Banting Diet exposes, sugar (and especially
		in alcohol) will
		open up the addiction receptors in your brain and with the reduction of
		your ability to resist the addiction you start the process all over
		again, be it eating sugar and starch, or drinking alcohol and ultimately
		starting or
		going back and doing drugs.&nbsp; <br><br>As an aside, if you want to
		give up smoking simply put out the last cigarette.&nbsp; <br>There well
		done!&nbsp; You have
		stopped smoking!<br>Now the secret is simply not to start again!<br><br>Alcohol (opening up the addiction receptors in your
		brain) will lead you right back to smoking again (or worse)!<br>So if
		you want to stay off the addiction rollercoaster of smoking and etc. stop
		drinking alcohol!<br>
		<br>Here it is from the Narcotics Anonymous booklet &quot;How it works&quot;<br>
		Click the image below if you want to go to
		the section on NA.,/p>
		<div align="center"><a href="/na" title="click the image if you want to open up a new window dealing with NA issues" >
			<img alt="" class="img-fluid" src="{{ asset('storage/images/addiction.PNG') }}"  ></a></div><br>Cut out this crap now and you will be amazed how incredible and healthy you will soon feel!<br>
		It will not make the many drug dealers (bakers, sweet manufacturers,
		breweries etc.) happy; <br>but isn't it time for you (who have to live in
		your body) to say &quot;Get thee gone; Evil Doers!&quot;</p>
			           </div>
            <div class="card-footer">

            </div>
        </div>
    </div>
</div><br><br><p>
		In the spirit of the following communication from Prof. Tim Noakes
		<a href="{{ asset('storage/assets/bantingbasics.pdf') }}" target="blank"><u>find
			the essence of the diet here (and pop the last 3 pages on your fridge!)</u></a>.<br>
		I.e. If interested you can decide to support the foundation and buy your
		own books.&nbsp;&nbsp; <br>
		<p>
		&quot;I have made no money from banting books&quot; - Noakes<br>Professor Tim Noakes says he has not made a cent from his banting books and that
				<br><span class="auto-style13">his sole intention is to educate people to be more healthy</span>.&quot;<br>
		<a href="http://m.news24.com/news24/SouthAfrica/News/i-have-made-no-money-from-banting-books-noakes-20160210?isapp=true" >Click here for the
		News article<br></a></p>

		<button class="btn btn-primary align-center clearfix" type="button" data-toggle=
"collapse" data-target="#collapsetwo" aria-expanded="false" aria-controls=
        "collapsetwo">Books on Banting
</button>

<div class="collapse" id="collapsetwo">
    <div class="container">
        <div class="card text-center">
<h5 class="card-header" align="center"></h5>
            <div class="card-body text-center">
		<p>

		<a href="{{ asset('storage/assets/bantingtencommandments.pdf') }}" >
			<u>Click here for the 10 Commandments of Beginner Banting</u></a><br>(There is
		an 11th Commandment on the next page of this book about alcohol but it
		is already dealt with at the top of this page)<br>
			<a href="{{ asset('storage/assets/bantingbasics.pdf') }}" ><u>Click here for the essence of Banting</u></a> (Green (page 49), Yellow and Red).<br>
		<br><a href="{{ asset('storage/assets/therealmealrevolution.pdf') }}" ><u>Click here for the Banting Book
			&quot;The Real Meal Revolution&quot;</u></a>.<br>
		<a href="{{ asset('storage/assets/loseit.pdf') }}" ><u>Click
			here for ideas on recipes</u></a>. </p>
		            </div>
            <div class="card-footer">

            </div>
        </div>
    </div>
</div>
<br>
<br>

<button class="btn btn-primary align-center clearfix" type="button" data-toggle=
"collapse" data-target="#collapsethree" aria-expanded="false" aria-controls=
        "collapsethree">Easy to follow eating plan
</button>

<div class="collapse" id="collapsethree">
    <div class="container">
        <div class="card text-center">
<h5 class="card-header" align="center"></h5>
            <div class="card-body text-center">
<h3 align="left">An Easy Eating Plan that worked for me
				<br>(I lost 50 kg and am still losing)
				<br>which plan was also kind to my working wife (the Captain of our
				Kitchen).</h3>
			<p align="left" >Bottom line, from what I see (I am not a Doctor or
	Dietitian - only a user of Banting), is that people struggle with an addiction to sugar and starch.
I.e. you have to break this!<br><br>

The way to do this is to go high fat.
This dampens the 'craving' and satisfies you.
I.e. you don't snack etc.
<br><br>
			However, if you are going to take even a teaspoon of sugar again
			(like a cigarette / glass of wine?) you will be in trouble as this
			're-stimulates' the addiction receptors in your brain which will
			lead you right back to your old ways of eating.
Starch becomes sugar so same applies.<br><br>

As my wife likes to have order (and to Keep it Sweet and Simple) we put in this routine that has worked for us:<br>

<br>FRIDAY EVENING IS THE START OF THE BANTING WEEK<br>She shops are Woolies and Checkers on Friday after work to provision for the next weeks Banting.<br>
Yes I know Woolies is expensive!<br>
However, if you factor in not buying sweets, cold drinks, alcohol, popcorn at movies, impulse buys when you are hungry at checkouts, snacking etc. etc. etc., it is actually very good quality food and easy for the working wife to prepare.  I.e. cost it in and see it as a necessary expense to get the weight off.  <br>
Checkers is for bulk cheaper buys.  However, eggs, their cottage cheese, salads, coffee etc., for example, taste much better bought from Woolies.<br>


Friday evening is a Roast Chicken and salad. <br><br>

SATURDAY<br>
On Saturday she prepares celery sticks (you use these cut sticks to scoop up the cottage cheese out of the tub - see Lunch below) and sausage (as you would have in a cook out) cut into small bite size pieces. <br>
These are put into tubs into fridge for next 7 days.  For meat (Dinner) my wife freezes portions of meat (mince etc.) for the next 7 days unless she buys fresh from Woolies.<br><br>
FOR BREAKFAST EACH DAY<br>
Each morning its bacon and eggs cooked in butter.  NOT MARGERINE! <br><br>
Added to this are small tomatoes and also pieces of avocado.<br>
Instead of eggs and bacon we swop with hake which she bakes in a little milk in a pot on the stove.<br>
<br>



FOR LUNCH EACH DAY<br>
For lunch each day I have celery sticks (in a Tupperware container) to eat chunky cottage cheese with chives (bought in a tub from the shop).<br>I also have a
	Tupperware container of sausage pieces.<br>
And a Tupperware container of feta cheese (you buy them in shape of circles on top of each other, from which she uses one each day and which she cuts into strips).<br>
Optional if you get hungry with the above is to add a tub of slices salami which is also in a small
	Tupperware container.<br>I.e. adding extra fat.<br>I cut this out after I had lost the lions share of my weight.<br>
Thereafter I finish with a tub of small tomatoes and an apple.<br><br>
FOR DINNER EACH EVENING<br>
Dinner is some meat (stake, pork sausages, mince, chicken etc.) with salad (salad has avocado, small tomatoes and
	feta which she often simply buys in packs at woolies - adding extra stuff as needed).<br>My wife also uses Sweet Potato and cuts these into strips then cooks as you would normal potatoes.<br>This is an optional starch while not being a starch.<br>
The idea is to make this easy on the wife (assuming you are like me and really do not understand how a kitchen works).
<br>The trick is also to simply repeat the above over and over.<br>Trust me you will not get bored of it.<br>
If you do then consult the link above for what else you can add it according to the <a href="{{ asset('storage/assets/bantingbasics.pdf') }}" >
				<u>Green sheet (page 49)</u>.</a>
<br><br>
I also have 3 cups of hot black coffee each day without milk or sugar.<br>I.e. coffee bought at woolies which I put into a
	bodum.<br>I would never ever have thought it possible to do this as I loved coffee or tea with milk and
			sugar.<br>However, good quality coffee from woolies is now incredible compared to the yucky taste of sweet milked coffee.<br><br>

The bottom line is that you want to start burning fat instead of sugar.
I.e. this is called ketosis.<br><br>
Ketosis is a metabolic state characterized by raised levels of ketone bodies in the body tissues,
	<br>which is typically pathological in conditions such as diabetes, or may be the consequence of a diet that is very low in carbohydrates.

<br><br>
Hope this helps you.
<br><br>

Remember that you will go into a mild shock when you go off sugar and starch.<br>
			It is called the banting flu.&nbsp; You can think of this as
			addiction withdrawal from sugar!<br>
Many people cannot get past this and they go back to their addiction.<br>
Stick with it and up the fat to compensate if you feel hungry.  <br>
				   </div>
            <div class="card-footer">

            </div>
        </div>
    </div>
</div>		<br><br>
		<p>PS:&nbsp; Water is key.&nbsp;
		Lots of water will drain the weight stores from your body <br>while keeping your brain
		happily sloshing around in its pure H2O bath.  We bought one of those water coolers (with filter) and find it very enjoyable to drink cold water instead of soft drinks.<br></p>
		<br><br>


	<!-- Content Container ends here -->




{% endif %}


{% if not user %}
<div class="container" align="left">


	<p align="center"><u><b>
	Lets cut through the nonsense with regard to food and drink
	and losing weight.</b></u></p>
	<p align="left">Use the Banting Diet.&nbsp; It really works.<br>Why?&nbsp; It stabilizes
		your blood sugar and stops cravings caused by hypoglycemia (hypoglycemia is ups and down caused by sugar [UP] and insulen your body produces to compensate [CRASH].<br><br>I
		went onto this diet after many decades of being over weight / suffering
		from sugar ups and downs (actually it was hell) and have not looked back.<br>It
		sorted me out immediately!<br><br>Remember that sugar and starch (turned
		to sugar by your body) are neat little addictions that help 'them' sell
		food.<br>I.e. like cigarettes, once you are addicted 'they' have a secure
		income stream as you are forced by your addiction to buy more and more
		and more.<br>Look around you and see how much 'stuff' contains sugar and
		starch (especially in the checkout lanes in most supermarkets!!!???).&nbsp; Almost everything!<br><br>Remember that alcohol also contains sugar!  This stuff is
		therefore doubly ADDICTIVE!&nbsp; <br>Just like they designed it and
		advertised it to be...to hook you!</p>

		<button class="btn btn-primary align-center clearfix" type="button" data-toggle=
"collapse" data-target="#collapseone" aria-expanded="false" aria-controls=
        "collapsepmboksixone">Some Ideas About Addiction
</button>

<div class="collapse" id="collapseone">
    <div class="container">
        <div class="card text-center">
<h5 class="card-header" align="center">Do not be fooled.  <br>Sugar is addictive and is the very simple reason why (no matter how many diets you try) you cannot lose weight!</h5>
            <div class="card-body text-center">

	<p align="left">A key statement at Narcotics Anonymous is to beware alcohol.&nbsp; I.e.
		As with the secret that the Banting Diet exposes, sugar (and especially
		in alcohol) will
		open up the addiction receptors in your brain and with the reduction of
		your ability to resist the addiction you start the process all over
		again, be it eating sugar and starch, or drinking alcohol and ultimately
		starting or
		going back and doing drugs.&nbsp; <br><br>As an aside, if you want to
		give up smoking simply put out the last cigarette.&nbsp; <br>There well
		done!&nbsp; You have
		stopped smoking!<br>Now the secret is simply not to start again!<br><br>Alcohol (opening up the addiction receptors in your
		brain) will lead you right back to smoking again (or worse)!<br>So if
		you want to stay off the addiction rollercoaster of smoking and etc. stop
		drinking alcohol!<br>
		<br>Here it is from the Narcotics Anonymous booklet &quot;How it works&quot;<br>
		Click the image below if you want to go to
		the section on NA.,/p>
		<div align="center"><a href="/na" title="click the image if you want to open up a new window dealing with NA issues" >
			<img alt="" class="img-fluid" src="{{ asset('storage/images/addiction.PNG') }}"  ></a></div><br>Cut out this crap now and you will be amazed how incredible and healthy you will soon feel!<br>
		It will not make the many drug dealers (bakers, sweet manufacturers,
		breweries etc.) happy; <br>but isn't it time for you (who have to live in
		your body) to say &quot;Get thee gone; Evil Doers!&quot;</p>
			           </div>
            <div class="card-footer">

            </div>
        </div>
    </div>
</div><br><br><p>
		In the spirit of the following communication from Prof. Tim Noakes
		<a href="{{ asset('storage/assets/bantingbasics.pdf') }}" target="blank"><u>find
			the essence of the diet here (and pop the last 3 pages on your fridge!)</u></a>.<br>
		I.e. If interested you can decide to support the foundation and buy your
		own books.&nbsp;&nbsp; <br>
		<p>
		&quot;I have made no money from banting books&quot; - Noakes<br>Professor Tim Noakes says he has not made a cent from his banting books and that
				<br><span class="auto-style13">his sole intention is to educate people to be more healthy</span>.&quot;<br>
		<a href="http://m.news24.com/news24/SouthAfrica/News/i-have-made-no-money-from-banting-books-noakes-20160210?isapp=true" >Click here for the
		News article<br></a></p>

		<button class="btn btn-primary align-center clearfix" type="button" data-toggle=
"collapse" data-target="#collapsetwo" aria-expanded="false" aria-controls=
        "collapsetwo">Books on Banting
</button>

<div class="collapse" id="collapsetwo">
    <div class="container">
        <div class="card text-center">
<h5 class="card-header" align="center"></h5>
            <div class="card-body text-center">
		<p>

		<a href="{{ asset('storage/assets/bantingtencommandments.pdf') }}" >
			<u>Click here for the 10 Commandments of Beginner Banting</u></a><br>(There is
		an 11th Commandment on the next page of this book about alcohol but it
		is already dealt with at the top of this page)<br>
			<a href="{{ asset('storage/assets/bantingbasics.pdf') }}" ><u>Click here for the essence of Banting</u></a> (Green (page 49), Yellow and Red).<br>
		<br><a href="{{ asset('storage/assets/therealmealrevolution.pdf') }}" ><u>Click here for the Banting Book
			&quot;The Real Meal Revolution&quot;</u></a>.<br>
		<a href="{{ asset('storage/assets/loseit.pdf') }}" ><u>Click
			here for ideas on recipes</u></a>. </p>
		            </div>
            <div class="card-footer">

            </div>
        </div>
    </div>
</div>
<br>
<br>

<button class="btn btn-primary align-center clearfix" type="button" data-toggle=
"collapse" data-target="#collapsethree" aria-expanded="false" aria-controls=
        "collapsethree">Easy to follow eating plan
</button>

<div class="collapse" id="collapsethree">
    <div class="container">
        <div class="card text-center">
<h5 class="card-header" align="center"></h5>
            <div class="card-body text-center">
<h3 align="left">An Easy Eating Plan that worked for me
				<br>(I lost 50 kg and am still losing)
				<br>which plan was also kind to my working wife (the Captain of our
				Kitchen).</h3>
			<p align="left" >Bottom line, from what I see (I am not a Doctor or
	Dietitian - only a user of Banting), is that people struggle with an addiction to sugar and starch.
I.e. you have to break this!<br><br>

The way to do this is to go high fat.
This dampens the 'craving' and satisfies you.
I.e. you don't snack etc.
<br><br>
			However, if you are going to take even a teaspoon of sugar again
			(like a cigarette / glass of wine?) you will be in trouble as this
			're-stimulates' the addiction receptors in your brain which will
			lead you right back to your old ways of eating.
Starch becomes sugar so same applies.<br><br>

As my wife likes to have order (and to Keep it Sweet and Simple) we put in this routine that has worked for us:<br>

<br>FRIDAY EVENING IS THE START OF THE BANTING WEEK<br>She shops are Woolies and Checkers on Friday after work to provision for the next weeks Banting.<br>
Yes I know Woolies is expensive!<br>
However, if you factor in not buying sweets, cold drinks, alcohol, popcorn at movies, impulse buys when you are hungry at checkouts, snacking etc. etc. etc., it is actually very good quality food and easy for the working wife to prepare.  I.e. cost it in and see it as a necessary expense to get the weight off.  <br>
Checkers is for bulk cheaper buys.  However, eggs, their cottage cheese, salads, coffee etc., for example, taste much better bought from Woolies.<br>


Friday evening is a Roast Chicken and salad. <br><br>

SATURDAY<br>
On Saturday she prepares celery sticks (you use these cut sticks to scoop up the cottage cheese out of the tub - see Lunch below) and sausage (as you would have in a cook out) cut into small bite size pieces. <br>
These are put into tubs into fridge for next 7 days.  For meat (Dinner) my wife freezes portions of meat (mince etc.) for the next 7 days unless she buys fresh from Woolies.<br><br>
FOR BREAKFAST EACH DAY<br>
Each morning its bacon and eggs cooked in butter.  NOT MARGERINE! <br><br>
Added to this are small tomatoes and also pieces of avocado.<br>
Instead of eggs and bacon we swop with hake which she bakes in a little milk in a pot on the stove.<br>
<br>



FOR LUNCH EACH DAY<br>
For lunch each day I have celery sticks (in a Tupperware container) to eat chunky cottage cheese with chives (bought in a tub from the shop).<br>I also have a
	Tupperware container of sausage pieces.<br>
And a Tupperware container of feta cheese (you buy them in shape of circles on top of each other, from which she uses one each day and which she cuts into strips).<br>
Optional if you get hungry with the above is to add a tub of slices salami which is also in a small
	Tupperware container.<br>I.e. adding extra fat.<br>I cut this out after I had lost the lions share of my weight.<br>
Thereafter I finish with a tub of small tomatoes and an apple.<br><br>
FOR DINNER EACH EVENING<br>
Dinner is some meat (stake, pork sausages, mince, chicken etc.) with salad (salad has avocado, small tomatoes and
	feta which she often simply buys in packs at woolies - adding extra stuff as needed).<br>My wife also uses Sweet Potato and cuts these into strips then cooks as you would normal potatoes.<br>This is an optional starch while not being a starch.<br>
The idea is to make this easy on the wife (assuming you are like me and really do not understand how a kitchen works).
<br>The trick is also to simply repeat the above over and over.<br>Trust me you will not get bored of it.<br>
If you do then consult the link above for what else you can add it according to the <a href="{{ asset('storage/assets/bantingbasics.pdf') }}" >
				<u>Green sheet (page 49)</u>.</a>
<br><br>
I also have 3 cups of hot black coffee each day without milk or sugar.<br>I.e. coffee bought at woolies which I put into a
	bodum.<br>I would never ever have thought it possible to do this as I loved coffee or tea with milk and
			sugar.<br>However, good quality coffee from woolies is now incredible compared to the yucky taste of sweet milked coffee.<br><br>

The bottom line is that you want to start burning fat instead of sugar.
I.e. this is called ketosis.<br><br>
Ketosis is a metabolic state characterized by raised levels of ketone bodies in the body tissues,
	<br>which is typically pathological in conditions such as diabetes, or may be the consequence of a diet that is very low in carbohydrates.

<br><br>
Hope this helps you.
<br><br>

Remember that you will go into a mild shock when you go off sugar and starch.<br>
			It is called the banting flu.&nbsp; You can think of this as
			addiction withdrawal from sugar!<br>
Many people cannot get past this and they go back to their addiction.<br>
Stick with it and up the fat to compensate if you feel hungry.  <br>
				   </div>
            <div class="card-footer">

            </div>
        </div>
    </div>
</div>		<br><br>
		<p>PS:&nbsp; Water is key.&nbsp;
		Lots of water will drain the weight stores from your body <br>while keeping your brain
		happily sloshing around in its pure H2O bath.  We bought one of those water coolers (with filter) and find it very enjoyable to drink cold water instead of soft drinks.<br></p>
		<br><br>


	<!-- Content Container ends here -->



{% endif %}


{% endblock %}
