{% extends 'base.twig' %}
{% block title %} {% if not user %}PMWay{% endif %} {% if user %}SOP 8c and Self Clearing
etc.{% endif %}  {% endblock %}
{% block body %}
{% if user %}
<!--BODY-->
<div class="container" align="left"> <br>
  <br>
  <a href="./"> <img alt="" class="img-fluid" src="{{ asset('storage/images/clearbird_transp.gif') }}" style="float: left" ></a>
  <h3 align="left">This is my space within PMWay for learning Scientology, self clearing, maintaining exteriorization and, if necessary, life restore. </h3>
  <h5 align="left">This space (not logged into PMWay) is a Freezone hosted by
    PMWay (c.f. and thank you to freezoneearth.org).</h5>
  <p align="left"><a href="/pmway">If you have stumbled across this and do not want to be here then please click away now!</a></p>
  <p>Disclaimer:  What you find in this section is esoteric, philosophical and for some
    controversial. <br>
    This SUB SECTION is included in PMWay by the web master simply
    because I am interested in this subject. <br>
    Much of the knowledge here (and gently incorporated higher up within PMWay) has assisted me personally. <br>
    <br>
    <em> <a href="/pmway">If you do not have an enquiring mind and are not open to the stuff you find in this SUB WEB you
    are asked to please leave.</a> </em> <br>
    [Remember:
    What you find below is simply a philosophical model.  I.e. a model (map) can
    never fully claim to be the territory.]</p>
  <p align="center"><img alt="all models are wrong" class="img-fluid" src="{{ asset('storage/images/modelsarewrong.png') }}" ></p>
  <div align="center">
    <button class="btn btn-primary align-center clearfix" type="button" data-toggle=
"collapse" data-target="#collapsefreezone" aria-expanded="false" aria-controls=
        "collapsefreezone">The Freezone<br>
    </button>
    <div class="collapse" id="collapsefreezone">
      <div class="container">
        <div class="card text-center">
          <h5 class="card-header" align="center">The Freezone.</h5>
          <div class="card-body text-center">
            <p align="left">Here is the bottom line:  Exteriorization (being clear) means that you are existing as yourself without being locked into matter, energy, space or time.<br>
              In essence this is about being cause over life.  Why...?  Because!</p>
            <hr>
            <p align="left"><a href="/freezonecourses/pilotposts/SelfClearing.html" >TThe Pilot Self Clearing. (Thank you Ken Ogger - The Pilot!)</p>
            <p align="left"><a href="/lrh/18.pdf" >Click here for the Pilots pdf.</a><br>
            </p>
            <p align="left"><a href="/lrh/17.pdf" >Click here for Self Analysis. (Thank you LRH)/a><br>
              If you use Self Analysis jump around and ask yourself a few questions each day.  The
              questions start after page 100. <br>
              TThis is called straightwire.  I.e. you are recalling memories from your past hence laying a wire between you now and you then.  Remember that each time you
              answer a question try to look at it from the vantage point of one (randomly chosen) of the following
              perceptics:  Sight
              Smell, Touch, Color, Tone, External Motion, Emotion, Loudness, Body
              Position, Sound, Weight, Personal
              Motion. <br>
              I use Adobe PDF and using (Control F) I punch in a number from 1 to slightly above 500 to get a random question
              [as numbers repeat you may need to click the down arrow to get at same
              numbers in new sections]. The perceptics needed in recall ( Sight
              Smell, Touch etc.) are found on the left or right hand side of each page. </p>
            <p align="left"><a href="/lrh/8c.pdf" >Click here for the AH (Thank you LRH)/a><br>
              This is the auditors handbook for processes that comprise the Standard Operating Procedures of 8C, D etc.<br>
              AAs with Ken Oggers book and Self Analysis above you can jump around here and
              also yourself the questions that are presented.<br>
              However, within the ambit of Auditing, as you can see, the subject is far more complex than that found in self analysis.br>
              The idea is that the auditor and the pre-clear together are bigger than the pc's bank.&nbsp; <br>
              That said, the more you understand about this subject the more you will be able to move towards clear - (as I have done) without an auditor.<br>
              Note the Axioms towards the end of the AH.  The Logics and Axioms are detailed in the book below.</p>
            <p align="left"><a href="/lrh/2.pdf" >Click here for Logics and Axioms. (Thank you LRH)</a><br>
              NB:  They start from about page 160.</p>
            <p align="left"><a href="/atecdic/index.htm" >Click here for the dictionary / scales etc. (Thank you LRH)</a></p>
            <br>
            <p class="ctr">This text on ethics has assisted me.</p>
            <p class="ctr"> <a href="
/lrh/ethicsperscientology.pdf" > <img alt="" class="img-fluid" src="
/lrh/ethicsperscientology-1.jpg"  ></a></p>
            <p class="ctr"> <a href="/conditions/conditions.htm" >Click here</a> for a short web site summarizing much found in the book above.<br>
            </p>
            <br>
            <p align="left">A number of simple booklets are available on PMWay if you find this stuff overwhelming (you become out gradient with the material).&nbsp;
              The booklets can assist you and are focused on using the ideas (in the model
              here) in specific areas in your life to make these run better.<br>
              <br>
            <p align="center"><img alt="Too Steep" class="img-fluid" src="{{ asset('storage/images/toosteep.png') }}" ><img alt="Step by step" class="img-fluid" src="{{ asset('storage/images/stepbystep.png') }}" ></p>
            <p align="left">My primary goal with PMWay is Good Governance.<br>
              Registered with PMWay,
              and a member, I can answer any questions you
              have on this subject.<br>
              Without PMWay membership in place,
              unfortunately, I will simply ignore all communications about this page, this subject.</p>
          </div>
          <div class="card-footer"> </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<!-- Content Container ends here -->

{% endif %}


{% if not user %}<div class="container" align="left" ><h3 align="left">Please log on to access the content on this page</h3><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></div>{% endif %}{% if not current_user and false %}

<!--

<div class="container" align="left">
<br>
<br>
	<a href="./">
	<img alt="" class="img-fluid" src="{{ asset('storage/images/clearbird_transp.gif') }}" style="float: left" ></a>
<h3 align="left">This is my space within PMWay for learning Scientology, self clearing, maintaining exteriorization and, if necessary, life restore.  </h3>
<h5 align="left">This space (not logged into PMWay) is a Freezone hosted by PMWay (c.f. and thank you to freezoneearth.org).</h5>
<p align="left"><a href="/pmway">If you have stumbled across this and do not want to be here then please click away now!</a></p>
<p>Disclaimer:  What you find in this section is esoteric, philosophical and for some
 controversial.


 <br>This SUB SECTION is included in PMWay by the web master simply
because I am interested in this subject.
 <br>Much of the knowledge here (and gently incorporated higher up within PMWay) has assisted me personally.
 <br><br>
<em> <a href="/pmway">If you do not have an enquiring mind and are not open to the stuff you find in this SUB WEB you
 are asked to please leave.</a>
</em> <br>[Remember:
What you find below is simply a philosophical model.  I.e. a model (map) can
never fully claim to be the territory.]</p>
  <p align="center"><img alt="all models are wrong" class="img-fluid" src="{{ asset('storage/images/modelsarewrong.png') }}" ></p>

  <div align="center">

<button class="btn btn-primary align-center clearfix" type="button" data-toggle=
"collapse" data-target="#collapsefreezone" aria-expanded="false" aria-controls=
        "collapsefreezone">The Freezone<br>

</button>

<div class="collapse" id="collapsefreezone">
    <div class="container">
        <div class="card text-center">
<h5 class="card-header" align="center">The Freezone.</h5>
            <div class="card-body text-center">


<p align="left">Here is the bottom line:  Exteriorization (being clear) means that you are existing as yourself without being locked into matter, energy, space or time.<br>
In essence this is about being cause over life.  Why...?  Because!</p>
				<hr>
<p align="left"><a href="/freezonecourses/pilotposts/SelfClearing.html" >The Pilot Self Clearing. (Thank you Ken Ogger - The Pilot!)</p>


<p align="left"><a href="/lrh/18.pdf" >Click here for the Pilots pdf.</a><br></p>
	<p align="left"><a href="/lrh/17.pdf" >Click here for Self Analysis. (Thank you LRH)</a><br>
	If you use Self Analysis jump around and ask yourself a few questions each day.  The
	questions start after page 100.  <br>This is called straightwire.  I.e. you are recalling memories from your past hence laying a wire between you now and you then.  Remember that each time you
	answer a question try to look at it from the vantage point of one (randomly chosen) of the following
	perceptics:  Sight
Smell, Touch, Color, Tone, External Motion, Emotion, Loudness, Body
Position, Sound, Weight, Personal
Motion. <br>I use Adobe PDF and using (Control F) I punch in a number from 1 to slightly above 500 to get a random question
	[as numbers repeat you may need to click the down arrow to get at same
	numbers in new sections]. The perceptics needed in recall ( Sight
Smell, Touch etc.) are found on the left or right hand side of each page. </p>
<p align="left"><a href="/lrh/8c.pdf" >Click here for the AH (Thank you LRH)</a><br>
This is the auditors handbook for processes that comprise the Standard Operating Procedures of 8C, D etc.<br>
As with Ken Oggers book and Self Analysis above you can jump around here and
also yourself the questions that are presented.<br>
However, within the ambit of Auditing, as you can see, the subject is far more complex than that found in self analysis.<br>
The idea is that the auditor and the pre-clear together are bigger than the pc's bank.&nbsp; <br>
That said, the more you understand about this subject the more you will be able to move towards clear - (as I have done) without an auditor.<br>
Note the Axioms towards the end of the AH.  The Logics and Axioms are detailed in the book below.</p>
<p align="left"><a href="/lrh/2.pdf" >Click here for Logics and Axioms. (Thank you LRH)</a><br>NB:  They start from about page 160.</p>

<p align="left"><a href="/atecdic/index.htm" >Click here for the dictionary / scales etc. (Thank you LRH)</a></p>
<br>

  <p class="ctr">This text on ethics has assisted me.</p>
     		<p class="ctr">
			<a href="
/lrh/ethicsperscientology.pdf" > <img alt="" class="img-fluid" src="
/lrh/ethicsperscientology-1.jpg"  ></a></p>
			<p class="ctr">
			<a href="/conditions/conditions.htm" >Click here</a> for a short web site summarizing much found in the book above.<br>
			</p><br>
	<p align="left">A number of simple booklets are available on PMWay if you find this stuff overwhelming (you become out gradient with the material).&nbsp;
	The booklets can assist you and are focused on using the ideas (in the model
	here) in specific areas in your life to make these run better.<br>
	<br><p align="center"><img alt="Too Steep" class="img-fluid" src="{{ asset('storage/images/toosteep.png') }}" ><img alt="Step by step" class="img-fluid" src="{{ asset('storage/images/stepbystep.png') }}" ></p>

<p align="left">My primary goal with PMWay is the nylon string guitar.<br>Registered with PMWay and having paid for a sprint, I can answer any questions you
have on this subject.<br>Without this (a registered email and 6 month sprint) in place,
unfortunately, I will simply ignore all communications about this page, this subject.</p>


            </div>
            <div class="card-footer">

            </div>
        </div>
    </div>
</div>
	</div>
	</div>
	<br>
	<br>
	<br>
	<br>-->
<!-- Content Container ends here -->

{% endif %}


{% endblock %}
