{% extends 'base.twig' %}
{% block title %}Catch Croc OMG{% endblock %}
{% block body %}


{% if user %}
<div class="container" align="left">
  <h5>How to catch a crocodile:</h5>
  <!--<a href="/pmway">
		<img alt="Back" class="img-fluid" height="30" src="{{ asset('storage/images/arrow_left.png') }}" width="30" ></a>-->
  <hr >
  <img alt="How to catch a crocodile" class="img-fluid" src="{{ asset('storage/images/crock.png') }}" ><br>
  <br>
  <h5>It is really easy to catch a crocodile!  Let me explain to you how it is done.</h5><br>
  <p>First you need to get a hold of some crocodile catching paraphernalia:</p>
  <p>You will need your swimming trunks, a large beach towel, some suntan lotion, a large beach umbrella, your sunglasses, a good book, and cooler box filled with (non alcoholic) cold drinks.  You will also need a pair of binoculars, a pair of tweezers, a box of matches and an alarm clock.</p>
  <p>Now go down to the river bank where the crocodile resides and change into your swimming trunks.<br>
    When this is done you must put the suntan lotion over any exposed skin.<br>
    This is obviously to protect you from the harsh sun!<br>
    When done place the beach towel down on the sand at the side of the river and open up your large beach umbrella and put this into the sand next to your towel.<br>
    Now place your cooler box under the umbrella, also next to the towel.<br>
    Place your binoculars, your book, your empty matchbox, your sunglasses, your suntan lotion (in case you need to put on more), your tweezers and your alarm clock next to your cooler box on the sand and also within easy
    reach of the towel.<br>
    Before you sit down on the towel put on your sunglasses.<br><br>
    I know you have an umbrella but remember that you are next to a river and your sunglasses will protect your sensitive eyes from the glare of the sunlight reflecting off the river!<br>
    Now sit down on the towel and reach into the cooler box and take out a cold drink. <br>
    Place it on the cooler box within easy reach of the towel.<br>
    Now set the alarm clock to go off in about two hours time.<br>
    Now start reading your book.
    You can also take regular sips of your cold drink as and when required.<br>
    <br>
    After a while, relaxing in the sun, reading your book you should start to feel warm and
    lethargic and have difficulty keeping your eyes open.<br>
    Don't worry, if you fall asleep this is exactly as it has been planned.<br>
    After a while, when you have fallen asleep the crocodile should decide it is safe to come out of the water and will move up onto the bank with the intention of eating you.<br>
    Again, don&#39;t worry, this is exactly as it has been planned.<br>
    When the crocodile moves across the bank towards you to eat you the sun will start to bake
    down onto his body and after a while he will also start to feel warm and
    lethargic and sleepy.<br>
    Soon both of you will be fast asleep!&nbsp; <br><br>
    After two hours of deep sleep the alarm clock will suddenly go off and start to ring, which will wake you up.<br>
    It will only wake you up because crocodiles do not know what an alarm clock is! <br>
    I.e. the crocodile will not be able to understand the source of the racket and will simply keep on sleeping.<br>
    Now, awake, reach for your matchbox. <br>
    If you have not done so already, empty out all the matches so that the matchbox is empty.<br>
    Taking the empty matchbox, the tweezers and the binoculars get up and go across to the sleeping crocodile.<br>
    Now turn the binoculars around and
    put the front part of the binoculars to your eyes and point the back part of
    the binoculars at the sleeping crocodile.&nbsp; <br>
    Looking at the crocodile through the binoculars you will
    notice that it is now extremely small as it has been reduced in size by the concave curvature of the lenses of the binoculars.<br>
    Quickly,
    keeping the binoculars pointed at the crocodile, grab the &#39;now small&#39; crocodile with the tweezers and put
    the small crocodile into the matchbox and snap the lid closed!<br><br>
    Make sure the matchbox lid is securely closed!<br>
    This is important because you don&#39;t what the crocodile to escape out of the
    matchbox at a later time <br>(if you have put the matchbox into your trouser
    pocket for example!).<br>
    <br>
    And that is that!&nbsp; </p>
  <p>If you follow the simple procedure outlined above to the latter each time
    you want to catch crocodiles, I have no doubt you will be very successful!<br>
    I.e. You will become a great crocodile hunter, possibly even managing to
    achieve the world wide
    fame of the greatest of the great (from Down Under) - Crocodile Dundee!<br>
    <br>
    N.B.&nbsp; You will be able to identify other successful crocodile catchers, like
    yourself, by their
    very short arms!&nbsp; :~)</p>
  <div align="center">
  <br>
    <button class="btn btn-primary align-center clearfix" type="button" data-toggle=
			"collapse" data-target="#collapsepmboksixone" aria-expanded="false" aria-controls=
			"collapsepmboksixone">What is the above all about?!!! </button>
    <div class="collapse" id="collapsepmboksixone">
      <div class="container">
        <div class="card text-center">
         <h5 class="card-header" align="center">I'ts a lesson in bureaucratic stupidity!</h5>
          <div class="card-body text-center">


            <p><img alt="KISS" class="img-fluid" src="{{ asset('storage/images/kissimage2.jpg') }}" ></p>

    </div>
          <div class="card-footer"> </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
</div>
{% endif %}


{% if not user %}
<div class="container" align="left">
  <h5>How to catch a crocodile:</h5>
  <!--<a href="/pmway">
		<img alt="Back" class="img-fluid" height="30" src="{{ asset('storage/images/arrow_left.png') }}" width="30" ></a>-->
  <hr >
  <img alt="How to catch a crocodile" class="img-fluid" src="{{ asset('storage/images/crock.png') }}" ><br>
  <br>
  <h5>It is really easy to catch a crocodile!  Let me explain to you how it is done.</h5><br>
  <p>First you need to get a hold of some crocodile catching paraphernalia:</p>
  <p>You will need your swimming trunks, a large beach towel, some suntan lotion, a large beach umbrella, your sunglasses, a good book, and cooler box filled with (non alcoholic) cold drinks.  You will also need a pair of binoculars, a pair of tweezers, a box of matches and an alarm clock.</p>
  <p>Now go down to the river bank where the crocodile resides and change into your swimming trunks.<br>
    When this is done you must put the suntan lotion over any exposed skin.<br>
    This is obviously to protect you from the harsh sun!<br>
    When done place the beach towel down on the sand at the side of the river and open up your large beach umbrella and put this into the sand next to your towel.<br>
    Now place your cooler box under the umbrella, also next to the towel.<br>
    Place your binoculars, your book, your empty matchbox, your sunglasses, your suntan lotion (in case you need to put on more), your tweezers and your alarm clock next to your cooler box on the sand and also within easy
    reach of the towel.<br>
    Before you sit down on the towel put on your sunglasses.<br><br>
    I know you have an umbrella but remember that you are next to a river and your sunglasses will protect your sensitive eyes from the glare of the sunlight reflecting off the river!<br>
    Now sit down on the towel and reach into the cooler box and take out a cold drink. <br>
    Place it on the cooler box within easy reach of the towel.<br>
    Now set the alarm clock to go off in about two hours time.<br>
    Now start reading your book.
    You can also take regular sips of your cold drink as and when required.<br>
    <br>
    After a while, relaxing in the sun, reading your book you should start to feel warm and
    lethargic and have difficulty keeping your eyes open.<br>
    Don't worry, if you fall asleep this is exactly as it has been planned.<br>
    After a while, when you have fallen asleep the crocodile should decide it is safe to come out of the water and will move up onto the bank with the intention of eating you.<br>
    Again, don&#39;t worry, this is exactly as it has been planned.<br>
    When the crocodile moves across the bank towards you to eat you the sun will start to bake
    down onto his body and after a while he will also start to feel warm and
    lethargic and sleepy.<br>
    Soon both of you will be fast asleep!&nbsp; <br><br>
    After two hours of deep sleep the alarm clock will suddenly go off and start to ring, which will wake you up.<br>
    It will only wake you up because crocodiles do not know what an alarm clock is! <br>
    I.e. the crocodile will not be able to understand the source of the racket and will simply keep on sleeping.<br>
    Now, awake, reach for your matchbox. <br>
    If you have not done so already, empty out all the matches so that the matchbox is empty.<br>
    Taking the empty matchbox, the tweezers and the binoculars get up and go across to the sleeping crocodile.<br>
    Now turn the binoculars around and
    put the front part of the binoculars to your eyes and point the back part of
    the binoculars at the sleeping crocodile.&nbsp; <br>
    Looking at the crocodile through the binoculars you will
    notice that it is now extremely small as it has been reduced in size by the concave curvature of the lenses of the binoculars.<br>
    Quickly,
    keeping the binoculars pointed at the crocodile, grab the &#39;now small&#39; crocodile with the tweezers and put
    the small crocodile into the matchbox and snap the lid closed!<br><br>
    Make sure the matchbox lid is securely closed!<br>
    This is important because you don&#39;t what the crocodile to escape out of the
    matchbox at a later time <br>(if you have put the matchbox into your trouser
    pocket for example!).<br>
    <br>
    And that is that!&nbsp; </p>
  <p>If you follow the simple procedure outlined above to the latter each time
    you want to catch crocodiles, I have no doubt you will be very successful!<br>
    I.e. You will become a great crocodile hunter, possibly even managing to
    achieve the world wide
    fame of the greatest of the great (from Down Under) - Crocodile Dundee!<br>
    <br>
    N.B.&nbsp; You will be able to identify other successful crocodile catchers, like
    yourself, by their
    very short arms!&nbsp; :~)</p>
   <div align="center">
  <br>
    <button class="btn btn-primary align-center clearfix" type="button" data-toggle=
			"collapse" data-target="#collapsepmboksixone" aria-expanded="false" aria-controls=
			"collapsepmboksixone">What is the above all about?!!! </button>
    <div class="collapse" id="collapsepmboksixone">
      <div class="container">
        <div class="card text-center">
          <h5 class="card-header" align="center">I'ts a lesson in bureaucratic stupidity!</h5>
          <div class="card-body text-center">


            <p><img alt="KISS" class="img-fluid" src="{{ asset('storage/images/kissimage2.jpg') }}" ></p>

    </div>
          <div class="card-footer"> </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
</div>
{% endif %}


{% endblock %}
