{% extends 'base.twig' %}
{% block title %} {% if not user %}PMWay{% endif %} {% if user %}Why Projects Fail{% endif %}  {% endblock %}
{% block body %}
{% if user %}

<!--BODY-->
<div class="container" align="left">
<h3><a href="#index">Why Projects Fail &#8211; 15 Top Reasons</a></h3>
<hr >
<h5><a name="drive"></a>Is there a bottom line?&nbsp; Why Do Projects Fail!?</h5>
<h5>YES!&nbsp; The simple answer is that nobody stops them from failing!</h5>
<hr >
<p align="center"><img alt=""
                     class="img-fluid"
                     src="{{ asset('storage/images/fail%201.png') }}"

                     ></p>
<p align="center"><img alt=""
                     class="img-fluid"
                     src="{{ asset('storage/images/oopsmedium.png') }}"

                     ><br>
  <img alt="" class="img-fluid" src="{{ asset('storage/images/car%20drives%20off%20road%20norm.png') }}" ></p>
<br>
<a name="TopOfFailBox"><a name="starthere"></a>
<h5>As Project Manager it is your role and duty to do whatever
  you can to prevent projects, under your control, from failing.<br>
  As the Executive your role (as the appointed Executive Action Team) is to <a href="/home/removetheredbeads" >EAT the Red Beads!</a></h5>
<hr>
<h5>How do I stop my projects failing? </h5>
<hr>
<h5>Managing Projects is very much like driving a car.</h5>
<p>Because projects are defined as once off activities, in this
  example we will not use an example like driving to work each
  day.&nbsp; <br>
  Rather we need to think of driving off to a holiday
  destination.&nbsp; <br>
  Therefore, with this wonderful thought firmly
  in mind this is how you do it!</p>
<ul>
  <li>Determine the destination, timeframe and how much you
    have to spend.</li>
  <li>Create a plan (route, speed, breaks, weather, etc.).</li>
  <li>Learn what usually goes wrong.</li>
  <li>Plan out how to deal with it.</li>
  <li>Then... JUST FOLLOW THE PLAN.</li>
  <li>And continuously monitor progress and keep the car on the
    road and arrive safely at your destination.</li>
</ul>
<h5>Can we learn to stop projects failing?</h5>
<h5>The answer is most definitely YES!</h5>
<p>Continue to read and absorb the caveats found below.<br>
  Use this wisdom and implement ways to avoid failure in your own
  projects.<br>
  Remember: The secret of avoiding a trap is knowing of its
  existence! </p>
<p>Ultimately, projects failing within an organization could
  have numerous and inter-related causes.<br>
  Listed (and accessible via the INDEX) below are the top reasons
  that could contribute to project failure:</p>
<hr>
<h3 class="auto-style8">Tell me about the 13 top reasons for project failure now!</h3>
<hr>
<h3 class="ctr"><a name="index"></a>INDEX</h3>
<hr>
<p><strong>1.&nbsp;&nbsp;&nbsp; <a href="#1">Operating in JUST
  DO IT! CMMi Level 1. maturity mode.</a> </strong></p>
<p><strong>2.&nbsp;&nbsp;&nbsp; <a href="#2">Poor or NO Project Management</a> (Lack of project controls / quality audits of the
  project process)</strong></p>
<p><strong>3.&nbsp;&nbsp;&nbsp; <a href="#3">Poorly Defined
  Requirements</a> / deliverables (Poor Scope Definition)</strong></p>
<p><strong>4.&nbsp;&nbsp;&nbsp; <a href="#4">Scope Creep</a> (or
  a lack of control in change management - NOT MANAGING THE IRON
  TRIANGLE!)</strong></p>
<p><strong>5.&nbsp;&nbsp;&nbsp; <a href="#5">Lack of Resources</a></strong></p>
<p><strong>6.&nbsp;&nbsp;&nbsp; <a href="#6">Poorly Defined or
  Unrealistic Time Scales &amp; Estimates</a></strong></p>
<p><strong>7.&nbsp;&nbsp;&nbsp; <a href="#7">Inadequate (or non-existent) Testing</a></strong></p>
<p><strong>8.&nbsp;&nbsp;&nbsp; <a href="#8">Use of New or
  Unfamiliar Tools</a></strong></p>
<p><strong>9.&nbsp;&nbsp;&nbsp; <a href="#9">Over Optimism</a>&nbsp;
  Yeeee Haaaaa&nbsp; LET'S JUST DO IT!!!</strong></p>
<p><strong>10.&nbsp; <a href="#10">Political Infighting</a> (Power Struggles)</strong></p>
<p><strong>11.&nbsp; <a href="#11">Lack of User Involvement</a></strong></p>
<p><strong>12.&nbsp; <a href="#12">Lack of Communication</a></strong></p>
<p><strong>13.&nbsp; <a href="#13">Poor Risk Management</a></strong></p>
<p><strong>14.&nbsp; <a href="#14">Lack of Command and Control /
  Lack of and Accountability to a Project Management Office /
  Lack of and Accountability to Project Management Board / Lack
  of and Accountability to an allocated Sponsor / Lack of
  Sponsor Involvement</a></strong></p>
<p><strong>15.&nbsp; <a href="#15">Lack of Project Control Systems.  I.e. an Enterprise Project Management System</a></strong></p>
<p>&nbsp;<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="#fin">Conclusion</a></strong></p>
<a name="overview"></a>
<div style="margin-left:15px">
  <div style="margin-left:15px" class="ctr"> </div>
  <div class="auto-style8"> <br>
  </div>
  <p><strong><a name="1"
                   id="1"></a>1. Operating in JUST
    DO IT! CMMi Level 1. maturity mode.&nbsp; (Normally indicative of a lack of
    formal Project Manager appointment / <a href="/charter.php" >no signed off Project
    Charter</a> / no &quot;managed&quot; project process / no <a href="/epms.php" >EPMS</a> etc.)<br>
    <a href="#index"><span class="smltxt">Back to INDEX</span></a></strong></p>
  <p>Before we look at the Project Charter (a key / very
    important project document, but also just one of the many important <a href="pmbokdocs.php"
                   >project control documents</a>), the slide
    below shows us how an immature organization (lacking project
    management process - and without key control document's
    management firmly in place) normally operates. <a href="/cmm.php">&nbsp;CMM</a> and <a href="/cmmi.php">CMMi</a> deal with the quest for
    sustainable quality
    through definition of business processes in depth.&nbsp;</p>
  <map id="ImgMap1" name="ImgMap1">
    <area alt="" coords="441, 4, 689, 64" href="images/cartoons.png" shape="rect"  />
  </map>
  <img alt="LEVEL 1"
                     class="img-fluid"
                     src="{{ asset('storage/images/cmmi%20@%20level%201.png') }}"
                      usemap="#ImgMap1"
                     ><br>
  <a href="{{ asset('storage/assets/project%20ireland.pdf') }}"
                     > <img alt="Not about being lucky"
                     class="img-fluid"
                     src="{{ asset('storage/images/leprechaun.png') }}"
                     ></a>&nbsp;&nbsp;What can go wrong will go wrong, or What can't go wrong wont go wrong!<br>
  <p>Essentially what is required is for the organization to &quot;up
    its game&quot; towards higher levels of maturity.&nbsp; <br>
    The CMMi diagram below clearly explains how the goal is to
    increase Productivity and Quality while reducing Risk and Waste!&nbsp;
    The essential skillset that is required to get to CMMi Level 2.
    maturity is Project Managment as is shown in the slide below.<br>
    <br>
    <map id="ImgMap0" name="ImgMap0">
      <area alt="" coords="280, 372, 598, 387" href="/cmmidev/reqm.pdf" shape="rect"  />
      <area alt="" coords="279, 387, 597, 400" href="/cmmidev/pp.pdf" shape="rect"  />
      <area alt="" coords="279, 400, 597, 413" href="/cmmidev/pmc.pdf" shape="rect"  />
      <area alt="" coords="281, 414, 599, 425" href="/cmmidev/sam.pdf" shape="rect"  />
      <area alt="" coords="282, 424, 599, 439" href="/cmmidev/ma.pdf" shape="rect"  />
      <area alt="" coords="278, 437, 598, 455" href="/cmmidev/ppqa.pdf" shape="rect"  />
      <area coords="279, 456, 599, 472" href="/cmmidev/cm.pdf" shape="rect"  />
      <area alt="" coords="288, 159, 599, 171" href="/cmmidev/rd.pdf" shape="rect"  />
      <area alt="" coords="287, 171, 599, 187" href="/cmmidev/ts.pdf" shape="rect"  />
      <area alt="" coords="287, 186, 597, 199" href="/cmmidev/pi.pdf" shape="rect"  />
      <area alt="" coords="288, 202, 598, 216" href="/cmmidev/ver.pdf" shape="rect"  />
      <area alt="" coords="287, 217, 599, 230" href="/cmmidev/val.pdf" shape="rect"  />
      <area alt="" coords="284, 225, 599, 240" href="/cmmidev/opf.pdf" shape="rect"  />
      <area alt="" coords="284, 241, 599, 254" href="/cmmidev/opd.pdf" shape="rect"  />
      <area alt="" coords="287, 255, 599, 269" href="/cmmidev/ot.pdf" shape="rect"  />
      <area alt="" coords="285, 267, 599, 283" href="/cmmidev/ipm.pdf" shape="rect"  />
      <area alt="" coords="285, 284, 599, 297" href="/cmmidev/rskm.pdf" shape="rect"  />
      <area alt="" coords="285, 321, 599, 338" href="/cmmidev/dar.pdf" shape="rect"  />
      <area alt="" coords="279, 71, 599, 89" href="/cmmidev/car.pdf" shape="rect"  />
    </map>
    <img alt="" class="img-fluid" src="{{ asset('storage/images/cmmi project.png') }}" usemap="#ImgMap0" ></p>
  <p>While there are many control documents in Project Management
    Process, the Project Charter is one of the most important as it
    &quot;sets the scene&quot; empowering the Project Manager to focus in on
    and get the work done.</p>
  <p>In The Charter page of PMWay, I discuss the role of the
    project charter.&nbsp; I also emphasize its crucial importance
    towards the ultimate success of any project.&nbsp; (<a href="/charter.php">click
    here</a> to revisit what the Project Charter is and why is it
    needed?)</p>
  <p>The Project Charter is essentially the &#8216;what&#8217; portion of the
    criteria of the project. It dictates exactly what is being
    built, created or enacted and explains in high level terms the
    various justification and initial scope for the project. The
    charter itself becomes part of the over-arching project plan.
    What makes it so important is that it gives a concise
    explanation of what the project is actually looking to achieve;
    all initial stakeholders for the project must sign off on the
    project charter to ensure they are on board with its definition
    and are in agreement with moving forward with the project. In
    many cases of project failure, a poorly defined or non-existent
    project charter leads to continuous revamping of the project
    since stakeholders are still providing input into what they
    &#8216;thought&#8217; the project was going to do. This leads to delays and
    endless rework and can often end up causing project slippage or
    outright failure. <br>
    <strong>The Project Charter should clearly define how we intend
    to:</strong>&nbsp;&nbsp; <a href="/baseline.php" > <img alt="" height="117" src="{{ asset('storage/images/mind-the-gaphypo.png') }}" width="236" /></a><br>
    <br>
    <br>
    The project manager should ensure that they
    have a detailed project charter in place prior to project start
    (the move into the EXECUTE PHASE) and that ALL stakeholders have signed off on the document.</p>
  <p>Also take a look at the <a href="/gate.php" > Stage Gates</a> Two important gates
    are visible.&nbsp; I.e. 1. at the oficial appointment of a
    Project Manager in the INITIATE PHASE of PMWay and 2. Signed off
    Project Charter at the end of the PLAN PHASE of PMWay.</p>
  <hr>
  <p><strong><a name="2"
                   id="2"></a>2. Poor or NO Project Management&nbsp; (Lack of
    project controls / quality audits of the project process)<br>
    <a href="#index"><span class="smltxt">Back to INDEX</span></a></strong></p>
  <p>&nbsp;</p>
  <p><strong>Hurry... we have a deadline.&nbsp; No time to plan.&nbsp; </strong></p>
  <p><img alt="" class="img-fluid" src="{{ asset('storage/images/youarehere.png') }}" ></p>
  <p><strong>Just start digging!</strong></p>
  <p><img alt=""
                     class="img-fluid"
                     src="{{ asset('storage/images/init.jpg') }}"
                     >&nbsp;&nbsp;</p>
  <h5>What are the problems associated with immature or no Project
    Management?</h5>
  <ul>
    <li>The plan (or lack there of) is flawed from the start (If
      you don't know where you are going any road will take you
      there - nowhere!).</li>
    <li>The project gets out of control and can't be recovered.</li>
  </ul>
  <h5>What causes this?</h5>
  <ul>
    <li>You have to do the work and weren't also given time for
      project management.</li>
    <li>Perhaps you only have a 10% or 20% allotment for project
      management duties.</li>
    <li>You were never officially appointed via sign off (from
      management) of a Project Charter.&nbsp; With official appointment
      a project manager can begin to manage the project I.e.
      ensure adequate resources:&nbsp; time, money, skilled people,
      project control documents in place etc.</li>
  </ul>
  <h5>What to do?</h5>
  <ul>
    <li>Planning a project is like setting out a roadmap.&nbsp;
      Without it you will likely get lost.</li>
    <li>Controlling a project is like controlling a car.&nbsp; You
      have to continuously watch the road (the plan) and make
      little adjustments.&nbsp; Imagine driving home tonight and only
      controlling the car 10% - 20% of the time.</li>
  </ul>
  <p>With all of the aforementioned being said, the last (and
    probably least popular reasons, among project managers at least)
    when it comes to project failure is simply this: poor project
    management.<br>
    <br>
    Now while any of the aforementioned items can cause project
    problems or outright failure, a good project manager can often
    stay on top of them. However, what about a project manager that
    is simply &#8216;bad&#8217; at their job? It can and does happen. Sometimes,
    a project was adequately staffed, have a good charter, proper
    timetables and the backing of the primary sponsor. Yet it simply
    fails because the project manager did a poor job. In a previous
    post, I discussed the criteria for what makes a &#8216;good&#8217; project
    manager. (For reference, that post can be found here: <a href="http://programsuccess.wordpress.com/2011/03/24/what-makes-a-good-program-manager/"

                   title="What makes a good project manager">What makes a good
    project manager?</a>) Like any other position within a company,
    the success of your projects and your business as a whole
    depends on staffing your organization with the right people.<br>
    <br>
    And hiring competent, well skilled project managers / resources
    is no exception.</p>
  <h5>Improved PM Skillset</h5>
  <p>&quot;I think I should know how this helmet goes on.&nbsp; I have
    been riding scooters for two years now - you know!&quot;</p>
  <p><img alt=""
                class="img-fluid"
                src="{{ asset('storage/images/skillset.png') }}"
                ></p>
  <h5>What are the problems associated with lack of PM Skillset /
    low maturity?</h5>
  <ul>
    <li>You projects don't finish on time.</li>
    <li>Your projects are always squeezed at the end.</li>
    <li>Your projects are stressful.</li>
    <li>You have to deal with unrealistic expectations from
      immature managers or customers.</li>
    <li>You feel your projects are out of control.</li>
    <li>You feel you need to be a &quot;super hero&quot; to get everything
      done.</li>
  </ul>
  <h5>What causes this?</h5>
  <ul>
    <li>People often don't know what they don't know.</li>
    <li>Their projects are out of control but they don't know
      why.</li>
    <li>They feel they are doing okay but could benefit from
      formal project management education.</li>
  </ul>
  <h5>What to do?</h5>
  <ul>
    <li>Learn the methods, tools, processes and techniques
      successful professional project managers use to initiate,
      plan, execute and control their projects.</li>
    <li>Contact a PMI Certified Global Registered Education
      provider in your area and get certified / only employ
      certified project managers!</li>
    <li>Learn about CMM and CMMi.&nbsp; Project / Process Maturity is
      not something you can buy.&nbsp; It often takes many years of
      sustained effort to evolve and develop these skills!</li>
  </ul>
  <hr>
  <p><strong><a name="3"
                   id="3"></a>3. Poorly Defined Requirements&nbsp; /
    deliverables (Poor Scope Definition)<br>
    <a href="#index"><span class="smltxt">Back to INDEX</span></a></strong></p>
  <p>While the project charter describes the &#8216;what&#8217;, the low-level
    requirements explain the &#8216;how&#8217;. It is absolutely essential for
    the project manager to ensure that the primary requirements for
    the project are defined early and are as detailed as possible.</p>
  &nbsp;<img alt=""
                     class="img-fluid"
                     src="{{ asset('storage/images/swing/swings.png') }}"
                    ><br>
  <h5>How not to do it...</h5>
  <br>
  <h3>&quot;I'd like a set of stairs up to a bridge&quot;</h3>
  <br>
  <img alt=""
                     class="img-fluid"
                     src="{{ asset('storage/images/fail%2025.png') }}"
                     ><br>
  <br>
  <h3>&quot;Emergency phones installed.&nbsp; Deliverable Completed.&quot;</h3>
  <br>
  <img alt=""
                     class="img-fluid"
                     src="{{ asset('storage/images/poor%20deliverables.jpg') }}"
                     ><br>
  <br>
  <h5>What are the problems associated with poor requirements
    definition?</h5>
  <ul>
    <li>Customers will be unhappy.</li>
    <li>Customers will complain and you will end up doing what
      they want - often at your expense.</li>
  </ul>
  <h5>What causes this?</h5>
  <ul>
    <li>What the customer wants was not clearly documented.</li>
    <li>What you believe the customer wants is different from
      what the customer believes they asked for.</li>
    <li>The customer did not sign off the requirements document.</li>
  </ul>
  <h5>What to do?</h5>
  <ul>
    <li>Find out and document exactly what the customer wants.</li>
    <li>Inform everybody of the project scope.</li>
    <li>Document business, functional and technical
      requirements.</li>
    <li>Have the customer agree to and sign off the requirements
      documents.</li>
  </ul>
  <h5>What are the problems associated with Scope Creep?</h5>
  <ul>
    <li>Changes that were not initially planned for are added to
      the project.</li>
    <li>The project takes longer and costs more than planned and
      there is no record of why.</li>
  </ul>
  <h5>And for poorly defined Deliverables:<br>
    <br>
  </h5>
  <h5>What are the problems associated with poorly defined
    deliverables?</h5>
  <ul>
    <li>Difficult to get agreement that the project is finished.</li>
    <li>Customer keeps waiting more, saying you didn't do it to
      their specifications.</li>
  </ul>
  <h5>What causes this?</h5>
  <ul>
    <li>The milestones or deliverables were not measurable.</li>
    <li>&quot;The customer never told us how many they wanted, so we
      just assumed...</li>
  </ul>
  <h5>What to do</h5>
  <ul>
    <li>Ensure milestones or deliverables are clearly defined
      and measurable (or quantifiable).</li>
    <li>For example:&nbsp; Red is bad, Red #ED2D2D is better.</li>
    <li>For example:&nbsp; 1.22 GHz is better.</li>
  </ul>
  <p>Holding regular requirements gathering meetings at the outset
    will reduce the likelihood that the requirements are incomplete.
    It is also important to revisit these meetings during the
    execution phase of the project for occasional refreshers and to
    ensure that the current requirements can be achieved in the
    allotted timeframe. Note that high and low-level scope need to
    be adequately itemized as well. Poor defined requirements can be
    a surefire way to leading to project failure.</p>
  <hr>
  <p><strong><a name="4"
                   id="4"></a>4. Scope Creep (or a lack of control in change
    management)<br>
    <a href="#index"><span class="smltxt">Back to INDEX</span></a></strong><br>
    <br>
  </p>
  <h3>Also known as...<br>
    <br>
  </h3>
  <h3>&quot;You'd like it just a bit bigger? No problem&quot;<br>
  </h3>
  <h5>&quot;Oh, still a bit bigger...ok&quot;<br>
  </h5>
  <h3>&quot;Even bigger?! It wasn't in the plan but okay...&quot;<br>
  </h3>
  <span class="auto-style2"><strong> &nbsp;&quot;you want it even bigger than that!&nbsp; um...&nbsp; okay...&quot;</strong></span>
  <p><img alt=""
                     class="img-fluid"
                     src="{{ asset('storage/images/fail%2012.png') }}"
                     ></p>
  <p>When Scope Creep happens the end result is always more work
    than expected.</p>
  <br>
  <h5>What are the problems associated with Scope Creep?</h5>
  <ul>
    <li>Changes that were not initially planned for are added to
      the project</li>
    <li>The project takes longer and costs more than planned and
      there is no record of why</li>
  </ul>
  <h5>What causes this?</h5>
  <ul>
    <li>Disingenuous customer with a determined value for free
      policy.</li>
    <li>Poor change control.</li>
    <li>Lack of proper initial identification of what is
      required to bring about the project objectives.</li>
    <li>Weak project manager or executive sponsor.</li>
    <li>Poor communication between parties.</li>
    <li>Not having a method to handle or recognize changes.</li>
  </ul>
  <h5>What to do?</h5>
  <ul>
    <li>Document the <a href="/Documentsviewpdf/resources/change%20management%20guide.pdf" >change management process</a> to be used and
      followed by the project team. </li>
    <li>Educate the project team to recognize a change or
      deviation from the plan.</li>
    <li>Follow the change management processes.</li>
    <li>Have the customer agree to and sign off the requirements
      documents and any change management documents that occur
      during the lifecycle of the project.</li>
  </ul>
  <p>The bane of many a project manager&#8217;s existence, scope creep
    is the tendency for stakeholders and project participants alike
    to try to &#8216;sneak&#8217; new features or requirements into a project
    after the primary requirements have already been agreed upon.
    Adding scope to a project during its run is not in itself
    unusual, but it is imperative for the project manager to ensure
    that any changes in scope are effectively discussed and any
    changes to the schedule are also itemized. The famous &#8216;triple
    constraint&#8217; (scope, time, cost) demonstrates that one cannot
    change scope within a project without changing one of the other
    items as well.</p>
  <p>Project managers need to be cognizant of the fact that adding
    scope without addressing the overall project itself can lead to
    missed schedules or a poor quality deliverable, since scope was
    added at the expense of other things, like product quality.&nbsp;</p>
  <h5>Manage the Iron Triangle or it will manage you!</h5>
  <p>Note:&nbsp; The sides and middle of the traingles are defined
    differently.&nbsp; This does not pose a problem to Project
    Managers as essentially all four components (Time, Cost, Scope
    and Quality) are seen to work together to produce the best
    result.&nbsp; <a href="/irontriangle.php#dimensions" >Click here</a> to see that
    there are, in fact, even more dimensions that can be taken into
    consideration.</p>
  <p><img alt=""
                     class="img-fluid"
                     src="{{ asset('storage/images/fail%203.png') }}"
                     >&nbsp; <img alt="" class="img-fluid" src="{{ asset('storage/images/irontrianlgemusic.png') }}" ></p>
  <p> <img alt="" class="img-fluid" src="{{ asset('storage/images/brand.png') }}" ></p>
  <p> This is the end result of not managing the IRON TRIANGLE on a
    basic task:&nbsp; I.e. lets dig a hole.</p>
  <p> <img alt="" class="img-fluid" src="{{ asset('storage/images/holeslip.png') }}" ></p>
  <p> PMBOK sees the above as a <a href="/pmpprocesses.php" > project management process</a>.&nbsp; I.e. shown in the image below.</p>
  <p> <img alt="" class="img-fluid" src="{{ asset('storage/images/corefacilitate1.png') }}" ></p>
  <p> <a href="/havepmbok.php" >Click here</a> for an article
    that ties the Iron Triangle into CMM.&nbsp;</p>
  <p>Remember to &quot;<a href="/baseline.php">Mind the Gap!</a>&quot;</p>
  <hr>
  <p><strong><a name="7"
                   id="5"></a>5. Lack of Resources<br>
    <a href="#index"><span class="smltxt">Back to INDEX</span></a></strong></p>
  <h5>You do not have enough people, the right skillsets, or the
    team is not committed to the project.</h5>
  <p>Every project needs resources. How much and how many depends
    on the size and scope of the project. Like most project managers
    can attest, working on projects with scarce resources is not all
    that unusual. Management will always invariably try to minimize
    costs while working with maximum productivity. Projects running
    somewhat &#8216;lean&#8217; are not an unknown in project management
    circles. However, there are situations where the project is
    simply unattainable because the allocated resources are woefully
    insufficient. In those types of situations, it may be a case
    whereby key personal required for project success are just made
    not available.</p>
  <p><img alt=""
                     class="img-fluid"
                     src="{{ asset('storage/images/fail%2020.png') }}"
                     >&nbsp;</p>
  <p>An important paper on this subject that is a must read <a href="/documentsviewpdf/resources/resource%20allocation%20syndrome.pdf" > by Mats Engwall and Anna Jerbrant is entitled, &nbsp;&quot;The resource
    allocation syndrome: the prime challenge of multi-project
    management?&quot;.</a>&nbsp;&nbsp; You can also <a href="/resourceallocationsyndrome.php" >click
    here for a summary of this &quot;Resource Allocation Syndrome&quot; paper</a>.&nbsp;
    The key takeaway from the paper is that the resource allocation
    issues are a consequence of <strong>flawed organisational
    procedures</strong> rather than poor project management
    practices.&nbsp; Project and portfolio managers responsible for
    resource allocation are only too aware of this. However, they
    are powerless to do anything about it because, as Engwall and
    Jerbrant suggest,&nbsp; addressing the root cause of this syndrome is
    a task for executive management.</p>
  <p>And if you <a href="/service.php" >click here
    you will find a page dedicated to the same resources being asked
    to work on Projects and also to provide ongoing services to
    clients</a>.</p>
  <h5>What are the problems associated with Lack of Resources?</h5>
  <ul>
    <li>Tasks take longer than expected to complete.</li>
    <li>Deadlines and milestones get missed.</li>
    <li>Project completion date comes into jeopardy.</li>
    <li>You end up working double-shifts to complete all the
      work.</li>
  </ul>
  <h5>What causes this?</h5>
  <ul>
    <li>There was no pre-commitment of resources to the project.</li>
    <li>The project was not supported.</li>
    <li>There was no analysis and documentation of all skillsets
      required.</li>
  </ul>
  <h5>What to do?</h5>
  <ul>
    <li>Get executive sponsorship for the project.</li>
    <li>Document which resources and skillsets are needed to get
      the job done.</li>
    <li>Create a plan that gives enough time to get the job done
      with the allocated resources.</li>
    <li>Pre-assign the required resources to the team.</li>
    <li>Work in hours left to complete work not in % completed.</li>
  </ul>
  <hr>
  <p><strong><a name="5"
                   id="6"></a>6. Poorly Defined or Unrealistic Time Scales and
    Estimates<br>
    <a href="#index"><span class="smltxt">Back to INDEX</span></a></strong></p>
  <p><img alt=""
                     class="img-fluid"
                     src="{{ asset('storage/images/buddah.png') }}"
                    ><br>
    One of the most important duties for a project manager is
    scheduling. A schedule defines the timeframe, milestones and key
    deliverables for a project. It is probably one of the most
    challenging yet essential parts of the project manager&#8217;s job.
    Which is why when it is either performed inadequately or a
    sponsor or set of stakeholders give an unrealistic set of goals
    and timeframes to the team, the project manager must act
    accordingly. One of the hardest jobs a project manager must
    undertake is the ability to say &#8216;no&#8217; or &#8216;that timeframe is
    unrealistic&#8217;. Management never likes hearing what can&#8217;t be done.
    But invariably, a project manager that willingly ignores all the
    red flags pertaining to a project&#8217;s schedule is just as guilty
    if the project ultimately fails as the executive team.<br>
    <br>
    Remember <span lang="EN-ZA">Murphy&#8217;s Law of Short Cuts:&nbsp;&nbsp;
    The problems associated with any short cut are inversely
    proportional to the shortness of the cut</span>!</p>
  <h5>What are the problems associated with poor Time / Schedule
    estimating.</h5>
  <ul>
    <li>An unrealistic timeline (tasks in the project schedule)
      or budget will be agreed to</li>
    <li>You will not be able to do all the work in the time
      allocated</li>
  </ul>
  <h5>What causes this?</h5>
  <ul>
    <li>No formal estimating method.</li>
    <li>Estimate confidence is low.</li>
    <li>Volume of work not understood.</li>
    <li>Not enough information.</li>
    <li>Not involving the &quot;key people in the know&quot; / subject
      matter experts who can help you pin down timelines and
      costs.</li>
  </ul>
  <h5>What to do?</h5>
  <ul>
    <li>List all the work as well as possible.</li>
    <li>Estimate each work package.</li>
    <li>Add up all work packages.</li>
    <li>Do not give &quot;elevator&quot; estimates if possible.</li>
    <li>Always give answers using a range of dates&nbsp; -&nbsp; A rule of
      thumb:&nbsp; Estimates where the work is well defined:&nbsp; 15%
      inaccuracy. Estimates where the work in not well defined:&nbsp;
      100% inaccuracy.</li>
  </ul>
  <hr>
  <p><strong><a name="6"
                   id="7"></a>7. Inadequate (or non-existent) Testing<br>
    <a href="#index"><span class="smltxt">Back to INDEX</span></a></strong></p>
  <p><img alt=""
                     class="img-fluid"
                     src="{{ asset('storage/images/fail%208.png') }}"
                     ></p>
  <p>Throughout the life cycle of any project, there have to be
    timeframes and iterations allocated to testing the integrity of
    the deliverable. This almost seems like a no-brainer. Yet it is
    striking just how many times projects hit the wall or end up
    failing miserably in the marketplace because of inadequate
    testing. Product quality is something that any organization
    strives for since that actively contributes to the company&#8217;s
    reputation. As such, allocating the necessary cycles and
    resources to testing at various stages of the project life-cycle
    is absolutely essential. That includes unit testing, regression
    testing, alpha/beta testing by consumers and standard
    build-based testing. In many cases where released products
    displayed poor quality, the most obvious culprit in those
    circumstances is a schedule and process that did not allocate
    the necessary time for testing.</p>
  <hr>
  <p><strong><a name="8"
                   id="8"></a>8. Use of New or Unfamiliar Tools<br>
    <a href="#index"><span class="smltxt">Back to INDEX</span></a></strong></p>
  <p><img alt=""
                     class="img-fluid"
                     src="{{ asset('storage/images/confused-computer.jpg') }}"
                     ></p>
  <p>Good tools are essential for the success of any project.
    Whether that be access to a good software development
    environment, a good CRM system or a good defect tracking system,
    tools are a staple component to the success of any project.<br>
    <br>
    However, a common fallacy that many project managers and team
    leaders often make is attempting to utilize a new or unfamiliar
    tool at the same time that a new project is starting. This can
    lead to severe problems during the life-cycle of the project
    since the team now has to contend with their common project
    duties while also dealing with the learning curve of the new
    tool. This can easily lead to delays or outright missed issues
    if the team members are too novice on the tool to be able to
    utilize it wisely.<br>
    <br>
    As a rule of thumb, it is usually the best policy when thinking
    of adopting new tools to bring them into the fray gradually.
    Allow the team to use existing tools for any new or current
    projects and make adoption of the newer tools reside on a
    parallel track. Ensure that adequate training is provided and
    only begin usage of these new tools for any new projects once
    you are satisfied that the team is up to snuff with their usage.</p>
  <hr>
  <p><strong><a name="9"
                   id="9"></a>9. Over Optimism<br>
    <a href="#index"><span class="smltxt">Back to INDEX</span></a></strong></p>
  &nbsp;<img alt=""
                     class="img-fluid"
                     src="{{ asset('storage/images/paddy.png') }}"
                     >
  <p><a href="{{ asset('storage/assets/project%20ireland.pdf') }}"
                   ><img alt="Not about being lucky"
                     class="img-fluid"
                     src="{{ asset('storage/images/leprechaun.png') }}"
                    ></a></p>
  <p>&quot;To be sure, to be sure&quot;.<br>
    Project Management is not about fast moves, and four leaf
    clovers!&nbsp;<br>
    Click the leprechaun to revisit the all time classic:&nbsp;
    &quot;Recovery Project Ireland&quot; in Technicolor!&nbsp;</p>
  <h5>What are the problems associated with Over Optimism?</h5>
  <ul>
    <li>There was little or no planning before deciding you can
      get the job done.</li>
    <li>The task you agree to turns out to be more work than
      expected.</li>
    <li>It takes you longer and jeopardizes other deliverables.</li>
  </ul>
  <h5>What causes this?</h5>
  <ul>
    <li>Not enough time spent planning.</li>
    <li>You may have been pressured into giving an answer right
      then and there.</li>
    <li>Didn't have a full understanding of the work involved
      before committing.</li>
  </ul>
  <h5>What to do?</h5>
  <ul>
    <li>Take the time to fully understand the work before
      agreeing to it.</li>
    <li>It's okay to say the work is not possible or will take
      too long.</li>
    <li>Only agree to work when you're sure it can be done.&nbsp;
      This will benefit you and your manager.</li>
  </ul>
  <hr>
  <p><strong><a name="10"
                   id="10"></a>10. Political Infighting (Power Struggles)<br>
    <a href="#index"><span class="smltxt">Back to INDEX</span></a></strong></p>
  <p><img alt=""
                     class="img-fluid"
                     src="{{ asset('storage/images/argue1.png') }}"
                     >&nbsp;&nbsp;</p>
  <p>It exists in companies as well as governments. Functional
    managers and executives with their own vested interest in
    specific aspects of the business can often come to blows over
    new or existing projects.</p>
  <p>The worst has to be the political player with a covert agenda
    who is also a backstabber.&nbsp; I.e. undermining the project
    and typically, you don't even see them coming.</p>
  <p>.<img alt=""
                     class="img-fluid"
                     src="{{ asset('storage/images/back.png') }}"
                    ></p>
  <p>Power struggles are especially prevalent in situations where a project may span
    several different business units that may or may not all utilize
    the same process or have the same mid to long-term mission
    statements. As a project manager, it is important to be able to
    function adequately as the referee and mediator in these
    situations and try to smooth out any differences of opinion as
    they arise. Groups of stakeholders or functional managers
    involved in a project that do not see eye-to-eye on the project
    scope, its implementation or its schedule can be extremely
    detrimental to the overall success of the project.</p>
  <p>It is difficult enough to get it right with project
    management.&nbsp; Why make it even more difficult with
    infighting and power struggles!</p>
  <p>Maturity is essential!&nbsp; I.e. Understanding PMP,
    respecting project roles and working as a team:&nbsp; putting
    the project goals first and working together towards success!</p>
  <hr>
  <p><strong><a name="11"
                   id="11"></a>11.&nbsp; Lack of User Involvement<a href="#index"><br>
    &nbsp;<span class="smltxt">Back to INDEX</span></a></strong></p>
  <p><img alt=""
                     class="img-fluid"
                     src="{{ asset('storage/images/notinvolved.png') }}"
                     ></p>
  <p>A project that is producing some deliverable is likely going
    to have a specific user constituency. i.e. a group of
    individuals that are the consumers of that product. Whether it
    be a new hardware widget, a piece of software, or even an
    augmentation to some existing mechanism, users will be the
    ultimate customers. As such, it is imperative that the users are
    actively engaged during the project life-cycle to ensure that
    their particular feedback and suggestions are effectively
    cataloged. This is often done with a small subset of product
    &#8216;consumers&#8217; who participate in some of the initial product
    screenings. This then expands to more involved Alpha and Beta
    release cycles where a broader number of users are brought in
    and their input is used to guide the project. Failure to
    actively engage with users can often lead to an end result
    deliverable that does not meet the needs and expectations of the
    users.</p>
  <hr>
  <p><strong><a name="12"
                   id="12"></a>12. Lack of Communication<br>
    <a href="#index"><span class="smltxt">Back to INDEX</span></a></strong></p>
  <p><img alt=""
                     class="img-fluid"
                     src="{{ asset('storage/images/fail%2016.jpg') }}"
                     ></p>
  <h5>What are the problems associated with poor, or a lack of
    communication?</h5>
  <ul>
    <li>Team members do not have the information they need when
      they need it, causing delays.</li>
    <li>Issues or changes do not get escalated.</li>
    <li>Project reporting (and therefore control [<a href="/rag.php" >RAG
      status</a> etc.]) is sluggish.</li>
  </ul>
  <h5>What causes this?</h5>
  <ul>
    <li>The project's communication plan was not completed.</li>
    <li>The project's communication plan does not have enough
      detail.</li>
  </ul>
  <h5>What to do and prevention?</h5>
  <p>Find out the communications requirements of all team
    members and stakeholders, document them in a communication
    plan and follow the plan.
  <ul>
    <li>Who needs the information.</li>
    <li>What do they need to know.</li>
    <li>What level of detail.</li>
    <li>How do they want it.</li>
    <li>When and how often do they need it.</li>
    <li>How should it be delivered, and by whom.</li>
  </ul>
  <p>A project management tool often used to pin down
    communication requirements is called a <a href="/raci.php">RACI matrix</a>.&nbsp;</p>
  <p>You can also take a look at the section in PMWay on <a href="/arc.php"> Communication Skills</a>.&nbsp;</p>
  <hr>
  <p><strong><a name="13"
                   id="13"></a>13.&nbsp; Poor Risk Management<a href="#index"><br>
    &nbsp;<span class="smltxt">Back to INDEX</span></a></strong></p>
  <p><strong>&quot;Sorry about the project, I left it in my car this
    morning and there was a bit of an incident&quot;</strong></p>
  <p><img alt=""
                     class="img-fluid"
                     src="{{ asset('storage/images/risk.png') }}"
                     ></p>
  <h5>What are the problems associated with Poor Risk Management?</h5>
  <ul>
    <li>Unexpected events cause delays.</li>
    <li>Domino effect of things going wrong.</li>
  </ul>
  <h5>What causes this?</h5>
  <ul>
    <li>No formal risk management.</li>
    <li>Just try to predict the big things that can go wrong.</li>
    <li>It's the sum of all the little things that make a
      project late.</li>
    <li>Nothing is more stressful than trying to keep on
      schedule when unexpected things keep happening.</li>
  </ul>
  <h5>What to do?</h5>
  <ul>
    <li>List all the work as well as possible.</li>
    <li>Figure out what can go wrong with each piece of work.</li>
    <li>Prioritize each risk:&nbsp; -&nbsp; High / Med / Low probability
      By High / Med / Low impact (or effect).</li>
    <li>Sort the list.</li>
    <li>Create a plan to deal with the risks at the top of the
      list.</li>
  </ul>
  <p>PMBok states that a Risk Register must be created.&nbsp; Also
    that a Risk Management Plan must be in place.&nbsp; I.e.&nbsp;
    monitoring and controlling risks on an ongoing basis.</p>
  <p>Remember managing risks on your project (avoiding them is
    first prize) is one of the neatest ways to manage the Iron
    Triangle I.e. Time and Cost.&nbsp; If risks happen then these
    will surely impact negatively on the project.&nbsp; Preventing
    them is a no brainer!</p>
  <p>Take a look at the <a href="/risksiac.php">Risks / Issues / Actions</a> page in
    this web site to see how to use Issue Management to which
    monitored and controlled actions are put in place and tightly
    managed (via project minutes) to ensure Risks as mitigated.</p>
  <hr>
  <p><strong><a name="14"
                   id="14"></a>14.&nbsp;Lack of Command and Control /
    Lack of and Accountability to a Project Management Office /
    Lack of and Accountability to Project Management Board / Lack
    of and Accountability to an allocated Sponsor / Lack of
    Sponsor Involvement<a href="#index"><br>
    &nbsp;<span class="smltxt">Back to INDEX</span></a></strong></p>
  <p>PMWay web deals with this subject in great depth.</p>
  <p> The <a href="/home/intenmins" >PMWay Vision is the quickest way to get a handle on this</a>.</p>
  <p>The <a href="/board.php">Project
    Management Boad</a> and <a href="/sponsor.php">Sponsor</a> are
    key.</p>
  <p>Why all this control? <br>
    Because it is easier and cheaper to keep the project on the road than to allow it to career off out of control into a ditch! <a href="/essence.php#lemmings" > [Click the Show Button]</a></p>
  <hr>
  <p><strong><a name="15"
                   id="15"></a>15.&nbsp;Lack of Project Control Systems.  I.e. an Enterprise Project Management System<a href="#index"><br>
    &nbsp;<span class="smltxt">Back to INDEX</span></a></strong></p>
  <p><strong>Again PMWay web deals with this subject in great depth.</strong></p>
  <p> <a href="/preloader.php" > The PMWay Vision is the quickest way to get a handle on this.</a></p>
  <p>The <a href="/epms.php" >Enterprise Project Management System</a> and <a href="/feather.php" > EPMS Light or Heavy</a> are
    key.</p>
  <p>The above ties to an understanding of <a href="/transparency.php" > Ideas on using the EPMS for Transparency, Accountability </a>, <a href="/governance.php" >Governance</a> and delivery of quality need satisfying products and services to the <a href="/client.php" >Stakeholders</a> (<a href="/client.php" >our valued clients</a>)
    which is critical for project / our success - into the long term.
  <hr>
  <p><strong><a name="fin"
                   id="fin"></a>Conclusion<br>
    <a href="#index"><span class="smltxt">Back to INDEX</span></a></strong></p>
  <p>Projects succeed and sometimes, projects fail. Knowing what
    factors can lead to project failure is important for the project
    manager so they know what to look for when managing their
    projects. The aforementioned list should give a project manager
    the necessary reference to be able to stay on top of things
    within their areas and get the jump on any problems that arise,
    thereby minimizing the likelihood of project failure and
    maximizing the likelihood of success down the road.</p>
  <br>
  <br>
  <br>
</div>
<!-- Content Container ends here -->

{% endif %}


{% if not user %}<div class="container" align="left" ><h3 align="left">Please log on to access the content on this page</h3><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></div>{% endif %}{% if not current_user and false %}

<!--BODY-->
<div class="container" align="left">
<h3><a href="#index">Why Projects Fail &#8211; 15 Top Reasons</a></h3>
<hr >
<h5><a name="drive"></a>Is there a bottom line?&nbsp; Why Do Projects Fail!?</h5>
<h5>YES!&nbsp; The simple answer is that nobody stops them from failing!</h5>
<hr >
<p align="center" ><img alt=""
                     class="img-fluid"
                     src="{{ asset('storage/images/fail%201.png') }}"

                     ></p>
<p align="center"><img alt=""
                     class="img-fluid"
                     src="{{ asset('storage/images/oopsmedium.png') }}"

                     ><br>
  <img alt="" class="img-fluid" src="{{ asset('storage/images/car%20drives%20off%20road%20norm.png') }}" ></p>
<br>
<a name="TopOfFailBox"><a name="starthere"></a>
<h5>As Project Manager it is your role and duty to do whatever
  you can to prevent projects, under your control, from failing.<br>
  As the Executive your role (as the appointed Executive Action Team) is to <a href="/home/removetheredbeads" >EAT the Red Beads!</a></h5>
<hr>
<h5>How do I stop my projects failing? </h5>
<hr>
<h5>Managing Projects is very much like driving a car.</h5>
<p>Because projects are defined as once off activities, in this
  example we will not use an example like driving to work each
  day.&nbsp; <br>
  Rather we need to think of driving off to a holiday
  destination.&nbsp; <br>
  Therefore, with this wonderful thought firmly
  in mind this is how you do it!</p>
<ul>
  <li>Determine the destination, timeframe and how much you
    have to spend.</li>
  <li>Create a plan (route, speed, breaks, weather, etc.).</li>
  <li>Learn what usually goes wrong.</li>
  <li>Plan out how to deal with it.</li>
  <li>Then... JUST FOLLOW THE PLAN.</li>
  <li>And continuously monitor progress and keep the car on the
    road and arrive safely at your destination.</li>
</ul>
<h5>Can we learn to stop projects failing?</h5>
<h5>The answer is most definitely YES!</h5>
<p>Continue to read and absorb the caveats found below.<br>
  Use this wisdom and implement ways to avoid failure in your own
  projects.<br>
  Remember: The secret of avoiding a trap is knowing of its
  existence! </p>
<p>Ultimately, projects failing within an organization could
  have numerous and inter-related causes.<br>
  Listed (and accessible via the INDEX) below are the top reasons
  that could contribute to project failure:</p>
<hr>
<h3 class="auto-style8">Tell me about the 13 top reasons for project failure now!</h3>
<hr>
<h3 class="ctr"><a name="index"></a>INDEX</h3>
<hr>
<p><strong>1.&nbsp;&nbsp;&nbsp; <a href="#1">Operating in JUST
  DO IT! CMMi Level 1. maturity mode.</a> </strong></p>
<p><strong>2.&nbsp;&nbsp;&nbsp; <a href="#2">Poor or NO Project Management</a> (Lack of project controls / quality audits of the
  project process)</strong></p>
<p><strong>3.&nbsp;&nbsp;&nbsp; <a href="#3">Poorly Defined
  Requirements</a> / deliverables (Poor Scope Definition)</strong></p>
<p><strong>4.&nbsp;&nbsp;&nbsp; <a href="#4">Scope Creep</a> (or
  a lack of control in change management - NOT MANAGING THE IRON
  TRIANGLE!)</strong></p>
<p><strong>5.&nbsp;&nbsp;&nbsp; <a href="#5">Lack of Resources</a></strong></p>
<p><strong>6.&nbsp;&nbsp;&nbsp; <a href="#6">Poorly Defined or
  Unrealistic Time Scales &amp; Estimates</a></strong></p>
<p><strong>7.&nbsp;&nbsp;&nbsp; <a href="#7">Inadequate (or non-existent) Testing</a></strong></p>
<p><strong>8.&nbsp;&nbsp;&nbsp; <a href="#8">Use of New or
  Unfamiliar Tools</a></strong></p>
<p><strong>9.&nbsp;&nbsp;&nbsp; <a href="#9">Over Optimism</a>&nbsp;
  Yeeee Haaaaa&nbsp; LET'S JUST DO IT!!!</strong></p>
<p><strong>10.&nbsp; <a href="#10">Political Infighting</a> (Power Struggles)</strong></p>
<p><strong>11.&nbsp; <a href="#11">Lack of User Involvement</a></strong></p>
<p><strong>12.&nbsp; <a href="#12">Lack of Communication</a></strong></p>
<p><strong>13.&nbsp; <a href="#13">Poor Risk Management</a></strong></p>
<p><strong>14.&nbsp; <a href="#14">Lack of Command and Control /
  Lack of and Accountability to a Project Management Office /
  Lack of and Accountability to Project Management Board / Lack
  of and Accountability to an allocated Sponsor / Lack of
  Sponsor Involvement</a></strong></p>
<p><strong>15.&nbsp; <a href="#15">Lack of Project Control Systems.  I.e. an Enterprise Project Management System</a></strong></p>
<p>&nbsp;<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="#fin">Conclusion</a></strong></p>
<a name="overview"></a>
<div style="margin-left:15px">
  <div style="margin-left:15px" class="ctr"> </div>
  <div class="auto-style8"> <br>
  </div>
  <p><strong><a name="1"
                   id="1"></a>1. Operating in JUST
    DO IT! CMMi Level 1. maturity mode.&nbsp; (Normally indicative of a lack of
    formal Project Manager appointment / <a href="/charter.php" >no signed off Project
    Charter</a> / no &quot;managed&quot; project process / no <a href="/epms.php" >EPMS</a> etc.)<br>
    <a href="#index"><span class="smltxt">Back to INDEX</span></a></strong></p>
  <p>Before we look at the Project Charter (a key / very
    important project document, but also just one of the many important <a href="pmbokdocs.php"
                   >project control documents</a>), the slide
    below shows us how an immature organization (lacking project
    management process - and without key control document's
    management firmly in place) normally operates. <a href="/cmm.php">&nbsp;CMM</a> and <a href="/cmmi.php">CMMi</a> deal with the quest for
    sustainable quality
    through definition of business processes in depth.&nbsp;</p>
  <map id="ImgMap1" name="ImgMap1">
    <area alt="" coords="441, 4, 689, 64" href="images/cartoons.png" shape="rect"  />
  </map>
  <img alt="LEVEL 1"
                     class="img-fluid"
                     src="{{ asset('storage/images/cmmi%20@%20level%201.png') }}"
                      usemap="#ImgMap1"
                     ><br>
  <a href="{{ asset('storage/assets/project%20ireland.pdf') }}"
                     > <img alt="Not about being lucky"
                     class="img-fluid"
                     src="{{ asset('storage/images/leprechaun.png') }}"
                     ></a>&nbsp;&nbsp;What can go wrong will go wrong, or What can't go wrong wont go wrong!<br>
  <p>Essentially what is required is for the organization to &quot;up
    its game&quot; towards higher levels of maturity.&nbsp; <br>
    The CMMi diagram below clearly explains how the goal is to
    increase Productivity and Quality while reducing Risk and Waste!&nbsp;
    The essential skillset that is required to get to CMMi Level 2.
    maturity is Project Managment as is shown in the slide below.<br>
    <br>
    <map id="ImgMap0" name="ImgMap0">
      <area alt="" coords="280, 372, 598, 387" href="/cmmidev/reqm.pdf" shape="rect"  />
      <area alt="" coords="279, 387, 597, 400" href="/cmmidev/pp.pdf" shape="rect"  />
      <area alt="" coords="279, 400, 597, 413" href="/cmmidev/pmc.pdf" shape="rect"  />
      <area alt="" coords="281, 414, 599, 425" href="/cmmidev/sam.pdf" shape="rect"  />
      <area alt="" coords="282, 424, 599, 439" href="/cmmidev/ma.pdf" shape="rect"  />
      <area alt="" coords="278, 437, 598, 455" href="/cmmidev/ppqa.pdf" shape="rect"  />
      <area coords="279, 456, 599, 472" href="/cmmidev/cm.pdf" shape="rect"  />
      <area alt="" coords="288, 159, 599, 171" href="/cmmidev/rd.pdf" shape="rect"  />
      <area alt="" coords="287, 171, 599, 187" href="/cmmidev/ts.pdf" shape="rect"  />
      <area alt="" coords="287, 186, 597, 199" href="/cmmidev/pi.pdf" shape="rect"  />
      <area alt="" coords="288, 202, 598, 216" href="/cmmidev/ver.pdf" shape="rect"  />
      <area alt="" coords="287, 217, 599, 230" href="/cmmidev/val.pdf" shape="rect"  />
      <area alt="" coords="284, 225, 599, 240" href="/cmmidev/opf.pdf" shape="rect"  />
      <area alt="" coords="284, 241, 599, 254" href="/cmmidev/opd.pdf" shape="rect"  />
      <area alt="" coords="287, 255, 599, 269" href="/cmmidev/ot.pdf" shape="rect"  />
      <area alt="" coords="285, 267, 599, 283" href="/cmmidev/ipm.pdf" shape="rect"  />
      <area alt="" coords="285, 284, 599, 297" href="/cmmidev/rskm.pdf" shape="rect"  />
      <area alt="" coords="285, 321, 599, 338" href="/cmmidev/dar.pdf" shape="rect"  />
      <area alt="" coords="279, 71, 599, 89" href="/cmmidev/car.pdf" shape="rect"  />
    </map>
    <img alt="" class="img-fluid" src="{{ asset('storage/images/cmmi project.png') }}" usemap="#ImgMap0" ></p>
  <p>While there are many control documents in Project Management
    Process, the Project Charter is one of the most important as it
    &quot;sets the scene&quot; empowering the Project Manager to focus in on
    and get the work done.</p>
  <p>In The Charter page of PMWay, I discuss the role of the
    project charter.&nbsp; I also emphasize its crucial importance
    towards the ultimate success of any project.&nbsp; (<a href="/charter.php">click
    here</a> to revisit what the Project Charter is and why is it
    needed?)</p>
  <p>The Project Charter is essentially the &#8216;what&#8217; portion of the
    criteria of the project. It dictates exactly what is being
    built, created or enacted and explains in high level terms the
    various justification and initial scope for the project. The
    charter itself becomes part of the over-arching project plan.
    What makes it so important is that it gives a concise
    explanation of what the project is actually looking to achieve;
    all initial stakeholders for the project must sign off on the
    project charter to ensure they are on board with its definition
    and are in agreement with moving forward with the project. In
    many cases of project failure, a poorly defined or non-existent
    project charter leads to continuous revamping of the project
    since stakeholders are still providing input into what they
    &#8216;thought&#8217; the project was going to do. This leads to delays and
    endless rework and can often end up causing project slippage or
    outright failure. <br>
    <strong>The Project Charter should clearly define how we intend
    to:</strong>&nbsp;&nbsp; <a href="/baseline.php" > <img alt="" height="117" src="{{ asset('storage/images/mind-the-gaphypo.png') }}" width="236" /></a><br>
    <br>
    <br>
    The project manager should ensure that they
    have a detailed project charter in place prior to project start
    (the move into the EXECUTE PHASE) and that ALL stakeholders have signed off on the document.</p>
  <p>Also take a look at the <a href="/gate.php" > Stage Gates</a> Two important gates
    are visible.&nbsp; I.e. 1. at the oficial appointment of a
    Project Manager in the INITIATE PHASE of PMWay and 2. Signed off
    Project Charter at the end of the PLAN PHASE of PMWay.</p>
  <hr>
  <p><strong><a name="2"
                   id="2"></a>2. Poor or NO Project Management&nbsp; (Lack of
    project controls / quality audits of the project process)<br>
    <a href="#index"><span class="smltxt">Back to INDEX</span></a></strong></p>
  <p>&nbsp;</p>
  <p><strong>Hurry... we have a deadline.&nbsp; No time to plan.&nbsp; </strong></p>
  <p><img alt="" class="img-fluid" src="{{ asset('storage/images/youarehere.png') }}" ></p>
  <p><strong>Just start digging!</strong></p>
  <p><img alt=""
                     class="img-fluid"
                     src="{{ asset('storage/images/init.jpg') }}"
                     >&nbsp;&nbsp;</p>
  <h5>What are the problems associated with immature or no Project
    Management?</h5>
  <ul>
    <li>The plan (or lack there of) is flawed from the start (If
      you don't know where you are going any road will take you
      there - nowhere!).</li>
    <li>The project gets out of control and can't be recovered.</li>
  </ul>
  <h5>What causes this?</h5>
  <ul>
    <li>You have to do the work and weren't also given time for
      project management.</li>
    <li>Perhaps you only have a 10% or 20% allotment for project
      management duties.</li>
    <li>You were never officially appointed via sign off (from
      management) of a Project Charter.&nbsp; With official appointment
      a project manager can begin to manage the project I.e.
      ensure adequate resources:&nbsp; time, money, skilled people,
      project control documents in place etc.</li>
  </ul>
  <h5>What to do?</h5>
  <ul>
    <li>Planning a project is like setting out a roadmap.&nbsp;
      Without it you will likely get lost.</li>
    <li>Controlling a project is like controlling a car.&nbsp; You
      have to continuously watch the road (the plan) and make
      little adjustments.&nbsp; Imagine driving home tonight and only
      controlling the car 10% - 20% of the time.</li>
  </ul>
  <p>With all of the aforementioned being said, the last (and
    probably least popular reasons, among project managers at least)
    when it comes to project failure is simply this: poor project
    management.<br>
    <br>
    Now while any of the aforementioned items can cause project
    problems or outright failure, a good project manager can often
    stay on top of them. However, what about a project manager that
    is simply &#8216;bad&#8217; at their job? It can and does happen. Sometimes,
    a project was adequately staffed, have a good charter, proper
    timetables and the backing of the primary sponsor. Yet it simply
    fails because the project manager did a poor job. In a previous
    post, I discussed the criteria for what makes a &#8216;good&#8217; project
    manager. (For reference, that post can be found here: <a href="http://programsuccess.wordpress.com/2011/03/24/what-makes-a-good-program-manager/"

                   title="What makes a good project manager">What makes a good
    project manager?</a>) Like any other position within a company,
    the success of your projects and your business as a whole
    depends on staffing your organization with the right people.<br>
    <br>
    And hiring competent, well skilled project managers / resources
    is no exception.</p>
  <h5>Improved PM Skillset</h5>
  <p>&quot;I think I should know how this helmet goes on.&nbsp; I have
    been riding scooters for two years now - you know!&quot;</p>
  <p><img alt=""
                class="img-fluid"
                src="{{ asset('storage/images/skillset.png') }}"
                ></p>
  <h5>What are the problems associated with lack of PM Skillset /
    low maturity?</h5>
  <ul>
    <li>You projects don't finish on time.</li>
    <li>Your projects are always squeezed at the end.</li>
    <li>Your projects are stressful.</li>
    <li>You have to deal with unrealistic expectations from
      immature managers or customers.</li>
    <li>You feel your projects are out of control.</li>
    <li>You feel you need to be a &quot;super hero&quot; to get everything
      done.</li>
  </ul>
  <h5>What causes this?</h5>
  <ul>
    <li>People often don't know what they don't know.</li>
    <li>Their projects are out of control but they don't know
      why.</li>
    <li>They feel they are doing okay but could benefit from
      formal project management education.</li>
  </ul>
  <h5>What to do?</h5>
  <ul>
    <li>Learn the methods, tools, processes and techniques
      successful professional project managers use to initiate,
      plan, execute and control their projects.</li>
    <li>Contact a PMI Certified Global Registered Education
      provider in your area and get certified / only employ
      certified project managers!</li>
    <li>Learn about CMM and CMMi.&nbsp; Project / Process Maturity is
      not something you can buy.&nbsp; It often takes many years of
      sustained effort to evolve and develop these skills!</li>
  </ul>
  <hr>
  <p><strong><a name="3"
                   id="3"></a>3. Poorly Defined Requirements&nbsp; /
    deliverables (Poor Scope Definition)<br>
    <a href="#index"><span class="smltxt">Back to INDEX</span></a></strong></p>
  <p>While the project charter describes the &#8216;what&#8217;, the low-level
    requirements explain the &#8216;how&#8217;. It is absolutely essential for
    the project manager to ensure that the primary requirements for
    the project are defined early and are as detailed as possible.</p>
  &nbsp;<img alt=""
                     class="img-fluid"
                     src="{{ asset('storage/images/swing/swings.png') }}"
                    ><br>
  <h5>How not to do it...</h5>
  <br>
  <h3>&quot;I'd like a set of stairs up to a bridge&quot;</h3>
  <br>
  <img alt=""
                     class="img-fluid"
                     src="{{ asset('storage/images/fail%2025.png') }}"
                     ><br>
  <br>
  <h3>&quot;Emergency phones installed.&nbsp; Deliverable Completed.&quot;</h3>
  <br>
  <img alt=""
                     class="img-fluid"
                     src="{{ asset('storage/images/poor%20deliverables.jpg') }}"
                     ><br>
  <br>
  <h5>What are the problems associated with poor requirements
    definition?</h5>
  <ul>
    <li>Customers will be unhappy.</li>
    <li>Customers will complain and you will end up doing what
      they want - often at your expense.</li>
  </ul>
  <h5>What causes this?</h5>
  <ul>
    <li>What the customer wants was not clearly documented.</li>
    <li>What you believe the customer wants is different from
      what the customer believes they asked for.</li>
    <li>The customer did not sign off the requirements document.</li>
  </ul>
  <h5>What to do?</h5>
  <ul>
    <li>Find out and document exactly what the customer wants.</li>
    <li>Inform everybody of the project scope.</li>
    <li>Document business, functional and technical
      requirements.</li>
    <li>Have the customer agree to and sign off the requirements
      documents.</li>
  </ul>
  <h5>What are the problems associated with Scope Creep?</h5>
  <ul>
    <li>Changes that were not initially planned for are added to
      the project.</li>
    <li>The project takes longer and costs more than planned and
      there is no record of why.</li>
  </ul>
  <h5>And for poorly defined Deliverables:<br>
    <br>
  </h5>
  <h5>What are the problems associated with poorly defined
    deliverables?</h5>
  <ul>
    <li>Difficult to get agreement that the project is finished.</li>
    <li>Customer keeps waiting more, saying you didn't do it to
      their specifications.</li>
  </ul>
  <h5>What causes this?</h5>
  <ul>
    <li>The milestones or deliverables were not measurable.</li>
    <li>&quot;The customer never told us how many they wanted, so we
      just assumed...</li>
  </ul>
  <h5>What to do</h5>
  <ul>
    <li>Ensure milestones or deliverables are clearly defined
      and measurable (or quantifiable).</li>
    <li>For example:&nbsp; Red is bad, Red #ED2D2D is better.</li>
    <li>For example:&nbsp; 1.22 GHz is better.</li>
  </ul>
  <p>Holding regular requirements gathering meetings at the outset
    will reduce the likelihood that the requirements are incomplete.
    It is also important to revisit these meetings during the
    execution phase of the project for occasional refreshers and to
    ensure that the current requirements can be achieved in the
    allotted timeframe. Note that high and low-level scope need to
    be adequately itemized as well. Poor defined requirements can be
    a surefire way to leading to project failure.</p>
  <hr>
  <p><strong><a name="4"
                   id="4"></a>4. Scope Creep (or a lack of control in change
    management)<br>
    <a href="#index"><span class="smltxt">Back to INDEX</span></a></strong><br>
    <br>
  </p>
  <h3>Also known as...<br>
    <br>
  </h3>
  <h3>&quot;You'd like it just a bit bigger? No problem&quot;<br>
  </h3>
  <h5>&quot;Oh, still a bit bigger...ok&quot;<br>
  </h5>
  <h3>&quot;Even bigger?! It wasn't in the plan but okay...&quot;<br>
  </h3>
  <span class="auto-style2"><strong> &nbsp;&quot;you want it even bigger than that!&nbsp; um...&nbsp; okay...&quot;</strong></span>
  <p><img alt=""
                     class="img-fluid"
                     src="{{ asset('storage/images/fail%2012.png') }}"
                     ></p>
  <p>When Scope Creep happens the end result is always more work
    than expected.</p>
  <br>
  <h5>What are the problems associated with Scope Creep?</h5>
  <ul>
    <li>Changes that were not initially planned for are added to
      the project</li>
    <li>The project takes longer and costs more than planned and
      there is no record of why</li>
  </ul>
  <h5>What causes this?</h5>
  <ul>
    <li>Disingenuous customer with a determined value for free
      policy.</li>
    <li>Poor change control.</li>
    <li>Lack of proper initial identification of what is
      required to bring about the project objectives.</li>
    <li>Weak project manager or executive sponsor.</li>
    <li>Poor communication between parties.</li>
    <li>Not having a method to handle or recognize changes.</li>
  </ul>
  <h5>What to do?</h5>
  <ul>
    <li>Document the <a href="/Documentsviewpdf/resources/change%20management%20guide.pdf" >change management process</a> to be used and
      followed by the project team. </li>
    <li>Educate the project team to recognize a change or
      deviation from the plan.</li>
    <li>Follow the change management processes.</li>
    <li>Have the customer agree to and sign off the requirements
      documents and any change management documents that occur
      during the lifecycle of the project.</li>
  </ul>
  <p>The bane of many a project manager&#8217;s existence, scope creep
    is the tendency for stakeholders and project participants alike
    to try to &#8216;sneak&#8217; new features or requirements into a project
    after the primary requirements have already been agreed upon.
    Adding scope to a project during its run is not in itself
    unusual, but it is imperative for the project manager to ensure
    that any changes in scope are effectively discussed and any
    changes to the schedule are also itemized. The famous &#8216;triple
    constraint&#8217; (scope, time, cost) demonstrates that one cannot
    change scope within a project without changing one of the other
    items as well.</p>
  <p>Project managers need to be cognizant of the fact that adding
    scope without addressing the overall project itself can lead to
    missed schedules or a poor quality deliverable, since scope was
    added at the expense of other things, like product quality.&nbsp;</p>
  <h5>Manage the Iron Triangle or it will manage you!</h5>
  <p>Note:&nbsp; The sides and middle of the traingles are defined
    differently.&nbsp; This does not pose a problem to Project
    Managers as essentially all four components (Time, Cost, Scope
    and Quality) are seen to work together to produce the best
    result.&nbsp; <a href="/irontriangle.php#dimensions" >Click here</a> to see that
    there are, in fact, even more dimensions that can be taken into
    consideration.</p>
  <p><img alt=""
                     class="img-fluid"
                     src="{{ asset('storage/images/fail%203.png') }}"
                     >&nbsp; <img alt="" class="img-fluid" src="{{ asset('storage/images/irontrianlgemusic.png') }}" ></p>
  <p> <img alt="" class="img-fluid" src="{{ asset('storage/images/brand.png') }}" ></p>
  <p> This is the end result of not managing the IRON TRIANGLE on a
    basic task:&nbsp; I.e. lets dig a hole.</p>
  <p> <img alt="" class="img-fluid" src="{{ asset('storage/images/holeslip.png') }}" ></p>
  <p> PMBOK sees the above as a <a href="/pmpprocesses.php" > project management process</a>.&nbsp; I.e. shown in the image below.</p>
  <p> <img alt="" class="img-fluid" src="{{ asset('storage/images/corefacilitate1.png') }}" ></p>
  <p> <a href="/havepmbok.php" >Click here</a> for an article
    that ties the Iron Triangle into CMM.&nbsp;</p>
  <p>Remember to &quot;<a href="/baseline.php">Mind the Gap!</a>&quot;</p>
  <hr>
  <p><strong><a name="7"
                   id="5"></a>5. Lack of Resources<br>
    <a href="#index"><span class="smltxt">Back to INDEX</span></a></strong></p>
  <h5>You do not have enough people, the right skillsets, or the
    team is not committed to the project.</h5>
  <p>Every project needs resources. How much and how many depends
    on the size and scope of the project. Like most project managers
    can attest, working on projects with scarce resources is not all
    that unusual. Management will always invariably try to minimize
    costs while working with maximum productivity. Projects running
    somewhat &#8216;lean&#8217; are not an unknown in project management
    circles. However, there are situations where the project is
    simply unattainable because the allocated resources are woefully
    insufficient. In those types of situations, it may be a case
    whereby key personal required for project success are just made
    not available.</p>
  <p><img alt=""
                     class="img-fluid"
                     src="{{ asset('storage/images/fail%2020.png') }}"
                     >&nbsp;</p>
  <p>An important paper on this subject that is a must read <a href="/documentsviewpdf/resources/resource%20allocation%20syndrome.pdf" > by Mats Engwall and Anna Jerbrant is entitled, &nbsp;&quot;The resource
    allocation syndrome: the prime challenge of multi-project
    management?&quot;.</a>&nbsp;&nbsp; You can also <a href="/resourceallocationsyndrome.php" >click
    here for a summary of this &quot;Resource Allocation Syndrome&quot; paper</a>.&nbsp;
    The key takeaway from the paper is that the resource allocation
    issues are a consequence of <strong>flawed organisational
    procedures</strong> rather than poor project management
    practices.&nbsp; Project and portfolio managers responsible for
    resource allocation are only too aware of this. However, they
    are powerless to do anything about it because, as Engwall and
    Jerbrant suggest,&nbsp; addressing the root cause of this syndrome is
    a task for executive management.</p>
  <p>And if you <a href="/service.php" >click here
    you will find a page dedicated to the same resources being asked
    to work on Projects and also to provide ongoing services to
    clients</a>.</p>
  <h5>What are the problems associated with Lack of Resources?</h5>
  <ul>
    <li>Tasks take longer than expected to complete.</li>
    <li>Deadlines and milestones get missed.</li>
    <li>Project completion date comes into jeopardy.</li>
    <li>You end up working double-shifts to complete all the
      work.</li>
  </ul>
  <h5>What causes this?</h5>
  <ul>
    <li>There was no pre-commitment of resources to the project.</li>
    <li>The project was not supported.</li>
    <li>There was no analysis and documentation of all skillsets
      required.</li>
  </ul>
  <h5>What to do?</h5>
  <ul>
    <li>Get executive sponsorship for the project.</li>
    <li>Document which resources and skillsets are needed to get
      the job done.</li>
    <li>Create a plan that gives enough time to get the job done
      with the allocated resources.</li>
    <li>Pre-assign the required resources to the team.</li>
    <li>Work in hours left to complete work not in % completed.</li>
  </ul>
  <hr>
  <p><strong><a name="5"
                   id="6"></a>6. Poorly Defined or Unrealistic Time Scales and
    Estimates<br>
    <a href="#index"><span class="smltxt">Back to INDEX</span></a></strong></p>
  <p><img alt=""
                     class="img-fluid"
                     src="{{ asset('storage/images/buddah.png') }}"
                    ><br>
    One of the most important duties for a project manager is
    scheduling. A schedule defines the timeframe, milestones and key
    deliverables for a project. It is probably one of the most
    challenging yet essential parts of the project manager&#8217;s job.
    Which is why when it is either performed inadequately or a
    sponsor or set of stakeholders give an unrealistic set of goals
    and timeframes to the team, the project manager must act
    accordingly. One of the hardest jobs a project manager must
    undertake is the ability to say &#8216;no&#8217; or &#8216;that timeframe is
    unrealistic&#8217;. Management never likes hearing what can&#8217;t be done.
    But invariably, a project manager that willingly ignores all the
    red flags pertaining to a project&#8217;s schedule is just as guilty
    if the project ultimately fails as the executive team.<br>
    <br>
    Remember <span lang="EN-ZA">Murphy&#8217;s Law of Short Cuts:&nbsp;&nbsp;
    The problems associated with any short cut are inversely
    proportional to the shortness of the cut</span>!</p>
  <h5>What are the problems associated with poor Time / Schedule
    estimating.</h5>
  <ul>
    <li>An unrealistic timeline (tasks in the project schedule)
      or budget will be agreed to</li>
    <li>You will not be able to do all the work in the time
      allocated</li>
  </ul>
  <h5>What causes this?</h5>
  <ul>
    <li>No formal estimating method.</li>
    <li>Estimate confidence is low.</li>
    <li>Volume of work not understood.</li>
    <li>Not enough information.</li>
    <li>Not involving the &quot;key people in the know&quot; / subject
      matter experts who can help you pin down timelines and
      costs.</li>
  </ul>
  <h5>What to do?</h5>
  <ul>
    <li>List all the work as well as possible.</li>
    <li>Estimate each work package.</li>
    <li>Add up all work packages.</li>
    <li>Do not give &quot;elevator&quot; estimates if possible.</li>
    <li>Always give answers using a range of dates&nbsp; -&nbsp; A rule of
      thumb:&nbsp; Estimates where the work is well defined:&nbsp; 15%
      inaccuracy. Estimates where the work in not well defined:&nbsp;
      100% inaccuracy.</li>
  </ul>
  <hr>
  <p><strong><a name="6"
                   id="7"></a>7. Inadequate (or non-existent) Testing<br>
    <a href="#index"><span class="smltxt">Back to INDEX</span></a></strong></p>
  <p><img alt=""
                     class="img-fluid"
                     src="{{ asset('storage/images/fail%208.png') }}"
                     ></p>
  <p>Throughout the life cycle of any project, there have to be
    timeframes and iterations allocated to testing the integrity of
    the deliverable. This almost seems like a no-brainer. Yet it is
    striking just how many times projects hit the wall or end up
    failing miserably in the marketplace because of inadequate
    testing. Product quality is something that any organization
    strives for since that actively contributes to the company&#8217;s
    reputation. As such, allocating the necessary cycles and
    resources to testing at various stages of the project life-cycle
    is absolutely essential. That includes unit testing, regression
    testing, alpha/beta testing by consumers and standard
    build-based testing. In many cases where released products
    displayed poor quality, the most obvious culprit in those
    circumstances is a schedule and process that did not allocate
    the necessary time for testing.</p>
  <hr>
  <p><strong><a name="8"
                   id="8"></a>8. Use of New or Unfamiliar Tools<br>
    <a href="#index"><span class="smltxt">Back to INDEX</span></a></strong></p>
  <p><img alt=""
                     class="img-fluid"
                     src="{{ asset('storage/images/confused-computer.jpg') }}"
                     ></p>
  <p>Good tools are essential for the success of any project.
    Whether that be access to a good software development
    environment, a good CRM system or a good defect tracking system,
    tools are a staple component to the success of any project.<br>
    <br>
    However, a common fallacy that many project managers and team
    leaders often make is attempting to utilize a new or unfamiliar
    tool at the same time that a new project is starting. This can
    lead to severe problems during the life-cycle of the project
    since the team now has to contend with their common project
    duties while also dealing with the learning curve of the new
    tool. This can easily lead to delays or outright missed issues
    if the team members are too novice on the tool to be able to
    utilize it wisely.<br>
    <br>
    As a rule of thumb, it is usually the best policy when thinking
    of adopting new tools to bring them into the fray gradually.
    Allow the team to use existing tools for any new or current
    projects and make adoption of the newer tools reside on a
    parallel track. Ensure that adequate training is provided and
    only begin usage of these new tools for any new projects once
    you are satisfied that the team is up to snuff with their usage.</p>
  <hr>
  <p><strong><a name="9"
                   id="9"></a>9. Over Optimism<br>
    <a href="#index"><span class="smltxt">Back to INDEX</span></a></strong></p>
  &nbsp;<img alt=""
                     class="img-fluid"
                     src="{{ asset('storage/images/paddy.png') }}"
                     >
  <p><a href="{{ asset('storage/assets/project%20ireland.pdf') }}"
                   ><img alt="Not about being lucky"
                     class="img-fluid"
                     src="{{ asset('storage/images/leprechaun.png') }}"
                    ></a></p>
  <p>&quot;To be sure, to be sure&quot;.<br>
    Project Management is not about fast moves, and four leaf
    clovers!&nbsp;<br>
    Click the leprechaun to revisit the all time classic:&nbsp;
    &quot;Recovery Project Ireland&quot; in Technicolor!&nbsp;</p>
  <h5>What are the problems associated with Over Optimism?</h5>
  <ul>
    <li>There was little or no planning before deciding you can
      get the job done.</li>
    <li>The task you agree to turns out to be more work than
      expected.</li>
    <li>It takes you longer and jeopardizes other deliverables.</li>
  </ul>
  <h5>What causes this?</h5>
  <ul>
    <li>Not enough time spent planning.</li>
    <li>You may have been pressured into giving an answer right
      then and there.</li>
    <li>Didn't have a full understanding of the work involved
      before committing.</li>
  </ul>
  <h5>What to do?</h5>
  <ul>
    <li>Take the time to fully understand the work before
      agreeing to it.</li>
    <li>It's okay to say the work is not possible or will take
      too long.</li>
    <li>Only agree to work when you're sure it can be done.&nbsp;
      This will benefit you and your manager.</li>
  </ul>
  <hr>
  <p><strong><a name="10"
                   id="10"></a>10. Political Infighting (Power Struggles)<br>
    <a href="#index"><span class="smltxt">Back to INDEX</span></a></strong></p>
  <p><img alt=""
                     class="img-fluid"
                     src="{{ asset('storage/images/argue1.png') }}"
                     >&nbsp;&nbsp;</p>
  <p>It exists in companies as well as governments. Functional
    managers and executives with their own vested interest in
    specific aspects of the business can often come to blows over
    new or existing projects.</p>
  <p>The worst has to be the political player with a covert agenda
    who is also a backstabber.&nbsp; I.e. undermining the project
    and typically, you don't even see them coming.</p>
  <p>.<img alt=""
                     class="img-fluid"
                     src="{{ asset('storage/images/back.png') }}"
                    ></p>
  <p>Power struggles are especially prevalent in situations where a project may span
    several different business units that may or may not all utilize
    the same process or have the same mid to long-term mission
    statements. As a project manager, it is important to be able to
    function adequately as the referee and mediator in these
    situations and try to smooth out any differences of opinion as
    they arise. Groups of stakeholders or functional managers
    involved in a project that do not see eye-to-eye on the project
    scope, its implementation or its schedule can be extremely
    detrimental to the overall success of the project.</p>
  <p>It is difficult enough to get it right with project
    management.&nbsp; Why make it even more difficult with
    infighting and power struggles!</p>
  <p>Maturity is essential!&nbsp; I.e. Understanding PMP,
    respecting project roles and working as a team:&nbsp; putting
    the project goals first and working together towards success!</p>
  <hr>
  <p><strong><a name="11"
                   id="11"></a>11.&nbsp; Lack of User Involvement<a href="#index"><br>
    &nbsp;<span class="smltxt">Back to INDEX</span></a></strong></p>
  <p><img alt=""
                     class="img-fluid"
                     src="{{ asset('storage/images/notinvolved.png') }}"
                     ></p>
  <p>A project that is producing some deliverable is likely going
    to have a specific user constituency. i.e. a group of
    individuals that are the consumers of that product. Whether it
    be a new hardware widget, a piece of software, or even an
    augmentation to some existing mechanism, users will be the
    ultimate customers. As such, it is imperative that the users are
    actively engaged during the project life-cycle to ensure that
    their particular feedback and suggestions are effectively
    cataloged. This is often done with a small subset of product
    &#8216;consumers&#8217; who participate in some of the initial product
    screenings. This then expands to more involved Alpha and Beta
    release cycles where a broader number of users are brought in
    and their input is used to guide the project. Failure to
    actively engage with users can often lead to an end result
    deliverable that does not meet the needs and expectations of the
    users.</p>
  <hr>
  <p><strong><a name="12"
                   id="12"></a>12. Lack of Communication<br>
    <a href="#index"><span class="smltxt">Back to INDEX</span></a></strong></p>
  <p><img alt=""
                     class="img-fluid"
                     src="{{ asset('storage/images/fail%2016.jpg') }}"
                     ></p>
  <h5>What are the problems associated with poor, or a lack of
    communication?</h5>
  <ul>
    <li>Team members do not have the information they need when
      they need it, causing delays.</li>
    <li>Issues or changes do not get escalated.</li>
    <li>Project reporting (and therefore control [<a href="/rag.php" >RAG
      status</a> etc.]) is sluggish.</li>
  </ul>
  <h5>What causes this?</h5>
  <ul>
    <li>The project's communication plan was not completed.</li>
    <li>The project's communication plan does not have enough
      detail.</li>
  </ul>
  <h5>What to do and prevention?</h5>
  <p>Find out the communications requirements of all team
    members and stakeholders, document them in a communication
    plan and follow the plan.
  <ul>
    <li>Who needs the information.</li>
    <li>What do they need to know.</li>
    <li>What level of detail.</li>
    <li>How do they want it.</li>
    <li>When and how often do they need it.</li>
    <li>How should it be delivered, and by whom.</li>
  </ul>
  <p>A project management tool often used to pin down
    communication requirements is called a <a href="/raci.php">RACI matrix</a>.&nbsp;</p>
  <p>You can also take a look at the section in PMWay on <a href="/arc.php"> Communication Skills</a>.&nbsp;</p>
  <hr>
  <p><strong><a name="13"
                   id="13"></a>13.&nbsp; Poor Risk Management<a href="#index"><br>
    &nbsp;<span class="smltxt">Back to INDEX</span></a></strong></p>
  <p><strong>&quot;Sorry about the project, I left it in my car this
    morning and there was a bit of an incident&quot;</strong></p>
  <p><img alt=""
                     class="img-fluid"
                     src="{{ asset('storage/images/risk.png') }}"
                     ></p>
  <h5>What are the problems associated with Poor Risk Management?</h5>
  <ul>
    <li>Unexpected events cause delays.</li>
    <li>Domino effect of things going wrong.</li>
  </ul>
  <h5>What causes this?</h5>
  <ul>
    <li>No formal risk management.</li>
    <li>Just try to predict the big things that can go wrong.</li>
    <li>It's the sum of all the little things that make a
      project late.</li>
    <li>Nothing is more stressful than trying to keep on
      schedule when unexpected things keep happening.</li>
  </ul>
  <h5>What to do?</h5>
  <ul>
    <li>List all the work as well as possible.</li>
    <li>Figure out what can go wrong with each piece of work.</li>
    <li>Prioritize each risk:&nbsp; -&nbsp; High / Med / Low probability
      By High / Med / Low impact (or effect).</li>
    <li>Sort the list.</li>
    <li>Create a plan to deal with the risks at the top of the
      list.</li>
  </ul>
  <p>PMBok states that a Risk Register must be created.&nbsp; Also
    that a Risk Management Plan must be in place.&nbsp; I.e.&nbsp;
    monitoring and controlling risks on an ongoing basis.</p>
  <p>Remember managing risks on your project (avoiding them is
    first prize) is one of the neatest ways to manage the Iron
    Triangle I.e. Time and Cost.&nbsp; If risks happen then these
    will surely impact negatively on the project.&nbsp; Preventing
    them is a no brainer!</p>
  <p>Take a look at the <a href="/risksiac.php">Risks / Issues / Actions</a> page in
    this web site to see how to use Issue Management to which
    monitored and controlled actions are put in place and tightly
    managed (via project minutes) to ensure Risks as mitigated.</p>
  <hr>
  <p><strong><a name="14"
                   id="14"></a>14.&nbsp;Lack of Command and Control /
    Lack of and Accountability to a Project Management Office /
    Lack of and Accountability to Project Management Board / Lack
    of and Accountability to an allocated Sponsor / Lack of
    Sponsor Involvement<a href="#index"><br>
    &nbsp;<span class="smltxt">Back to INDEX</span></a></strong></p>
  <p>PMWay web deals with this subject in great depth.</p>
  <p> The <a href="/home/intenmins" >PMWay Vision is the quickest way to get a handle on this</a>.</p>
  <p>The <a href="/board.php">Project
    Management Boad</a> and <a href="/sponsor.php">Sponsor</a> are
    key.</p>
  <p>Why all this control? <br>
    Because it is easier and cheaper to keep the project on the road than to allow it to career off out of control into a ditch! <a href="/essence.php#lemmings" > [Click the Show Button]</a></p>
  <hr>
  <p><strong><a name="15"
                   id="15"></a>15.&nbsp;Lack of Project Control Systems.  I.e. an Enterprise Project Management System<a href="#index"><br>
    &nbsp;<span class="smltxt">Back to INDEX</span></a></strong></p>
  <p><strong>Again PMWay web deals with this subject in great depth.</strong></p>
  <p> <a href="/preloader.php" > The PMWay Vision is the quickest way to get a handle on this.</a></p>
  <p>The <a href="/epms.php" >Enterprise Project Management System</a> and <a href="/feather.php" > EPMS Light or Heavy</a> are
    key.</p>
  <p>The above ties to an understanding of <a href="/transparency.php" > Ideas on using the EPMS for Transparency, Accountability </a>, <a href="/governance.php" >Governance</a> and delivery of quality need satisfying products and services to the <a href="/client.php" >Stakeholders</a> (<a href="/client.php" >our valued clients</a>)
    which is critical for project / our success - into the long term.
  <hr>
  <p><strong><a name="fin"
                   id="fin"></a>Conclusion<br>
    <a href="#index"><span class="smltxt">Back to INDEX</span></a></strong></p>
  <p>Projects succeed and sometimes, projects fail. Knowing what
    factors can lead to project failure is important for the project
    manager so they know what to look for when managing their
    projects. The aforementioned list should give a project manager
    the necessary reference to be able to stay on top of things
    within their areas and get the jump on any problems that arise,
    thereby minimizing the likelihood of project failure and
    maximizing the likelihood of success down the road.</p>
  <br>
  <br>
  <br>
</div>
<!-- Content Container ends here -->

{% endif %}


{% endblock %}
