{% extends 'base.twig' %}
{% block title %} {% if not user %}PMWay{% endif %} {% if user %}Up Your Game Stats{% endif %}  {% endblock %}
{% block body %}
{% if user %}
 <!--BODY-->
<div class="container" align="center">
<h3 align="left">Up Your Game STATS!</h3>
<hr>
<h5>Use of Statistics to
  Up Production<br>
  A Management tool</h5>
<p align="left"> <a href="/conditions/conditions.htm" ><img alt="" class="img-fluid" src="{{ asset('storage/images/conditionsscale.png') }}" title="Click here for more on the Conditions Scale." ></a></p>
<h5>There is a game called PRODUCTION.&nbsp; It's a
  pro-survival game:</h5>
<row ><a href="/home/removetheredbeads"><img alt="red beads out" align="right" class="img/fluid" src="{{ asset('storage/images/redbeadsoutsmall.png') }}" title="Executive Action Team: EAT the Red Beads" ></a></row>
<p align="left">This is the game you play, in one form or
  another, when you go to work or are part of an organized activity.<br>
  Obviously, if you are a salesman you are a better salesman the more you sell. If
  you are a hunter you are a better hunter the more game you bring home.
  Production and survival are closely related. In the physical universe you don't
  survive for long unless you produce <i>something</i> that is right; you have to
  do work to survive.</p>
<p>&nbsp;</p>
<div align="center">
  <center>
    <table border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td><img border="0" class="img-fluid" src="{{ asset('storage/images/saleup.jpg') }}" ></td>
        <td bgcolor="#DFFFDF"><p align="center">&nbsp;Production and survival are&nbsp;<br>
            &nbsp;&nbsp; closely related. In the physical&nbsp;&nbsp;&nbsp;<br>
            universe you have to do&nbsp;<br>
            work to survive.</td>
      </tr>
    </table>
  </center>
</div>
<p>&nbsp;</p>
<p align="left">This is not to say that production equals
  survival nor Ethics.
  Production is a much narrower scope. Production is sweating it out, not
  reflection. It does not consider the
  hard choices and it does not consider <i>what</i> you produce - only how much.
  In other words, when you measure production using statistics you are asking for
  numbers, not prior
  reasoning or ethical concerns. Immediate advantage and results will dominate. That said,
  using statistics in combination with the so-called Ethics Conditions are very
  applicable to the work situation as management tools. The Conditions scale
  above is the study of organizations and they
  were defined as operating states.&nbsp; Yet the Conditions can also be used to
  study of the survival of an individual, a group, a country, our planet, its
  wildlife etc.</p>
<p align="left">The fact that 'Valuable Final Products' are established using statistics makes a lot of sense.
  Once you have a bakery the
  baker that bakes more bread is the better baker.&nbsp; This is also the worker you want to hire or keep
  if you run the activity.</p>
<p align="left">In the following we thus assume that what you
  produce has already past the test of being useful and will be needed and wanted as a
  valuable final product within that overall activity or society. Once that is established
  more is better. We can start
  to apply the Conditions Formulas (these are described below) to increase production and handle factors that
  impede production. We are in other words into some level of management, whether
  it is of our own affairs or include a whole organization with hundreds of
  workers whose production we are responsible for.</p>
<p align="center"><b>Using Statistics</b></p>
<p align="left">The basic rules on how you use statistics to manage a production are simple.
  It all starts with plotting your production on a graph. When you have done that
  for a while you take a step back and look at the graph in order to see how you
  are doing.</p>
<p><b>Here is a basic production graph:</b></p>
<div align="center">
  <center>
    <table border="1" cellpadding="0" cellspacing="0">
      <tr>
        <td bgcolor="#DFFFDF"><p align="center"><font size="1">Number<br>
            of items<br>
            produced</font></p></td>
        <td background="/images/graphbackgr.gif" bgcolor="#FFFFFF"><p align="center">&nbsp; <img border="0" src="{{ asset('storage/images/graph1.gif') }}" width="286" height="101">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      </tr>
      <tr>
        <td bgcolor="#808080">&nbsp;</td>
        <td bgcolor="#DFFFDF"><p align="center"><font size="1">Timeline. Each line represents here one
            day.</font></p></td>
      </tr>
      <tr>
        <td colspan="2" bgcolor="#FFFFFF"><p align="center">At the end of each day you count your production and
            mark&nbsp;<br>
            the number with a dot. The more you produced the higher&nbsp;<br>
            up the dot. Then you connect the dots and get a graph.<br>
            &nbsp;&nbsp; The shown graph depicts 5 days of production. As it can
            be&nbsp;&nbsp;&nbsp;<br>
            seen the overall trend is going up. You are doing well.</td>
      </tr>
    </table>
  </center>
  <br>
  <p align="left">One thing to consider when making
    a graph is that the
    graph is properly scaled. The variations in production has to show up visually.
    If you made a graph of a salesman's sales of bread in 'millions of dollars (or
    whatever your currency) per
    week' it would just be a straight line along the bottom of the graph paper and
    tell you nothing. If you made a graph of sales in dollars per week a difference
    between $1,000 and $3,000 would show up as a significant difference and you
    would have a graph you could work with. To get this right you may have to adjust
    the range you graph and what numerical units to use. If after a while it
    becomes clear the sales of bread is mainly between $500 and $2,000 you make
    sure your graph shows this range clearly and gives a clear picture of ups and
    downs in that range.</p>
  <p align="left">In order to use the Conditions
    Formulas in connection with production you have to look at the trend of the
    graph. The tend is the main direction of the overall graph or a section thereof.
    The <i>trend</i> is what tells you what Condition to apply. Another
    factor to consider, when reading a graph, is the time span to use. The closer and
    the more directly involved you are in the graphed production the shorter a time
    span you use.</p>
  <p align="left">You can monitor your personal
    production down to the hour. How many loaves of bread did you bake in the last
    hour? How many loaves of bread did you sell in the last hour?</p>
  <p align="left">A more usable trend may come about
    if you compare each day. After all there are supporting
    activities, such as cleaning, that have to be done in order to bake bread. Cleaning would not add up to baked
    loaves of bread but is part of the whole
    process. If you are responsible for the day to day operation it is relevant to
    see where you stand at the end of the day. You would add up the total number of
    loaves of bread baked; in sales you would simply add up the
    total sales.</p>
  <p align="left">If you are responsible on a senior level for an activity you
    would use a longer time span in order to determine the trend. You wouldn't
    micro-manage the activity but supervise it on a distance and only be ready to
    step in if a long range slump seems to set in. If you are the overall top
    manager of a large activity with many remote locations you would follow the
    statistics continuously, but you would not issue serious orders or start major
    programs to repair a slump unless you saw a trend developing over several
    months or longer. The key to determine how long a trend has to be actionable
    depends upon how long the remedies you are authorized to use would take to get
    communicated, working and completed.&nbsp;If you sit in New York and the
    production takes place in Vancouver you would only issue strategic orders. Not
    orders having to do with the day to day operation on a junior level. That is
    why the higher up you go in an organization the longer the trends are
    that you
    watch.</p>
  <p align="left">Here is how the trends relate to the
    Conditions. The Condition Formulas would tell you the general steps to take in
    an overall plan when seeking to remedy a bad situation or improve upon a favorable one.
    To apply the Conditions intelligently and effectively are what takes real genius
    in top administrators.&nbsp;</p>
  <p align="left">&nbsp;</p>
  <div align="center">
    <center>
      <table border="1" cellpadding="0" cellspacing="0" width="30%">
        <tr>
          <td width="100%" background="/images/graphbackgr.gif" bordercolor="#FFFFFF" bgcolor="#FFFFFF"><p align="center"><br>
              <img border="0" src="{{ asset('storage/images/graph_nonex.gif') }}" width="67" height="119"><br>
          </td>
        </tr>
        <tr>
          <td width="100%" bgcolor="#DFFFDF"><p align="center">Steep or near vertical down:<br>
              Non-Existence trend.</td>
        </tr>
      </table>
    </center>
  </div>
  <br>
  <p align="left">What is shown is the trend. If you
    have a statistic with many periods plotted it will of course not be a straight
    line but for instance look like this:</p>
  <br>
  <div align="center">
    <center>
      <table border="1" cellpadding="0" cellspacing="0" width="30%">
        <tr>
          <td width="100%" background="/images/graphbackgr.gif" bgcolor="#FFFFFF"><p align="center"><br>
              <img border="0" src="{{ asset('storage/images/graph_trend.gif') }}" width="183" height="241"><br>
          </td>
        </tr>
        <tr>
          <td width="100%" bgcolor="#DFFFDF"><p align="center">A ten period graph showing a Non-Existence trend.</td>
        </tr>
      </table>
    </center>
  </div>
  <p align="left">&nbsp;</p>
  <p align="left">The longer the period the more small
    ups and downs there will be. The day to day people would react to and seek to
    remedy the small ups and downs based on a short trend. The overall in charge at
    a remote location would only react to a trend becoming evident on a many moths'
    graph. He uses these long trends to work out a strategy for the company. He
    ignores the small ups and downs and assigns the Condition to use based on this
    long trend.&nbsp;</p>
  <p align="left">&nbsp;</p>
  <div align="center">
    <center>
      <table border="1" cellpadding="0" cellspacing="0" width="30%">
        <tr>
          <td width="100%" background="/images/graphbackgr.gif" bgcolor="#FFFFFF"><p align="center"><img border="0" src="{{ asset('storage/images/graph_stock.gif') }}" width="336" height="195"> </td>
        </tr>
        <tr>
          <td width="100%" bgcolor="#DFFFDF"><p align="center">A long range graph will have many ups and downs.<br>
              The totality of this graph is a normal trend, but<br>
              you can find all the trends described below<br>
              in sections of this graph.&nbsp;&nbsp;&nbsp;</td>
        </tr>
      </table>
    </center>
  </div>
  <p align="left">&nbsp;</p>
  <p align="center"> Here are the rest of the trends:</p>
  <p align="left">&nbsp;</p>
  <div align="center">
    <center>
      <table border="1" cellpadding="0" cellspacing="0" width="30%">
        <tr>
          <td width="100%" background="/images/graphbackgr.gif" bgcolor="#FFFFFF"><p align="center"><br>
              <img border="0" src="{{ asset('storage/images/graph_danger.gif') }}" width="139" height="66"><br>
          </td>
        </tr>
        <tr>
          <td width="100%" bgcolor="#DFFFDF"><p align="center">Less down:&nbsp;<br>
              Danger trend.</td>
        </tr>
      </table>
    </center>
  </div>
  <p align="center">&nbsp;</p>
  <div align="center">
    <center>
      <table border="1" cellpadding="0" cellspacing="0" width="30%">
        <tr>
          <td width="100%" background="/images/graphbackgr.gif" bgcolor="#FFFFFF"><p align="center"><br>
              <img border="0" src="{{ asset('storage/images/graph_emergency.gif') }}" width="151" height="29"><br>
          </td>
        </tr>
        <tr>
          <td width="100%" bgcolor="#DFFFDF"><p align="center">&nbsp;Only slightly down:&nbsp;<br>
              Emergency trend.</td>
        </tr>
      </table>
    </center>
  </div>
  <p align="center">&nbsp;</p>
  <div align="center">
    <center>
      <table border="1" cellpadding="0" cellspacing="0" width="30%">
        <tr>
          <td width="100%" background="/images/graphbackgr.gif" bgcolor="#FFFFFF"><p align="center"><br>
              <img border="0" src="{{ asset('storage/images/graph_normal.gif') }}" width="155" height="31"><br>
          </td>
        </tr>
        <tr>
          <td width="100%" bgcolor="#DFFFDF"><p align="center">Slightly up:&nbsp;<br>
              Normal trend.</td>
        </tr>
      </table>
    </center>
  </div>
  <p align="center">&nbsp;</p>
  <div align="center">
    <center>
      <table border="1" cellpadding="0" cellspacing="0" width="30%">
        <tr>
          <td width="100%" background="/images/graphbackgr.gif" bgcolor="#FFFFFF"><p align="center"><br>
              <img border="0" src="{{ asset('storage/images/graph_affluence.gif') }}" width="140" height="106"><br>
          </td>
        </tr>
        <tr>
          <td width="100%" bgcolor="#DFFFDF"><p align="center">Steeply up:<br>
              Affluence trend.</td>
        </tr>
      </table>
    </center>
  </div>
  <br>
  <p align="left">A Power Condition graph cannot be
    determined as a straight line trend. It would start as an Affluence that at some
    point would level off at a new and higher level. It would only reveal itself
    after some time has gone by:</p>
  <p align="left">&nbsp;</p>
  <div align="center">
    <center>
      <table border="1" cellpadding="0" cellspacing="0" width="30%">
        <tr>
          <td width="100%" background="/images/graphbackgr.gif" bgcolor="#FFFFFF"><p align="center"><br>
              <img border="0" src="{{ asset('storage/images/graph_power.gif') }}" width="282" height="166"><br>
          </td>
        </tr>
        <tr>
          <td width="100%" bgcolor="#DFFFDF"><p align="center">Affluence leveling off at a higher level:<br>
              Power trend.</td>
        </tr>
      </table>
    </center>
  </div>
  <p align="center">&nbsp;</p>
  <p align="left">For all this to work the statistics
    themselves have to be subject to review on a regular basis. If using a certain
    combination of statistics tend to neglect some vital functions to the overall
    health of a business it may be necessary to reconsider which statistics to use
    or give them different weight. Here we are into what top management has to
    consider. For &quot;the man on the floor&quot; it is usually obvious what he has
    to produce in order to keep his job or survive. It's not money but something he
    can exchange for money, goods and services. This is usually easy to express as a
    statistic and that is what he uses in his daily activities.&nbsp;</p>
  <p align="left"> The stats will,
    besides giving him a tool to manage his own job by, also become something he can
    hold up to prove his worth to the company. This is his personal life insurance
    and a basic protection against injustices. Good managers give the good
    producers, the upstat people, more
    privileges and a
    little more freedom and will overlook any breakage of petty rules. They
    understand that the worker probably did it in order to get his work done and product
    completed. They will even consider it a reason to change the rules in general as
    a successful producer has shown what it takes. On the other hand a low producing
    worker, a downstat
    person, is not given such freedoms but is disciplined for only small
    infractions.&nbsp;</p>
    <a name="kkahnli"></a><br>
  <h5 align="left">A person that has proven to cause statistics
    and production to rise consistently whatever he is made to do is a great asset
    to a company. <br>
    He can be declared <strong>Kha Khan</strong>. </h5>
  <p align="left"> This is an old title used by
    Ghengis Khan and others as an award or distinction given to warriors of great bravery. They were forgiven
    the death penalty ten times should they ever face a trial for their lives in
    the future.</p>
  <br>
  <hr>
  <br>
  <p>"STAT" said above:  Know that ultimately only the Executive (Executive Action Team) can remove (EAT) the Red Beads!</p>
  <p align="center">Click the image for the importance of this statement.</p>
  <a href="/home/removetheredbeads" title="This amazing experiment is the foundation for Capability Maturity (Productivity and Quality)"><img alt="" class="img-fluid" src="{{ asset('storage/images/redbeadsout.jpg') }}"></a> <br>
  <br>
  <p>Talking about "PRODUCTION STATS"; Want to know why American Football is the greatest game in the world,<br>
    and what it can teach us to run projects better (<a href="/cmmi">at CM Level 2+</a>)?<br>
    <br>
    Click the image below now to find out more.</p>
  <a href="/home/af" title="American Football!  Find out why it is a great game and example for improving project management and other processes."><img alt="" class="img-fluid" src="{{ asset('storage/images/touchdownwow.png') }}"></a> <br>
  <br>
  <h1><b>Bottom Line:</b></h1>
  <img alt="Lord Kelvin" class="img-fluid" src="{{ asset('storage/images/gg_measure1.png') }}" > <br>
</div>
<br>
<br>
<br>
	<!-- Content Container ends here -->




{% endif %}


{% if not user %}

<div class="container" align="center">
<h3 align="left">Up Your Game STATS!</h3>
<hr>
<h5>Use of Statistics to
  Up Production<br>
  A Management tool</h5>
<row ><a href="/home/removetheredbeads"><img alt="red beads out" align="right" class="img/fluid" src="{{ asset('storage/images/redbeadsoutsmall.png') }}" title="Executive Action Team: EAT the Red Beads" ></a></row>
<p align="left"> <a href="/login" ><img alt="" class="img-fluid" src="{{ asset('storage/images/conditionsscale.png') }}" title="Log on and then click here for more on the Conditions Scale."></a>
<h5>There is a game called PRODUCTION.&nbsp; It's a
  pro-survival game:</h5>
<p align="left">This is the game you play, in one form or
  another, when you go to work or are part of an organized activity.<br>
  Obviously, if you are a salesman you are a better salesman the more you sell. If
  you are a hunter you are a better hunter the more game you bring home.
  Production and survival are closely related. In the physical universe you don't
  survive for long unless you produce <i>something</i> that is right; you have to
  do work to survive.</p>
<p>&nbsp;</p>
<div align="center">
  <center>
    <table border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td><img border="0" src="{{ asset('storage/images/saleup.jpg') }}" width="170" height="149"></td>
        <td bgcolor="#DFFFDF"><p align="center">&nbsp;Production and survival are&nbsp;<br>
            &nbsp;&nbsp; closely related. In the physical&nbsp;&nbsp;&nbsp;<br>
            universe you have to do&nbsp;<br>
            work to survive.</td>
      </tr>
    </table>
  </center>
</div>
<p>&nbsp;</p>
<p align="left">This is not to say that production equals
  survival nor Ethics.
  Production is a much narrower scope. Production is sweating it out, not
  reflection. It does not consider the
  hard choices and it does not consider <i>what</i> you produce - only how much.
  In other words, when you measure production using statistics you are asking for
  numbers, not prior
  reasoning or ethical concerns. Immediate advantage and results will dominate. That said,
  using statistics in combination with the so-called Ethics Conditions are very
  applicable to the work situation as management tools. The Conditions scale
  above is the study of organizations and they
  were defined as operating states.&nbsp; Yet the Conditions can also be used to
  study of the survival of an individual, a group, a country, our planet, its
  wildlife etc.</p>
<p align="left">The fact that 'Valuable Final Products' are established using statistics makes a lot of sense.
  Once you have a bakery the
  baker that bakes more bread is the better baker.&nbsp; This is also the worker you want to hire or keep
  if you run the activity.</p>
<p align="left">In the following we thus assume that what you
  produce has already past the test of being useful and will be needed and wanted as a
  valuable final product within that overall activity or society. Once that is established
  more is better. We can start
  to apply the Conditions Formulas (these are described below) to increase production and handle factors that
  impede production. We are in other words into some level of management, whether
  it is of our own affairs or include a whole organization with hundreds of
  workers whose production we are responsible for.</p>
<p align="center"><b>Using Statistics</b></p>
<p align="left">The basic rules on how you use statistics to manage a production are simple.
  It all starts with plotting your production on a graph. When you have done that
  for a while you take a step back and look at the graph in order to see how you
  are doing.</p>
<p><b>Here is a basic production graph:</b></p>
<div align="center">
<center>
<table border="1" cellpadding="0" cellspacing="0">
  <tr>
    <td bgcolor="#DFFFDF"><p align="center"><font size="1">Number<br>
        of items<br>
        produced</font></p></td>
    <td background="/images/graphbackgr.gif" bgcolor="#FFFFFF"><p align="center">&nbsp; <img border="0" src="{{ asset('storage/images/graph1.gif') }}" width="286" height="101">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#808080">&nbsp;</td>
    <td bgcolor="#DFFFDF"><p align="center"><font size="1">Timeline. Each line represents here one
        day.</font></p></td>
  </tr>
  <tr>
    <td colspan="2" bgcolor="#FFFFFF"><p align="center">At the end of each day you count your production and
        mark&nbsp;<br>
        the number with a dot. The more you produced the higher&nbsp;<br>
        up the dot. Then you connect the dots and get a graph.<br>
        &nbsp;&nbsp; The shown graph depicts 5 days of production. As it can
        be&nbsp;&nbsp;&nbsp;<br>
        seen the overall trend is going up. You are doing well.</td>
  </tr>
</table>
<br>
<p align="left">One thing to consider when making
  a graph is that the
  graph is properly scaled. The variations in production has to show up visually.
  If you made a graph of a salesman's sales of bread in 'millions of dollars (or
  whatever your currency) per
  week' it would just be a straight line along the bottom of the graph paper and
  tell you nothing. If you made a graph of sales in dollars per week a difference
  between $1,000 and $3,000 would show up as a significant difference and you
  would have a graph you could work with. To get this right you may have to adjust
  the range you graph and what numerical units to use. If after a while it
  becomes clear the sales of bread is mainly between $500 and $2,000 you make
  sure your graph shows this range clearly and gives a clear picture of ups and
  downs in that range.</p>
<p align="left">In order to use the Conditions
  Formulas in connection with production you have to look at the trend of the
  graph. The tend is the main direction of the overall graph or a section thereof.
  The <i>trend</i> is what tells you what Condition to apply. Another
  factor to consider, when reading a graph, is the time span to use. The closer and
  the more directly involved you are in the graphed production the shorter a time
  span you use.</p>
<p align="left">You can monitor your personal
  production down to the hour. How many loaves of bread did you bake in the last
  hour? How many loaves of bread did you sell in the last hour?</p>
<p align="left">A more usable trend may come about
  if you compare each day. After all there are supporting
  activities, such as cleaning, that have to be done in order to bake bread. Cleaning would not add up to baked
  loaves of bread but is part of the whole
  process. If you are responsible for the day to day operation it is relevant to
  see where you stand at the end of the day. You would add up the total number of
  loaves of bread baked; in sales you would simply add up the
  total sales.</p>
<p align="left">If you are responsible on a senior level for an activity you
  would use a longer time span in order to determine the trend. You wouldn't
  micro-manage the activity but supervise it on a distance and only be ready to
  step in if a long range slump seems to set in. If you are the overall top
  manager of a large activity with many remote locations you would follow the
  statistics continuously, but you would not issue serious orders or start major
  programs to repair a slump unless you saw a trend developing over several
  months or longer. The key to determine how long a trend has to be actionable
  depends upon how long the remedies you are authorized to use would take to get
  communicated, working and completed.&nbsp;If you sit in New York and the
  production takes place in Vancouver you would only issue strategic orders. Not
  orders having to do with the day to day operation on a junior level. That is
  why the higher up you go in an organization the longer the trends are
  that you
  watch.</p>
<p align="left">Here is how the trends relate to the
  Conditions. The Condition Formulas would tell you the general steps to take in
  an overall plan when seeking to remedy a bad situation or improve upon a favorable one.
  To apply the Conditions intelligently and effectively are what takes real genius
  in top administrators.&nbsp;</p>
<p align="left">&nbsp;</p>
<div align="center">
  <center>
    <table border="1" cellpadding="0" cellspacing="0" width="30%">
      <tr>
        <td width="100%" background="/images/graphbackgr.gif" bordercolor="#FFFFFF" bgcolor="#FFFFFF"><p align="center"><br>
            <img border="0" src="{{ asset('storage/images/graph_nonex.gif') }}" width="67" height="119"><br>
        </td>
      </tr>
      <tr>
        <td width="100%" bgcolor="#DFFFDF"><p align="center">Steep or near vertical down:<br>
            Non-Existence trend.</td>
      </tr>
    </table>
  </center>
</div>
<br>
<p align="left">What is shown is the trend. If you
  have a statistic with many periods plotted it will of course not be a straight
  line but for instance look like this:</p>
<br>
<div align="center">
  <center>
    <table border="1" cellpadding="0" cellspacing="0" width="30%">
      <tr>
        <td width="100%" background="/images/graphbackgr.gif" bgcolor="#FFFFFF"><p align="center"><br>
            <img border="0" src="{{ asset('storage/images/graph_trend.gif') }}" width="183" height="241"><br>
        </td>
      </tr>
      <tr>
        <td width="100%" bgcolor="#DFFFDF"><p align="center">A ten period graph showing a Non-Existence trend.</td>
      </tr>
    </table>
  </center>
</div>
<p align="left">&nbsp;</p>
<p align="left">The longer the period the more small
  ups and downs there will be. The day to day people would react to and seek to
  remedy the small ups and downs based on a short trend. The overall in charge at
  a remote location would only react to a trend becoming evident on a many moths'
  graph. He uses these long trends to work out a strategy for the company. He
  ignores the small ups and downs and assigns the Condition to use based on this
  long trend.&nbsp;</p>
<p align="left">&nbsp;</p>
<div align="center">
  <center>
    <table border="1" cellpadding="0" cellspacing="0" width="30%">
      <tr>
        <td width="100%" background="/images/graphbackgr.gif" bgcolor="#FFFFFF"><p align="center"><img border="0" src="{{ asset('storage/images/graph_stock.gif') }}" width="336" height="195"> </td>
      </tr>
      <tr>
        <td width="100%" bgcolor="#DFFFDF"><p align="center">A long range graph will have many ups and downs.<br>
            The totality of this graph is a normal trend, but<br>
            you can find all the trends described below<br>
            in sections of this graph.&nbsp;&nbsp;&nbsp;</td>
      </tr>
    </table>
  </center>
</div>
<p align="left">&nbsp;</p>
<p align="center"> Here are the rest of the trends:</p>
<p align="left">&nbsp;</p>
<div align="center">
  <center>
    <table border="1" cellpadding="0" cellspacing="0" width="30%">
      <tr>
        <td width="100%" background="/images/graphbackgr.gif" bgcolor="#FFFFFF"><p align="center"><br>
            <img border="0" src="{{ asset('storage/images/graph_danger.gif') }}" width="139" height="66"><br>
        </td>
      </tr>
      <tr>
        <td width="100%" bgcolor="#DFFFDF"><p align="center">Less down:&nbsp;<br>
            Danger trend.</td>
      </tr>
    </table>
  </center>
</div>
<p align="center">&nbsp;</p>
<div align="center">
  <center>
    <table border="1" cellpadding="0" cellspacing="0" width="30%">
      <tr>
        <td width="100%" background="/images/graphbackgr.gif" bgcolor="#FFFFFF"><p align="center"><br>
            <img border="0" src="{{ asset('storage/images/graph_emergency.gif') }}" width="151" height="29"><br>
        </td>
      </tr>
      <tr>
        <td width="100%" bgcolor="#DFFFDF"><p align="center">&nbsp;Only slightly down:&nbsp;<br>
            Emergency trend.</td>
      </tr>
    </table>
  </center>
</div>
<p align="center">&nbsp;</p>
<div align="center">
  <center>
    <table border="1" cellpadding="0" cellspacing="0" width="30%">
      <tr>
        <td width="100%" background="/images/graphbackgr.gif" bgcolor="#FFFFFF"><p align="center"><br>
            <img border="0" src="{{ asset('storage/images/graph_normal.gif') }}" width="155" height="31"><br>
        </td>
      </tr>
      <tr>
        <td width="100%" bgcolor="#DFFFDF"><p align="center">Slightly up:&nbsp;<br>
            Normal trend.</td>
      </tr>
    </table>
  </center>
</div>
<p align="center">&nbsp;</p>
<div align="center">
  <center>
    <table border="1" cellpadding="0" cellspacing="0" width="30%">
      <tr>
        <td width="100%" background="/images/graphbackgr.gif" bgcolor="#FFFFFF"><p align="center"><br>
            <img border="0" src="{{ asset('storage/images/graph_affluence.gif') }}" width="140" height="106"><br>
        </td>
      </tr>
      <tr>
        <td width="100%" bgcolor="#DFFFDF"><p align="center">Steeply up:<br>
            Affluence trend.</td>
      </tr>
    </table>
  </center>
</div>
<br>
<p align="left">A Power Condition graph cannot be
  determined as a straight line trend. It would start as an Affluence that at some
  point would level off at a new and higher level. It would only reveal itself
  after some time has gone by:</p>
<p align="left">&nbsp;</p>
<div align="center">
  <center>
    <table border="1" cellpadding="0" cellspacing="0" width="30%">
      <tr>
        <td width="100%" background="/images/graphbackgr.gif" bgcolor="#FFFFFF"><p align="center"><br>
            <img border="0" src="{{ asset('storage/images/graph_power.gif') }}" width="282" height="166"><br>
        </td>
      </tr>
      <tr>
        <td width="100%" bgcolor="#DFFFDF"><p align="center">Affluence leveling off at a higher level:<br>
            Power trend.</td>
      </tr>
    </table>
  </center>
  <p align="center">&nbsp;</p>
  <p align="left">For all this to work the statistics
    themselves have to be subject to review on a regular basis. If using a certain
    combination of statistics tend to neglect some vital functions to the overall
    health of a business it may be necessary to reconsider which statistics to use
    or give them different weight. Here we are into what top management has to
    consider. For &quot;the man on the floor&quot; it is usually obvious what he has
    to produce in order to keep his job or survive. It's not money but something he
    can exchange for money, goods and services. This is usually easy to express as a
    statistic and that is what he uses in his daily activities.&nbsp;</p>
  <p align="left"> The stats will,
    besides giving him a tool to manage his own job by, also become something he can
    hold up to prove his worth to the company. This is his personal life insurance
    and a basic protection against injustices. Good managers give the good
    producers, the upstat people, more
    privileges and a
    little more freedom and will overlook any breakage of petty rules. They
    understand that the worker probably did it in order to get his work done and product
    completed. They will even consider it a reason to change the rules in general as
    a successful producer has shown what it takes. On the other hand a low producing
    worker, a downstat
    person, is not given such freedoms but is disciplined for only small
    infractions.&nbsp;</p>
  <a name="kkahnli"></a><br>
  <h5 align="left">A person that has proven to cause statistics
    and production to rise consistently whatever he is made to do is a great asset
    to a company. <br>
    He can be declared <strong>Kha Khan</strong>. </h5>
  <p align="left">This is an old title used by
    Ghengis Khan and others as an award or distinction given to warriors of great bravery. They were forgiven
    the death penalty ten times should they ever face a trial for their lives in
    the future.</p>
  <br>
  <hr>
  <br>
  <p>"STAT" said above:  Know that ultimately only the Executive (Executive Action Team) can remove (EAT) the Red Beads!</p>
  <p align="center">Click the image for the importance of this statement.</p>
  <a href="/home/removetheredbeads" title="This amazing experiment is the foundation for Capability Maturity (Productivity and Quality)"><img alt="" class="img-fluid" src="{{ asset('storage/images/redbeadsout.jpg') }}"></a> <br>
  <br>
  <p>Talking about "PRODUCTION STATS"; Want to know why American Football is the greatest game in the world,<br>
    and what it can teach us to run projects better (<a href="/cmmi">at CM Level 2+</a>)?<br>
    <br>
    Click the image below now to find out more.</p>
  <a href="/home/af" title="American Football!  Find out why it is a great game and example for improving project management and other processes."><img alt="" class="img-fluid" src="{{ asset('storage/images/touchdownwow.png') }}"></a> <br>
  <br>
  <h1><b>Bottom Line:</b></h1>
  <img alt="Lord Kelvin" class="img-fluid" src="{{ asset('storage/images/gg_measure1.png') }}" > <br>
</div>
<br>
<br>
<br>
	<!-- Content Container ends here -->



{% endif %}


{% endblock %}
