{% extends 'base.twig' %}
{% block title %} {% if not user %}PMWay{% endif %} {% if user %}Pigeon Brained{% endif %}  {% endblock %}
{% block body %}
{% if current_user and false %}
<!--BODY-->
<div class="container" align="center">
<p align="left">Click the sandbox below and see if you agree with PMWay's opinion and what this means for the future of the Rainbow Nation envisaged by Nelson Mandela (and the many liberal supporters of the vision who love South Africa) "Captured" and "Junked" by a Communist Government with Absolutely No Clue. <br>
  <br>
  Note:  As opinion is played with in the PMWay sandbox, these are rushed into creation as visual concepts.  I.e. a picture often speaks a thousand words.  If you do not appreciate this approach or what is being said (to get at the truth of the problem and solution) please, rather, do not enter the sandbox. </p>
<br>
<br>
<button class="btn btn-primary align-center clearfix" type="button" data-toggle=
"collapse" data-target="#collapsesa" aria-expanded="false" aria-controls=
        "collapsesa">PMWay Opinion:<br>
Deep concern <br>
about South Africa's future<br>
under clueless communist government <br>
operating @ CM L ZERO<br>
<img class="img-fluid" src="{{ asset('storage/images/blogsandbox.png') }}"> </button>
<div class="collapse" id="collapsesa">
  <div class="container">
    <div class="card text-center">
      <h5 class="card-header" align="center">What follows below is extremely concerning.<br>
        Can you see it?</h5>
      <div class="card-body text-center">
        <p align="center"><img class="img-fluid" src="{{ asset('storage/images/communismnutshell.jpg') }}"></p>
        <p align="left">I built this web to play with ideas for a MSC Dissertation.</p>
        <p align="left">I was inspired by the idea of the Capability Maturity levels as a way to install governance and professionalism to fix the destruction of South Africa under the ANC. <br>
          <br>
          Unfortunately, if operating ignorently (and feeding off the fiscus has become a way of life) <a href="/home/carousel?slide=4" >at Capability Maturity Level ZERO</a>, and especially if there is "Absolutely No Clue" from our Government on how to do the right things (<a href="/pin" >the Dunning Kruger effect</a>), they (essentially <a href="{{ asset('storage/assets/communismoverview.pdf') }}" >Communists (a failed and totally discredited social experiment</a>) will not be able to heed the warning signs and will destroy South Africa.  Exactly as was done in Zimbabwe.<br>
          <br>
          <br>
          Follow the short argument below and see if you agree with PMWay.</p>
        <ul>
          <li>
            <p align="left">The context is a search for ways towards Productivity and Quality improvements for a "New South Africa" operating (two decades after liberation) without governance, under the guise of radical socialist ideals, yet clearly lost and obviously <a href="/home/carousel?slide=4" >firmly at Capability Maturity Level Zero</a>. The "<a href="{{ asset('storage/assets/betrayalofthepromise.pdf') }}" >Betrayal of the Promise</a>" report explains the problem.</p>
            <p style="text-align:center">(The concept and methods of communism <b><i>"as the focus of the concentrated evil of our time,"</i></b> <br>
              and their<b><i>"greedy, ignorent and unethical"</i></b> agenda, is clearly explained by George Orwell's allegory Animal Farm)
          </li>
          <button class="btn btn-primary align-center clearfix" type="button" data-toggle=
"collapse" data-target="#collapseanimalfarm" aria-expanded="false" aria-controls=
        "collapseanimalfarm">Animal Farm<br>
          South Africa<br>
          in <br>
          18 images <br>
          (cartoons) </button>
          <div class="collapse" id="collapseanimalfarm">
            <div class="container">
              <div class="card text-center">
                <h5 class="card-header" align="center"></h5>
                <div class="card-body text-center">
                  <h5>PMWay believes that is can help to rapidly put into play the "Bodies
                    of Knowledge" and "Good Governance" urgently needed to
                    assist South Africa now!&nbsp; <br>
                    <a href="/home/carousel?slide=4"  title="Any and all improvements to save South Africa must begin here.  Click here to see this obvious truth for yourself"><img alt="south africa failed state" class="img-fluid"  src="{{ asset('storage/images/safailedstatemediumshadow.png') }}"> <u><b> Capability Maturity Level ZERO!</b></u></a></h5>
                  <p>Note: Images below attempt to pin down what a lack of governance,
                    no adherence to process (communism [greed satiation at all costs
                    without an understanding of the role of the Entrepreneur to create value]) and <a href="/home/carousel?slide=4" >firmly at Capability Maturity Level Zero</a> mean for South Africa<br>
                    I.e. situation normal under the ANC over the last 25 years and
                    (based on the numbers) South Africa (junked on the ANC's watch) is now at
                    deaths door!</p>
                  <p align="center"><a href="{{ asset('storage/assets/communismoverview.pdf') }}" ><img class="img-fluid" src="{{ asset('storage/images/animalfarm.png') }}"></a><br>
                    <em>Move your mouse over the image
                    directly below.</em><br>
                    <img class="img-fluid" src="{{ asset('storage/images/divertedresources.png') }}" onmouseover="this.src='{{ asset('storage/images/corruption.png') }}'" onmouseout="this.src='{{ asset('storage/images/divertedresources.png') }}'"> <br>
                    <br>
                    Aesop's wisdom is <br>
                    2500 years old... <br>
                    <img alt="" class="img-fluid" src="{{ asset('storage/images/goose1.jpg') }}"><img alt="" class="img-fluid" src="{{ asset('storage/images/goose2.png') }}"> <img class="img-fluid" src="{{ asset('storage/images/idioticoneoone.jpg') }}"><br>
                  <h1>The ANC's Game</h1>
                  <h4>Turn Up The Heat!</h4>
                  <img class="img-fluid" src="{{ asset('storage/images/rainbownationanc.jpg') }}"><br>
                  Sow confusion and dissension so they can "steal as much money as possible from the new South African fiscus!"<br>
                  In fact the "war footing" of these idiots, it appears, is now 2020/06/01 to destroy business (percieved as "white minority capital") and centralize (The Command Control Council [read Politburo]) so that only those chosen (who pay the masters toll) will be allowed to exist? <br>
                  Only idiotic communists will come up with an idea so... pathetically stupid and surely, with what has happened to the SABC, SAA, Eskom, Prasa, SOE's etc. etc. etc. these will also be driven into the ground.<br>
                  If there is an understanding of accounting then their understanding is that R10000 must be credited which will entitle them to withdraw (debit) R1000000.00!?<br>
                  It totally boggles the mind but, sadly, like "ticks" they exist to interpose themselves between Entrepreneurs and profit because they are unable to understand that the scarce resouce is the Entrepreneur and it is the Entrepreneur (the Chef in the Kitchen) that can combine Land, Labour and Captical to business a going concern (work) and not the ANC.<br>
                  And the fact that they do this while using the disaster of Covid-19 to cover their evil intentions simply beggars belief!<br>
                  <br>
                  PMWay's 2 cents worth:&nbsp; Think of the past 20 years. I
                  (PMWay) don't know about you but to me it has consisted of a barrage of
                  unproductive negativity from the New South African government against (pretty
                  much) everyone else.&nbsp;<br>
                  In doing this cadres, with absolutely not clue (or
                  formal education), have been installed into positions of power destroying
                  governance and ultimately taking out these structures. <br>
                  This barrage clearly
                  is intended as a form of "gaslighting" to put decent South African Citizens up
                  against the ropes and keep us there while they deliver blow after blow after
                  blow after blow! <br>
                  If your opponent (victim) is up against the ropes (caved
                  in / introverted) then they are not / cannot ask you what you are doing and wont
                  point out that it is wrong!<br>
                  <br>
                  <img alt="Introverted" class="img-fluid" src="{{ asset('storage/images/anchorpointsin.png') }}"><br>
                  <img alt="" class="img-fluid" src="{{ asset('storage/images/cartoonboxer.png') }}" > <br>
                  <br>
                  <h1>Sadly...</h1>
                  <img alt="Playing chess with a pigeon brain" class="img-fluid" src="{{ asset('storage/images/thoughtfortheday.jpg') }}"><br>
                  <img alt="Playing chess with a pigeon brain" class="img-fluid" src="{{ asset('storage/images/pigeonandchess.png') }}"><br>
                  <br>
                  <h1>Bottom Line...</h1>
                  When there are very low levels of Capability Maturity<br>
                  <br>
                  <img class="img-fluid" src="{{ asset('storage/images/wall and resources.jpg') }}"><br>
                  <br>
                  <h1>Like Zimbabwe under the communists...</h1>
                  <img class="img-fluid" src="{{ asset('storage/images/sinkingfeelingsmaller.jpg') }}"><br>
                  <br>
                  Hello people of South Africa (WAKE UP!) -
                  Look at the &quot;statistics&quot;<br>
                  UNDER THE "AUSPICES" OF THE ANC WE HAVE FINALLY BEEN JUNKED!<br>
                  Take a look at Zimbabwe just over our border, they were also JUNKED by the same forces.<br>
                  <!--
<img alt="" class="img-fluid" src="{{ asset('storage/images/idioticoneoone.jpg') }}" onmouseover="this.src='{{ asset('storage/images/rainbownationanc.jpg') }}'" onmouseout="this.src='{{ asset('storage/images/idioticoneoone.jpg') }}'"><br>-->

                  <br>
                  <br>
                  <p align="center"><em>Click the image below for an analysis by
                    the University of South Africa in 2010. <br>
                    Its relevance in
                    2019 is clear proof that predictions and warnings of a failed
                    state, consistently ignored, are (per the trend established) on
                    the verge of realization!<br>
                    Its source and the <a href="/home/carousel?slide=3" > Strategy Building Blocks Model</a> used is from the UNISA Hons. Strategy Module: STRBSC/1</em></p>
                  <p align="center"> <a href="{{ asset('storage/assets/futureofsouthafrica.pdf') }}"  > <img alt="" class="img-fluid" src="{{ asset('storage/images/choices.png') }}"  title="The future of South Africa is in our hands!" ></a></p>
                  <p align="center">If we analyze the current Economic position South African
                    finds itself in 10 years later (2019)<br>
                    then <b>it is obvious that PMWay's
                    predictions were bang on target!</b><br>
                    <br>
                    Clearly Economic and <a href="/home/gamestats" > Production Stats</a> under the ANC shows they have Absolutely No Clue!&nbsp; <br>
                    The stats also
                    show that the ANC are <a href="/home/carousel?slide=4" > operating at the low end of Capability Maturity Level 1,<br>
                    but with the
                    intention to operate at Capability Maturity Level ZERO</a> - which is
                    nowhere!?&nbsp; <br>
                    Therefore, South Africa, under the ANC, will, <br>
                    due to
                    their inability to appreciate and rectify the emergency (non existence)
                    condition, <br>
                    continue to remain, <a href="/home/gamestats" > in a severe downward (and non-existence) trend<br>
                    <img alt="downward trend" class="img-fluid" src="{{ asset('storage/images/downwardtrend.png') }}" ></a><br>
                  </p>
                  <p align="center"><img alt="Flatline ... roll on failed state" class="img-fluid" src="{{ asset('storage/images/flatlinedshadow.png') }}" > and our economy will continue to
                    flat line!<br>
                    <br>
                    <img class="img-fluid" src="{{ asset('storage/images/ancwashere.jpg') }}"><br>
                    <br>
                    <img class="img-fluid" src="{{ asset('storage/images/lordhelpus.jpg') }}"></p>
                </div>
                <div class="card-footer"> </div>
              </div>
            </div>
          </div>
          <br>
          <br>
          <li>
            <p align="left">Clear evidence of this (Animal Farm approach) is the fact that under President Ramaphosa and the ANC, <a href="{{ asset('storage/assets/onetrillionstolenfromthefiscusnooneinjail.pdf') }}" >none yet are in jail for stealing close to 1 trillion from the fiscus</a> (from the people - the dream of the Rainbow Nation - of the New South Africa).</p>
          </li>
        </ul>
        <br>
        <br>
        <p align="left"><a href="/sa">If interested click here for more (expanded) PMWay opinion on this subject and
          also read the solution offered at the bottom of the page</a></p>
      </div>
      <div class="card-footer"> </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
{% endif %}



 {% if not user %}<div class="container" align="left" ><h3 align="left">Please log on to access the content on this page</h3><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></div>{% endif %}{% if not current_user and false %}
<div class="container" align="center">
<p align="left">Click the sandbox below and see if you agree with PMWay's opinion and what this means for the future of the Rainbow Nation envisaged by Nelson Mandela (and the many liberal supporters of the vision who love South Africa) "Captured" and "Junked" by a Communist Government with Absolutely No Clue. <br>
  <br>
  Note:  As opinion is played with in the PMWay sandbox, these are rushed into creation as visual concepts.  I.e. a picture often speaks a thousand words.  If you do not appreciate this approach or what is being said (to get at the truth of the problem and solution) please, rather, do not enter the sandbox. </p>
<br>
<br>
<button class="btn btn-primary align-center clearfix" type="button" data-toggle=
"collapse" data-target="#collapsesa" aria-expanded="false" aria-controls=
        "collapsesa">PMWay Opinion:<br>
Deep concern <br>
about South Africa's future<br>
under clueless communist government <br>
operating @ CM L ZERO<br>
<img class="img-fluid" src="{{ asset('storage/images/blogsandbox.png') }}"> </button>
<div class="collapse" id="collapsesa">
  <div class="container">
    <div class="card text-center">
      <h5 class="card-header" align="center">What follows below is extremely concerning.<br>
        Can you see it?</h5>
      <div class="card-body text-center">
        <p align="center"><img class="img-fluid" src="{{ asset('storage/images/communismnutshell.jpg') }}"></p>
        <p align="left">I built this web to play with ideas for a MSC Dissertation.</p>
        <p align="left">I was inspired by the idea of the Capability Maturity levels as a way to install governance and professionalism to fix the destruction of South Africa under the ANC. <br>
          <br>
          Unfortunately, if operating ignorently (and feeding off the fiscus has become a way of life) <a href="/pmway/?slide=4" >at Capability Maturity Level ZERO</a>, and especially if there is "Absolutely No Clue" from our Government on how to do the right things (<a href="/pin" >the Dunning Kruger effect</a>), they (essentially <a href="{{ asset('storage/assets/communismoverview.pdf') }}" >Communists (a failed and totally discredited social experiment</a>) will not be able to heed the warning signs and will destroy South Africa.  Exactly as was done in Zimbabwe.<br>
          <br>
          ONLY IF INTERESTED IN A SOLUTION TO SOUTH AFRICA YOU ARE WELCOME TO:<br>
          Follow the short argument below and see if you agree with PMWay.</p>
        <ul>
          <li>
            <p align="left">The context (of my Masters Dissertation / PMWay web) is a search for ways towards Productivity and Quality improvements for a "New South Africa" operating (two decades after liberation) without governance, under the guise of radical socialist ideals, yet clearly lost and obviously <a href="/pmway/?slide=4" >firmly at Capability Maturity Level Zero</a>. The "<a href="{{ asset('storage/assets/betrayalofthepromise.pdf') }}" >Betrayal of the Promise</a>" report explains the problem.</p>
            <p style="text-align:center">(The concept and methods of communism <b><i>"as the focus of the concentrated evil of our time,"</i></b> <br>
              and their<b><i>"greedy, ignorent and unethical"</i></b> agenda, is clearly explained by George Orwell's allegory Animal Farm)
          </li>
          <button class="btn btn-primary align-center clearfix" type="button" data-toggle=
"collapse" data-target="#collapseanimalfarm" aria-expanded="false" aria-controls=
        "collapseanimalfarm">Animal Farm<br>
          South Africa<br>
          in <br>
          18 images <br>
          (cartoons) </button>
          <div class="collapse" id="collapseanimalfarm">
            <div class="container">
              <div class="card text-center">
                <h5 class="card-header" align="center"></h5>
                <div class="card-body text-center">
                  <h5>PMWay believes that is can help to rapidly put into play the "Bodies
                    of Knowledge" and "Good Governance" urgently needed to
                    assist South Africa now!&nbsp; <br>
                    <a href="/pmway/?slide=4"  title="Any and all improvements to save South Africa must begin here.  Click here to see this obvious truth for yourself"><img alt="south africa failed state" class="img-fluid"  src="{{ asset('storage/images/safailedstatemediumshadow.png') }}"> <u><b> Capability Maturity Level ZERO!</b></u></a></h5>
                  <p>Note: Images below attempt to pin down what a lack of governance,
                    no adherence to process (communism [greed satiation at all costs
                    without an understanding of the role of the Entrepreneur to create value]) and <a href="/pmway/?slide=4" >firmly at Capability Maturity Level Zero</a> mean for South Africa<br>
                    I.e. situation normal under the ANC over the last 25 years and
                    (based on the numbers) South Africa (junked on the ANC's watch) is now at
                    deaths door!</p>
                  <p align="center"><a href="{{ asset('storage/assets/communismoverview.pdf') }}" ><img class="img-fluid" src="{{ asset('storage/images/animalfarm.png') }}"></a><br>
                    <em>Move your mouse over the image
                    directly below.</em><br>
                    <img class="img-fluid" src="{{ asset('storage/images/divertedresources.png') }}" onmouseover="this.src='{{ asset('storage/images/corruption.png') }}'" onmouseout="this.src='{{ asset('storage/images/divertedresources.png') }}'"> <br>
                    <br>
                    Aesop's wisdom is <br>
                    2500 years old... <br>
                    <img alt="" class="img-fluid" src="{{ asset('storage/images/goose1.jpg') }}"><img alt="" class="img-fluid" src="{{ asset('storage/images/goose2.png') }}"> <img class="img-fluid" src="{{ asset('storage/images/idioticoneoone.jpg') }}"><br>
                  <h1>The ANC's Game</h1>
                  <h4>Turn Up The Heat!</h4>
                  <img class="img-fluid" src="{{ asset('storage/images/rainbownationanc.jpg') }}"><br>
                  Sow confusion and dissension so they can "steal as much money as possible from the new South African fiscus!"<br>
                  In fact the "war footing" of these idiots, it appears, is now 2020/06/01 to destroy business (percieved as "white minority capital") and centralize (The Command Control Council [read Politburo]) so that only those chosen (who pay the masters toll) will be allowed to exist? <br>
                  Only idiotic communists will come up with an idea so... pathetically stupid and surely, with what has happened to the SABC, SAA, Eskom, Prasa, SOE's etc. etc. etc. these will also be driven into the ground.<br>
                  If there is an understanding of accounting then their understanding is that R10000 must be credited which will entitle them to withdraw (debit) R1000000.00!?<br>
                  It totally boggles the mind but, sadly, like "ticks" they exist to interpose themselves between Entrepreneurs and profit because they are unable to understand that the scarce resouce is the Entrepreneur and it is the Entrepreneur (the Chef in the Kitchen) that can combine Land, Labour and Captical to business a going concern (work) and not the ANC.<br>
                  And the fact that they do this while using the disaster of Covid-19 to cover their evil intentions simply beggars belief!<br>
                  This technique, used with much success by communists and criminals, is also called "gaslighting" <br>
                  <br>
                  PMWay's 2 cents worth:&nbsp; Think of the past 20 years. I
                  (PMWay) don't know about you but to me it has consisted of a barrage of
                  unproductive negativity from the New South African government against (pretty
                  much) everyone else.&nbsp;<br>
                  In doing this cadres, with absolutely not clue (or
                  formal education), have been installed into positions of power destroying
                  governance and ultimately taking out these structures. <br>
                  This barrage clearly
                  is intended as a form of "gaslighting" to put decent South African Citizens up
                  against the ropes and keep us there while they deliver blow after blow after
                  blow after blow! <br>
                  If your opponent (victim) is up against the ropes (caved
                  in / introverted) then they are not / cannot ask you what you are doing and wont
                  point out that it is wrong!<br>
                  <br>
                  <img alt="Introverted" class="img-fluid" src="{{ asset('storage/images/anchorpointsin.png') }}"><br>
                  <img alt="" class="img-fluid" src="{{ asset('storage/images/cartoonboxer.png') }}" > <br>
                  <br>
                  <h1>Sadly...</h1>
                  <img alt="Playing chess with a pigeon brain" class="img-fluid" src="{{ asset('storage/images/thoughtfortheday.jpg') }}"><br>
                  <img alt="Playing chess with a pigeon brain" class="img-fluid" src="{{ asset('storage/images/pigeonandchess.png') }}"><br>
                  <br>
                  <h1>Bottom Line...</h1>
                  When there are very low levels of Capability Maturity<br>
                  <br>
                  <img class="img-fluid" src="{{ asset('storage/images/wall and resources.jpg') }}"><br>
                  <br>
                  <h1>Like Zimbabwe under the communists...</h1>
                  <img class="img-fluid" src="{{ asset('storage/images/sinkingfeelingsmaller.jpg') }}"><br>
                  <br>
                  Hello people of South Africa (WAKE UP!) -
                  Look at the &quot;statistics&quot;<br>
                  UNDER THE "AUSPICES" OF THE ANC WE HAVE FINALLY BEEN JUNKED!<br>
                  Take a look at Zimbabwe just over our border, they were also JUNKED by the same forces.<br>
                  <!--
<img alt="" class="img-fluid" src="{{ asset('storage/images/idioticoneoone.jpg') }}" onmouseover="this.src='{{ asset('storage/images/rainbownationanc.jpg') }}'" onmouseout="this.src='{{ asset('storage/images/idioticoneoone.jpg') }}'"><br>-->

                  <br>
                  <br>
                  <p align="center"><em>Click the image below for an analysis by
                    the University of South Africa in 2010. <br>
                    Its relevance in
                    2019 is clear proof that predictions and warnings of a failed
                    state, consistently ignored, are (per the trend established) on
                    the verge of realization!<br>
                    Its source and the <a href="/pmway/?slide=3" > Strategy Building Blocks Model</a> used is from the UNISA Hons. Strategy Module: STRBSC/1</em></p>
                  <p align="center"> <a href="{{ asset('storage/assets/futureofsouthafrica.pdf') }}"  > <img alt="" class="img-fluid" src="{{ asset('storage/images/choices.png') }}"  title="The future of South Africa is in our hands!" ></a></p>
                  </p>
                  <p align="center">If we analyze the current Economic position South African
                    finds itself in 10 years later (2019)<br>
                    then <b>it is obvious that PMWay's
                    predictions were bang on target!</b><br>
                    <br>
                    Clearly Economic and <a href="/home/gamestats" > Production Stats</a> under the ANC shows they have Absolutely No Clue!&nbsp; <br>
                    The stats also
                    show that the ANC are <a href="/pmway/?slide=4" > operating at the low end of Capability Maturity Level 1,<br>
                    but with the
                    intention to operate at Capability Maturity Level ZERO</a> - which is
                    nowhere!?&nbsp; <br>
                    Therefore, South Africa, under the ANC, will, <br>
                    due to
                    their inability to appreciate and rectify the emergency (non existence)
                    condition, <br>
                    continue to remain, <a href="/home/gamestats" > in a severe downward (and non-existence) trend<br>
                    <img alt="downward trend" class="img-fluid" src="{{ asset('storage/images/downwardtrend.png') }}" ></a><br>
                  </p>
                  <p align="center"><img alt="Flatline ... roll on failed state" class="img-fluid" src="{{ asset('storage/images/flatlinedshadow.png') }}" > and our economy will continue to
                    flat line!<br>
                    <br>
                    <img class="img-fluid" src="{{ asset('storage/images/ancwashere.jpg') }}"><br>
                    <br>
                    <img class="img-fluid" src="{{ asset('storage/images/lordhelpus.jpg') }}"></p>
                </div>
                <div class="card-footer"> </div>
              </div>
            </div>
          </div>
          <br>
          <br>
          <li>
            <p align="left">Clear evidence of this (Animal Farm approach) is the fact that under President Ramaphosa and the ANC, <a href="{{ asset('storage/assets/onetrillionstolenfromthefiscusnooneinjail.pdf') }}" >none yet are in jail for stealing close to 1 trillion from the fiscus</a> (from the people - the dream of the Rainbow Nation - of the New South Africa).</p>
          </li>
        </ul>
        <br>
        <br>
        <p align="left"><a href="/login">If interested "log on" and click here for more PMWay opinion (expanded) on this subject and
          also read the solution offered at the bottom of the page</a></p>
      </div>
      <div class="card-footer"> </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
{% endif %}


{% endblock %}
