{% extends 'base.twig' %}
{% block title %} {% if not user %}PMWay{% endif %} {% if user %}PMBokProcsNutshell{% endif %}  {% endblock %}
{% block body %}
{% if user %}
<!--BODY-- including div class container down to final div -->

<div class="container center">
<style>
.accordion .card-header:after {
    content: "\2013";
    font-weight:bold;
    float: right;
}
.accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\002B";
}

</style>
<h5 align="center">How to use the PMBOK&reg Process Group by Knowledge Area
  Dashboard<br>
</h5>
<hr style="width: 80%">
<table style="width: 80%" border="1" cellpadding="10" align="center">
  <tr >
    <td  ><h5>INTERESTED:&nbsp;&nbsp;<em>&quot;Hi I'm really busy and need to
        understand how to use the PMBoK Dashboard
        a.s.a.p.!</em></h5></td>
  </tr>
  <tr >
    <td><h5>PMWAY:&nbsp;&nbsp;<em>"Hi I understand you
        are busy.&nbsp;
        Here is the bottom line:&nbsp; <br>
        <br>
        Use the Teaching Overlay on the Dashboard below to
        (at a high level) understand how the PMBOK ver 6 Dashboard works.&nbsp; <br>
        I.e. Project Management
        processes start at the top left of the Dashboard and 'flow&quot; across
        and down
        (through the processes, by Process Group and by Knowledge Area) to end up at the
        top right where the project (or phase) is then closed.<br>
        <br>
        Each process in
        the Dashboard comes with Inputs, Tools and Techniques and Outputs for your
        consideration (to include or not, called tailoring in the PMBOK), when running your project.&nbsp; <a href="/pmway" >The itto's are accessible
        from the PMWay home page.</a><br>
        <br>
        Remember
        the PMBOK ver 6 Dashboard with 49 processes and itto's is considered the 'best way' to run a project.  PMWay
        also recommends that projects should be run at <a href="/home/intwomins" ><strong>Capability Maturity Level 2
        and above</strong></a>."</em></h5></td>
  </tr>
  <tr>
    <!--	<td>

			<div class="form-row text-center">
    <div class="col-12"><button class="btn btn-primary align-center" type="button" data-toggle=
      "collapse" data-target="#collapseExample" aria-expanded="false" aria-controls=
      "collapseExample">Capability Maturity L1<br>Survival Tips</button>

      <div class="collapse" id="collapseExample">
        <div class="container">
          <div class="card text-center">
			  <h5 class="card-header align-center">See if you grasp the ideas
			  summarised here</h5>
            <div class="card-body text-left">
            	<p><span class="auto-style4"> These ideas (expanded in the
			  hyperlinks
			  and the steps below) involve some degree of lateral thinking,
			  depending on the depth of your understanding of project management
				and its processes.<br><br>Often, when running projects in the
				real world the projects (<a href="/images/chaos-report.pdf" >per
	the Chaos Reports</a>) are simply BADLY RUN PROJECTS.&nbsp; I.e. Project Process is not
				followed!<br>There is also often little put into place in terms of
	the initiating, planning or monitoring and
	controls processes and procedures recommended in the PMBOK or other project
				methods (PRINCE2 Agile, SCRUM, DSDM etc.).&nbsp; </span>
				<p><span class="auto-style4"> These projects are also allowed to
				be run at low levels of Capability and Maturity, often firmly at
				CML1, by an ingorant executive (of project process) who's duty
				it must be to always ensure that
				projects are well managed and governance is firmly in place (for
				the budget / money allocated).</span><p>
				<span class="auto-style4"> In this
	regard you are invited to think again about RISK and WASTE or scarce
				resources and specifically about the wisdom from Aesop's fable about the
	<a href="../cmm.php#justdoit"  onclick="return confirm_alert(this);">Tortoise
	and the Hare</a>.&nbsp; I.e. political pressure to JUST DO IT appears to
				disregard the step by step nature of project process which
				should always be managed.&nbsp; This, in a nut shell, is what
				differentiates professional project management at Capability
				Maturity Level 2 from JUST DO IT at Capability Maturity Level 1.<br><br>A concept that can assist you to appreciate the
				above is DDUF, EDUG and NDUF.&nbsp; I.e. in traditional project
				management detailed documentation (plan etc.) is required up
				front (DDUF), in the Dynamic Systems Development Method (Agile
				PM) - the oldest form of agile, enough documentation is required
				(EDUF), while looser forms of agile require no documentation up
				front (EDUF).&nbsp; In the PMBOK Dashboard Planning and
				Monotoring and Control sit on either side of the EXECUTION
				process group.&nbsp; Dr W. Edwards Deming, the process guru behind
				the Capability Maturity model has a cycle called the Deming
				Cycle.&nbsp; I.e. Plan, Do, Check, Act.&nbsp; The Capability
				Maturity model (from Carnegie Mellon University in the USA)
				understands that without Project Planning (PP process) and
				Project Monitoring and Control (PMC) a project is unable to
				achieve CM Level 2 and is at CM Level 1.&nbsp; There is higher
				Risk and Waste and lower Productivity and Quality at Level 1
				than Level 2.&nbsp; I.e. how do you want to be remembered?<br><p style="font-size:small" align="center"><em>Hover your mouse over the image below.<br></em></p>


				<div class="container text-center">
        <img class="img-fluid" src="{{ asset('storage/images/cmmproject2plus.png') }}" onmouseover="this.src='{{ asset('storage/images/pdca_process.png') }}'" onmouseout="this.src='{{ asset('storage/images/cmmproject2plus.png') }}'"><br>
      </div>
				<p><br>Regardless of the context in which a project is actually run, your understanding of the correct processes, by Process Group
	and Knowledge Area as you proceed through your project puts you in an
	excellent position to run your project much better than you would do without
	this Dashboard.&nbsp; As it is said: &quot;Forewarned is forearmed&quot; and &quot;the secret
	of avoiding a trap is knowing of its existence&quot;.&nbsp; The
	<a href="../ria.php"  onclick="return confirm_alert(this);">Risk and Issues logs</a> and
	<a href="../dailylog.html" >Daily Logs</a> are essential
	activities (survival skills) for a Professional Project Manager and
	especially <a href="../dunkruger.php"  onclick="return confirm_alert(this);">with projects that are
	being forced by an immature environment</a> to run at CML1!</p>
	</div>
	</div>
	</div>
	</div>
	-->

      </td>
  </tr>
</table>
<br>
<a name="markeddash"></a>

<!--<a href="/sitemap.php#pmbokdash"  title="Click here for the top of the PMBOK Dashboard">
	<img alt="" height="80" src="{{ asset('storage/images/processdashsmall.png') }}" width="55" class="shakeimage" onmouseover="init(this);rattleimage()" onmouseout="stoprattle(this);top.focus()" onclick="top.focus()" style="left: 0px; top: 0px; float: left;">
 </a>
 -->
<p style="font-size:small" align="center"><em>Hover your mouse over the image below.<br>
  </em></p>

<!--<img class="img-fluid" alt="" height="122" src="{{ asset('storage/images/dashhead.jpg') }}" width="605" />-->
<p class="ctr">
<div class="container" align="center">
<img class="img-fluid" src="{{ asset('storage/images/processdashmap.jpg') }}" onmouseover="this.src='{{ asset('storage/images/processdashorig.png') }}'" onmouseout="this.src='{{ asset('storage/images/processdashmap.jpg') }}'" align="center"> <br>
<p><a href="/images/processdashmap.jpg" >Click here</a> for the "how to" image above".</p>
<h5><strong><em>More
  detail and tips on using the Dashboard for success<br>
  is available
  within the 5 steps below.</em></strong></h5>
<p align="left">This page contains
  the practical essence of the 976 page PM Body of Knowledge
  guide!<br>
  Members can ask PMWay any question about the PMI PMBOK 6
  exams or project management. <br>
  Member ability to drilldown into the PMBOK
  guide and also to make &quot;tailoring notes&quot; within PMWay web (directly off
  the PMBOK) is an essential capability booster you can use for immediate
  project management success.<br>
  <br>
  PMWay was built as a "sandbox" for research ideas to prepare for a Master of Science Dissertation.<br>
  If you are a PMWay member:&nbsp;&nbsp;<a href="/cv/paper.pdf#page=299" ><br>
  Click here for a theoretical
  research paper on page 295 of a Springer Journal written by the webmaster
  (and his Professors) that underpins the essence of PMWay.</a>&nbsp; <a href="{{ asset('storage/assets/presentation.zip') }}"> <br>
  Click here for a presentation that was given at a conference based on same.</a></p>
<div class="container">
<div id="accordion" class="accordion">
  <div class="card text-white bg-info">
    <div class="card-header collapsed" data-toggle="collapse" href="#collapse1"> <a class="card-title text-white bg-info"> Step 1: How to use the PMBOK Dashboard - a short
      overview </a> </div>
    <div id="collapse1" class="card-body collapse" data-parent="#accordion" >
      <p align="left">The Project Management Body of Knowledge
        Dashboard allows you to easily (and systematically) access the
        essence of the 976 page PMBOK Guide.<br>
        This BOK (Body of Knowledge) is
        comprised of 49 project processes (you can think
        of processes as building blocks / or interconnected pipes
        facilitating correct flow of project process).<br>
        These 49 project processes also form connected nodes (on the
        dashboard) that link up Process Groups (across the top of the
        dashboard) and Knowledge Areas (that run down the left hand side
        of the dashboard). Can you see these nodes and how they tie
        together the Process Groups and Knowledge Areas of the PMBOK?<br>
      <p align="left">Underneath each process node (4.1, 4.2, 4.3 etc.) are the process: =>
        [INPUTS] =>, => [TOOLS &amp; TECHNIQUES] =>, and => [OUTPUTS] =>.&nbsp; <br>
        (<em><a href="/pmway" ><font color="white"><u>Clicking here
        for
        PMWay's home page so you can click a NODE and see its underlying /
        supporting ITTO's.</u></font></a></em>)<br>

      <p align="left">The PMBOK Dashboard
        allows you to break down the complexity of the PMBOK from overall
        project summary (the Dashboard) to detail within a process step (within the 49 process) and then (using PMWay website) you can drill down into each
        process Inputs,
        Tools and Techniques and Outputs (ITTO's).&nbsp; Ultimately, at any
        point in time while running your project, you should be able to put
        a pin into the dashboard showing EXACTLY where your project is AS AT
        NOW! <br>
        Ultimately (<a href="/home/contact#member" ><font color="white"><u>as a PMWay
        member</u></font></a>) you
        are able to drill
        down further from each ITTO into the detail residing within the PMBOK Guide.<br>
        <br>
        Tailoring notes (the ability to make project management sweet,
        simple, lean and agile) is an essential skill for the Project
        Management Professional which can and should be undertaken for each process. <br>
        I.e. this is where you
        keep a record of what you are using of the process (its particular ITTO's), in what detail
        these are
        to be used, and what you have decided can be left out.&nbsp;<strong> <br>
        Remember while BEST
        PRACTICE is best, BEST PRACTICAL is better!</strong><br>
        <br>
        Due to the fact that the PMBOK is proprietary for members of the Project Management Institute, access to the PMBOK (the book itself)
        can only be granted within
        PMWay (under my auspices) of which a professional and student
        relationship is available. <br>
        However, even without my assistance, a wealth of knowledge (I suggest most of
        the Knowledge you require for the PMP exam or what is needed to run successful
        projects) is readily available to the casual visitor within this web
        without you having to purchase anything from PMWay.</p>
    </div>
    <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2"> <a class="card-title text-white bg-info"> Step 2:  The PMBOK Project Management Processes - in more detail </a> </div>
    <div id="collapse2" class="card-body collapse" data-parent="#accordion" >
      <p align="left">Take a look at the PMBOK Dashboard teaching overlay
        above.&nbsp; <br>
        Now, each time you run a project simply, but systematically, work from the
        TOP LEFT of the dashboard (down first) and then across (handling each of the processes
        systematically in turn) move systematically across the dashboard until you end up at the TOP RIGHT of the dashboard
        at <strong>Close Project or Phase</strong>!&nbsp; <br>
        It is as simple as that!</p>
      <p align="left">You can, if you like, think about pouring water into the top left of the dashboard, into process 4.1,
        and having this water flow down to process 13.1 and then, up to and
        across to process 4.2 and down and back up again and etc.<br>
        I.e. both starting
        processes are in the INITIATING
        PROCESS GROUP) and then moving this water (flowing across and down the
        next process group) through all the
        processes until you have a workable PLAN and DEVELOPED PRELIMINARY
        SCHEDULE (before moving across to EXECUTION - where you will baseline
        this as a FINAL SCHEDULE) and Monitoring and Controlling Delivery of
        Planned Work / Managing Change Control, Budget, Communications, Budget
        and etc., finally getting to (and out of) process 4.7 (Close Project or Phase).<br>
      </p>
      <hr>
      <h5 class="auto-style2">Know that the PMBOK is not a waterfall! </h5>
      <hr>
      <p align="left">You can move
        through the processes both left to right and back to left again.&nbsp;
        Also up and down / from beginning to end
        of the dashboard.&nbsp; <br>
        I.e. You can turn
        around and go backwards (against the process flow) when needed when,
        for example, CHANGE CONTROL (4.6)
        or other process changes are needed.&nbsp; <br>
        In addition (as you can see with process 4.7- Close Project or
        PHASE) shorter project sprints are available
        off the PMBOK dashboard.&nbsp; In this way you can iterate and
        increment, step by step, towards a final solution.<br>
        This simple fact is often ignored by
        people who criticize the PMI, saying it is a waterfall
        methodology.</p>
      <p align="left">Always remember that while the PMBOK can be used as a method,
        it is in fact a Body of Knowledge on the best way to run projects.<br>
        In this regard you can think firstly of the PMBOK as a list of
        ingredients that can be used to run projects and then, using the
        process groups, a method (recipe) that tells the cook where and when each
        ingredient should be used.&nbsp; <br>
        In addition, know that PMBOK
        version 6 is now fully Agile and Lean compatible with discussion in each process about how the process
        can be used within Agile, Iterative and Adaptive environments!</p>
      <hr>
      <h5 class="auto-style2">Now let us, by way of example, move from Left to Right across (and through) the PMBOK dashboard
        (project processes) in a little more detail:</h5>
      <hr>
      <p align="left">Essentially, to run successful projects (after you have a Project Management Appointment Form signed and a sponsor
        appointed
        [and the sponsor should sign the appointment of you as a PM form!),
        you must start with either<strong> process 4.1 </strong>(The Project
        Charter) or<strong> process 13.1 </strong>(The Stakeholder Register) which activities fall firmly within the Initiation Process Group.&nbsp;
        These two processes must be completed before moving into the Planning
        Processes.&nbsp; Completion may only need to be at Version 1.&nbsp;
        I.e. you can always come back and add to and improve your list of
        Stakeholders and even update the Charter if required. Remember the
        concept of iteration and incrimination.&nbsp; I.e. using version
        control you can put 4 stakeholders into your stakeholder register in
        version 1.&nbsp; Then after a few days you hear about another
        stakeholder.&nbsp; You add them and update the contact details for one
        of the fist 4 as version 2.&nbsp; I.e. in this way your stakeholder
        register is growing and adjusting as you pin down you stakeholders. As
        long as your sponsor is ok with and approves this.&nbsp; Also
        approval, while a signature is often required, the simple fact of a
        typed project log (short record) of what you have done, emailed to the
        sponsor (stakeholders) and then saved will suffice as evidence that
        you have 'improved the project documents / project knowledge' on your
        project.&nbsp; I.e. making your running of the project more agile and
        lean.&nbsp; <br>
      </p>
      <hr>
      <div class="auto-style2"> <strong>
        <h5>However, and again, do not proceed to the Planning Process Group (from
          the Initiating Process Group) until these two documents are completed and approved
          - no matter how much they bully you to do this!&nbsp; </h5>
        <hr>
        </strong>
        <p align="left">Remember that in order to get the
          Charter Signed one of these stakeholders must be accountable and
          be in the position to kick start the project from a governance
          perspective.&nbsp; I.e. think bus or train ticket collector.&nbsp;
          If your charter (ticket) is not punched you cannot ride on this
          project bus or train!&nbsp; So do not start the journey until your
          ticket is approved and punched as valid by your sponsor.</p>
        <p align="left">To explain this very important PROJECT
          INITIATION concept further:&nbsp; In the PRINCE2 Agile
          (PRojects IN Controlled Environments) methodology, a
          Project Board is responsible for the project and they appoint and
          manage the Project Manager, who's job it is to serve them.&nbsp;
          I.e. they must approve the project from a Business Case perspective
          (that it will add value to the bottom line) before it is allowed to run.&nbsp; They must also approve the
          project products that the project will be producing.&nbsp; At the end of the project the
          Board must check and assess that value has in fact been delivered through the project
          via its project products!</p>
      </div>
      <hr>
      <strong>
      <h5 class="auto-style2">Tailoring and its importance!</h5>
      </strong>
      <hr>
      <p align="left">Remember that 'tailoring' (per the PMBOK guide) means that you must look
        at each of the 49 processes and decide what you need to do from the
        perspective of process ITTO's
        (using your knowledge from the PMBOK guide) that you select to run your
        particular project.&nbsp; Know that from a LEAN and AGILE perspective the
        following rule must always apply:&nbsp; <strong>While BEST PRACTICE is understood, BEST PRACTICAL
        is better! </strong>&nbsp;<br>
        Therefore the SKILL of the Project Management Professional
        is in the ability to tailor their project towards LEAN and AGILITY!&nbsp;
        That said, NEVER trade away your ability to land a project safely while
        responding to pressure you will surely face to make your project go
        faster!&nbsp; The fable of the tortoise and the hare from Aesop and going
        off 'half-cocked' is 100%
        applicable to this way of thinking.&nbsp; <a href="../fail.php"  > <font color="white"><u>Some ideas from PMWay on this are here</u></font></a>.</p>
      <p align="left">The clickable dashboard (Level 2 under the
        dashboard) has a tailoring section for each process
        where you can add your tailoring ideas (decisions).&nbsp; You can also
        print these out to pdf if you have adobe writer loaded on your
        machine.&nbsp; I.e. as an audit trail to be used in audit or for
        later reference.<br>
        <br>
        Therefore, first Initiate the project
        correctly by completing the Development of the Project Charter (4.1) and creating a list of Identified Stakeholders (13.1).</p>
      <hr>
      <h5 class="auto-style2">Then
        (and this is really important) PLAN the work before you
        start doing (EXECUTING) the work!</h5>
      <hr>
      <p align="left">Here is something
        you may not have thought of.&nbsp; Do you know about the Deming Cycle.&nbsp; <a href="../pdca.php" ><font color="white"><u>This is PLAN, DO, CHECK and then ACT</u></font></a>.&nbsp; <br>
        Now, if you take a look at the
        PMBOK dashboard, you will see that it uses exactly this approach!&nbsp; I.e. PLAN EXECUTE
        MONITOR &amp; CONTROL and CHANGE CONTROL!<br>
        I.e. a dream without a plan
        is just a wish.<br>
      </p>
      <hr />
      <h5 class="auto-style2">NB: This plan does not
        need to be WAR &amp; PEACE!&nbsp; In fact, if your Stakeholders
        agree, it can be a single page
        long!</h5>
      <hr />
      <p align="left"> I do suggest that your plan follow the Knowledge Areas (along the left side of the PMBOK Dashboard) so that you make sure you cover how you will handle the processes within each of these.&nbsp;
        If you have signed up with PMWay I have a template that you can work
        that is structured according to this method.</p>
      <hr>
      <h5 class="auto-style2"> Now lets look at how this
        (PLANNING PROCESS GROUP) works in more detail:</h5>
      <hr>
      <p align="left"> <strong>Can
        you see that the Project Management Plan 4.2 is the sum total of all
        of the processes (and Knowledge Area Plans) underneath it!<br>
        I.e. 4.2 =</strong> 5.1, 6.1, 7.1, 8.1, 9.1, 10.1, 11.1, 12.1 &amp; 13.2]).&nbsp;
        Obviously the SCOPE PLAN (5.1) is the summary of the processes under
        5.1 which are 5.2 =&nbsp; Collect
        Requirements, 5.3 = Define Requirements and 5.4 =&nbsp; Create WBS
        (Work Breakdown Structure).&nbsp; <br>
        If you think in terms of sub
        plans to create the total plan then 5 = SCOPE, 6 = SCHEDULE, 7 = COST,
        8 = QUALITY, 9 = RESOURCES, 10 = COMMUNICATIONS, 11= RISK, 12 =&nbsp;
        PROCUREMENT AND 13 = STAKEHOLDERS which all build 4.1 the Project
        Management Plan.
      <p align="left">Only when the planning is done will you start to <strong> DO THE WORK </strong> as you DIRECT and MANAGE (4.3) project
        work (EXECUTION) and MONITOR & CONTROL (4.4) the project to ensure that you remain
        on track with your <strong>PLAN</strong>.&nbsp; Project Knowledge (a
        resource to pin down knowledge learned while running your project /
        which can be used to better run and assist with future projects etc.) is handled in
        process 4.4.</p>
      <p align="left">This 'managing the flow' of processes systematically is
        very important
        to ensure you are able to complete the project as you move to (<a href="../baseline.php" ><font color="white"><u>'successfully jump the
        planned project delivery gap'</u></font></a>).&nbsp; <br>
        A key concept to
        understand is that of baseline.&nbsp; I.e. before you start a project
        your system or project environment (configuration) will be at a
        present baseline.&nbsp; The project plan aims, via an approved
        Business Case, to move this baseline to a new and improved baseline.&nbsp;
        In a system build for example, if the new baseline proves to be a
        problem then it should be possible to move back to a previous
        baseline.&nbsp; This concept, and the Capability Maturity Level 2, 3
        and 4 concept of bi directional traceability<a href="../vmodel.php#vmodel" ><font color="white"><u> is illustrated in PMWay here</u></font></a>.</p>
      <p align="left">Baseline is also used in terms of the project
        schedule (Process 6.5 - Developed Schedule).&nbsp; I.e. this plan
        (schedule) pulls together the who, what, when that is needed to get to
        the new baseline.&nbsp; Typically project management software can lock
        down the plan into a baseline so that variances against the plan can
        be used when managing the project.&nbsp; <a href="../evm.php" ><font color="white"><u>Earned Value Management</u></font></a> is all
        about bringing the project in on time, <a href="../irontriangle.php" ><font color="white"><u>within budget and with an
        agreed scope delivered</u></font></a>.&nbsp; While agile will try to circumvent
        the need to do EVM and monitor and control the plan (Iron Triangle),
        PMWay suggests that the minute a project starts to run costs are being
        expended and delivery must be planned and delivered, <strong>or else...<br>
        </strong>
      <hr>
      <p align="left">PMWay suggests that an inability of accounting (and the business
        driven annual
        accounting function / budgeting cycle) to adjust to a budget already approved
        for a project is the root cause for blame for the negative perception of
        project management and why projects are often run at Capability
        Maturity level 1.&nbsp; I.e. low maturity appears to exist in this
        area which insists on everyone JUST Doing IT at all costs (CM L1) to
        bring in a project, even though SCOPE etc., has changed.&nbsp; Why can a project manager not go back and
        ask for a review of their project budget without fear of an hysterical
        executive?&nbsp; I.e. STOP the bus if
        the SCOPE changes and adjust the project plan accordingly, which must
        include an adjustment of the COST KNOWLEDGE AREA (and other associated
        Knowledge Areas) of the PMBOK
        Dashboard leading to a new plan and new schedule.&nbsp; I.e. this
        schedule is not the old schedule and cannot be expected to exist on the
        old (approved at that time) budget.&nbsp; I.e. else, if the new scope /
        budget is not acceptable to the executive, then the only other option is
        to simply terminate the project!<br>
        <br>
        By means of example:  You and your family decide to drive to a holiday destination.  Then, mid holiday, which is not as great as you expected, you decide to change your plan and spend time with relatives 4 hours drive further along the coast than your holiday destination.  I.e. your plan changes and as driver
        (head of the family etc.), you, after buy in from your family (spouse,
        kids etc.), simply spend the extra money for the change in experience, if you can afford it.
      <hr>
      <p align="left">If change in the project plan is required then the Change Control Board (CCB) and your Change Control Process (4.6)
        is used to ensure the sub plans (which add up to the
        total Project Management Plan 4.2) are updated to include new deliverables (work packages) in the revised Work
        Breakdown Structure and Schedule etc., are all in sync with the new (agreed /
        approved) requirements. <br>
        <br>
        Following the processes the Project Manager will be able to reach the
        end of the project (per <strong>latest agreed Project Management Plan</strong> and the project can be <strong>CLOSED</strong> (4.7). </p>
    </div>
    <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3"> <a class="card-title text-white bg-info"> Step 3:  A lateral Approach to the PMBOK Dashboard </a> </div>
    <div id="collapse3" class="collapse" data-parent="#accordion" >
      <div class="card-body">
        <p class="auto-style21"><em>The two images below tie the image directly above back to the PMBOK&reg; dashboard:</em></p>
        <p style="text-align:center"> <img alt="" class="img-fluid"  src="{{ asset('storage/images/pmbokepmslip.png') }}"  title="The Microsoft Enterprise Project Server is key towards professional delivery of projects.  Go to the EPMS tab in the Key Concepts Tab to find out more" > </p>
        <p style align="left">PMWay has taken the liberty of dividing up the PMBOK dashboard below with a moat, castle (guardhouse) and drawbridge
          [in an area to the right of the moat (just after the Develop Schedule process 6.6) in the TIME MANAGEMENT row moving across
          and (to the right of the moat - the EXECUTE PROCESS GROUP column) moving down. Can you see why this would be important for project management success?</p>
        <p style="text-align:center"><img alt="" class="img-fluid"  src="{{ asset('storage/images/pmbok6gate.png') }}"></p>
      </div>
    </div>
    <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4"> <a class="card-title text-white bg-info"> Step 4:  Test your knowledge and take the Quality Assurance Tour now </a> </div>
    <div id="collapse4" class="collapse" data-parent="#accordion" >
      <div class="card-body">
        <h3 style align="center">Project Process Quality Control</h3>
        <p style="text-align:center"><a href="../dashwf1.php"  onclick="return confirm_alert(this);"> <img alt="Take the PMBOK Dashboard Quaity Assurance tour now!" class="img-fluid"  src="{{ asset('storage/images/qa%20tour.jpg') }}"  title="Click here to take the PMWay Quality Assurance Tour now!" ></a></p>
        <br>
        <h5 style align="center">Use this (Project Management Process) Quality Assurance
          (Control) Tour<br>
          &nbsp;as your high level project progress checklist, applying the stage gates for success!</h5>
        <hr>
      </div>
    </div>
    <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5"> <a class="card-title text-white bg-info"> Step 5:  Here is an excellent video presentation of the PMBOK process flow showing exactly why PMBOK is not "waterfall" </a> </div>
    <div id="collapse5" class="collapse" data-parent="#accordion" >
      <div class="card-body">
        <h3 style align="center">An amazing video that makes understanding the PMBOK simple!</h3>
        <iframe class="img-fluid" src="https://www.youtube.com/embed/GC7pN8Mjot8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <p>Thank you Ricardo.</p>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!--ENDBODY-->

{% endif %}


{% if not user %}<div class="container" align="left" ><h3 align="left">Please log on to access the content on this page</h3><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></div>{% endif %}{% if not current_user and false %}



    {% endif %}


{% endblock %}
