 {% extends 'base.twig' %} {% block title %}Stats{% endblock %} {% block body %}







{% if current_user  %}
<div class="container" align="left">
  <h5>Up Your Game Stats!</h5>
  <map id="ImgMap0" name="ImgMap0">
    <area alt="" coords="0, 0, 43, 39" href=
      "/indexlegacy.php#starttour" shape="rect" />
    <area alt="" coords="44, 0, 84, 38" href=
      "/removetheredbeads.php" shape="rect" />
  </map>
  <img alt="" height="40" src="{{ asset('storage/images/leftrightarrow.png') }}"
    width="85" usemap="#ImgMap0" />
  <hr />
  <h5 class="ctr"><b><strong>Use of Statistics to Up Production</strong></b></h5>
  <h5 align="left"><strong><br />
    A Management tool</strong></h5>
  <p align="left">
    <map id="ImgMap1" name="ImgMap1">
      <area alt="" coords="282, 193, 899, 444" href=
      "/conditions/conditions.htm" shape="rect" title=
      "Click here for more detail on the technology that underpins the Conditions Scale"
       />
    </map>
    <img alt="" height="445" src=
    "/images/conditionsscale.png" width="900" usemap=
    "#ImgMap1" /></p>
  <a name="topofbox1"></a>
  <h5>
    <button href="#collapse1" class="nav-toggle">Show</button>
    &nbsp;There is a game
    called PRODUCTION.&nbsp; It's a pro-survival game:</h5>
  <div id="collapse1" style="display:none">
    <p>This is the game you play, in one form or another, when you go to work or are
      part of an organized activity.<br />
      Obviously, if you are a salesman you are a better salesman the more you sell. If
      you are a hunter you are a better hunter the more game you bring home. Production
      and survival are closely related. In the physical universe you don't survive for
      long unless you produce <i>something</i> that is right; you have to do work to
      survive.</p>
    <p>&nbsp;</p>
    <div align="center">
      <center>
        <table border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td><img border="0" src="{{ asset('storage/images/saleup.jpg') }}" width="170" height=
              "149" /></td>
            <td bgcolor="#DFFFDF"><p align="center">&nbsp;Production and survival are&nbsp;<br />
                &nbsp;&nbsp; closely related. In the physical&nbsp;&nbsp;&nbsp;<br />
                universe you have to do&nbsp;<br />
                work to survive.</p></td>
          </tr>
        </table>
      </center>
    </div>
    <p>&nbsp;</p>
    <p>This is not to say that production equals survival nor Ethics. Production is a
      much narrower scope. Production is sweating it out, not reflection. It does not
      consider the hard choices and it does not consider <i>what</i> you produce - only
      how much. In other words, when you measure production using statistics you are
      asking for numbers, not prior reasoning or ethical concerns. Immediate advantage
      and results will dominate. That said, using statistics in combination with the
      so-called Ethics Conditions are very applicable to the work situation as management
      tools. As we pointed out earlier, the origin of the Conditions was a study of
      organizations and they were defined as operating states.</p>
    <p>The fact that 'Valuable Final Products' are established using statistics makes a
      lot of sense. Once you have a bakery the baker that bakes more bread is the better
      one.&nbsp; This is also the worker you want to hire or keep if you run the
      activity.</p>
    <p>In the following we thus assume that what you produce has already past the test
      of being useful and be needed and wanted as a valuable final product within that
      overall activity or society. Once that is established more is better. We can start
      to apply the Conditions Formulas (these are described below) to increase production
      and handle factors that impede production. We are in other words into some level of
      management, whether it is of our own affairs or include a whole organization with
      hundreds of workers whose production we are responsible for.</p>
    <p><b>Using Statistics<br />
      </b> The basic rules on how you use statistics to
      manage a production are simple. It all starts with plotting your production on a
      graph. When you have done that for a while you take a step back and look at the
      graph in order to see how you are doing.&nbsp;</p>
    <p>Here is a basic production graph:</p>
    <p>&nbsp;</p>
    <div align="center">
      <center>
        <table border="1" cellpadding="0" cellspacing="0">
          <tr>
            <td bgcolor="#DFFFDF"><p align="center"><font size="1">Number<br />
                of items<br />
                produced</font></p></td>
            <td background="../images/graphbackgr.gif" bgcolor="#FFFFFF"><p align="center">&nbsp; <img border="0" src="{{ asset('storage/images/graph5.gif') }}"
                width="286" height="101" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
          </tr>
          <tr>
            <td bgcolor="#808080">&nbsp;</td>
            <td bgcolor="#DFFFDF"><p align="center"><font size="1">Timeline. Each line represents here one
                day.</font></p></td>
          </tr>
          <tr>
            <td colspan="2" bgcolor="#FFFFFF"><p align="center">At the end of each day you count your production and
                mark&nbsp;<br />
                the number with a dot. The more you produced the higher&nbsp;<br />
                up the dot. Then you connect the dots and get a graph.<br />
                &nbsp;&nbsp; The shown graph depicts 5 days of production. As it can
                be&nbsp;&nbsp;&nbsp;<br />
                seen the overall trend is going up. You are doing well.</p></td>
          </tr>
        </table>
      </center>
    </div>
    <p align="left">One thing to consider when making a graph is that the graph is
      properly scaled. The variations in production has to show up visually. If you made
      a graph of a salesman's sales of bread in 'millions of dollars per week' it would
      just be a straight line along the bottom of the graph paper and tell you nothing.
      If you made a graph of sales in dollars per week a difference between $1,000 and
      $3,000 would show up as a significant difference and you would have a graph you
      could work with. To get this right you may have to adjust the range you graph and
      what numerical units to use. If after a while it becomes clear the sales of bread
      is mainly between $500 and $2,000 you make sure your graph shows this range clearly
      and gives a clear picture of ups and downs in that range.</p>
    <p align="left">In order to use the Conditions Formulas in connection with
      production you have to look at the trend of the graph. The tend is the main
      direction of the overall graph or a section thereof. The <i>trend</i> is what tells
      you what Condition to apply. Another factor to consider, when reading a graph, is
      the time span to use. The closer and the more directly involved you are in the
      graphed production the shorter a time span you use.</p>
    <p align="left">You can monitor your personal production down to the hour. How many
      loaves of bread did you bake in the last hour? How many loaves of bread did you
      sell in the last hour?</p>
    <p align="left">A more usable trend may come about if you compare each day. After
      all there are supporting activities, such as cleaning, that have to be done in
      order to bake bread. Cleaning would not add up to baked loaves of bread but is part
      of the whole process. If you are responsible for the day to day operation it is
      relevant to see where you stand at the end of the day. You would add up the total
      number of loaves of bread baked; in sales you would simply add up the total
      sales.</p>
    <p align="left">If you are responsible on a senior level for an activity you would
      use a longer time span in order to determine the trend. You wouldn't micro-manage
      the activity but supervise it on a distance and only be ready to step in if a long
      range slump seems to set in. If you are the overall top manager of a large activity
      with many remote locations you would follow the statistics continuously, but you
      would not issue serious orders or start major programs to repair a slump unless you
      saw a trend developing over several months or longer. The key to determine how long
      a trend has to be to be actionable depends upon how long the remedies you are
      authorized to use would take to get communicated, working and completed.&nbsp;If
      you sit in New York and the production takes place in Vancouver you would only
      issue strategic orders. Not orders having to do with the day to day operation on a
      junior level. That is why the higher up you go in an organization the longer the
      trends are that you watch.</p>
    <p align="left">Here is how the trends relate to the Conditions. The Condition
      Formulas would tell you the general steps to take in an overall plan when seeking
      to remedy a bad situation or improve upon a favorable one. To apply the Conditions
      intelligently and effectively are what takes real genius in top
      administrators.&nbsp;</p>
    <p align="left">&nbsp;</p>
    <div align="center">
      <center>
        <table border="1" cellpadding="0" cellspacing="0" width="30%">
          <tr>
            <td width="100%" background="../images/graphbackgr.gif" bordercolor=
              "#FFFFFF" bgcolor="#FFFFFF"><p align="center"><br />
                <img border="0" src="{{ asset('storage/images/graph_nonex.gif') }}" width="67" height=
                "119" /><br />
              </p></td>
          </tr>
          <tr>
            <td width="100%" bgcolor="#DFFFDF"><p align="center">Steep or near vertical down:<br />
                Non-Existence trend.</p></td>
          </tr>
        </table>
      </center>
    </div>
    <p align="left">What is shown is the trend. If you have a statistic with many
      periods plotted it will of course not be a straight line but for instance look like
      this:</p>
    <div align="center">
      <center>
        <table border="1" cellpadding="0" cellspacing="0" width="30%">
          <tr>
            <td width="100%" background="../images/graphbackgr.gif" bgcolor="#FFFFFF"><p align="center"><br />
                <img border="0" src="{{ asset('storage/images/graph_trend.gif') }}" width="183" height=
                "241" /><br />
              </p></td>
          </tr>
          <tr>
            <td width="100%" bgcolor="#DFFFDF"><p align="center">A ten period graph showing a Non-Existence trend.</p></td>
          </tr>
        </table>
      </center>
    </div>
    <p align="left">&nbsp;</p>
    <p align="left">The longer the period the more small ups and downs there will be.
      The day to day people would react to and seek to remedy the small ups and downs
      based on a short trend. The overall in charge at a remote location would only react
      to a trend becoming evident on a many moths' graph. He uses these long trends to
      work out a strategy for the company. He ignores the small ups and downs and assigns
      the Condition to use based on this long trend.&nbsp;</p>
    <p align="left">&nbsp;</p>
    <div align="center">
      <center>
        <table border="1" cellpadding="0" cellspacing="0" width="30%">
          <tr>
            <td width="100%" background="../images/graphbackgr.gif" bgcolor="#FFFFFF"><p align="center"><img border="0" src="{{ asset('storage/images/graph_stock.gif') }}" width=
                "336" height="195" /></p></td>
          </tr>
          <tr>
            <td width="100%" bgcolor="#DFFFDF"><p align="center">A long range graph will have many ups and downs.<br />
                The totality of this graph is a normal trend, but<br />
                you can find all the trends described below<br />
                in sections of this graph.&nbsp;&nbsp;&nbsp;</p></td>
          </tr>
        </table>
      </center>
    </div>
    <p align="left">&nbsp;</p>
    <p align="left">Here are the rest of the trends:</p>
    <p align="left">&nbsp;</p>
    <div align="center">
      <center>
        <table border="1" cellpadding="0" cellspacing="0" width="30%">
          <tr>
            <td width="100%" background="../images/graphbackgr.gif" bgcolor="#FFFFFF"><p align="center"><br />
                <img border="0" src="{{ asset('storage/images/graph_danger.gif') }}" width="139" height=
                "66" /><br />
              </p></td>
          </tr>
          <tr>
            <td width="100%" bgcolor="#DFFFDF"><p align="center">Less down:&nbsp;<br />
                Danger trend.</p></td>
          </tr>
        </table>
      </center>
    </div>
    <p align="center">&nbsp;</p>
    <div align="center">
      <center>
        <table border="1" cellpadding="0" cellspacing="0" width="30%">
          <tr>
            <td width="100%" background="../images/graphbackgr.gif" bgcolor="#FFFFFF"><p align="center"><br />
                <img border="0" src="{{ asset('storage/images/graph_emergency.gif') }}" width="151" height=
                "29" /><br />
              </p></td>
          </tr>
          <tr>
            <td width="100%" bgcolor="#DFFFDF"><p align="center">&nbsp;Only slightly down:&nbsp;<br />
                Emergency trend.</p></td>
          </tr>
        </table>
      </center>
    </div>
    <p align="center">&nbsp;</p>
    <div align="center">
      <center>
        <table border="1" cellpadding="0" cellspacing="0" width="30%">
          <tr>
            <td width="100%" background="../images/graphbackgr.gif" bgcolor="#FFFFFF"><p align="center"><br />
                <img border="0" src="{{ asset('storage/images/graph_normal.gif') }}" width="155" height=
                "31" /><br />
              </p></td>
          </tr>
          <tr>
            <td width="100%" bgcolor="#DFFFDF"><p align="center">Slightly up:&nbsp;<br />
                Normal trend.</p></td>
          </tr>
        </table>
      </center>
    </div>
    <p align="center">&nbsp;</p>
    <div align="center">
      <center>
        <table border="1" cellpadding="0" cellspacing="0" width="30%">
          <tr>
            <td width="100%" background="../images/graphbackgr.gif" bgcolor="#FFFFFF"><p align="center"><br />
                <img border="0" src="{{ asset('storage/images/graph_affluence.gif') }}" width="140" height=
                "106" /><br />
              </p></td>
          </tr>
          <tr>
            <td width="100%" bgcolor="#DFFFDF"><p align="center">Steeply up:<br />
                Affluence trend.</p></td>
          </tr>
        </table>
      </center>
    </div>
    <p align="left">A Power Condition graph cannot be determined as a straight line
      trend. It would start as an Affluence that at some point would level off at a new
      and higher level. It would only reveal itself after some time has gone by:</p>
    <p align="left">&nbsp;</p>
    <div align="center">
      <center>
        <table border="1" cellpadding="0" cellspacing="0" width="30%">
          <tr>
            <td width="100%" background="../images/graphbackgr.gif" bgcolor="#FFFFFF"><p align="center"><br />
                <img border="0" src="{{ asset('storage/images/graph_power.gif') }}" width="282" height=
                "166" /><br />
              </p></td>
          </tr>
          <tr>
            <td width="100%" bgcolor="#DFFFDF"><p align="center">Affluence leveling off at a higher level:<br />
                Power trend.</p></td>
          </tr>
        </table>
      </center>
    </div>
    <p align="center">&nbsp;</p>
    <p align="left">For all this to work the statistics themselves have to be subject
      to review on a regular basis. If using a certain combination of statistics tend to
      neglect some vital functions to the overall health of a business it may be
      necessary to reconsider which statistics to use or give them different weight. Here
      we are into what top management has to consider. For "the man on the floor" it is
      usually obvious what he has to produce in order to keep his job or survive. It's
      not money but something he can exchange for money, goods and services. This is
      usually easy to express as a statistic and that is what he uses in his daily
      activities.&nbsp;</p>
    <p align="left">The stats will, besides giving him a tool to manage his own job by,
      also become something he can hold up to prove his worth to the company. This is his
      personal life insurance and a basic protection against injustices. Good managers
      give the good producers, the upstat people, more privileges and a little more
      freedom and will overlook any breakage of petty rules. They understand that the
      worker probably did it in order to get his work done and product completed. They
      will even consider it a reason to change the rules in general as a successful
      producer has shown what it takes. On the other hand a low producing worker, a
      downstat person, is not given such freedoms but is disciplined for only small
      infractions.&nbsp;</p>
    <p align="left">A person that has proven to cause statistics and production to rise
      consistently whatever he is made to do is a great asset to a company. He can be
      declared <strong>Kha Khan</strong>. This is an old title used by Ghengis Khan and
      others as an award or distinction given to warriors of great bravery. They were
      forgiven the death penalty ten times should they ever face a trial for their lives
      in the future.</p>
    <p><i><br />
      Note: (And only if interested!) that more detail on the above can be found if you
      click on the CONDITIONS image at the top of this page.<br />
      Also remember that the information found here IS ONLY A PHILOSOPHICAL MODEL
      and...<br />
      <br />
      </i></p>
    <p class="auto-style1"><img alt="" height="556" src=
      "/images/modelsarewrong.png" width="381" /></p>
    <div class="left"> <a href="#topofbox1"><span class="smltxt">Return to top of pop open
      box</span></a> </div>
  </div>
  <a name="topofbox2"></a>
  <h5>
    <button href="#collapse2" class="nav-toggle">Show</button>
    &nbsp;Why is the above
    important from a PMWay perspective?</h5>
  <div id="collapse2" style="display:none" class="ctr">
    <p>If you (or the company you work for) do not understand the image directly below
      (this is the PMBOK&#174; game), then you do not understand and cannot do
      professional project management!</p>
    <img alt="Core and Facilitating functions"
      height="582" src="{{ asset('storage/images/corefacilitate1.png') }}" usemap=
      "#ImgMap0" width="745" /><br />
    <p>CMMi Level 2. is all about striving to play a successful game (of professional
      project management) against the <a href="/irontriangle.php"
      >IRON TRIANGLE</a>!<br />
      I.e. You are striving to bring projects in on time, within agreed budget and per
      agreed scope and quality!</p>
    <p class="ctr"><img alt="" height="420" src=
      "/images/6%20constraints.jpg" width="795" /></p>
    <p>These two cartoons below succinctly explain the "insane" situational extremes /
      perspectives (top down (from the executive) and bottom up (from staff) ) that can
      exist when operating at <a href="/cmm.php#justdoit" target=
      "_blank">CMMi Level 1</a>.</p>
    <p class="ctr"><img alt="" height="338" src=
      "/images/1percent.jpg" width="480" /></p>
    <p class="ctr">And bottom up.</p>
    <p class="ctr"><img alt="You have to change your evil ways" height="287" src=
      "/images/changeyourways.jpg" width="640" /></p>
    <p class="ctr"><span style=
      "color: rgb(84, 84, 84); font-family: arial, sans-serif; font-size: small; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 18.2000007629395px; orphans: auto; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; display: inline !important; float: none; background-color: rgb(255, 255, 255);"> "</span><em style=
      "font-weight: bold; font-style: normal; color: rgb(84, 84, 84); font-family: arial, sans-serif; font-size: small; font-variant: normal; letter-spacing: normal; line-height: 18.2000007629395px; orphans: auto; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255);">Insanity</em><span style="color: rgb(84, 84, 84); font-family: arial, sans-serif; font-size: small; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 18.2000007629395px; orphans: auto; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; display: inline !important; float: none; background-color: rgb(255, 255, 255);">:
      I.e. doing the same thing over and over again and expecting different results." -
      Albert Einstein</span></p>
    <p><br />
    </p>
    <p><em><a href="/redbeads.php" >Remember the
      Executive has a duty to remove the red beads</a>: W. Edwards Deming (the
      productivity / quality improvement and CMMi guru) suggested that as much as 85% of
      the cost of quality is management's problem and responsibility. Once it has hit the
      floor, the worker level, the workers will have little ability and control to
      improve anything.</em></p>
    <p>Installing CMMi <a href="/cmmidevdash.php" target=
      "_blank">process areas (PA's)</a> at Maturity Levels (ML's) 2+ are the way to do
      this!</p>
    <br />
    <p class="auto-style21"><em>Hover your mouse over this slide for more
      detail!</em></p>
    <img src="{{ asset('storage/images/cmmclimb.jpg') }}" onmouseover=
      "this.src='{{ asset('storage/images/pdca image.jpg') }}'" onmouseout=
      "this.src='{{ asset('storage/images/cmmclimb.jpg') }}'" /><br />
    <br />
    <p class="ctr">Systematically improving CMMi processes across the board (a step at
      a time) will move the organization away from RISK and WASTE and closer towards
      RELIABILITY, PRODUCTIVITY AND QUALITY outputs that represent sustainable delivery
      and improved <a href="client.php" >customer satisfaction</a>!</p>
    <p class="auto-style21"><em>Hover your mouse over this slide for more
      detail!</em></p>
    <img src="{{ asset('storage/images/cmmi%20project.png') }}"
      onmouseover="this.src='{{ asset('storage/images/pdca_process.png') }}'" onmouseout=
      "this.src='{{ asset('storage/images/cmmi project.png') }}'" /><br />
    <br />
    <br />
    <h5>Now (with the above hopefully having sunk in) let me challenge another
      misconception you may have:</h5>
    <p>If you think "<a href="/agile.php" target=
      "_blank">Agile</a>" (the new buzz word) can be successful <a href=
      "/cmm.php#justdoit" >at CMMi Level 1</a> think
      again!<br />
      I.e. You are seriously mistaken, deluding yourself and perpetuating a con!</p>
    <p>CMMi Level 2 is all about following project management process!<br />
      Be this process based on Traditional Project Management (TPM) processes or PRINCE2
      processes or Agile processes or whatever.</p>
    <p>To undertake Agile correctly (SCRUM, Extreme Programming etc.), in fact, you
      have to follow (monitor and control) very tight processes indeed (daily scrum
      meetings, sprint reviews etc.) as, by doing Agile you have decided to forgo the TPM
      processes and are now operating outside the rigors of an IRON TRIANGLE!. I.e. You
      are now in unexplored territory and are in fact operating 'loose as a goose'.<br />
      A SCOPE TRIANGLE instead of an IRON TRIANGLE is in place which is by definition
      very 'loose' and extremely risky!</p>
    <p>Remember the early, eager and naive colonists were often the ones you found dead
      in the hinterland (next to their burned out wagons) with arrows in their backs!</p>
    <p class="ctr"><img alt="" height="181" src=
      "/images/early%20colonists.jpg" width="279" /></p>
    <p>You cannot run risky projects (Agile projects) without adequate monitoring and
      controls <a href="/ria.php" >(especially tight
      issues and risk management)</a> and without <a href=
      "/supplylines.php" >adequate supply lines</a> and (without full buy in and support [<a href="/sponsor.php"
      >empowered sponsorship</a>] from the tob) being firmly in place!</p>
    <p><a href="/chefnotcook.php" >Dr Wysocki
      explains his ACPM process here</a>, which in my opinion is the correct way to run
      an Agile project undertaken with the risk management process area processes
      [<a href="/cmmidevdash.php" >RSKM</a>] at CMMi
      level 3!</p>
    <p>The key for success with Agile is clearly stated in CMMi Level 3's <a href=
      "/ria.php" >Risk Management Process Area
      [RSKM]</a>.<br />
      I.e. You must have a <a href="/cmmil3essence.php" target=
      "_blank">tight and empowered risk management process</a> (be able to <a href=
      "/lemmings.php" >rapidly react, unblock and
      stop projects quickly</a>) in place (<a href="/epms.php"
      >preferably on an EPMS</a> with regular and transparent project
      progress meetings) to be able to adequately manage the unique types of project risk
      and kill investment into the Agile project the minute the returns (of running a
      project outside the <a href="/irontriangle.php" target=
      "_blank">IRON TRIANGLE</a> where scope and the other key project constraints are
      understood and being managed tightly) cannot be justified.</p>
    <a name=
      "topofbox33"></a>
    <h5>
      <button href="#collapse33" class="nav-toggle">Show</button>
      &nbsp; Here is the
      secret in a nutshell!&nbsp;&nbsp;Note: find the slip lines below. This is how you
      do it!</h5>
    <div id="collapse33" style="display:none">
      <p style="text-align:center">See if you can understand what is said below.<br />
        Understanding is a <strong>'Strategic Driver for Project Success'</strong> and is
        crucial if you are to run successful projects off the PMBOK Dashboard!</p>
      <p style="text-align:center"><a href="/epms.php" target=
        "_blank"><img alt="" height="1324" src=
        "/images/pmbokepmslip.png" width="663" title=
        "The Microsoft Enterprise Project Server is key towards professional delivery of projects. Go to the EPMS tab in the Key Concepts Tab to find out more" /></a></p>
      <p style="text-align:center">PMWay has taken the liberty of dividing up the PMBOK
        dashboard below with a moat, castle (guardhouse) and drawbridge<br />
        [in an area to the right of the moat (just after the Develop Schedule process
        6.6) in the TIME MANAGEMENT row moving across<br />
        and (to the right of the moat - the EXECUTE PROCESS GROUP column) moving
        down.<br />
        Can you see why this would be important for project management success?</p>
      <p style="text-align:center"><img alt="" height="1001" src=
        "/images/pmbok5%20gate.png" width="700" /></p>
      <p>In project management, within the <a href="/evm.php"
        >Earned Value Management</a> calculations, a single number is
        available called the 'To Complete Performance Index' that tells you exactly where
        you are (or are not) against your target - the IRON TRIANGLE!<br />
        This is how you up your game!</p>
      <p align="left">The Ethics Conditions, Table and Formulas, beefing up the above
        (from a personal [1st Dynamic] and group [3rd Dynamic] perspective), is optional
        and, only if interested, can be found if you <a href=
        "/conditions.php" >click here</a>.<br />
        <a href="/essence.php">The Essence of PMWay</a> page
        expands on this stats page above, focusing on upping stats for Project
        Management.</p>
      <p><a href=
        "/project%20documents/qualityproductivity.zip">Click here
        for the TQM (CMMi) mindset</a>.<br />
        <em>This short chapter, by itself, was found by PMWay on the Internet.<br />
        Unfortunately the name of the text from whence it was taken is unknown.</em></p>
      <div class="left"> <a href="#topofbox2"><span class="smltxt">Return to top of pop open
        box</span></a> </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endif %}


{% if not user %}<div class="container" align="left" ><h3 align="left">Please log on to access the content on this page</h3><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></div>{% endif %}{% if not current_user and false %}
{% endif %}
{% endblock %}
