{% extends 'base.twig' %}
{% block title %} {% if not user %}PMWay{% endif %} {% if user %}South Africa Problem Solution{% endif %}  {% endblock %}
{% block body %}

{% if user %}
<div class="container" align="center">
  <p>Use the email icon in menu above if you would like PMWay to open up the opinion
    hidden on this page.<br>
    Via return email, PMWay will respond to your email with your header: "Your page ZAPROBSOL, please open this for 24 hours&quot;.<br>
    Remember that PMWay is an "ideas sandbox." </p>
</div>
{% endif %}


{% if not user %}
<div class="container" align="center">
  <p>Use the email icon in menu above if you would like PMWay to open up the opinion
    hidden on this page.<br>
    Via return email, PMWay will respond to your email with your header: "Your page ZAPROBSOL, please open this for 24 hours&quot;.<br>
    Remember that PMWay is an "ideas sandbox." </p>
</div>
{% endif %}


{% if not current_user and false  %}
<!--BODY-->
<div class="container" align="center">
  <h5 align="left"><a href="/pmway/?slide=4">Click here to go back to the CM Model</a></h5>
  <hr>
  <h5 align="center"><a href="/blogger/Blog.php?category=Capability%20Maturity%20Level%20ZERO"><img class="img-fluid" src="{{ asset('storage/images/blogsandbox.png') }}"></a> </h5>
  <br>
  <table class="table table-sm table-dark">
    <thead>
      <tr>
        <th scope="col" ><h5 align="center"><i><b>PMWay Opinion</b></i><br>
            About South Africa <br>
            firmly established under the anc to operate @ CM Level ZERO <br>
            (clearly evidenced - <a href="/gamestats"  title="from production statistics">from production statistics</a> and junked status - going nowhere) </h5></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><div align="center">
          <button class="btn btn-primary align-center clearfix" type="button" data-toggle=
"collapse" data-target="#collapsepmboksixone" aria-expanded="false" aria-controls=
        "collapsepmboksixone"><!-------PMWay Opinion:<br>----->Click here<br>
          for a
          discussion pertaining to a
          deep concern <br>
          about South Africa's future<br>
          under an obviously clueless communist government <br>
          operating @ CM L ZERO; <br>
          betraying their promise
          to Madiba<br>
          &amp; killing the Rainbow Nation!<!--------------------<br><img class="img-fluid" src="{{ asset('storage/images/commiebastards.png') }}">--------------></button>
          <div class="collapse" id="collapsepmboksixone">
          <div class="container">
          <div class="card text-center">
          <h5 class="card-header" align="center"><a href="{{ asset('storage/assets/betrayalofthepromise.pdf') }}" >Betrayal of the Promise!</a></h5>
          <div class="card-body text-center">
            <h5><font color="black">Why the Rainbow Nation is doomed in one image<br>
              (<i>unless we wake up
              to the clear and present danger described below<br>
              and take action immediately</i>)</font></h5>
            <p align="center"><font color="black"><a href="{{ asset('storage/assets/communism.pdf') }}" title="Click here for the low down on commie ticks and their evil intentions" ><img alt="" class="img-fluid" src="{{ asset('storage/images/commieticks.png') }}"> </a></font></p>
            <p align="center"><font color="black"><a href="/images/commieticks.jpg" >Click here for the image above</a></font></p>
            <br>
            <br>
            <a name="morningshot"></a>
            <p align="left"><font color="black"><a href="/home/lockdownlevelthree"  title="Click here to hear Morning Shot's opinion, aligned PMWay believes with our take on things in ZA"><img alt="" class="img-fluid" src="{{ asset('storage/images/morningshot.jpg') }}">&nbsp;&nbsp;Commie ticks we see your greedy unethical power trip and control games!</a></font></p>
            <br>
            <p align="left"><font color="black">Hope for the Rainbow Nation (the short answer for hope for our future is here, the longer answer (which assumes a knowledge of governance and how to use and reconcile T accounts) is at the bottom of the page):<br>
              "You only start breaking down when right is no longer on your side; when you are no longer a compainon of truth.  ...  So I'll give you a little piece of advice for the future: <br>
              Live with truth and the light will always shine bright."  Hubbard 4th October 1962 </font></p>
            <hr>
            <p align="center" ><font color="black">In fear of the New South Africa's future
              under the <br>
              "total lack of"<br>
              <a href="/pmway/?slide=2" >governance</a> from the ANC <br>
              I (PMWay's webmaster)
              pulled together the image below in 2009!&nbsp; </font></p>
            <p align="center"><font color="black"> <img alt="Sinking Feeling" class="img-fluid" src="{{ asset('storage/images/sinkingfeelingbeveled.png') }}" ><br>
              <br>
              As we were finally "junked" in 2020, <br>
              clearly my fears in the image above <br>
              (now finally and fully realized),<br>
              were bang on target!</font></p>
            <p align="center"><font size="2px" color="black"><em><a name="unisa"></a>Click the image below for an analysis by
              the University of South Africa in 2010. <br>
              Its relevance in
              2020 is clear proof that predictions and warnings of a failed
              state, consistently ignored by those in power operating at Capability Maturity Level ZERO!<br>
              Source <a href="/home/?slide=3" > Strategy Building Blocks Model</a> from the UNISA Hons. Strategy Module: STRBSC/1</em></font></p>
            <p align="center"> <a href="{{ asset('storage/assets/futureofsouthafrica.pdf') }}"  > <img alt="" class="img-fluid" src="{{ asset('storage/images/choices.png') }}"  title="The future of South Africa is in our hands!" ></a></p>
            <hr>
            <p align="left"><font color="black">The EXCELLENT ARTICLE below (written on 7th June 2020) clearly explains the problem.  It
              aligns almost perfectly with the image about the <b>clear and present danger represented by the "commie ticks"</b> above. <br>
              <b>Can you see it?</b></font></p>
            <p align="left"><font color="black" > <b>Some ministers a bit too happy to wield total control without the nuisance of a bill of rights
              Sunday Times: 7 Jun 2020 (By BARNEY MTHOMBOTHI)</b></font></p>
            <p align="left"><font color="black">Gwede Mantashe, the national chair of the ANC who moonlights as President Cyril Ramaphosa's erratic minerals and energy minister, said something the other day that, thanks to the all-consuming power of the pandemic, passed almost unnoticed. "The country will never be the same again," he tweeted. "The economy will never be the same again. Mining in SA will never be the same again. The current lockdown regulations will be applicable far beyond the lockdown period."

              There can be no quarrel with the first part. The country will indeed be different. It will be poorer. The economy will tank even further. Millions will lose their jobs, adding to an unemployment rate already among the highest in the world. Hunger and suffering will skyrocket. And, most distressingly, thousands of our people will perish from this disease. Mantashe is right. What could happen to this country and its people in the coming weeks and months is truly terrifying. The pandemic is obviously to blame, but the pernicious effect of the
              organization and government Mantashe is part of - the corruption, incompetence and sheer ignorance - will exacerbate Covid-19's devastating harvest.

              It is, however, Mantashe's last sentence that is revealing. He states it as fact that the regulations will outlive the lockdown period or the pandemic.<br>
              <br>
              Experts have described some of the lockdown regulations as dubious, if not wholly unconstitutional. Almost as a warning shot, the high court in Pretoria this week declared level 3 and 4 lockdown rules unconstitutional and invalid. Judge Norman Davis gave co-operative governance & traditional affairs minister Nkosazana Dlamini-Zuma 14 days to fix them. The government says it will appeal.

              Mantashe's comments only confirm a suspicion that the lockdown, apart from slowing down the pandemic, allows the government to operate outside the purview of the constitution - and that it regards the constitution as an encumbrance and a hindrance.

              One sometimes gets the impression that the government would be happy if some of the provisions of the constitution were completely done away with. Mantashe's remarks seem to reinforce that view. The constitution is seen not as a cornerstone of our democracy but as an impediment, a hurdle. Rather than championing the constitution and shoring up citizens' support for and belief in it, the government seeks in every way to undermine it.

              Witness the almost obscene excitement with which some ministers welcomed the lockdown and the chance to make up their own rules. The regulations have given them an opportunity to exercise real power, and that seems to have taken precedence over their actual purpose - to slow down the transmission of the virus.

              One of Mantashe's SACP colleagues, the tactless Solly Mapaila, told this newspaper last week that Covid-19 has given the state an opportunity to "discipline capital and the private sector", which he said were at their "weakest". People are dying and all these worthies think about is how they can acquire more power.

              It's quite disturbing to hear people in the ANC referring to business, a significant sector of society, as an enemy. But then, given the way the likes of Bheki Cele address the public, one would swear that ordinary people, too, are regarded as enemies.<br>
              <br>
              But business, not the government, creates jobs. Without business there's no economy and therefore no jobs, no workers and therefore no unions. And ultimately people will starve. That surely is the lesson of the past few months, if any tutorial were needed. A few weeks' lockdown of the economy has seen thousands of people queuing and begging for food. With the best will in the world, the government can never satisfy such demand. Only a thriving economy can.

              The SACP, with its discredited policies, behaves as though the Berlin Wall is still intact. It hasn't learnt the lessons of that epoch. If it had, it would, like its counterparts in the Soviet bloc, have disbanded long ago. It is afraid to submit itself to the will of the people through elections because it knows it will be rejected decisively and that would be curtains for it. It won't take that risk.

              So the likes of Mantashe, Blade Nzimande and Thulas Nxesi sit in government wearing two hats. When Ebrahim Patel, as trade, industry and competition minister, whose portfolio is at the heart of driving economic activity, looks at a range of policy options, which ideological inclination takes precedence? Does he seek to grow the economy or does he see things through his class-war prism?

              It would be fine if he or his colleagues were to apply their class-war mentality after winning an election. That, after all, is what democracy is all about. But the communists are wielding power without a mandate, piggybacking on the governing party.

              The SACP has never been happy with the constitutional settlement, which it regards as a neoliberal arrangement. It wants a revolution. Mantashe probably sees the lockdown regulations as providing such an opportunity.  The ANC should do away with this entryism. In fact the whole tripartite alliance is an anachronism. It should be discarded. Let everyone who desires the exercise of power stand for election on his own merits, not hide behind someone else's skirts.

              The cacophony of discordant voices at the top has led to policy confusion and dissonance, which the country can ill afford, especially in the face of such a dreadful pandemic.</font></p>
            <hr>
            <h5 align="left"><font color="black">Two other articles explain the problem, apparently lost on the government (or ignored due to their greed and determination to operate at Capability Maturity Level ZERO, regardless of the consequences).</font></h5>
            <p align="left"><font color="black">Assuming State capture cost SA R 500 billion <br>
              (before Ramaphose stated recently the loss to South Africa through corruption was <a href="{{ asset('storage/assets/onetrillionstolenfromthefiscusnooneinjail.pdf') }}" >estimated to be as much as R1 trillion</a>)<br>
              here are 10 things we could've bought with that money
              The amount of schools, hospitals and pints we could have had for this money is
              enough to turn the stomach. Here's the real cost of state capture. <br>
              <br>
              Article By
              Tom Head 2019-10-14 </font></p>
            <p align="left"><font color="black">Cyril Ramaphosa is currently on a visit to the United Kingdom, taking a good
              look at the place before Brexit.&nbsp; President may have thought he could slip one under the rug regarding the cost of
              state capture.</font></p>
            <p align="left"><font color="black">That has not proven to be the case. Although Ramaphosa told foreign
              investment interests that Mzansi has now stemmed the bleeding from state
              capture, he conceded that a whopping R500 billion ($34 billion) may have been
              stolen during jacob zuma's nine-year tenure. That's not bleeding. That's the
              elevator doors opening up in The Shining.</font></p>
            <p align="left"><font color="black">How much has state capture cost South Africa? That's a heck of a lot of
              money. It's just under half of what zuma wanted to give the Russians in exchange
              for an ill-conceived nuclear power deal. So perhaps we should be thankful?
              Well, that's not going to be easy. Not when you consider we could have spent
              that humongous wad of cash on the following:</font></p>
            <p align="left"><font color="black">Over 5 000 new state-of-the-art schools. Around 10 billion pints of imported,
              premium beer; that's around 166 drinks each for every man, woman and child in
              South Africa. Almost 20 000 health clinics, fully-staffed and equipped with
              modern technology. Just under five billion kilograms of cheddar cheese. Around
              170 000 new Volkswagen Golf 1.4 litre engine (brand new). 400 million pairs of
              new Nike trainers. Thanks state capture 33 billion litres of petrol. 62.5
              million return flights from Johannesburg to Dubai, so we could *all* replicate
              the Guptas' escape from South Africa. Speaking of Dubai; You could build 12 more
              exact replicas of the tallest building in the world, The Burj Khalifa. You could
              wipe out Eskom's entire debt (R420 billion) and use the remaining cost of R80
              billion to buy the Crown Jewels of the United Kingdom, belonging to Queen
              Elizabeth and her family. (All stats were provided by linked sources)<br>
              <a href="https://www.thesouthafrican.com/offbeat-news/state-capture-cost-sa-r500bn-10-things-we-couldve-bought-with-that-money/" > Click here for above article.</a></font></p>
            <hr>
            <p align="left"><font color="black">An obvious
              example of the end game that awaits us (a clear and present danger for
              South Africa), unless the downward economic trajectory towards "Junk
              Status" (which occurred just at Covid-19 hit us in 2020), is the failed state of Zimbabwe across our borders.&nbsp; (<a href="https://www.fin24.com/Economy/zim-president-our-economy-is-dead-20191001" >Zim
              president: Our economy is dead Oct 01 2019 20:26</a>)</font></p>
            <h5 align="left"><font color="black">One only has to look across our border at Zimbabwe to see what awaits us if the "commie ticks" get their way.</font></h5>
            <p align="left"><font color="black">I.e. The same blood sucking actions by commie ticks that caused Zimbabwe's
              demise has and continues in South Africa.&nbsp; This will result in
              untold hardship for all citizens in the New South Africa as it sinks
              further and further into the abyss of failed state (r) us.</font></p>
            <hr>
            <h5 align="left"><font color="black">The Wasteland they will leave in their wake.</font></h5>
            <p align="left"><font color="black">With regard to <a href="#unisa">the UNISA article and warning above</a>, if we analyze the current Economic position South African
              finds itself in 11 years later (2020) then <b>it is obvious that PMWay's predictions (one of the reasons I started to build this web) were bang on target!</b><br>
              <br>
              Economic and <a href="/home/gamestats" > Production Stats</a> (as evidence of anc capability since taking over the country) shows they have Absolutely No Clue!&nbsp; <br>
              <br>
              The stats also clearly show that the ANC are <a href="/home/?slide=4" > operating at the very low end of Capability Maturity Level 1, but with the clear intention to (destroy Governance) in order to be allowed to operate freely at Capability Maturity Level ZERO</a> - which is (means)
              we as the Rainbow Nation are going nowhere!?&nbsp; The actions exhibited in May and June 2020 by the "Central Command Council (Politburo) under another zuma
              &quot;to fight Covid-19,&quot; but clearly their attempt to undermine jail time for public enemy #1 (ex president zuma)
              and other criminals of the gangster state (criminal cabal); being authoritarian, totalitarian and
              extremely alarming, to say the least. I.e. roll on Animal Farm South Africa and "Cry the Beloved Country!"</font></p>
            <h5><font color="black">Anyone can see that the idiotic "commie tick" strategy of Land Grabbing was the single driving force that destroyed Zimbabwe under Bob Mugabe!<br>
              <img class="img-fluid" src="{{ asset('storage/images/idioticoneoone.jpg') }}"></font></h5>
            <h1><font color="black">The ANC's Game</font></h1>
            <h4><font color="black">Turn Up The Heat!</font></h4>
            <p align="center"><img alt="upping the heat" class="img-fluid" src="{{ asset('storage/images/rainbownation.jpg') }}"></p>
            <p align="center"><font color="black">Because they want what we have built and acquired for themselves!<br>
              I.e. "commie ticks" do not understand Entrepreneurship and how it is used to combine Land, Labour and Capital to create value.</font></p>
            <p align="center"><img alt="" title="Entrepreneurs are the chefs that combine resources in forms that people want" class="img-fluid" src="{{ asset('storage/images/entrepreneurship.jpg') }}"></p>
            <p align="center"><font color="black">They do not know how to
              do this Entrepreneurial thing...  Rather they just want to skip the magical / hard part of Entrepreneurship (that makes business
              successful and ensures it continues to operate as a going concen) and just "take it all for themselves
              without all of this Entrepreneurial bother and fuss." Obviously
              this approach is utterly doomed to failure in the medium to long
              term (as we see with every business the anc tries to run)!&nbsp;
              Simply because the &quot;commie ticks&quot; are
              not, and will never understand
              what is actually required for Entrepreneurial success!<br>
              <br>
              Or an even better anc plan, let us centralize all business so we can force a "cut
              for ourselves (it will go to the people of course) of everything the Entrepreneur is making" (over and above horrifically high taxes
              which we take for ourselves (for the people of course))!<br>
              <br>
              Or even better than that ... force in a BBBEE policy that
              legalizes and legislates Entrepreneurs to take on uneducated anc supporters
              onto their workforce and ... while we are at it also give them 51% of your business
              also... we insist!<br>
              <br>
              Or how is this for an idea... Lets grap hold of Escom and pump in all the caders and anc supporters we can find into this "thing," run it into the ground so it is billions in debt, drive up the price of electricity and use this to "stimulate" (only black small to medium business entrepreneurs) to start thinking of businesses to solve our massive and growing unemployment and poverty problem in South Africa (caused by... wait for it... here it comes... the race card...
              IMPERIALISTS, WHITE MINORITY CAPITALISTS, THE CREATERS OF
              APARTHEID AND RACISTS!).<br>
              <br>
              The intelligent "economically savvy" mind boggles at this
              total and utter "commie tick" stupidity!</font></p>
            <h1><font color="black">The above "commie tick" mindset culminating ultimately:</font></h1>
            <h4><font color="black">"To implement Radican Economic Transformation (RET)"<br>
              which translated into "commie tick" means: </font></h4>
            <h1><font color="black">Rapidly Empty the Treasury!</font></h1>
            <p align="center"><font color="black">for the good of the (anc supporting) people of course!</font></p>
            <p align="center"><img alt="revolution" class="img-fluid" src="{{ asset('storage/images/ndr.png') }}"><br>
              <img alt="junked" class="img-fluid" src="{{ asset('storage/images/junked.jpg') }}"></p>
            <p align="center"><a href="{{ asset('storage/assets/communismoverview.pdf') }}" ><img class="img-fluid" src="{{ asset('storage/images/animalfarm.png') }}"></a></p>
            <p align="left"><font color="black"><b>Clear evidence of this (Animal Farm approach) is the fact that under President Ramaphosa and the ANC, <a href="{{ asset('storage/assets/onetrillionstolenfromthefiscusnooneinjail.pdf') }}" >none yet are in jail for stealing close to 1 trillion from the fiscus</a> (from the people - the dream of the Rainbow Nation - of the New South Africa).</b></font></p>
            <p align="left"><font color="black">The "commie tick" mindset, abusive control games and clear intention by the anc to "gas light" and "intimidate" the Rainbow Nation into submission are
              neatly captured in the &quot;turn up the heat&quot; cartoon above and the two images below,
              as they work to destabilise us (destroy the environment needed for true
              entrepreneurs to create wealth for our Rainbow Nation) and bully us into
              submission / to accept their unethical and evil behaviour as normal.</font></p>
            <p align="center"><img alt="" class="img-fluid" src="{{ asset('storage/images/cartoonboxer.png') }}" ><br>
              <img alt="Introverted" class="img-fluid" src="{{ asset('storage/images/anchorpointsin.png') }}"></p>
            <h1> <font color="black">Sadly..</font>.</h1>
            <img alt="Playing chess with a pigeon brain" class="img-fluid" src="{{ asset('storage/images/thoughtfortheday.jpg') }}"><br>
            <img alt="Playing chess with a pigeon brain" class="img-fluid" src="{{ asset('storage/images/pigeonandchess.png') }}"><br>
            <br>
            <h1><font color="black">Bottom Line...</font></h1>
            <p align="left"><font color="black">When there are very low levels of Capability Maturity</font></p>
            <p align="center"><img class="img-fluid" src="{{ asset('storage/images/wall and resources.jpg') }}"></p>
            <br>
            <p align="left"><font color="black">Therefore, South Africa, under the ANC, will, due to
              their inability to appreciate and rectify the emergency (non existence)
              condition, <br>
              continue to remain, <a href="/home/gamestats" > in a severe downward (and non-existence) trend<br>
              <img alt="downward trend" class="img-fluid" src="{{ asset('storage/images/downwardtrend.png') }}" ></a><br>
              </font></p>
            <p align="center"><img alt="Flatline ... roll on failed state" class="img-fluid" src="{{ asset('storage/images/flatlinedshadow.png') }}" > <font color="black"><b>and our economy will continue to
              flat line!</b></font><br>
              <br>
              <img class="img-fluid" src="{{ asset('storage/images/ancwashere.jpg') }}"><br>
              <br>
              <img class="img-fluid" src="{{ asset('storage/images/lordhelpus.jpg') }}"></p>

            <!----------------------------------------------------------------------------->
            <br>
            <br>
            <h3 align="center"><font color="black"><b>Conclusion / Solution:</b></font></h3>
            <h5 align="left"><font color="black">You can try to ignore the reality of Economic principles <br>
              (and also the ancient wisdom of Aesop) <b>BUT THEY WILL NOT IGNORE YOU!</b></font></h5>
            <br>
            <br>
            <h3 align="center"><font color="black">Take this challenge below:</font></h3>
            <p align="center"><font color="black"> Look at the 2 images
              below. <br>
              See if you can combine them towards a solution for South Africa that will move (all of the Rainbow Nation) positively and productively into the future? <br>
              Note:  This involves dragging the ladder which can only be done on a desktop with a mouse. <br>
              (however, using a small screen (without dragging the steps) you should get the point)</font></p>
            <a href="/pmway/?slide=4"  title="Click the image for the Capability Maturity steps in the Productivity and Quality improvement ladder.  The more detailed rungs of the ladder are found connecting the 5th dot or next slide."><img alt="" id="targetforladder"  class="img-fluid" src="{{ asset('storage/images/wall%20and%20resources.jpg') }}" ></a><br>
            <br>
            <p align="center"> <img alt="" class="img-fluid" id="steps" src="{{ asset('storage/images/governmentsteps1.png') }}" ></p>
            <button class="btn btn-primary align-center clearfix" type="button" data-toggle=
"collapse" data-target="#collapsesolution" aria-expanded="false" aria-controls=
        "collapsesolution">Solution to the CM L2+ Challenge </button>
            <div class="collapse" id="collapsesolution">
              <div class="container">
                <div class="card text-center">
                  <h5 class="card-header" align="center"><font color="black">Take a look below for the answer on how to solve the
                    challenge.  Also find solutions for the Rainbow Nation going forward.</font></h5>
                  <div class="card-body text-center">
                    <p align="center"><font color="black"> Solution:&nbsp; Drag the ladder directly above with your mouse up to the
                      wall above and position it correctly to enable you to safely climb up and look (climb) over
                      the wall!</font></p>
                    <p align="center"><font color="black"> <a href="/pmway/?slide=5" >The Capability Maturity process steps
                      spiral upwards for improved Production and Quality stats</a>.</font></p>
                    <p align="center"> <a href="/home/thesis"  title="Click the image to go to my Dissertation thesis."><img alt="" class="img-fluid"  src="{{ asset('storage/images/mastersresearchmodel.png') }}" ><br>
                      <img alt="" class="img-fluid" id="steps" src="{{ asset('storage/images/improvementframework.jpg') }}" ></a></p>

                    <!-------------------------------------------------------------------->

                  </div>
                  <div class="card-footer"> </div>
                </div>
              </div>
            </div>
            <br>
          </div>
        </th>
      </tr>
      <tr>
        <th scope="row"><h5 align="center"> <i><b>Please remember:</b></i> <br>
            <a href="/home/about"  title="PMWay's About page">PMWay is an ideas sandbox.</a><br>
            Only click
            the button directly above<br>
            to open this section<br>
            if you are interested in our opinion<br>
            which
            concludes with a solution for the Rainbow Nation going forward! </h5></th>
      </tr>
    </tbody>
  </table>
  <br>
  <br>
  <br>
  <br>
  <button class="btn btn-primary align-center clearfix" type="button" data-toggle=
"collapse" data-target="#collapsedaignored" aria-expanded="false" aria-controls=
        "collapsedaignored">Click here for DA opinion that makes perfect sense<br>
  which will, because it is logical and not their
  idea, surely be ignored by the ruling party!? </button>
  <div class="collapse" id="collapsedaignored">
    <div class="container">
      <div class="card text-center">
        <h5 class="card-header" align="center"></h5>
        <div class="card-body text-center">
          <p><i>Do you remember when the DA begged Parliament for a vote of no confidence in President Zuma.  Not once, not twice, but three times.</i><br>
            Per
            the &quot;choices to avoid a failed state&quot; image above the problems (no governance, state capture etc.) in South Africa are clearly caused by the Governing party. <br>
            I.e. it is they (on their watch) who (that) have brought us to where we are today.</p>
          <p><i>As with the ignored advice above, leading us further and further along the road to a failed state, so to will the advice below be ignored by the governing party.</i></p>
          <h5>
          Read this edition of Straight Talk from John Steenhuizen published at the end of June 2020 and decide for yourself if the advice is sound and should be acted upon asap.</5>
          <h3 class="_yntiod">Stabilizing our debt: the hippo in the room</h3>
          <h6 class="_1b0f14t">29 Jun 2020 in News</h6>
          <p align="left">The Covid-19 pandemic and the government's mishandling of it has brought our growing debt problem to a head. How we approach it now will determine what life in South Africa will be like for generations to come. Either more and more people slip into grinding poverty, or more and more people get onto the ladder of opportunity. This is a pivotal moment in our history.</p>
          <p align="left">In his emergency budget speech, Finance Minister Tito Mboweni faced up to this problem: "Our Herculean task is to close the mouth of the Hippopotamus! It is eating our children's inheritance. We need to stop it now!"</p>
          <p align="left">Unfortunately, he did not and could not present a credible plan to put South Africa on a path to debt sustainability and growing prosperity. Credit rating agencies are therefore more likely to move South Africa further into junk status than back towards investment grade.</p>
          <p align="left">We were already caught in a low-growth, high-debt vicious cycle before the government implemented the blunt instrument indefinite economic shutdown. Having dropped from 49% of GDP in 1994 to 22% by 2008, our debt was set to breach 70% in the
          <p align="left">But now the cycle is that much more vicious. Collapsing tax revenues and increased spending needs have doubled the expected budget deficit (the amount by which our spending exceeds our revenue) for this year, from 7% to 15% of GDP. The result is that debt is expected to be R4 trillion, 82% of GDP, by the end of this fiscal year.</p>
          <p align="left">In 2020, 21c of every tax rand goes to paying back the interest on our loans. This is more than we spend on social grants, health, or policing. This number will soon surpass even what we spend on education. The hippo is indeed eating our children's future.</p>
          <p align="left">The minister set out two scenarios, passive and active. On the passive path, we stay on our current trajectory with debt-to-GDP rising to 140% by 2028. This all but guarantees a sovereign debt crisis, meaning we are unable to raise any more debt. At that point, South Africa is either a failed state like Zimbabwe and Venezuela, or the IMF steps in and takes over decision-making. Either way, there's a lot of unnecessary suffering involved.</p>
          <p align="left">On the active path, debt will stabilize at 87% in three years' time and then slowly decline. This requires us to implement economic reforms that enable growth. (I have listed some of these at the end of this newsletter.) No matter how the government chooses to spin it, South Africa's runaway debt is a direct consequence of bad policy choices. It can only be remedied by changing direction on these.</p>
          <p align="left">Genuine commitment and active steps to implement growth-enabling economic reform will increase our ability to pay back debt while also bringing down the cost of that debt, because lenders charge less the more confident they are that it will be repaid. Sustained economic growth is the only pathway out of poverty and towards broad prosperity in a more equal society.</p>
          <p align="left">boweni himself strongly supports economic reform. Indeed, he published a paper last year setting out these reforms in detail. His calls for reform are widely supported, including by Reserve Bank governor Lesetja Kanyago, the Democratic Alliance and other opposition parties, business organisations such as Business Unity South Africa and Business Leadership South Africa, economists, international lending institutions, and the major credit rating agencies.</p>
          <p align="left">Yet despite this vast weight of support, South Africa remains on the passive path to debt crisis. The few promises Mboweni did make - zero-based budgeting, restructuring Eskom &#8211; have a high risk of failing on implementation or delay.</p>
          <p align="left">he hippo-sized stumbling block is Mboweni's own party. The ANC remains committed to the failed socialist ideology of state-led "development" that got us into this debt-trap in the first place. In the face of dwindling popular support, the party has been forced to appease vested interests in the ANC alliance &#8211; public sector unions and politically connected business cronies - to ensure its survival.</p>
          <p align="left">The public sector wage bill consumes 58c of every tax rand and this number will rise to 61c if unions have their way.</p>
          <p align="left">Realistically, either reformists unite to build pressure for political change, or we live the horror story that unfolds on the current dangerous and unsustainable debt trajectory.</p>
          <p align="left">The DA is committed to building a country that works for everyone. Financial management is measurably better where we already govern. This week, the auditor general reported that 27 out of the 30 municipalities in DA-run Western Cape achieved clean or unqualified audits. In Gauteng, the only municipality that achieved a clean audit was DA-run Midvaal.</p>
          <p align="left">In the end, voters need to start being realistic about what does and doesn't work.</p>
          <p align="left">The DA proposes the following focus areas for economic reform:</p>
          <div align="left">
            <ol>
              <li>Stem the immediate bleeding by <strong>ending the lockdown and replacing it with a standard set of evidence-based safety rules and guidelines</strong>, where each regulation is directly linked to reducing the spread of covid-19. A standard set of high-impact safety rules will improve compliance and enforcement and raise economic activity. This will protect lives and livelihoods.</li>
              <li><strong>Cut the public sector wage bill over the medium term and grow public sector productivity</strong> by: freezing wages for non-frontline workers for a three-year period; reducing head-office management staff by one third; introducing performance management systems across all sectors; appointing and promoting on performance rather than race, gender or other criteria. The money spent on salaries is crowding out productive investment in public infrastructure.</li>
              <li><strong>Sell or shut down state-owned enterprises</strong> that are not able to survive without bailouts,and redirect the funds to service delivery and social welfare. South Africa cannot afford vanity projects such as SAA or a new nuclear build.</li>
              <li>Make electricity cheaper and more reliable for households and businesses <strong>by ending Eskom's monopoly and opening the electricity market to competition.</strong> Municipalities must be able to buy directly from producers.</li>
              <li>Make it easier to get and create jobs by <strong>freeing up the SMME labour market.</strong> Small businesses should be exempt from the more stringent labour legislation including from agreements reached by bargaining councils.</li>
              <li><strong>Reject investment-killing policies of EWC, NHI, prescribed assets and SARB nationalisation.</strong> Each of these policies may be well-intended, but the real-world result is to scare off investment, capital, and scarce skills.</li>
              <li><strong>Abandon BEE system and target redress policies at disadvantage rather than race.</strong> The DA's position paper on redress sets out the policies South Africa should pursue to remove the underlying inequalities that still exist because of past dispossession and discrimination. Abandoning BEE will make state spending vastly more efficient, which is strongly in the interest of the poor.</li>
              <li><strong>Auction digital spectrum</strong> to bring down data costs for individuals and businesses.</li>
              <li><strong>Reform visa regulations</strong> to enable more scarce skills to enter South Africa.</li>
              <li>Tackle corruption in the private and public sectors by establishing an <strong>independent, well-resourced corruption-busting body</strong> - effectively reestablishing the Scorpions.</li>
            </ol>
          </div>
        </div>
        <div class="card-footer"> </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <script src="/bootstrapfourthreeone/js/jquery.js"></script>
  <script src="/bootstrapfourthreeone/js/jquery-ui.js"></script>
  <link rel="stylesheet" href="/bootstrapfourthreeone/css/jquery-ui.css">
  <script>
     	  $(document).ready(function() {

            function qs(key) {
                key = key.replace(/[*+?^$.\[\]{}()|\\\/]/g, "\\$&"); // escape RegEx meta chars
                var match = location.search.match(new RegExp("[?&]" + key + "=([^&]+)(&|$)"));
                var slide = match && decodeURIComponent(match[1].replace(/\+/g, " "));

                if (Math.floor(slide) == slide && $.isNumeric(slide)) {

                	$('#collapseopencarousel').collapse('show');
                	$('html, body').animate({
    scrollTop: $("#collapseopencarousel").offset().top
}, 1000);



                    return parseInt(slide);
   				}
                else
                    return 0;
}


            $('#mycarousel').carousel((qs('slide')) - 1);
            $("#steps").draggable({
                revert: "invalid"
            });
            $("#targetforladder").droppable({
                greedy: true,
                tolerance: 'pointer',
                drop: function(event, ui) {
                    ui.draggable.draggable('option', 'revert', 'true');
                    $(this).css({
                        'background-color': '#94be0f',
                        'border': '3px solid navy',
                        'display': 'inline-block'
                    })
                     alert("Awesome! Now click the wall to see the processes as rungs on the ladder you need to master to get over it!  Remember Demings advice the home page:  Work on the process, not the outdome of the process! ");

                }
            });

        });
    </script>
</div>
<!-- Content Container ends here -->

{% endif %}


{% if not user %}<div class="container" align="left" ><h3 align="left">Please log on to access the content on this page</h3><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></div>{% endif %}{% if not current_user and false %}

<!--BODY-->
<div class="container" align="center">
  <h5 align="left"><a href="/home/carousel?slide=4">Click here to go back to the CM Model</a></h5>
  <hr>
  <h5 align="center"><a href="/blogger/Blog.php?category=Capability%20Maturity%20Level%20ZERO"><img class="img-fluid" src="{{ asset('storage/images/blogsandbox.png') }}"></a> </h5>
  <br>
  <table class="table table-sm table-dark">
    <thead>
      <tr>
        <th scope="col" ><h5 align="center"><i><b>PMWay Opinion</b></i><br>
            About South Africa
            (clearly going nowhere)<br>
            and firmly established under the anc to operate @ CM Level ZERO <br>
            <i>Note: Best to view this on a desktop</i></h5></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><div align="center">
          <button class="btn btn-primary align-center clearfix" type="button" data-toggle=
"collapse" data-target="#collapsepmboksixone" aria-expanded="false" aria-controls=
        "collapsepmboksixone"><!-------PMWay Opinion:<br>----->Click here<br>
          for a
          discussion pertaining to a
          deep concern <br>
          about South Africa's future<br>
          under an obviously clueless communist government <br>
          operating @ CM L ZERO;<br>
          betraying their promise to
          Madiba<br>
          &amp; killing the Rainbow Nation!<!--------------------<br><img class="img-fluid" src="{{ asset('storage/images/commiebastards.png') }}">--------------></button>
          <div class="collapse" id="collapsepmboksixone">
          <div class="container">
          <div class="card text-center">
          <h5 class="card-header" align="center"><a href="{{ asset('storage/assets/betrayalofthepromise.pdf') }}" >Betrayal of the Promise!</a></h5>
          <div class="card-body text-center">
            <h5><font color="black">Why the Rainbow Nation is doomed in one image<br>
              (<i>unless we wake up
              to the clear and present danger described below<br>
              and take action immediately</i>)</font></h5>
            <p align="center"><font color="black"><a href="{{ asset('storage/assets/communism.pdf') }}" title="Click here for the low down on commie ticks and their evil intentions" ><img alt="" class="img-fluid" src="{{ asset('storage/images/commieticks.jpg') }}"> </a></font></p>
            <p align="center"><font color="black"><a href="/images/commieticks.png" >Click here for the image above</a></font></p>
            <br>
            <br>
            <a name="morningshot"></a>
            <p align="left"><font color="black"><a href="/home/lockdownlevelthree"  title="Click here to hear Morning Shot's opinion, aligned PMWay believes with our take on things in ZA"><img alt="" class="img-fluid" src="{{ asset('storage/images/morningshot.jpg') }}">&nbsp;&nbsp;Commie ticks we see your greedy unethical power trip and control games!</a></font></p>
            <br>
            <p align="left"><font color="black">Hope for the Rainbow Nation (the short answer for hope for our future is here, the longer answer (which assumes a knowledge of governance and how to use and reconcile T accounts) is at the bottom of the page):<br>
              "You only start breaking down when right is no longer on your side; when you are no longer a compainon of truth.  ...  So I'll give you a little piece of advice for the future: <br>
              Live with truth and the light will always shine bright."  Hubbard 4th October 1962 </font></p>
            <hr>
            <p align="center" ><font color="black">In fear of the New South Africa's future
              under the <br>
              "total lack of"<br>
              <a href="/home/carousel?slide=2" >governance</a> from the ANC <br>
              I (PMWay's webmaster)
              pulled together the image below in 2009!&nbsp; </font></p>
            <p align="center"><font color="black"> <img alt="Sinking Feeling" class="img-fluid" src="{{ asset('storage/images/sinkingfeelingbeveled.png') }}" ><br>
              <br>
              As we were finally "junked" in 2020, <br>
              clearly my fears in the image above <br>
              (now finally and fully realized),<br>
              were bang on target!</font></p>
            <p align="center"><font size="2px" color="black"><em><a name="unisa"></a>Click the image below for an analysis by
              the University of South Africa in 2010. <br>
              Its relevance in
              2020 is clear proof that predictions and warnings of a failed
              state, consistently ignored by those in power operating at Capability Maturity Level ZERO!<br>
              Source <a href="/home/carousel?slide=3" > Strategy Building Blocks Model</a> from the UNISA Hons. Strategy Module: STRBSC/1</em></font></p>
            <p align="center"> <a href="{{ asset('storage/assets/futureofsouthafrica.pdf') }}"  > <img alt="" class="img-fluid" src="{{ asset('storage/images/choices.png') }}"  title="The future of South Africa is in our hands!" ></a></p>
            <hr>
            <p align="left"><font color="black">The EXCELLENT ARTICLE below (written on 7th June 2020) clearly explains the problem.  It
              aligns almost perfectly with the image about the <b>clear and present danger represented by the "commie ticks"</b> above. <br>
              <b>Can you see it?</b></font></p>
            <p align="left"><font color="black" > <b>Some ministers a bit too happy to wield total control without the nuisance of a bill of rights
              Sunday Times: 7 Jun 2020 (By BARNEY MTHOMBOTHI)</b></font></p>
            <p align="left"><font color="black">Gwede Mantashe, the national chair of the ANC who moonlights as President Cyril Ramaphosa's erratic minerals and energy minister, said something the other day that, thanks to the all-consuming power of the pandemic, passed almost unnoticed. "The country will never be the same again," he tweeted. "The economy will never be the same again. Mining in SA will never be the same again. The current lockdown regulations will be applicable far beyond the lockdown period."

              There can be no quarrel with the first part. The country will indeed be different. It will be poorer. The economy will tank even further. Millions will lose their jobs, adding to an unemployment rate already among the highest in the world. Hunger and suffering will skyrocket. And, most distressingly, thousands of our people will perish from this disease. Mantashe is right. What could happen to this country and its people in the coming weeks and months is truly terrifying. The pandemic is obviously to blame, but the pernicious effect of the
              organization and government Mantashe is part of - the corruption, incompetence and sheer ignorance - will exacerbate Covid-19's devastating harvest.

              It is, however, Mantashe's last sentence that is revealing. He states it as fact that the regulations will outlive the lockdown period or the pandemic.<br>
              <br>
              Experts have described some of the lockdown regulations as dubious, if not wholly unconstitutional. Almost as a warning shot, the high court in Pretoria this week declared level 3 and 4 lockdown rules unconstitutional and invalid. Judge Norman Davis gave co-operative governance & traditional affairs minister Nkosazana Dlamini-Zuma 14 days to fix them. The government says it will appeal.

              Mantashe's comments only confirm a suspicion that the lockdown, apart from slowing down the pandemic, allows the government to operate outside the purview of the constitution - and that it regards the constitution as an encumbrance and a hindrance.

              One sometimes gets the impression that the government would be happy if some of the provisions of the constitution were completely done away with. Mantashe's remarks seem to reinforce that view. The constitution is seen not as a cornerstone of our democracy but as an impediment, a hurdle. Rather than championing the constitution and shoring up citizens' support for and belief in it, the government seeks in every way to undermine it.

              Witness the almost obscene excitement with which some ministers welcomed the lockdown and the chance to make up their own rules. The regulations have given them an opportunity to exercise real power, and that seems to have taken precedence over their actual purpose - to slow down the transmission of the virus.

              One of Mantashe's SACP colleagues, the tactless Solly Mapaila, told this newspaper last week that Covid-19 has given the state an opportunity to "discipline capital and the private sector", which he said were at their "weakest". People are dying and all these worthies think about is how they can acquire more power.

              It's quite disturbing to hear people in the ANC referring to business, a significant sector of society, as an enemy. But then, given the way the likes of Bheki Cele address the public, one would swear that ordinary people, too, are regarded as enemies.<br>
              <br>
              But business, not the government, creates jobs. Without business there's no economy and therefore no jobs, no workers and therefore no unions. And ultimately people will starve. That surely is the lesson of the past few months, if any tutorial were needed. A few weeks' lockdown of the economy has seen thousands of people queuing and begging for food. With the best will in the world, the government can never satisfy such demand. Only a thriving economy can.

              The SACP, with its discredited policies, behaves as though the Berlin Wall is still intact. It hasn't learnt the lessons of that epoch. If it had, it would, like its counterparts in the Soviet bloc, have disbanded long ago. It is afraid to submit itself to the will of the people through elections because it knows it will be rejected decisively and that would be curtains for it. It won't take that risk.

              So the likes of Mantashe, Blade Nzimande and Thulas Nxesi sit in government wearing two hats. When Ebrahim Patel, as trade, industry and competition minister, whose portfolio is at the heart of driving economic activity, looks at a range of policy options, which ideological inclination takes precedence? Does he seek to grow the economy or does he see things through his class-war prism?

              It would be fine if he or his colleagues were to apply their class-war mentality after winning an election. That, after all, is what democracy is all about. But the communists are wielding power without a mandate, piggybacking on the governing party.

              The SACP has never been happy with the constitutional settlement, which it regards as a neoliberal arrangement. It wants a revolution. Mantashe probably sees the lockdown regulations as providing such an opportunity.  The ANC should do away with this entryism. In fact the whole tripartite alliance is an anachronism. It should be discarded. Let everyone who desires the exercise of power stand for election on his own merits, not hide behind someone else's skirts.

              The cacophony of discordant voices at the top has led to policy confusion and dissonance, which the country can ill afford, especially in the face of such a dreadful pandemic.</font></p>
            <hr>
            <h5 align="left"><font color="black">Two other articles explain the problem, apparently lost on the government (or ignored due to their greed and determination to operate at Capability Maturity Level ZERO, regardless of the consequences).</font></h5>
            <p align="left"><font color="black">Assuming State capture cost SA R 500 billion <br>
              (before Ramaphose stated recently the loss to South Africa through corruption was <a href="{{ asset('storage/assets/onetrillionstolenfromthefiscusnooneinjail.pdf') }}" >estimated to be as much as R1 trillion</a>)<br>
              here are 10 things we could've bought with that money
              The amount of schools, hospitals and pints we could have had for this money is
              enough to turn the stomach. Here's the real cost of state capture. <br>
              <br>
              Article By
              Tom Head 2019-10-14 </font></p>
            <p align="left"><font color="black">Cyril Ramaphosa is currently on a visit to the United Kingdom, taking a good
              look at the place before Brexit.&nbsp; President may have thought he could slip one under the rug regarding the cost of
              state capture.</font></p>
            <p align="left"><font color="black">That has not proven to be the case. Although Ramaphosa told foreign
              investment interests that Mzansi has now stemmed the bleeding from state
              capture, he conceded that a whopping R500 billion ($34 billion) may have been
              stolen during jacob zuma's nine-year tenure. That's not bleeding. That's the
              elevator doors opening up in The Shining.</font></p>
            <p align="left"><font color="black">How much has state capture cost South Africa? That's a heck of a lot of
              money. It's just under half of what zuma wanted to give the Russians in exchange
              for an ill-conceived nuclear power deal. So perhaps we should be thankful?
              Well, that's not going to be easy. Not when you consider we could have spent
              that humongous wad of cash on the following:</font></p>
            <p align="left"><font color="black">Over 5 000 new state-of-the-art schools. Around 10 billion pints of imported,
              premium beer; that's around 166 drinks each for every man, woman and child in
              South Africa. Almost 20 000 health clinics, fully-staffed and equipped with
              modern technology. Just under five billion kilograms of cheddar cheese. Around
              170 000 new Volkswagen Golf 1.4 litre engine (brand new). 400 million pairs of
              new Nike trainers. Thanks state capture 33 billion litres of petrol. 62.5
              million return flights from Johannesburg to Dubai, so we could *all* replicate
              the Guptas' escape from South Africa. Speaking of Dubai; You could build 12 more
              exact replicas of the tallest building in the world, The Burj Khalifa. You could
              wipe out Eskom's entire debt (R420 billion) and use the remaining cost of R80
              billion to buy the Crown Jewels of the United Kingdom, belonging to Queen
              Elizabeth and her family. (All stats were provided by linked sources)<br>
              <a href="https://www.thesouthafrican.com/offbeat-news/state-capture-cost-sa-r500bn-10-things-we-couldve-bought-with-that-money/" > Click here for above article.</a></font></p>
            <hr>
            <p align="left"><font color="black">An obvious
              example of the end game that awaits us (a clear and present danger for
              South Africa), unless the downward economic trajectory towards "Junk
              Status" (which occurred just at Covid-19 hit us in 2020), is the failed state of Zimbabwe across our borders.&nbsp; (<a href="https://www.fin24.com/Economy/zim-president-our-economy-is-dead-20191001" >Zim
              president: Our economy is dead Oct 01 2019 20:26</a>)</font></p>
            <h5 align="left"><font color="black">One only has to look across our border at Zimbabwe to see what awaits us if the "commie ticks" get their way.</font></h5>
            <p align="left"><font color="black">I.e. The same blood sucking actions by commie ticks that caused Zimbabwe's
              demise has and continues in South Africa.&nbsp; This will result in
              untold hardship for all citizens in the New South Africa as it sinks
              further and further into the abyss of failed state (r) us.</font></p>
            <hr>
            <h5 align="left"><font color="black">The Wasteland they will leave in their wake.</font></h5>
            <p align="left"><font color="black">With regard to <a href="#unisa">the UNISA article and warning above</a>, if we analyze the current Economic position South African
              finds itself in 11 years later (2020) then <b>it is obvious that PMWay's predictions (one of the reasons I started to build this web) were bang on target!</b><br>
              <br>
              Economic and <a href="/home/gamestats" > Production Stats</a> (as evidence of anc capability since taking over the country) shows they have Absolutely No Clue!&nbsp; <br>
              <br>
              The stats also clearly show that the ANC are <a href="/home/carousel?slide=4" > operating at the very low end of Capability Maturity Level 1, but with the clear intention to (destroy Governance) in order to be allowed to operate freely at Capability Maturity Level ZERO</a> - which is (means)
              we as the Rainbow Nation are going nowhere!?&nbsp; The actions exhibited in May and June 2020 by the "Central Command Council (Politburo) under another zuma
              &quot;to fight Covid-19,&quot; but clearly their attempt to undermine jail time for public enemy #1 (ex president zuma)
              and other criminals of the gangster state (criminal cabal); being authoritarian, totalitarian and
              extremely alarming, to say the least. I.e. roll on Animal Farm South Africa and "Cry the Beloved Country!"</font></p>
            <h5><font color="black">Anyone can see that the idiotic "commie tick" strategy of Land Grabbing was the single driving force that destroyed Zimbabwe under Bob Mugabe!<br>
              <img class="img-fluid" src="{{ asset('storage/images/idioticoneoone.jpg') }}"></font></h5>
            <h1><font color="black">The ANC's Game</font></h1>
            <h4><font color="black">Turn Up The Heat!</font></h4>
            <p align="center"><img alt="upping the heat" class="img-fluid" src="{{ asset('storage/images/rainbownation.jpg') }}"></p>
            <p align="center"><font color="black">Because they want what we have built and acquired for themselves!<br>
              I.e. "commie ticks" do not understand Entrepreneurship and how it is used to combine Land, Labour and Capital to create value.</font></p>
            <p align="center"><img alt="" title="Entrepreneurs are the chefs that combine resources in forms that people want" class="img-fluid" src="{{ asset('storage/images/entrepreneurship.jpg') }}"></p>
            <p align="center"><font color="black">They do not know how to
              do this Entrepreneurial thing...  Rather they just want to skip the magical / hard part of Entrepreneurship (that makes business
              successful and ensures it continues to operate as a going concen) and just "take it all for themselves
              without all of this Entrepreneurial bother and fuss." Obviously
              this approach is utterly doomed to failure in the medium to long
              term (as we see with every business the anc tries to run)!&nbsp;
              Simply because the &quot;commie ticks&quot; are
              not, and will never understand
              what is actually required for Entrepreneurial success!<br>
              <br>
              Or an even better anc plan, let us centralize all business so we can force a "cut
              for ourselves (it will go to the people of course) of everything the Entrepreneur is making" (over and above horrifically high taxes
              which we take for ourselves (for the people of course))!<br>
              <br>
              Or even better than that ... force in a BBBEE policy that
              legalizes and legislates Entrepreneurs to take on uneducated anc supporters
              onto their workforce and ... while we are at it also give them 51% of your business
              also... we insist!<br>
              <br>
              Or how is this for an idea... Lets grap hold of Escom and pump in all the caders and anc supporters we can find into this "thing," run it into the ground so it is billions in debt, drive up the price of electricity and use this to "stimulate" (only black small to medium business entrepreneurs) to start thinking of businesses to solve our massive and growing unemployment and poverty problem in South Africa (caused by... wait for it... here it comes... the race card...
              IMPERIALISTS, WHITE MINORITY CAPITALISTS, THE CREATERS OF
              APARTHEID AND RACISTS!).<br>
              <br>
              The intelligent "economically savvy" mind boggles at this
              total and utter "commie tick" stupidity!</font></p>
            <h1><font color="black">The above "commie tick" mindset culminating ultimately:</font></h1>
            <h4><font color="black">"To implement Radican Economic Transformation (RET)"<br>
              which translated into "commie tick" means: </font></h4>
            <h1><font color="black">Rapidly Empty the Treasury!</font></h1>
            <p align="center"><font color="black">for the good of the (anc supporting) people of course!</font></p>
            <p align="center"><img alt="revolution" class="img-fluid" src="{{ asset('storage/images/ndr.png') }}"><br>
              <img alt="junked" class="img-fluid" src="{{ asset('storage/images/junked.jpg') }}"></p>
            <p align="center"><a href="{{ asset('storage/assets/communismoverview.pdf') }}" ><img class="img-fluid" src="{{ asset('storage/images/animalfarm.png') }}"></a></p>
            <p align="left"><font color="black"><b>Clear evidence of this (Animal Farm approach) is the fact that under President Ramaphosa and the ANC, <a href="{{ asset('storage/assets/onetrillionstolenfromthefiscusnooneinjail.pdf') }}" >none yet are in jail for stealing close to 1 trillion from the fiscus</a> (from the people - the dream of the Rainbow Nation - of the New South Africa).</b></font></p>
            <p align="left"><font color="black">The "commie tick" mindset, abusive control games and clear intention by the anc to "gas light" and "intimidate" the Rainbow Nation into submission are
              neatly captured in the &quot;turn up the heat&quot; cartoon above and the two images below,
              as they work to destabilise us (destroy the environment needed for true
              entrepreneurs to create wealth for our Rainbow Nation) and bully us into
              submission / to accept their unethical and evil behaviour as normal.</font></p>
            <p align="center"><img alt="" class="img-fluid" src="{{ asset('storage/images/cartoonboxer.png') }}" ><br>
              <img alt="Introverted" class="img-fluid" src="{{ asset('storage/images/anchorpointsin.png') }}"></p>
            <h1> <font color="black">Sadly..</font>.</h1>
            <img alt="Playing chess with a pigeon brain" class="img-fluid" src="{{ asset('storage/images/thoughtfortheday.jpg') }}"><br>
            <img alt="Playing chess with a pigeon brain" class="img-fluid" src="{{ asset('storage/images/pigeonandchess.png') }}"><br>
            <br>
            <h1><font color="black">Bottom Line...</font></h1>
            <p align="left"><font color="black">When there are very low levels of Capability Maturity</font></p>
            <p align="center"><img class="img-fluid" src="{{ asset('storage/images/wall and resources.jpg') }}"></p>
            <br>
            <p align="left"><font color="black">Therefore, South Africa, under the ANC, will, due to
              their inability to appreciate and rectify the emergency (non existence)
              condition, <br>
              continue to remain, <a href="/home/gamestats" > in a severe downward (and non-existence) trend<br>
              <img alt="downward trend" class="img-fluid" src="{{ asset('storage/images/downwardtrend.png') }}" ></a><br>
              </font></p>
            <p align="center"><img alt="Flatline ... roll on failed state" class="img-fluid" src="{{ asset('storage/images/flatlinedshadow.png') }}" > <font color="black"><b>and our economy will continue to
              flat line!</b></font><br>
              <br>
              <img class="img-fluid" src="{{ asset('storage/images/ancwashere.jpg') }}"><br>
              <br>
              <img class="img-fluid" src="{{ asset('storage/images/lordhelpus.jpg') }}"></p>

            <!----------------------------------------------------------------------------->
            <br>
            <br>
            <h3 align="center"><font color="black"><b>Conclusion / Solution:</b></font></h3>
            <h5 align="left"><font color="black">You can try to ignore the reality of Economic principles <br>
              (and also the ancient wisdom of Aesop) <b>BUT THEY WILL NOT IGNORE YOU!</b></font></h5>
            <br>
            <br>
            <h3 align="center"><font color="black">Take this challenge below:</font></h3>
            <p align="center"><font color="black"> Look at the 2 images
              below. <br>
              See if you can combine them towards a solution for South Africa that will move (all of the Rainbow Nation) positively and productively into the future? <br>
              Note:  This involves dragging the ladder which can only be done on a desktop with a mouse. <br>
              (however, using a small screen (without dragging the steps) you should get the point)</font></p>
            <a href="/home/carousel?slide=4"  title="Click the image for the Capability Maturity steps in the Productivity and Quality improvement ladder.  The more detailed rungs of the ladder are found connecting the 5th dot or next slide."><img alt="" id="targetforladder"  class="img-fluid" src="{{ asset('storage/images/wall%20and%20resources.jpg') }}" ></a><br>
            <br>
            <p align="center"> <img alt="" class="img-fluid" id="steps" src="{{ asset('storage/images/governmentsteps1.png') }}" ></p>
            <button class="btn btn-primary align-center clearfix" type="button" data-toggle=
"collapse" data-target="#collapsesolution" aria-expanded="false" aria-controls=
        "collapsesolution">Solution to the CM L2+ Challenge </button>
            <div class="collapse" id="collapsesolution">
              <div class="container">
                <div class="card text-center">
                  <h5 class="card-header" align="center"><font color="black">Take a look below for the answer on how to solve the
                    challenge.  Also find solutions for the Rainbow Nation going forward.</font></h5>
                  <div class="card-body text-center">
                    <p align="center"><font color="black"> Solution:&nbsp; Drag the ladder directly above with your mouse up to the
                      wall above and position it correctly to enable you to safely climb up and look (climb) over
                      the wall!</font></p>
                    <p align="center"><font color="black"> <a href="/home/carousel?slide=5" >The Capability Maturity process steps
                      spiral upwards for improved Production and Quality stats</a>.</font></p>
                    <p align="center"> <a href="/home/thesis"  title="Click the image to go to my Dissertation thesis."><img alt="" class="img-fluid"  src="{{ asset('storage/images/mastersresearchmodel.png') }}" ><br>
                      <img alt="" class="img-fluid" id="steps" src="{{ asset('storage/images/improvementframework.jpg') }}" ></a></p>

                    <!-------------------------------------------------------------------->

                  </div>
                  <div class="card-footer"> </div>
                </div>
              </div>
            </div>
            <br>
          </div>
        </th>
      </tr>
      <tr>
        <th scope="row"><h5 align="center"> <i><b>Please remember:</b></i> <br>
            <a href="/home/about" >PMWay is an ideas sandbox.</a><br>
            Only click
            the button directly above<br>
            to open this section<br>
            if you are interested in our opinion<br>
            which
            concludes with a solution for the Rainbow Nation going forward! </h5></th>
      </tr>
    </tbody>
  </table>
  <br>
  <br>
  <br>
  <br>
  <button class="btn btn-primary align-center clearfix" type="button" data-toggle=
"collapse" data-target="#collapsedaignored" aria-expanded="false" aria-controls=
        "collapsedaignored">Click here for DA opinion that makes perfect sense<br>
  which will, because it is logical and not their
  idea, surely be ignored by the ruling party!? </button>
  <div class="collapse" id="collapsedaignored">
    <div class="container">
      <div class="card text-center">
        <h5 class="card-header" align="center"></h5>
        <div class="card-body text-center">
          <p><i>Do you remember when the DA begged Parliament for a vote of no confidence in President Zuma.  Not once, not twice, but three times.</i><br>
            Per
            the &quot;choices to avoid a failed state&quot; image above the problems (no governance, state capture etc.) in South Africa are clearly caused by the Governing party. <br>
            I.e. it is they (on their watch) who (that) have brought us to where we are today.</p>
          <p><i>As with the ignored advice above, leading us further and further along the road to a failed state, so to will the advice below be ignored by the governing party.</i></p>
          <h5>
          Read this edition of Straight Talk from John Steenhuizen published at the end of June 2020 and decide for yourself if the advice is sound and should be acted upon asap.</5>
          <h3 class="_yntiod">Stabilizing our debt: the hippo in the room</h3>
          <h6 class="_1b0f14t">29 Jun 2020 in News</h6>
          <p align="left">The Covid-19 pandemic and the government's mishandling of it has brought our growing debt problem to a head. How we approach it now will determine what life in South Africa will be like for generations to come. Either more and more people slip into grinding poverty, or more and more people get onto the ladder of opportunity. This is a pivotal moment in our history.</p>
          <p align="left">In his emergency budget speech, Finance Minister Tito Mboweni faced up to this problem: "Our Herculean task is to close the mouth of the Hippopotamus! It is eating our children's inheritance. We need to stop it now!"</p>
          <p align="left">Unfortunately, he did not and could not present a credible plan to put South Africa on a path to debt sustainability and growing prosperity. Credit rating agencies are therefore more likely to move South Africa further into junk status than back towards investment grade.</p>
          <p align="left">We were already caught in a low-growth, high-debt vicious cycle before the government implemented the blunt instrument indefinite economic shutdown. Having dropped from 49% of GDP in 1994 to 22% by 2008, our debt was set to breach 70% in the
          <p align="left">But now the cycle is that much more vicious. Collapsing tax revenues and increased spending needs have doubled the expected budget deficit (the amount by which our spending exceeds our revenue) for this year, from 7% to 15% of GDP. The result is that debt is expected to be R4 trillion, 82% of GDP, by the end of this fiscal year.</p>
          <p align="left">In 2020, 21c of every tax rand goes to paying back the interest on our loans. This is more than we spend on social grants, health, or policing. This number will soon surpass even what we spend on education. The hippo is indeed eating our children's future.</p>
          <p align="left">The minister set out two scenarios, passive and active. On the passive path, we stay on our current trajectory with debt-to-GDP rising to 140% by 2028. This all but guarantees a sovereign debt crisis, meaning we are unable to raise any more debt. At that point, South Africa is either a failed state like Zimbabwe and Venezuela, or the IMF steps in and takes over decision-making. Either way, there's a lot of unnecessary suffering involved.</p>
          <p align="left">On the active path, debt will stabilize at 87% in three years' time and then slowly decline. This requires us to implement economic reforms that enable growth. (I have listed some of these at the end of this newsletter.) No matter how the government chooses to spin it, South Africa's runaway debt is a direct consequence of bad policy choices. It can only be remedied by changing direction on these.</p>
          <p align="left">Genuine commitment and active steps to implement growth-enabling economic reform will increase our ability to pay back debt while also bringing down the cost of that debt, because lenders charge less the more confident they are that it will be repaid. Sustained economic growth is the only pathway out of poverty and towards broad prosperity in a more equal society.</p>
          <p align="left">boweni himself strongly supports economic reform. Indeed, he published a paper last year setting out these reforms in detail. His calls for reform are widely supported, including by Reserve Bank governor Lesetja Kanyago, the Democratic Alliance and other opposition parties, business organisations such as Business Unity South Africa and Business Leadership South Africa, economists, international lending institutions, and the major credit rating agencies.</p>
          <p align="left">Yet despite this vast weight of support, South Africa remains on the passive path to debt crisis. The few promises Mboweni did make - zero-based budgeting, restructuring Eskom &#8211; have a high risk of failing on implementation or delay.</p>
          <p align="left">he hippo-sized stumbling block is Mboweni's own party. The ANC remains committed to the failed socialist ideology of state-led "development" that got us into this debt-trap in the first place. In the face of dwindling popular support, the party has been forced to appease vested interests in the ANC alliance &#8211; public sector unions and politically connected business cronies - to ensure its survival.</p>
          <p align="left">The public sector wage bill consumes 58c of every tax rand and this number will rise to 61c if unions have their way.</p>
          <p align="left">Realistically, either reformists unite to build pressure for political change, or we live the horror story that unfolds on the current dangerous and unsustainable debt trajectory.</p>
          <p align="left">The DA is committed to building a country that works for everyone. Financial management is measurably better where we already govern. This week, the auditor general reported that 27 out of the 30 municipalities in DA-run Western Cape achieved clean or unqualified audits. In Gauteng, the only municipality that achieved a clean audit was DA-run Midvaal.</p>
          <p align="left">In the end, voters need to start being realistic about what does and doesn't work.</p>
          <p align="left">The DA proposes the following focus areas for economic reform:</p>
          <div align="left">
            <ol>
              <li>Stem the immediate bleeding by <strong>ending the lockdown and replacing it with a standard set of evidence-based safety rules and guidelines</strong>, where each regulation is directly linked to reducing the spread of covid-19. A standard set of high-impact safety rules will improve compliance and enforcement and raise economic activity. This will protect lives and livelihoods.</li>
              <li><strong>Cut the public sector wage bill over the medium term and grow public sector productivity</strong> by: freezing wages for non-frontline workers for a three-year period; reducing head-office management staff by one third; introducing performance management systems across all sectors; appointing and promoting on performance rather than race, gender or other criteria. The money spent on salaries is crowding out productive investment in public infrastructure.</li>
              <li><strong>Sell or shut down state-owned enterprises</strong> that are not able to survive without bailouts,and redirect the funds to service delivery and social welfare. South Africa cannot afford vanity projects such as SAA or a new nuclear build.</li>
              <li>Make electricity cheaper and more reliable for households and businesses <strong>by ending Eskom's monopoly and opening the electricity market to competition.</strong> Municipalities must be able to buy directly from producers.</li>
              <li>Make it easier to get and create jobs by <strong>freeing up the SMME labour market.</strong> Small businesses should be exempt from the more stringent labour legislation including from agreements reached by bargaining councils.</li>
              <li><strong>Reject investment-killing policies of EWC, NHI, prescribed assets and SARB nationalisation.</strong> Each of these policies may be well-intended, but the real-world result is to scare off investment, capital, and scarce skills.</li>
              <li><strong>Abandon BEE system and target redress policies at disadvantage rather than race.</strong> The DA's position paper on redress sets out the policies South Africa should pursue to remove the underlying inequalities that still exist because of past dispossession and discrimination. Abandoning BEE will make state spending vastly more efficient, which is strongly in the interest of the poor.</li>
              <li><strong>Auction digital spectrum</strong> to bring down data costs for individuals and businesses.</li>
              <li><strong>Reform visa regulations</strong> to enable more scarce skills to enter South Africa.</li>
              <li>Tackle corruption in the private and public sectors by establishing an <strong>independent, well-resourced corruption-busting body</strong> - effectively reestablishing the Scorpions.</li>
            </ol>
          </div>
        </div>
        <div class="card-footer"> </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <script src="/bootstrapfourthreeone/js/jquery.js"></script>
  <script src="/bootstrapfourthreeone/js/jquery-ui.js"></script>
  <link rel="stylesheet" href="/bootstrapfourthreeone/css/jquery-ui.css">
  <script>
     	  $(document).ready(function() {

            function qs(key) {
                key = key.replace(/[*+?^$.\[\]{}()|\\\/]/g, "\\$&"); // escape RegEx meta chars
                var match = location.search.match(new RegExp("[?&]" + key + "=([^&]+)(&|$)"));
                var slide = match && decodeURIComponent(match[1].replace(/\+/g, " "));

                if (Math.floor(slide) == slide && $.isNumeric(slide)) {

                	$('#collapseopencarousel').collapse('show');
                	$('html, body').animate({
    scrollTop: $("#collapseopencarousel").offset().top
}, 1000);



                    return parseInt(slide);
   				}
                else
                    return 0;
}


            $('#mycarousel').carousel((qs('slide')) - 1);
            $("#steps").draggable({
                revert: "invalid"
            });
            $("#targetforladder").droppable({
                greedy: true,
                tolerance: 'pointer',
                drop: function(event, ui) {
                    ui.draggable.draggable('option', 'revert', 'true');
                    $(this).css({
                        'background-color': '#94be0f',
                        'border': '3px solid navy',
                        'display': 'inline-block'
                    })
                      alert("Awesome! Now click the wall to see the processes as rungs on the ladder you need to master to get over it!  Remember Demings advice the home page:  Work on the process, not the outdome of the process! ");

                }
            });

        });
    </script>
</div>
<!-- Content Container ends here -->

{% endif %}


{% endblock %}
