{% extends 'base.twig' %}
{% block title %} {% if not user %}PMWay{% endif %} {% if user %}Zebras{% endif %}  {% endblock %}
{% block body %}
{% if user %}
<div class="container">
<article>
<section></section>
<div>
<section>
<div>
  <div>
    <div>
      <div>
        <h1>Why Zebras Don&rsquo;t Get Ulcers</h1>
      </div>
      <div>
        <div>
          <div>
            <div>
              <div> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p>By Robert M. Sapolsky</p>
    <figure>
    <div>
      <div>
        <div>
          <div><img class="img-fluid" src="{{ asset('storage/images/zebraone.jpg') }}" alt="" ></div>
        </div>
      </div>
      </figure>
      <h1>Introduction</h1>
      <p>This book presents research evidence on the (mostly negative) impact of stress on your body functions, from hormonal balance to cardiovascular risk, from growth to reproductive system &mdash; everything.</p>
      <p>This summary pretty closely follows the structure of the book. We will start with the molecular mechanism of stress response and then look at the relationship between stress and some of our key body functions. Lastly, we also take a brief look at stress coping mechanisms.</p>
      <p><b>The reason zebras don't get ulcers (<i>am I answering this too soon?</i>) derives from Sapolsky's idea that for animals such as zebras, stress is generally episodic (e.g., running away from a lion), while for humans, stress is often chronic (e.g., worrying about losing your job).<br>
        AGAIN:  The reason is because they (zebras) only have to deal with acute physical stressors, whereas people are stressed all the time!<br>
        You mean the answer to humans avoiding stress is that simple!!!?<br>
        I am afraid so.... ;~)</b></p>
      <div align="center">
        <button class="btn btn-primary align-center clearfix" type="button" data-toggle=
"collapse" data-target="#collapsephysical" aria-expanded="false" aria-controls=
        "collapsephysical">The Physical Symptoms</button>
        <div class="collapse" id="collapsephysical">
          <div class="container">
            <div class="card text-center">
              <h5 class="card-header" align="center">these are the physiological symptoms we want to reduce,<br>
                or better yet, learn to avoid totally</h5>
              <div class="card-body text-center">
                <div align="left"> <a name="home"></a>
                  <ol>
                    <li><a href="#1">Basics of stress response</a></li>
                    <li><a href="#2">Cardiovascular functions</a></li>
                    <li><a href="#3">Metabolism</a></li>
                    <li><a href="#4">Growth</a></li>
                    <li><a href="#5">Reproduction</a></li>
                    <li><a href="#6">Immune system</a></li>
                    <li><a href="#7">Pain perception</a></li>
                    <li><a href="#8">Learning and memory</a></li>
                    <li><a href="#9">Sleep</a></li>
                    <li><a href="#10">Depression</a></li>
                    <li><a href="#11">Stress coping mechanisms</a></li>
                  </ol>
                  <p><a name="1"></a><strong>1. The basics of stress response</strong></p>
                  <p><a href="#home">Home</a></p>
                  <p>Before we dive in, let&rsquo;s first take a look at what happens in your body in the seconds and minutes after you are stressed.</p>
                  <p><strong>Neurotransmitter and Hormone</strong></p>
                  <p>If a neuron secretes a chemical messenger that travels a thousandth of an inch and causes the next cell in line to do something different, that messenger is called a neurotransmitter. If a neuron (or any cell) secretes a messenger that, instead, percolates into the bloodstream and affects events far and wide, that messenger is a hormone.</p>
                  <p><strong>Stress response within seconds &mdash; neural system</strong></p>
                  <ul>
                    <li>Your Sympathetic Neural System (SNS) kicks into action during emergencies (or what you think are emergencies) &mdash; this is what makes you run twice faster if a lion is chasing you. The classic fight or flight behavior.</li>
                    <li>Your Parasympathetic Neural System (PNS) plays a completely opposite role. It mediates calm, vegetative activities. It is activated when you go to sleep or when you had a full meal &mdash; that happily drowsy you after Christmas dinner</li>
                  </ul>
                  <p>In short, SNS speeds up your heart, pumps blood into your muscle, pauses all long-term projects in your body, and prepares to run for your life. PNS does the opposite.</p>
                  <p><strong>Stress response in the course of minutes or hours &mdash; hormonal system</strong></p>
                  <p>In the course of minutes or hours after the initial stress, your hormonal system starts to kick in. Hormones are vital to the stress-response &mdash; epinephrine (aka adrenaline), norepinephrine, and glucocorticoids (a type of steroid hormones). Different hormones act at different speed &mdash; Epinephrine typically acts within seconds, and glucocorticoids back this activity up over the course of minutes or hours</p>
                  <p>When something stressful happens or you think a stressful thought, the hypothalamus secretes an array of releasing hormones into the pituitary circulatory system that gets a chain effect rolling. Within fifteen seconds or so, CRH triggers the pituitary to release the hormone ACTH, which after released into the bloodstream, triggers glucocorticoid release. Glucocorticoids, combined with the SNS stimulation mentioned earlier, account for a large percentage of what happens when you are stressed.</p>
                  <h1><a name="2"></a>2. Cardiovascular functions</h1>
                  <p><a href="#home">Home</a></p>
                  <p>Now let&rsquo;s look at how stress impacts various body functions. We will start with cardiovascular functions.</p>
                  <p>When you are stressed, the first thing your body does is to shift your heart into a higher gear (pumps faster and stronger) and pumps more blood into your vessels &mdash; so your blood pressure rises during the stress response. The next steps are to distribute the blood thoroughly across the body (so that oxygen can be delivered to every piece of your muscle to empower you to run for your life) &mdash; arteries are relaxed to allow blood flow more freely. This is all good news, but it becomes bad news when we are in a long-term stress situation. When our blood vessels keep getting strong blood flow, it builds up thicker muscle to regulate stronger bloodstreams, and as a result, blood pressure has to increase next time it needs to pump more blood because of the higher resistance. The vicious cycle of chronic high blood pressure goes on.</p>
                  <p>This is particularly tricky at bifurcation points. Think of those as crossroads where large blood vessels branch into smaller and smaller ones. Fun fact: no cell in your body is more than five cells away from a blood vessel &mdash; yet the circulatory system takes up only 3% of body mass &mdash; quite amazing isn&rsquo;t it? Anyway. chronic high blood pressure disproportionally impacts bifurcation points and often causes inflammation &mdash; and then stuff like cholesterol and fat in your bloodstream tend to stick to the inflammation spots. Eventually the accumulated cholesterol and fat block your blood vessel &mdash; causing heart attacks. High cholesterol in itself is not a problem, but high cholesterol coupled with chronic high blood pressure (which can be a result of high-stress) and inflamed blood vessels &mdash; this combination leads to heart attacks and strokes. We have heard much about LDL (bad cholesterol) and HDL (good cholesterol). LDL is the type of cholesterol that gets stuck on your bifurcation points and HDL are the type that has been removed from those points and is on its way to be degraded in the liver. That&rsquo;s why not all cholesterol is created equal we want low LDL and high HDL.</p>
                  <p>In summary, long-term stress leads to chronic high blood pressure, and together with high cholesterol level significantly increases your likelihood for heart attacks and strokes.</p>
                  <h1><a name="3"></a>3. Metabolism</h1>
                  <p><a href="#home">Home</a></p>
                  <p>Time to introduce a very important type of hormone &mdash; insulin. Insulin is this optimistic hormone that plans for your metabolic future. It stimulates the transport and storage of food into building blocks. The strategy here is: break your food down into its simplest parts and then reconnect it into complex storage forms. If you eat protein, they get broken down into amino acids in your bloodstream and gets stored as protein. Carbs are broken down into glucose and fat into fatty acids.</p>
                  <p>When you are stressed, everything works pretty much the opposite way, amino acids, glucose, and fatty acids are mobilized in stressful emergencies. The metabolic stress-response is good &mdash; you need that to cope with emergencies. But constantly triggering this type of stress response is dangerous for several reasons.</p>
                  <ul>
                    <li>First, it&rsquo;s inefficient &mdash; every time you go through the storage &mdash; mobilize cycle, you are wasting some energy.</li>
                    <li>Second, constantly mobilizing the metabolic stress-response means that you have tons of fat and glucose perpetually circulating in your bloodstream. And we all saw in the last section that this leads to cardiovascular diseases</li>
                    <li>Thirdly, during stress, not only do you block insulin secretion (so that you don&rsquo;t deposit any energy into long-term storage), but you also make fat cells throughout your body less sensitive to insulin, just in case there&rsquo;s still some floating around working to get energy into storage. This is called stress-induced insulin resistance. This is really bad news for people with juvenile diabetes (where the body does not produce enough insulin) &mdash; because this creates a lot of additional challenge to the already fragile system of balancing insulin level in the bloodstream. Frequent stress and/or big stress-responses might increase the odds of getting juvenile diabetes, accelerate the development of diabetes, and, once it is established, cause major complicating in this already life-shortening disease. This is also bad news for people with adult-onset diabetes (where the fat cells do not respond to insulin) because it makes the original problem of insulin resistance much worse.</li>
                  </ul>
                  <h1><a name="4"></a>4. Growth</h1>
                  <p><a href="#home">Home</a></p>
                  <p><strong>Prenatal-stress</strong>. It turns out that your body is already learning about the nature of the world and metaphorically, making life long decisions about how to respond to the outside world. You pre-set your metabolism rate based on your surrounding environment. If you do not see plenty of food, you dial down your insulin sensitivity. This is called metabolic &ldquo;imprinting&rdquo;. The most famous example is the Dutch Hunger Winter at the end of WW2 and a cohort of newborns (who were in the third trimester then) having thrifty metabolism and a much higher rate of diabetes. If a pregnant woman is stressed during pregnancy &mdash; that leads to high glucocorticoids levels in bloodstreams which gives the fetus the signal that &ldquo;oh, it&rsquo;s a stressful world out there, I need to tend towards secreting excessive amounts of glucocorticoids to cope with it&rdquo;. And there you have &ldquo;imprinted&rdquo; metabolic syndrome, which increases the odds of obesity, insulin-resistant diabetes, and hypertension.</p>
                  <p><strong>Postnatal-stress</strong>. Studies are starting to establish the link between childhood stress and long-term mental and physical diseases. Stress dwarfism involves extremely low growth hormone levels in the circulation &mdash; and its usually caused by particularly traumatic events in childhood. Kids being reared in pathological conditions have a higher risk of slowed skeleton growth.</p>
                  <p>A famous experiment conducted by Field and Crew demonstrated the impact of stress on early growth. In this experiment, they tested whether and how human touch could impact infant growth. It turns out that 15 min touch of premature infants each day can lead to as much as 50% faster growth. The infants who were touched were more active and alert, matured faster behaviourally and were released from the hospital nearly a week earlier than the premature infants who weren&rsquo;t touched. We readily think of stressors as consisting of various unlearnt things that can be done to an organism. Sometimes a stressor can be the failure to provide something essential, and the absence of touch is seemingly one of the most marked developmental stressors that we can suffer.</p>
                  <h1><a name="5"></a>5. Reproduction function</h1>
                  <p><a href="#home">Home</a></p>
                  <p>Stress is really bad news for our reproduction system. This makes evolutionary sense because &mdash; if you are under acute stress of being eaten by a lion, why bother devoting any energy to reproduction?</p>
                  <p><strong>Male reproduction</strong></p>
                  <p>As a starting point, stress results in a decline in circulating testosterone levels. (and they do so through increased release of endorphins )</p>
                  <p>But that&rsquo;s only half of the story, the other half is related to nervous system and erection. Male erection is an extremely complicated process that requires the extricate balance between parasympathetic nervous system (what makes you activate and maintain an erection) and sympathetic nervous system (what the rest of your body feels like during erection and what leads to ejaculation). Stress destroys the balance, and &mdash; you either get erection deficiency or premature ejaculation, or both. Even worse, sexual dysfunction in itself is a pretty big stressor and can lead to a vicious cycle of reproductive dysfunction</p>
                  <p>There are exceptions to this story though.</p>
                  <p>Exception 1: For tournament species (where very few males get reproductive opportunities &mdash; like chimpanzees), males are constantly under the stress of sex competition. Their reproductive function is not negatively impacted by that type of stress &mdash; because either wise they would win all those battle for nothing. Not a very good Darwinian move.</p>
                  <p>Exception 2: In the rare cases of female-dominated animals (like hyenas), male erection is a natural response during stressful situations. It&rsquo;s almost saying &ldquo;Look, I am just a non-threatening male, you are a dominant female, don&rsquo;t hit me.&rdquo;</p>
                  <p><strong>Female reproduction</strong></p>
                  <p>The first big role stress plays in disrupting female reproduction is by reducing estrogen levels, which naturally inhibits reproduction. This happens usually in physical stress environment where fat storage drops &mdash; those fat cells are what it takes to convert androgen into estrogens. And that&rsquo;s why you see young girls who are serious dancers or runners, their puberty can be delayed for years</p>
                  <p>The second role stress plays in female reproduction is the suppressions of the secretion various sex hormones and hence results in a loss of sexual desire. This is well documented in lab animals and observed in human beings as well</p>
                  <p>In addition, stress also plays a role in miscarriage (although quite rare) and preterm birth, probably due to the elevated glucocorticoids level.</p>
                  <p>Again, there are exceptions to this story.</p>
                  <p>In some animal species, stress-induced miscarriage is surprisingly common. And that has evolved to become a strategy female uses to avoid infanticide. This typically happens when only one or a few males in a herd has reproductive rights. When a new alpha male takes over, he obviously would kill all infants that belong to the previous alpha male to make sure that females in the herd will stop nursing and start ovulating again. So for females who are pregnant when a new alpha male takes over, they know that they would be wasting all those metabolic energies on the baby for nothing, so why not miscarry intentionally now to cut loss?</p>
                  <h1><a name="6"></a>6. Immune system</h1>
                  <p><a href="#home">Home</a></p>
                  <p><strong>Basics of the immune system: </strong>T-cell and B-cell are two key players in our immune system. They both originate in the bone marrow, but T cells migrate to mature in the thymus (hence the T), while B cells mature in the bone marrow. They attack infectious agents in very different ways. T cells bring about cell-mediated immunity &mdash; in face of an infectious agent, the alarm system gets activated and results in the proliferation of killer cells which attack and destroy the infectious agent. (It is this T-cell component of the immune system that is knocked out by AIDS). B-cells cause antibody-mediated immunity. The main task of the B cells is to differentiate and generate antibodies &mdash; large proteins that will recognize and bind to some specific feature of the invading infectious agent. In binding to the specific feature, antibodies immobilize the infectious agent and target it for destruction. (Note: It is that specificity that particularly attracts attention in cancer research.)</p>
                  <p><strong>How does stress impact the immune system?</strong></p>
                  <p>Stress disrupts the immune system in many ways &mdash; it suppresses the formation of new T cells and B cells, shortens the time preexisting T cells and B cells stay in circulation, inhibits manufacturing of antibodies.. the list goes on. And all sort of stressors (physical or psychological) do that in primates, birds even in fish &mdash; and of course humans.</p>
                  <p>How does stress do that? It is often not stress itself, but the recovery from it that triggers a negative impact on our immune system. As it turns out, during the first few minutes after the onset of a stressor, your immune system is actually enhanced (point A) &mdash; it&rsquo;s your body&rsquo;s defense mechanism. An hour later, you glucocorticoids level and active sympathetic nervous system begin to offset that enhanced immunity and &ldquo;recovers&rdquo; your immune system back to normal (point B). This is necessary because it is too costly to have the immune system always maximally activated, and over-activated defense system leads to the accidental killing of the good guys (risk of auto-immune diseases). This fine balance is developed to cope with acute stress scenario (the typically being chased by a lion or poisoned by your food). However, if stress is prolonged &mdash; when it lasts for days, months and years, we will get to a place where the immune system is over-corrected and goes way below normal level (point C). This is how chronic stress really suppresses the immune system.</p>
                  <figure>
                  <div>
                    <div>
                      <div>
                        <div>
                          <div><img class="img-fluid" src="{{ asset('storage/images/zebratwo.png') }}" alt="" ></div>
                        </div>
                      </div>
                    </div>
                    </figure>
                    <p>Hence we have a paradox of stress and immunity &mdash; stress hormones (glucocorticoid) enhances immunity in the short term and suppresses immunity in the longer term &mdash; and when that balance is disrupted, we are in trouble. Research shows that transient stressors (lots of short phases A and B ) increase the risk of autoimmunity, while chronic stress brings you to phase C, suppressed immunity.</p>
                    <figure>
                      <div>
                        <div>
                          <div>
                            <div> <img class="img-fluid" src="{{ asset('storage/images/zebrathree.png') }}"  ></div>
                          </div>
                        </div>
                      </div>
                    </figure>
                    <h1><a name="7"></a>7. Pain perception</h1>
                    <p><a href="#home">Home</a></p>
                    <p><strong>Basics of pain: </strong>There are two types of pain: the first type is fast and acute (e.g., sticking a needle in your skin), the second type is prolonged and throbbing (e.g., muscle pain). And those two types exist for a reason &mdash; the fast pain is about getting you to move as quickly as possible(from the source of the piercing pain) while the slow pain is about making sure you don&rsquo;t move too much, so you can heal. Those two types of pain are results of different neural stimulation patterns. The fast pain stimulates neuron X first (which causes pain) and immediately neuron Y (which inhibits pain). The positive signal from X causes pain and the negative signal from Y right afterward offsets the pain. The slow pain, instead, stimulates neuron X and inhibits neutron Y &mdash; resulting in prolonged pain sensation.</p>
                    <p><strong>How does stress impact paint perception? </strong>Contrary to the topics we have covered so far, for one time, stress does not seem to have a strong negative impact on pain perception. In some cases, stress blocks pain perception. How? through the release of opioid peptides (for example, endorphins) that binds with opioid receptors in the brain and provides pain relief (this explains runner&rsquo;s high). All sorts of other stressors produce similar effects, surgery, low blood sugar, exposure to cold, childbirth etc. Opiates (analgesics not produced by the body) has a similar chemical structure to those of opioids (analgesics produced by the body like endorphins) and hence bind to receptors in the brain to get to the same level of pain reduction.</p>
                    <h1><a name="8"></a>8. Learning and memory</h1>
                    <p><a href="#home">Home</a></p>
                    <p><strong>Basics of memory</strong></p>
                    <p>Memory storage and memory formation/retrieval have very different pathways in our brain. A cheesy analogy of this pair is the hard drive (memory storage) and keyboard (memory formation/retrieval). Cortex is the hard-drive and hippocampus is the keyboard, by which you place and access memories in the context. Note that hippocampus is also the center of emotion, which partially explains why your level of memory towards certain events is impacted by the strengths of emotions. However, the key word here is &ldquo;partially&rdquo; because this statement is not entirely true. &mdash; the hippocampus is only involved in the formation of explicit memory (like facts, knowledge, and events), but not implicit memory (procedural things like how to walk, hit tennis balls, etc.). People who have their hippocampus destroyed cannot form new explicit memories, much like what we see in the movie &ldquo;Momento&rdquo; (really great movie by the way if you haven&rsquo;t seen it). But they can still learn skills like playing the piano.</p>
                    <p>Hippocampus and cortex form memories through synapses. And they disproportionately make use of what is probably the most excitatory neurotransmitter there is &mdash; glutamate. Glutamatergic synapses have an interesting property &mdash; it has an all-or-nothing type of personality. It will only pass on (massive) excitement when a certain threshold is passed. This explains why it takes repetition to learn something (you need to reach that threshold), it is the underlying biological mechanism of &ldquo;aha&rdquo; moments during learning. And what&rsquo;s even cooler is, sometimes when a synapse had a sufficient number of super excitatory glutamate-driven &ldquo;aha&rsquo;s&rdquo;, the synapse becomes persistently more excitable. So next time it takes less to get the &ldquo;aha&rdquo;. Our learning ability can be strengthened &mdash; and such strengthening can be long term. There&rsquo;s also increasing evidence that the formation of new memories might also come from the formation of new connections between neutrons and, even formation of new neutrons themselves. Here, you have a molecular level mechanism of the famous &ldquo;growth mindset&rdquo;</p>
                    <p>In conclusion, you can gain memories in four ways. The first two are well-documented and the last two are emerging hypotheses with some evidence.</p>
                    <ol>
                      <li>Exciting current neuron pathways &mdash; get the &ldquo;aha&rdquo; moment</li>
                      <li>Strengthening the potential of pre-existing neutrons through repeated exposure &mdash; make it easier to get the &ldquo;aha&rdquo; moment next time</li>
                      <li>Formation of new connections between neurons</li>
                      <li>Or even, the formation of new neurons themselves</li>
                    </ol>
                    <p><strong>How does stress impact memory?</strong></p>
                    <p>So how does stress come in here? It turns out that short-term stress can enhance memory. It makes sense because both memory retrieval and memory formation can help you get out of stressful situations and also have better odds of surviving the next similar stressor. However, as usual, long-term stress is really bad news for memories, particularly hippocampus-dependent explicit memories. And it does so in many ways: it disrupts long-term potentiation of neural pathways; it disconnects pre-existing neural networks, and it inhibits the birth of new neurons &mdash; pretty much it impacts everything that we mentioned above about memory formation. The important thing here to note is &mdash; During stress, the neural pathways in hippocampus begin to shrivel, to atrophy and retract a bit (you can actually observe the shrinkage visually when looking at lab animals under long-term stress). But that doesn&rsquo;t mean memory is lost, it means it&rsquo;s harder to retrieve (you need more complex and different pathway to retrieve a fact), and that&rsquo;s different from permanent loss in say, late-stage Alzheimer&rsquo;s disease or a massive stroke, where vast acres of neurons in the hippocampus is lost.</p>
                    <h1><a name="9"></a>9. Sleep</h1>
                    <p><a href="#home">Home</a></p>
                    <p>I just finished reading the book &ldquo;Why we sleep&rdquo; by Matthew Walker (which I highly recommend) and can write more details about stress and its impact on sleep later. But just to add a few notes here:</p>
                    <ul>
                      <li>About 75% of cases of insomnia are triggered by some major stressor.</li>
                      <li>Stress not only disrupts the the total amount of sleep but can decrease the quality of sleep. It disproportionally reduces your deep sleep (slow wave sleep) &mdash; which is what you need for energy restoration.</li>
                      <li>And this is a vicious cycle. Stress disrupts sleep, poor sleep activates more stress-response, which leads to even worse sleep, it goes on.</li>
                    </ul>
                    <h1><a name="10"></a>10. Depression</h1>
                    <p><a href="#home">Home</a></p>
                    <p>We have now seen some important links between stress and depression: extremes of psychological stress can cause something in a lab animal that looks pretty close to a depression. When animals are exposed to uncontrollable stressors (e.g., random electric shock), they have trouble coping with all sorts of normal life tasks. This is both due to simply not trying to cope with stress and move on in life, and also not reacting to any improvement from the normal coping mechanism. &ldquo;I can&rsquo;t control what&rsquo;s happening to me, ever. So why bother?&rdquo;. Much of what constitutes a depression is centered around responding to one awful thing and overgeneralizing from it &mdash; cognitively distorting how the world works. According to Marty Seligman&rsquo;s &ldquo;learned helplessness&rdquo; model, depression is not generalized pessimism, but pessimism specific to the efforts of one&rsquo;s own skilled action. Subjected to enough uncontrollable stress, we learn to be helpless &mdash; we lack the motivation to try to live because we assume the worst; we lack the cognitive clarity to perceive when things are actually going fine, and we feel an aching lack of pleasure in everything.</p>
                    <h1><a name="11"></a>11. Dealing with stress</h1>
                    <p><a href="#home">Home</a></p>
                    <p>By now, if you are like me, you probably feel pretty devastated at the massive negative impact of stress on your body. However, when there are trends, there are also outliers. In the relationship of stress and health and aging, it&rsquo;s the outliers that offer interesting insights. When we look at those outliers, we can find a few stress reduction mechanisms:</p>
                    <ul>
                      <li><strong>Outlets for frustration</strong> &mdash; this is frequently practiced by primates. An alpha male who just lost a fight often lets the frustration out by beating up lower rank males or rape females. Unfortunately, this coping mechanism also explains misplaced aggression in human behaviors</li>
                      <li><strong>Social support</strong> &mdash; baboons who have a bigger social circle, who are groomed more frequently have lower glucocorticoids levels. This is true for humans as well &mdash; just look at the Harvard Study of &ldquo;a good life&rdquo; <a href="https://news.harvard.edu/gazette/story/2017/04/over-nearly-80-years-harvard-study-has-been-showing-how-to-live-a-healthy-and-happy-life/"  rel="noopener nofollow">Over nearly 80 years, Harvard study has been showing how to live a healthy and happy life &mdash; Harvard Gazette</a></li>
                      <li><strong>Predictability</strong> makes stressors less stressful (its less about the intensity of the stressor, but about anticipation. A study looked at the stress level of civilians during wartime in London. Researchers noticed that suburban population developed more ulcers (a proxy for the level of stress) compared to urban population &mdash; this is because the bombing in the suburbs is less frequent and more unpredictable in timing.</li>
                      <li><strong>Control</strong> &mdash; Studies have shown that if you give chronic pain patients the ability to control their own painkiller dosage (they can press a button to increase dosage). Miraculously, the total amount of pain killer consumed decreased. It is the sense of control that&rsquo;s doing wonders here. And it&rsquo;s not just the exercise of control, it&rsquo;s the perception of control, that matters here.</li>
                    </ul>
                    <p>These coping mechanisms are profound and offer hope. The good old wisdom from your grandmother is still among the best things we can do to live a long and healthy life &mdash; going for a run, punching a few sandbags, spending time with friends and family, meditating, focusing on things you can control, and having the cognitive flexibility to switch between internal and external locus of control.</p>
                    <p>To end this summary on a high-note, quoting Sapolsky directly:</p>
                    <p>&ldquo;God grant me the serenity to accept the things I cannot change, courage to change the things I can, and wisdom to know the difference. &mdash; have the wisdom to pick your battles. And once you have, the flexibility and resiliency of strategies to use in those battles are summarized in something I once heard: in the face of strong winds, let me be a blade of grass; in the face of strong walls, let me be a gale of wind.</p>
                    <p>In our privileged lives, we are uniquely smart enough to have invented stressors and uniquely foolish enough to have let them, too often, dominate our lives. Surely we have the potential to be uniquely wise enough to banish their stressful hold&rdquo;</p>
                    <hr>
                  </div>
                </div>
                <div class="card-footer"> </div>
              </div>
            </div>
          </div>
        </div>
        <p><a href="https://medium.com/@yubingzhang?source=post_page-----ca4a427c3666----------------------" >Thanks ubingzhang</a></p>
        <hr>
        <p>Want a solution from PMWay that works to reduce stress?<br>
          Download these two audio tracks below.<br>
          Put
          them on your cell phone and then, with the audio buds in your ears, take 25+
          minutes each day and recline (on your back) in a safe quite place and just listen.&nbsp;
          The more you do it, the more you will teach yourself to relax.&nbsp; Trust
          me.&nbsp; I have been doing this, with just these two tracks, for 20+ years.<br>
          <a href="{{ asset('storage/assets/train.zip') }}" >Click here for the train</a><br>
          <a href="{{ asset('storage/assets/pool.zip') }}" >Click here for the pool</a></p>
        <hr>
        <p>These ideas from Sarah Knight "Calm the f*uck down" are cool!</p>
        <p align="left">The Probometer helps to categorize your stress levels:</p>
        <p align="center"><b>I.e. CAT: 1, 2, 3, 4 or 5?</b></p>
        <p align="center"><a href="{{ asset('storage/assets/calmone.pdf') }}" ><img alt="" class="img-fluid" src="{{ asset('storage/images/probometer.PNG') }}" ></a></p>
        <br>
        <p align="left">and her CTFD Flowchart</p>
        <p align="center"><b>I.e. Crate Your
          Emotional Puppies! Now!</b></p>
        <p align="center"><a href="{{ asset('storage/assets/calmone.pdf') }}" ><img alt="" class="img-fluid" src="{{ asset('storage/images/howtocalmthefuckdown.png') }}" ></a></p>
        <br>
        <p align="center">Take it easy, take it easy<br>
          Don't let the sound of your own wheels drive you crazy<br>
          <i>Words from the song "Take it Easy" by the Eagles</i></p>
        <br>
        <p>Some books on the subject of calm<br>
          Thanks Authors.  NB If you like them, buy them!</p>
        <a href="{{ asset('storage/assets/calmone.pdf') }}" >Calm the F*ck Down</a><br>
        <a href="{{ asset('storage/assets/calmtwo.pdf') }}" >Calm.  50 Exercizes 4 U</a><br>
        <a href="{{ asset('storage/assets/calmthree.pdf') }}" >Be Calm_ Proven Techniques to Stop Anxiety Now</a><br>
        <a href="{{ asset('storage/assets/calmfour.pdf') }}" >The Things You Can See Only When You Slow Down_ How to Be Calm and Mindful in a Fast-Paced World</a><br>
        <a href="{{ asset('storage/assets/calmfive.pdf') }}" >Outer Order, Inner Calm_ Declutter and Organize to Make More Room for Happiness</a><br>
        <a href="{{ asset('storage/assets/calmsix.pdf') }}" >Body Calm</a><br>
        <a href="{{ asset('storage/assets/calmseven.pdf') }}" >The Things You Can See Only When You Slow Down_ How to Be Calm and Mindful in a Fast-Paced World</a><br>
        <a href="{{ asset('storage/assets/calmeight.pdf') }}" >The Calm Center.  Reflections.</a><br>
        <hr>
        <p>A poem to reinforce the puppies idea above:</p>
        <h3 align="left">When problems seem to lie ahead</h3>
        <p align="left">When problems seem to lie ahead<br>
          don't rush forward to meet them<br>
          as if they're long-lost friends -<br>
          let them lie there, let them wait.</p>
        <p align="left">Let them sleep until it's time to meet<br>
          then give them due attention<br>
          resolve them as best you can<br>
          then go on your way, leaving them there<br>
          without ever looking back.</p>
        <p align="left">Or even, when the appointment comes,<br>
          you might find yourself waiting, waiting, waiting<br>
          until you realize that you've been tricked<br>
          that there was never a problem and there's nothing here<br>
          except a long thin shadow, cast by your thoughts.</p>
        <h5>More Inspirational Poems</h5>
        <p><i>Each link below opens in a new tab</i></p>
        <p><a href="/home/invictus" >Invictus</a></p>
        <p><a href="/home/if" >If</a></p>
        <p><a href="/home/desiderata" >Desiderata</a></p>
        <br>
        <br>
      </div>
    </div>
    </section>
  </div>
  </article>
</div>
<br>
<br>
{% endif %}

{% if not user %}<div class="container" align="left" ><h3 align="left">Please log on to access the content on this page</h3><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></div>{% endif %}{% if not current_user and false %}
<div class="container">
<article>
<section></section>
<div>
<section>
<div>
  <div>
    <div>
      <div>
        <h1>Why Zebras Don&rsquo;t Get Ulcers</h1>
      </div>
      <div>
        <div>
          <div>
            <div>
              <div> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p>By Robert M. Sapolsky</p>
    <figure>
    <div>
      <div>
        <div>
          <div><img class="img-fluid" src="{{ asset('storage/images/zebraone.jpg') }}" alt="" ></div>
        </div>
      </div>
      </figure>
      <h1>Introduction</h1>
      <p>This book presents research evidence on the (mostly negative) impact of stress on your body functions, from hormonal balance to cardiovascular risk, from growth to reproductive system &mdash; everything.</p>
      <p>This summary pretty closely follows the structure of the book. We will start with the molecular mechanism of stress response and then look at the relationship between stress and some of our key body functions. Lastly, we also take a brief look at stress coping mechanisms.</p>
      <p><b>The reason zebras don't get ulcers (<i>am I answering this too soon?</i>) derives from Sapolsky's idea that for animals such as zebras, stress is generally episodic (e.g., running away from a lion), while for humans, stress is often chronic (e.g., worrying about losing your job).<br>
        AGAIN:  The reason is because they (zebras) only have to deal with acute physical stressors, whereas people are stressed all the time!<br>
        You mean the answer to humans avoiding stress is that simple!!!?<br>
        I am afraid so.... ;~)</b></p>
      <div align="center">
        <button class="btn btn-primary align-center clearfix" type="button" data-toggle=
"collapse" data-target="#collapsephysical" aria-expanded="false" aria-controls=
        "collapsephysical">The Physical Symptoms</button>
        <div class="collapse" id="collapsephysical">
          <div class="container">
            <div class="card text-center">
              <h5 class="card-header" align="center">these are the physiological symptoms we want to reduce,<br>
                or better yet, learn to avoid totally</h5>
              <div class="card-body text-center">
                <div align="left"> <a name="home"></a>
                  <ol>
                    <li><a href="#1">Basics of stress response</a></li>
                    <li><a href="#2">Cardiovascular functions</a></li>
                    <li><a href="#3">Metabolism</a></li>
                    <li><a href="#4">Growth</a></li>
                    <li><a href="#5">Reproduction</a></li>
                    <li><a href="#6">Immune system</a></li>
                    <li><a href="#7">Pain perception</a></li>
                    <li><a href="#8">Learning and memory</a></li>
                    <li><a href="#9">Sleep</a></li>
                    <li><a href="#10">Depression</a></li>
                    <li><a href="#11">Stress coping mechanisms</a></li>
                  </ol>
                  <p><a name="1"></a><strong>1. The basics of stress response</strong></p>
                  <p><a href="#home">Home</a></p>
                  <p>Before we dive in, let&rsquo;s first take a look at what happens in your body in the seconds and minutes after you are stressed.</p>
                  <p><strong>Neurotransmitter and Hormone</strong></p>
                  <p>If a neuron secretes a chemical messenger that travels a thousandth of an inch and causes the next cell in line to do something different, that messenger is called a neurotransmitter. If a neuron (or any cell) secretes a messenger that, instead, percolates into the bloodstream and affects events far and wide, that messenger is a hormone.</p>
                  <p><strong>Stress response within seconds &mdash; neural system</strong></p>
                  <ul>
                    <li>Your Sympathetic Neural System (SNS) kicks into action during emergencies (or what you think are emergencies) &mdash; this is what makes you run twice faster if a lion is chasing you. The classic fight or flight behavior.</li>
                    <li>Your Parasympathetic Neural System (PNS) plays a completely opposite role. It mediates calm, vegetative activities. It is activated when you go to sleep or when you had a full meal &mdash; that happily drowsy you after Christmas dinner</li>
                  </ul>
                  <p>In short, SNS speeds up your heart, pumps blood into your muscle, pauses all long-term projects in your body, and prepares to run for your life. PNS does the opposite.</p>
                  <p><strong>Stress response in the course of minutes or hours &mdash; hormonal system</strong></p>
                  <p>In the course of minutes or hours after the initial stress, your hormonal system starts to kick in. Hormones are vital to the stress-response &mdash; epinephrine (aka adrenaline), norepinephrine, and glucocorticoids (a type of steroid hormones). Different hormones act at different speed &mdash; Epinephrine typically acts within seconds, and glucocorticoids back this activity up over the course of minutes or hours</p>
                  <p>When something stressful happens or you think a stressful thought, the hypothalamus secretes an array of releasing hormones into the pituitary circulatory system that gets a chain effect rolling. Within fifteen seconds or so, CRH triggers the pituitary to release the hormone ACTH, which after released into the bloodstream, triggers glucocorticoid release. Glucocorticoids, combined with the SNS stimulation mentioned earlier, account for a large percentage of what happens when you are stressed.</p>
                  <h1><a name="2"></a>2. Cardiovascular functions</h1>
                  <p><a href="#home">Home</a></p>
                  <p>Now let&rsquo;s look at how stress impacts various body functions. We will start with cardiovascular functions.</p>
                  <p>When you are stressed, the first thing your body does is to shift your heart into a higher gear (pumps faster and stronger) and pumps more blood into your vessels &mdash; so your blood pressure rises during the stress response. The next steps are to distribute the blood thoroughly across the body (so that oxygen can be delivered to every piece of your muscle to empower you to run for your life) &mdash; arteries are relaxed to allow blood flow more freely. This is all good news, but it becomes bad news when we are in a long-term stress situation. When our blood vessels keep getting strong blood flow, it builds up thicker muscle to regulate stronger bloodstreams, and as a result, blood pressure has to increase next time it needs to pump more blood because of the higher resistance. The vicious cycle of chronic high blood pressure goes on.</p>
                  <p>This is particularly tricky at bifurcation points. Think of those as crossroads where large blood vessels branch into smaller and smaller ones. Fun fact: no cell in your body is more than five cells away from a blood vessel &mdash; yet the circulatory system takes up only 3% of body mass &mdash; quite amazing isn&rsquo;t it? Anyway. chronic high blood pressure disproportionally impacts bifurcation points and often causes inflammation &mdash; and then stuff like cholesterol and fat in your bloodstream tend to stick to the inflammation spots. Eventually the accumulated cholesterol and fat block your blood vessel &mdash; causing heart attacks. High cholesterol in itself is not a problem, but high cholesterol coupled with chronic high blood pressure (which can be a result of high-stress) and inflamed blood vessels &mdash; this combination leads to heart attacks and strokes. We have heard much about LDL (bad cholesterol) and HDL (good cholesterol). LDL is the type of cholesterol that gets stuck on your bifurcation points and HDL are the type that has been removed from those points and is on its way to be degraded in the liver. That&rsquo;s why not all cholesterol is created equal we want low LDL and high HDL.</p>
                  <p>In summary, long-term stress leads to chronic high blood pressure, and together with high cholesterol level significantly increases your likelihood for heart attacks and strokes.</p>
                  <h1><a name="3"></a>3. Metabolism</h1>
                  <p><a href="#home">Home</a></p>
                  <p>Time to introduce a very important type of hormone &mdash; insulin. Insulin is this optimistic hormone that plans for your metabolic future. It stimulates the transport and storage of food into building blocks. The strategy here is: break your food down into its simplest parts and then reconnect it into complex storage forms. If you eat protein, they get broken down into amino acids in your bloodstream and gets stored as protein. Carbs are broken down into glucose and fat into fatty acids.</p>
                  <p>When you are stressed, everything works pretty much the opposite way, amino acids, glucose, and fatty acids are mobilized in stressful emergencies. The metabolic stress-response is good &mdash; you need that to cope with emergencies. But constantly triggering this type of stress response is dangerous for several reasons.</p>
                  <ul>
                    <li>First, it&rsquo;s inefficient &mdash; every time you go through the storage &mdash; mobilize cycle, you are wasting some energy.</li>
                    <li>Second, constantly mobilizing the metabolic stress-response means that you have tons of fat and glucose perpetually circulating in your bloodstream. And we all saw in the last section that this leads to cardiovascular diseases</li>
                    <li>Thirdly, during stress, not only do you block insulin secretion (so that you don&rsquo;t deposit any energy into long-term storage), but you also make fat cells throughout your body less sensitive to insulin, just in case there&rsquo;s still some floating around working to get energy into storage. This is called stress-induced insulin resistance. This is really bad news for people with juvenile diabetes (where the body does not produce enough insulin) &mdash; because this creates a lot of additional challenge to the already fragile system of balancing insulin level in the bloodstream. Frequent stress and/or big stress-responses might increase the odds of getting juvenile diabetes, accelerate the development of diabetes, and, once it is established, cause major complicating in this already life-shortening disease. This is also bad news for people with adult-onset diabetes (where the fat cells do not respond to insulin) because it makes the original problem of insulin resistance much worse.</li>
                  </ul>
                  <h1><a name="4"></a>4. Growth</h1>
                  <p><a href="#home">Home</a></p>
                  <p><strong>Prenatal-stress</strong>. It turns out that your body is already learning about the nature of the world and metaphorically, making life long decisions about how to respond to the outside world. You pre-set your metabolism rate based on your surrounding environment. If you do not see plenty of food, you dial down your insulin sensitivity. This is called metabolic &ldquo;imprinting&rdquo;. The most famous example is the Dutch Hunger Winter at the end of WW2 and a cohort of newborns (who were in the third trimester then) having thrifty metabolism and a much higher rate of diabetes. If a pregnant woman is stressed during pregnancy &mdash; that leads to high glucocorticoids levels in bloodstreams which gives the fetus the signal that &ldquo;oh, it&rsquo;s a stressful world out there, I need to tend towards secreting excessive amounts of glucocorticoids to cope with it&rdquo;. And there you have &ldquo;imprinted&rdquo; metabolic syndrome, which increases the odds of obesity, insulin-resistant diabetes, and hypertension.</p>
                  <p><strong>Postnatal-stress</strong>. Studies are starting to establish the link between childhood stress and long-term mental and physical diseases. Stress dwarfism involves extremely low growth hormone levels in the circulation &mdash; and its usually caused by particularly traumatic events in childhood. Kids being reared in pathological conditions have a higher risk of slowed skeleton growth.</p>
                  <p>A famous experiment conducted by Field and Crew demonstrated the impact of stress on early growth. In this experiment, they tested whether and how human touch could impact infant growth. It turns out that 15 min touch of premature infants each day can lead to as much as 50% faster growth. The infants who were touched were more active and alert, matured faster behaviourally and were released from the hospital nearly a week earlier than the premature infants who weren&rsquo;t touched. We readily think of stressors as consisting of various unlearnt things that can be done to an organism. Sometimes a stressor can be the failure to provide something essential, and the absence of touch is seemingly one of the most marked developmental stressors that we can suffer.</p>
                  <h1><a name="5"></a>5. Reproduction function</h1>
                  <p><a href="#home">Home</a></p>
                  <p>Stress is really bad news for our reproduction system. This makes evolutionary sense because &mdash; if you are under acute stress of being eaten by a lion, why bother devoting any energy to reproduction?</p>
                  <p><strong>Male reproduction</strong></p>
                  <p>As a starting point, stress results in a decline in circulating testosterone levels. (and they do so through increased release of endorphins )</p>
                  <p>But that&rsquo;s only half of the story, the other half is related to nervous system and erection. Male erection is an extremely complicated process that requires the extricate balance between parasympathetic nervous system (what makes you activate and maintain an erection) and sympathetic nervous system (what the rest of your body feels like during erection and what leads to ejaculation). Stress destroys the balance, and &mdash; you either get erection deficiency or premature ejaculation, or both. Even worse, sexual dysfunction in itself is a pretty big stressor and can lead to a vicious cycle of reproductive dysfunction</p>
                  <p>There are exceptions to this story though.</p>
                  <p>Exception 1: For tournament species (where very few males get reproductive opportunities &mdash; like chimpanzees), males are constantly under the stress of sex competition. Their reproductive function is not negatively impacted by that type of stress &mdash; because either wise they would win all those battle for nothing. Not a very good Darwinian move.</p>
                  <p>Exception 2: In the rare cases of female-dominated animals (like hyenas), male erection is a natural response during stressful situations. It&rsquo;s almost saying &ldquo;Look, I am just a non-threatening male, you are a dominant female, don&rsquo;t hit me.&rdquo;</p>
                  <p><strong>Female reproduction</strong></p>
                  <p>The first big role stress plays in disrupting female reproduction is by reducing estrogen levels, which naturally inhibits reproduction. This happens usually in physical stress environment where fat storage drops &mdash; those fat cells are what it takes to convert androgen into estrogens. And that&rsquo;s why you see young girls who are serious dancers or runners, their puberty can be delayed for years</p>
                  <p>The second role stress plays in female reproduction is the suppressions of the secretion various sex hormones and hence results in a loss of sexual desire. This is well documented in lab animals and observed in human beings as well</p>
                  <p>In addition, stress also plays a role in miscarriage (although quite rare) and preterm birth, probably due to the elevated glucocorticoids level.</p>
                  <p>Again, there are exceptions to this story.</p>
                  <p>In some animal species, stress-induced miscarriage is surprisingly common. And that has evolved to become a strategy female uses to avoid infanticide. This typically happens when only one or a few males in a herd has reproductive rights. When a new alpha male takes over, he obviously would kill all infants that belong to the previous alpha male to make sure that females in the herd will stop nursing and start ovulating again. So for females who are pregnant when a new alpha male takes over, they know that they would be wasting all those metabolic energies on the baby for nothing, so why not miscarry intentionally now to cut loss?</p>
                  <h1><a name="6"></a>6. Immune system</h1>
                  <p><a href="#home">Home</a></p>
                  <p><strong>Basics of the immune system: </strong>T-cell and B-cell are two key players in our immune system. They both originate in the bone marrow, but T cells migrate to mature in the thymus (hence the T), while B cells mature in the bone marrow. They attack infectious agents in very different ways. T cells bring about cell-mediated immunity &mdash; in face of an infectious agent, the alarm system gets activated and results in the proliferation of killer cells which attack and destroy the infectious agent. (It is this T-cell component of the immune system that is knocked out by AIDS). B-cells cause antibody-mediated immunity. The main task of the B cells is to differentiate and generate antibodies &mdash; large proteins that will recognize and bind to some specific feature of the invading infectious agent. In binding to the specific feature, antibodies immobilize the infectious agent and target it for destruction. (Note: It is that specificity that particularly attracts attention in cancer research.)</p>
                  <p><strong>How does stress impact the immune system?</strong></p>
                  <p>Stress disrupts the immune system in many ways &mdash; it suppresses the formation of new T cells and B cells, shortens the time preexisting T cells and B cells stay in circulation, inhibits manufacturing of antibodies.. the list goes on. And all sort of stressors (physical or psychological) do that in primates, birds even in fish &mdash; and of course humans.</p>
                  <p>How does stress do that? It is often not stress itself, but the recovery from it that triggers a negative impact on our immune system. As it turns out, during the first few minutes after the onset of a stressor, your immune system is actually enhanced (point A) &mdash; it&rsquo;s your body&rsquo;s defense mechanism. An hour later, you glucocorticoids level and active sympathetic nervous system begin to offset that enhanced immunity and &ldquo;recovers&rdquo; your immune system back to normal (point B). This is necessary because it is too costly to have the immune system always maximally activated, and over-activated defense system leads to the accidental killing of the good guys (risk of auto-immune diseases). This fine balance is developed to cope with acute stress scenario (the typically being chased by a lion or poisoned by your food). However, if stress is prolonged &mdash; when it lasts for days, months and years, we will get to a place where the immune system is over-corrected and goes way below normal level (point C). This is how chronic stress really suppresses the immune system.</p>
                  <figure>
                  <div>
                    <div>
                      <div>
                        <div>
                          <div><img class="img-fluid" src="{{ asset('storage/images/zebratwo.png') }}" alt="" ></div>
                        </div>
                      </div>
                    </div>
                    </figure>
                    <p>Hence we have a paradox of stress and immunity &mdash; stress hormones (glucocorticoid) enhances immunity in the short term and suppresses immunity in the longer term &mdash; and when that balance is disrupted, we are in trouble. Research shows that transient stressors (lots of short phases A and B ) increase the risk of autoimmunity, while chronic stress brings you to phase C, suppressed immunity.</p>
                    <figure>
                      <div>
                        <div>
                          <div>
                            <div> <img class="img-fluid" src="{{ asset('storage/images/zebrathree.png') }}"  ></div>
                          </div>
                        </div>
                      </div>
                    </figure>
                    <h1><a name="7"></a>7. Pain perception</h1>
                    <p><a href="#home">Home</a></p>
                    <p><strong>Basics of pain: </strong>There are two types of pain: the first type is fast and acute (e.g., sticking a needle in your skin), the second type is prolonged and throbbing (e.g., muscle pain). And those two types exist for a reason &mdash; the fast pain is about getting you to move as quickly as possible(from the source of the piercing pain) while the slow pain is about making sure you don&rsquo;t move too much, so you can heal. Those two types of pain are results of different neural stimulation patterns. The fast pain stimulates neuron X first (which causes pain) and immediately neuron Y (which inhibits pain). The positive signal from X causes pain and the negative signal from Y right afterward offsets the pain. The slow pain, instead, stimulates neuron X and inhibits neutron Y &mdash; resulting in prolonged pain sensation.</p>
                    <p><strong>How does stress impact paint perception? </strong>Contrary to the topics we have covered so far, for one time, stress does not seem to have a strong negative impact on pain perception. In some cases, stress blocks pain perception. How? through the release of opioid peptides (for example, endorphins) that binds with opioid receptors in the brain and provides pain relief (this explains runner&rsquo;s high). All sorts of other stressors produce similar effects, surgery, low blood sugar, exposure to cold, childbirth etc. Opiates (analgesics not produced by the body) has a similar chemical structure to those of opioids (analgesics produced by the body like endorphins) and hence bind to receptors in the brain to get to the same level of pain reduction.</p>
                    <h1><a name="8"></a>8. Learning and memory</h1>
                    <p><a href="#home">Home</a></p>
                    <p><strong>Basics of memory</strong></p>
                    <p>Memory storage and memory formation/retrieval have very different pathways in our brain. A cheesy analogy of this pair is the hard drive (memory storage) and keyboard (memory formation/retrieval). Cortex is the hard-drive and hippocampus is the keyboard, by which you place and access memories in the context. Note that hippocampus is also the center of emotion, which partially explains why your level of memory towards certain events is impacted by the strengths of emotions. However, the key word here is &ldquo;partially&rdquo; because this statement is not entirely true. &mdash; the hippocampus is only involved in the formation of explicit memory (like facts, knowledge, and events), but not implicit memory (procedural things like how to walk, hit tennis balls, etc.). People who have their hippocampus destroyed cannot form new explicit memories, much like what we see in the movie &ldquo;Momento&rdquo; (really great movie by the way if you haven&rsquo;t seen it). But they can still learn skills like playing the piano.</p>
                    <p>Hippocampus and cortex form memories through synapses. And they disproportionately make use of what is probably the most excitatory neurotransmitter there is &mdash; glutamate. Glutamatergic synapses have an interesting property &mdash; it has an all-or-nothing type of personality. It will only pass on (massive) excitement when a certain threshold is passed. This explains why it takes repetition to learn something (you need to reach that threshold), it is the underlying biological mechanism of &ldquo;aha&rdquo; moments during learning. And what&rsquo;s even cooler is, sometimes when a synapse had a sufficient number of super excitatory glutamate-driven &ldquo;aha&rsquo;s&rdquo;, the synapse becomes persistently more excitable. So next time it takes less to get the &ldquo;aha&rdquo;. Our learning ability can be strengthened &mdash; and such strengthening can be long term. There&rsquo;s also increasing evidence that the formation of new memories might also come from the formation of new connections between neutrons and, even formation of new neutrons themselves. Here, you have a molecular level mechanism of the famous &ldquo;growth mindset&rdquo;</p>
                    <p>In conclusion, you can gain memories in four ways. The first two are well-documented and the last two are emerging hypotheses with some evidence.</p>
                    <ol>
                      <li>Exciting current neuron pathways &mdash; get the &ldquo;aha&rdquo; moment</li>
                      <li>Strengthening the potential of pre-existing neutrons through repeated exposure &mdash; make it easier to get the &ldquo;aha&rdquo; moment next time</li>
                      <li>Formation of new connections between neurons</li>
                      <li>Or even, the formation of new neurons themselves</li>
                    </ol>
                    <p><strong>How does stress impact memory?</strong></p>
                    <p>So how does stress come in here? It turns out that short-term stress can enhance memory. It makes sense because both memory retrieval and memory formation can help you get out of stressful situations and also have better odds of surviving the next similar stressor. However, as usual, long-term stress is really bad news for memories, particularly hippocampus-dependent explicit memories. And it does so in many ways: it disrupts long-term potentiation of neural pathways; it disconnects pre-existing neural networks, and it inhibits the birth of new neurons &mdash; pretty much it impacts everything that we mentioned above about memory formation. The important thing here to note is &mdash; During stress, the neural pathways in hippocampus begin to shrivel, to atrophy and retract a bit (you can actually observe the shrinkage visually when looking at lab animals under long-term stress). But that doesn&rsquo;t mean memory is lost, it means it&rsquo;s harder to retrieve (you need more complex and different pathway to retrieve a fact), and that&rsquo;s different from permanent loss in say, late-stage Alzheimer&rsquo;s disease or a massive stroke, where vast acres of neurons in the hippocampus is lost.</p>
                    <h1><a name="9"></a>9. Sleep</h1>
                    <p><a href="#home">Home</a></p>
                    <p>I just finished reading the book &ldquo;Why we sleep&rdquo; by Matthew Walker (which I highly recommend) and can write more details about stress and its impact on sleep later. But just to add a few notes here:</p>
                    <ul>
                      <li>About 75% of cases of insomnia are triggered by some major stressor.</li>
                      <li>Stress not only disrupts the the total amount of sleep but can decrease the quality of sleep. It disproportionally reduces your deep sleep (slow wave sleep) &mdash; which is what you need for energy restoration.</li>
                      <li>And this is a vicious cycle. Stress disrupts sleep, poor sleep activates more stress-response, which leads to even worse sleep, it goes on.</li>
                    </ul>
                    <h1><a name="10"></a>10. Depression</h1>
                    <p><a href="#home">Home</a></p>
                    <p>We have now seen some important links between stress and depression: extremes of psychological stress can cause something in a lab animal that looks pretty close to a depression. When animals are exposed to uncontrollable stressors (e.g., random electric shock), they have trouble coping with all sorts of normal life tasks. This is both due to simply not trying to cope with stress and move on in life, and also not reacting to any improvement from the normal coping mechanism. &ldquo;I can&rsquo;t control what&rsquo;s happening to me, ever. So why bother?&rdquo;. Much of what constitutes a depression is centered around responding to one awful thing and overgeneralizing from it &mdash; cognitively distorting how the world works. According to Marty Seligman&rsquo;s &ldquo;learned helplessness&rdquo; model, depression is not generalized pessimism, but pessimism specific to the efforts of one&rsquo;s own skilled action. Subjected to enough uncontrollable stress, we learn to be helpless &mdash; we lack the motivation to try to live because we assume the worst; we lack the cognitive clarity to perceive when things are actually going fine, and we feel an aching lack of pleasure in everything.</p>
                    <h1><a name="11"></a>11. Dealing with stress</h1>
                    <p><a href="#home">Home</a></p>
                    <p>By now, if you are like me, you probably feel pretty devastated at the massive negative impact of stress on your body. However, when there are trends, there are also outliers. In the relationship of stress and health and aging, it&rsquo;s the outliers that offer interesting insights. When we look at those outliers, we can find a few stress reduction mechanisms:</p>
                    <ul>
                      <li><strong>Outlets for frustration</strong> &mdash; this is frequently practiced by primates. An alpha male who just lost a fight often lets the frustration out by beating up lower rank males or rape females. Unfortunately, this coping mechanism also explains misplaced aggression in human behaviors</li>
                      <li><strong>Social support</strong> &mdash; baboons who have a bigger social circle, who are groomed more frequently have lower glucocorticoids levels. This is true for humans as well &mdash; just look at the Harvard Study of &ldquo;a good life&rdquo; <a href="https://news.harvard.edu/gazette/story/2017/04/over-nearly-80-years-harvard-study-has-been-showing-how-to-live-a-healthy-and-happy-life/"  rel="noopener nofollow">Over nearly 80 years, Harvard study has been showing how to live a healthy and happy life &mdash; Harvard Gazette</a></li>
                      <li><strong>Predictability</strong> makes stressors less stressful (its less about the intensity of the stressor, but about anticipation. A study looked at the stress level of civilians during wartime in London. Researchers noticed that suburban population developed more ulcers (a proxy for the level of stress) compared to urban population &mdash; this is because the bombing in the suburbs is less frequent and more unpredictable in timing.</li>
                      <li><strong>Control</strong> &mdash; Studies have shown that if you give chronic pain patients the ability to control their own painkiller dosage (they can press a button to increase dosage). Miraculously, the total amount of pain killer consumed decreased. It is the sense of control that&rsquo;s doing wonders here. And it&rsquo;s not just the exercise of control, it&rsquo;s the perception of control, that matters here.</li>
                    </ul>
                    <p>These coping mechanisms are profound and offer hope. The good old wisdom from your grandmother is still among the best things we can do to live a long and healthy life &mdash; going for a run, punching a few sandbags, spending time with friends and family, meditating, focusing on things you can control, and having the cognitive flexibility to switch between internal and external locus of control.</p>
                    <p>To end this summary on a high-note, quoting Sapolsky directly:</p>
                    <p>&ldquo;God grant me the serenity to accept the things I cannot change, courage to change the things I can, and wisdom to know the difference. &mdash; have the wisdom to pick your battles. And once you have, the flexibility and resiliency of strategies to use in those battles are summarized in something I once heard: in the face of strong winds, let me be a blade of grass; in the face of strong walls, let me be a gale of wind.</p>
                    <p>In our privileged lives, we are uniquely smart enough to have invented stressors and uniquely foolish enough to have let them, too often, dominate our lives. Surely we have the potential to be uniquely wise enough to banish their stressful hold&rdquo;</p>
                    <hr>
                  </div>
                </div>
                <div class="card-footer"> </div>
              </div>
            </div>
          </div>
        </div>
        <p><a href="https://medium.com/@yubingzhang?source=post_page-----ca4a427c3666----------------------" >Thanks ubingzhang</a></p>
        <hr>
        <p>Want a solution from PMWay that works to reduce stress?<br>
          Download these two audio tracks below.<br>
          Put
          them on your cell phone and then, with the audio buds in your ears, take 25+
          minutes each day and recline (on your back) in a safe quite place and just listen.&nbsp;
          The more you do it, the more you will teach yourself to relax.&nbsp; Trust
          me.&nbsp; I have been doing this, with just these two tracks, for 20+ years.<br>
          <a href="{{ asset('storage/assets/train.zip') }}" >Click here for the train</a><br>
          <a href="{{ asset('storage/assets/pool.zip') }}" >Click here for the pool</a></p>
        <hr>
        <p>These ideas from Sarah Knight "Calm the f*uck down" are also cool!</p>
        <p align="left">The Probometer helps to categorize your stress levels:</p>
        <p align="center"><b>I.e. CAT: 1, 2, 3, 4 or 5?</b></p>
        <p align="center"><a href="{{ asset('storage/assets/calmone.pdf') }}" ><img alt="" class="img-fluid" src="{{ asset('storage/images/probometer.PNG') }}" ></a></p>
        <br>
        <p align="left">and her CTFD Flowchart</p>
        <p align="center"><b>I.e. Crate Your
          Emotional Puppies! Now!</b></p>
        <p align="center"><a href="{{ asset('storage/assets/calmone.pdf') }}" ><img alt="" class="img-fluid" src="{{ asset('storage/images/howtocalmthefuckdown.png') }}" ></a></p>
        <br>
        <p align="center">Take it easy, take it easy<br>
          Don't let the sound of your own wheels drive you crazy<br>
          <i>Words from the song "Take it Easy" by the Eagles</i></p>
        <br>
        <hr>
        <p>A poem to reinforce the puppies idea above:</p>
        <h3 align="left">When problems seem to lie ahead</h3>
        <p align="left">When problems seem to lie ahead<br>
          don't rush forward to meet them<br>
          as if they're long-lost friends -<br>
          let them lie there, let them wait.</p>
        <p align="left">Let them sleep until it's time to meet<br>
          then give them due attention<br>
          resolve them as best you can<br>
          then go on your way, leaving them there<br>
          without ever looking back.</p>
        <p align="left">Or even, when the appointment comes,<br>
          you might find yourself waiting, waiting, waiting<br>
          until you realize that you've been tricked<br>
          that there was never a problem and there's nothing here<br>
          except a long thin shadow, cast by your thoughts.</p>
        <h5>More Inspirational Poems</h5>
        <p><i>Each link below opens in a new tab</i></p>
        <p><a href="/home/invictus" >Invictus</a></p>
        <p><a href="/home/if" >If</a></p>
        <p><a href="/home/desiderata" >Desiderata</a></p>
        <br>
        <br>
      </div>
    </div>
    </section>
  </div>
  </article>
</div>
{% endif %}
{% endblock %}
